<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>0TSJZB3+D6HX</MasterId>
  <BizappId>5EM81MIFHW+G</BizappId>
  <Id>3UV4D=APQWU+</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1706693136843</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3UV4D=APQWU+</Id>
          <Key>${ISV_FLAG}_hsas_approvebill_ext</Key>
          <EntityId>3UV4D=APQWU+</EntityId>
          <ParentId>0TSJZB3+D6HX</ParentId>
          <MasterId>0TSJZB3+D6HX</MasterId>
          <BizappId>3SZ9A=ZJ8+0R</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID,0TSJZB3+D6HX</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <Plugins>
                <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.template.HRBaseUeEdit">
                  <RowKey>6</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.swc.hsas.formplugin.web.approve.CalApproveBillEdit">
                  <RowKey>7</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.swc.hsas.formplugin.web.approve.SideWorkflowPlugin">
                  <RowKey>8</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.swc.hsas.formplugin.web.approve.CalApproveBillViewEdit">
                  <RowKey>9</RowKey>
                </Plugin>
                <Plugin>
                  <FPK/>
                  <Description>单据名称替换为核算任务的名称</Description>
                  <ClassName>${ISV_FLAG}.swc.hsas.plugin.form.hsas_approvebill.pc.PayrollApprovalEditPlugin</ClassName>
                  <Enabled>false</Enabled>
                  <BizAppId/>
                  <RowKey>10</RowKey>
                </Plugin>
              </Plugins>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3UV4D=APQWU+</EntityId>
                    </BillListAp>
                    <MobFilterPanelAp action="remove" oid="mobfilterpanel"/>
                    <MobSortPanelAp action="remove" oid="mobsortpanel"/>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3UV4D=APQWU+</Id>
              <Key>${ISV_FLAG}_hsas_approvebill_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Id>3UV4D=APQWU+</Id>
                  <Key>${ISV_FLAG}_hsas_approvebill_ext_mob</Key>
                  <EntityId>3UV4D=APQWU+</EntityId>
                  <SrcBizObjId/>
                  <Items>
                    <MobileBillFormAp>
                      <Plugins>
                        <Plugin>
                          <FPK/>
                          <Description>薪资审批移动端展示概览数据</Description>
                          <ClassName>${ISV_FLAG}.swc.hsas.plugin.form.hsas_approvebill.mobile.PayrollApprovalMobileEditPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                        </Plugin>
                      </Plugins>
                      <Language>zh_CN</Language>
                      <Rules>
                        <FormRule>
                          <TrueActions>
                            <LockControlAction>
                              <RET>251</RET>
                              <ActionType>LockControlAction</ActionType>
                              <Description>锁定控件</Description>
                              <Id>3W9ZMO7DOAYU</Id>
                              <Fields>
                                <FieldId>
                                  <Id>qcEJDu8dl5e6ZbldSF</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>VcfmrDk2JK</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>jxxWDsReIc</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>cGXth20eOD</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>DNDOT0dwtg</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>5U7WxyORBS</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>iuDhE0lmzK</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>itemMOxMwX</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>kg4CvXRUxU</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>raMmRCCJsE</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>DR76eopbOg</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>8Zeez9HDSC</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>aRGKvfLt4w</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>tvPr46ezCxCnmur0Jm</Id>
                                </FieldId>
                                <FieldId>
                                  <Id>xM9xHvmamdnaPDHcsP</Id>
                                </FieldId>
                              </Fields>
                            </LockControlAction>
                          </TrueActions>
                          <RuleType>FormRule</RuleType>
                          <Description>123</Description>
                          <Id>3W9ZMJJ99ZK7</Id>
                          <PreCondition>billno &lt;&gt; ""</PreCondition>
                          <Seq>1</Seq>
                          <PreDescription>billno &lt;&gt; ""</PreDescription>
                        </FormRule>
                      </Rules>
                      <ShowType>MainNewTabPage</ShowType>
                      <Id>3UV4D=APQWU+</Id>
                      <AlignItems>stretch</AlignItems>
                      <LockStyle>2</LockStyle>
                      <BackColor>#f5f5f5</BackColor>
                      <Name/>
                      <PkId>0VXGU5XUSEHT</PkId>
                      <Key>${ISV_FLAG}_hsas_approvebill_ext_mob</Key>
                      <Direction>column</Direction>
                      <Wrap>false</Wrap>
                    </MobileBillFormAp>
                    <FlexPanelAp>
                      <Id>qcEJDu8dl5e6ZbldSF</Id>
                      <Grow>0</Grow>
                      <AlignItems>center</AlignItems>
                      <Shrink>0</Shrink>
                      <JustifyContent>center</JustifyContent>
                      <Name>头部</Name>
                      <Key>${ISV_FLAG}_flexpanelap</Key>
                      <ParentId>3UV4D=APQWU+</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Overflow>hidden</Overflow>
                      <Id>VcfmrDk2JK</Id>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <BackColor>#ffffff</BackColor>
                      <Name>基本信息</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>20px</Top>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>${ISV_FLAG}_flexpanelap1</Key>
                      <Direction>column</Direction>
                      <ParentId>3UV4D=APQWU+</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>jxxWDsReIc</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>2</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <BackColor>#ffffff</BackColor>
                      <Name>概览</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>20px</Top>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>overallview</Key>
                      <Direction>column</Direction>
                      <ParentId>3UV4D=APQWU+</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>cGXth20eOD</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>flexpanelap2</Key>
                      <Direction>column</Direction>
                      <ParentId>8Zeez9HDSC</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>DNDOT0dwtg</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>2</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>flexpanelap52</Key>
                      <Direction>column</Direction>
                      <ParentId>8Zeez9HDSC</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>5U7WxyORBS</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>3</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>flexpanelap9</Key>
                      <Direction>column</Direction>
                      <ParentId>8Zeez9HDSC</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>iuDhE0lmzK</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>4</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>flexpanelap3</Key>
                      <Direction>column</Direction>
                      <ParentId>8Zeez9HDSC</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>itemMOxMwX</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>5</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>flexpanelap4</Key>
                      <Direction>column</Direction>
                      <ParentId>8Zeez9HDSC</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>zuLM73Zuj9</Id>
                      <Shrink>0</Shrink>
                      <Name>总人数:</Name>
                      <Key>totalpersonnum</Key>
                      <ParentId>DNDOT0dwtg</ParentId>
                    </LabelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>D5IyaLwchA4voDijNp</Id>
                      <Shrink>0</Shrink>
                      <Name>展开</Name>
                      <Key>showoverview</Key>
                      <ParentId>DR76eopbOg</ParentId>
                    </LabelAp>
                    <ImageAp>
                      <Id>Xlps0OFOhDztXP0BtX</Id>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <Name>图片展示</Name>
                      <Key>showdown</Key>
                      <ParentId>DR76eopbOg</ParentId>
                    </ImageAp>
                    <ImageAp>
                      <Id>km3AhRBngL588NYElI</Id>
                      <Shrink>0</Shrink>
                      <Index>2</Index>
                      <Name>图片展示</Name>
                      <Key>showup</Key>
                      <ParentId>DR76eopbOg</ParentId>
                    </ImageAp>
                    <FlexPanelAp>
                      <Id>kg4CvXRUxU</Id>
                      <AlignSelf>flex-start</AlignSelf>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>5px</Top>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>${ISV_FLAG}_flexpanelap21</Key>
                      <Direction>column</Direction>
                      <ParentId>VcfmrDk2JK</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <AlignContent>flex-start</AlignContent>
                      <Overflow>hidden</Overflow>
                      <Id>raMmRCCJsE</Id>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>10px</Top>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>${ISV_FLAG}_flexpanelap211</Key>
                      <Direction>column</Direction>
                      <ParentId>VcfmrDk2JK</ParentId>
                      <Width>100%</Width>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>DR76eopbOg</Id>
                      <Grow>0</Grow>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Key>overviewshow</Key>
                      <Direction>column</Direction>
                      <ParentId>aRGKvfLt4w</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>Oae7XraLGuywHn9rA4</Id>
                      <Shrink>0</Shrink>
                      <Name>总人数:</Name>
                      <Key>labelap</Key>
                      <ParentId>cGXth20eOD</ParentId>
                    </LabelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>m26dhwcZE2</Id>
                      <Shrink>0</Shrink>
                      <Name>总人次</Name>
                      <Key>totalsalaryfilenum</Key>
                      <ParentId>itemMOxMwX</ParentId>
                    </LabelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>hOrAhPEVT6</Id>
                      <Shrink>0</Shrink>
                      <Name>总人次</Name>
                      <Key>labelap1</Key>
                      <ParentId>iuDhE0lmzK</ParentId>
                    </LabelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>0r7YXZtikL</Id>
                      <Shrink>0</Shrink>
                      <BackColor>#ffffff</BackColor>
                      <Name>概览</Name>
                      <FontSize>15</FontSize>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>5px</Top>
                              <Left>5px</Left>
                              <Bottom>10px</Bottom>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>${ISV_FLAG}_labelap1</Key>
                      <ParentId>jxxWDsReIc</ParentId>
                    </LabelAp>
                    <FlexPanelAp>
                      <Invisible>true</Invisible>
                      <Id>8Zeez9HDSC</Id>
                      <AlignSelf>flex-start</AlignSelf>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>审批信息总览</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>0px</Top>
                              <Left>20px</Left>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>countap</Key>
                      <Direction>column</Direction>
                      <ParentId>jxxWDsReIc</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Invisible>true</Invisible>
                      <Id>aRGKvfLt4w</Id>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>2</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Left>20px</Left>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>flexpanelap6</Key>
                      <Direction>column</Direction>
                      <ParentId>jxxWDsReIc</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FlexPanelAp>
                      <Id>tvPr46ezCxCnmur0Jm</Id>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <Index>3</Index>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>Flex容器</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Left>20px</Left>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>flexpanelap_text</Key>
                      <Direction>column</Direction>
                      <ParentId>jxxWDsReIc</ParentId>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <LabelAp>
                      <LabelStyle>1</LabelStyle>
                      <Id>0J5ucX3F7iH6zuNgwB</Id>
                      <Shrink>0</Shrink>
                      <BackColor>#ffffff</BackColor>
                      <Name>基本信息</Name>
                      <FontSize>15</FontSize>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Left>5px</Left>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>${ISV_FLAG}_labelap</Key>
                      <ParentId>kg4CvXRUxU</ParentId>
                    </LabelAp>
                    <FlexPanelAp>
                      <Id>xM9xHvmamdnaPDHcsP</Id>
                      <Grow>0</Grow>
                      <AlignItems>flex-start</AlignItems>
                      <Shrink>0</Shrink>
                      <JustifyContent>flex-start</JustifyContent>
                      <BackColor>#ffffff</BackColor>
                      <Name>Flex容器</Name>
                      <FontSize>10</FontSize>
                      <Key>${ISV_FLAG}_flexpanelap2</Key>
                      <Direction>column</Direction>
                      <ParentId>qcEJDu8dl5e6ZbldSF</ParentId>
                      <Width>100%</Width>
                      <Wrap>false</Wrap>
                    </FlexPanelAp>
                    <FieldAp>
                      <Lock>submit,audit,edit,new</Lock>
                      <Id>6Ubpiwot4L</Id>
                      <FieldId>AvMBAu1ldx</FieldId>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>核算任务</Name>
                      <Key>caltasks</Key>
                      <ParentId>raMmRCCJsE</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Id>euWqdmaLAg</Id>
                      <FieldId>MwLyMGIJQa</FieldId>
                      <Index>1</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>算发薪管理组织</Name>
                      <Key>org</Key>
                      <ParentId>raMmRCCJsE</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Lock/>
                      <Id>plKTZwEo25</Id>
                      <FieldId>RlebMvuljH</FieldId>
                      <Index>2</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>薪资核算组</Name>
                      <Key>payrollgroup</Key>
                      <ParentId>raMmRCCJsE</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Id>HpRANCGYGQ</Id>
                      <FieldId>UoRNfdrXDX</FieldId>
                      <Index>3</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>创建日期</Name>
                      <Key>createtime</Key>
                      <ParentId>raMmRCCJsE</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Lock/>
                      <Id>Vv0GnnxUo9</Id>
                      <FieldId>yMYLsdWSCx</FieldId>
                      <Shrink>0</Shrink>
                      <Index>4</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>备注</Name>
                      <Key>description</Key>
                      <ParentId>raMmRCCJsE</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Lock>submit,audit,edit,new</Lock>
                      <Id>9ij0jAE3oO</Id>
                      <FieldId>AvMBAu1ldx</FieldId>
                      <MobFieldPattern>1</MobFieldPattern>
                      <FieldTextAlign>right</FieldTextAlign>
                      <Name>单据名称</Name>
                      <Key>caltasks</Key>
                      <LabelDirection>h</LabelDirection>
                      <ParentId>xM9xHvmamdnaPDHcsP</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Lock>submit,audit,edit,new</Lock>
                      <Id>ZsKk01AI3J</Id>
                      <FieldId>bdJvQ9RWla</FieldId>
                      <Index>1</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <FieldTextAlign>left</FieldTextAlign>
                      <Name>单据编号</Name>
                      <Key>billno</Key>
                      <LabelDirection>h</LabelDirection>
                      <ParentId>xM9xHvmamdnaPDHcsP</ParentId>
                    </FieldAp>
                    <MobileBillFormAp action="remove" oid="c11cd0e8000008ac"/>
                    <FieldAp action="remove" oid="l0yky0Xm63"/>
                    <MToolbarAp action="remove" oid="PbiHIUwCY6"/>
                    <MBarItemAp action="remove" oid="5HPUfXVVek"/>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3UV4D=APQWU+</EntityId>
                    </BillListAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3UY98PQA06DB</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>2</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>caltasks.name</ListFieldId>
                      <Name>单据名称</Name>
                      <Width>200px</Width>
                    </ListColumnAp>
                    <ListColumnAp action="edit" oid="108RL3CASOEK">
                      <Index>3</Index>
                    </ListColumnAp>
                    <ListColumnAp action="edit" oid="0TT+PH1U70+G">
                      <Index>4</Index>
                    </ListColumnAp>
                    <DecimalListColumnAp action="edit" oid="0TT+Q8OGWBB6">
                      <Index>6</Index>
                    </DecimalListColumnAp>
                    <ComboListColumnAp action="edit" oid="2NT3CODZHVS2">
                      <Index>7</Index>
                    </ComboListColumnAp>
                    <ListColumnAp action="edit" oid="1QYKWDXWDQ=C">
                      <Index>8</Index>
                    </ListColumnAp>
                    <DateListColumnAp action="edit" oid="0TT+UMOOORBA">
                      <Index>9</Index>
                    </DateListColumnAp>
                    <ListColumnAp action="edit" oid="1DK0ZXH6WTOX">
                      <Index>10</Index>
                    </ListColumnAp>
                    <ListColumnAp action="edit" oid="0UOX5B+WNC7N">
                      <Index>11</Index>
                    </ListColumnAp>
                    <DateListColumnAp action="edit" oid="0TT+T7641KKB">
                      <Index>12</Index>
                    </DateListColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
            <FieldAp action="edit" oid="AvMBAu1ldx">
              <Lock>submit,audit,edit,new</Lock>
              <Index action="reset"/>
              <Name>核算任务</Name>
              <ParentId>ZKMdVIEjfj</ParentId>
              <FullLine>true</FullLine>
            </FieldAp>
            <FieldAp action="edit" oid="bdJvQ9RWla">
              <Index>1</Index>
            </FieldAp>
            <FieldAp action="edit" oid="PlJiRRx6Xc">
              <Index>2</Index>
            </FieldAp>
            <FieldAp action="edit" oid="MwLyMGIJQa">
              <Index>3</Index>
            </FieldAp>
            <FieldAp action="edit" oid="1L1lCd6AOS">
              <Index>4</Index>
            </FieldAp>
            <FieldAp action="edit" oid="RlebMvuljH">
              <Index>5</Index>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>1844235341251215360</ModifierId>
      <EntityId>3UV4D=APQWU+</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1706693136843</Version>
      <ParentId>0TSJZB3+D6HX</ParentId>
      <MasterId>0TSJZB3+D6HX</MasterId>
      <Number>${ISV_FLAG}_hsas_approvebill_ext</Number>
      <BizappId>5EM81MIFHW+G</BizappId>
      <IsvSign>ZSREDlW5meFF8pGXhg2TCEJU8ga6r6Zt3Xfps3zvuIlTkt1tILpnwhIUukuIPNoFuclQI2MdvHCSc33MnrT3X5+yueMfSFX9g/YnnrspyPnhvHVFmAVtMM0A+Lsw1sc5jsN+GUpwTYLa0yYhDiEaAPhFUVRZ47XzgSDIIhQqPts=</IsvSign>
      <Id>3UV4D=APQWU+</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID,0TSJZB3+D6HX</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1706693136898</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3UV4D=APQWU+</Id>
          <ParentId>0TSJZB3+D6HX</ParentId>
          <MasterId>0TSJZB3+D6HX</MasterId>
          <BizappId>3SZ9A=ZJ8+0R</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID,0TSJZB3+D6HX</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Rules>
                <BizRule>
                  <TrueActions>
                    <FormulaAction>
                      <RET>253</RET>
                      <ActionType>FormulaAction</ActionType>
                      <Expression>summaryname = caltask.name</Expression>
                      <Description>计算定义公式的值并填写到指定列</Description>
                      <Id>3UXRM2UMJKQG</Id>
                    </FormulaAction>
                  </TrueActions>
                  <Description>核算任务不等于null</Description>
                  <Id>3UXQM9723BBW</Id>
                  <PreCondition>caltask.id &lt;&gt; null</PreCondition>
                  <Seq>1</Seq>
                  <PreDescription>caltask.id &lt;&gt; null</PreDescription>
                </BizRule>
              </Rules>
              <Operations>
                <Operation>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>5777ewqGP0</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>新增分录</Name>
                  <OperationType>newentry</OperationType>
                  <Id>3UYHZZGOHCU1</Id>
                  <Key>newentry_3uyhzzgohcu1</Key>
                </Operation>
              </Operations>
              <Id>3UV4D=APQWU+</Id>
              <Key>${ISV_FLAG}_hsas_approvebill_ext</Key>
              <KFlowRules>[]</KFlowRules>
            </BillEntity>
            <MulBasedataField action="edit" oid="AvMBAu1ldx">
              <Name>核算任务</Name>
            </MulBasedataField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1706693136898</Version>
      <ParentId>0TSJZB3+D6HX</ParentId>
      <MasterId>0TSJZB3+D6HX</MasterId>
      <Number>${ISV_FLAG}_hsas_approvebill_ext</Number>
      <BizappId>5EM81MIFHW+G</BizappId>
      <Id>3UV4D=APQWU+</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID,0TSJZB3+D6HX</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1706693136843</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>0ABXWAT569/=</BizunitId>
</DeployMetadata>
