DELETE FROM t_hbss_laborreltype WHERE FID = 2380579595016471552;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380579595016471552,'0',NULL,' ','0',' ',2380579595016471552,'C',1010,'helpmate','合作伙伴-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0); 
DELETE FROM t_hbss_laborreltype WHERE FID = 2380580221880370176;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380580221880370176,'0',NULL,' ','0',' ',2380580221880370176,'C',1010,'dayan','大雁-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0); 
DELETE FROM t_hbss_laborreltype WHERE FID = 2380580527351529472;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380580527351529472,'0',NULL,' ','0',' ',2380580527351529472,'C',1010,'interns_reserve_personnel','实习生-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0);
DELETE FROM t_hbss_laborreltype WHERE FID = 2380580790124675072;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380580790124675072,'0',NULL,' ','0',' ',2380580790124675072,'C',1010,'labor_dispatch','劳务派遣-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0);
DELETE FROM t_hbss_laborreltype WHERE FID = 2380580909461013504;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380580909461013504,'0',NULL,' ','0',' ',2380580909461013504,'C',1010,'regular_workers','正式工-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0);
DELETE FROM t_hbss_laborreltype WHERE FID = 2380581040784670720;
INSERT INTO t_hbss_laborreltype(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FORISTATUS,FDESCRIPTION,FMASTERID,FSTATUS,FLABORRELTYPECLSID,FNUMBER,FNAME,FORINUMBER,FINDEX,FLABRELSTATUSPRDID,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FORINAME,FDISABLERID) VALUES (2380581040784670720,'0',NULL,' ','0',' ',2380581040784670720,'C',1010,'rehired_after_retirement	','退休返聘-新',' ',0,0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,' ',0);
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE41SX1+ZX8';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380579595016471552,'5GE41SX1+ZX8','zh_CN',' ',' ',' ','合作伙伴-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE41SX1+ZX9';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380579595016471552,'5GE41SX1+ZX9','zh_TW',' ',' ',' ','合作夥伴-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE46C01D+HO';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580221880370176,'5GE46C01D+HO','zh_CN',' ',' ',' ','大雁-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE46C01D+HP';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580221880370176,'5GE46C01D+HP','zh_TW',' ',' ',' ','大雁-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE48KUNNYUS';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580527351529472,'5GE48KUNNYUS','zh_CN',' ',' ',' ','实习生-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE48KUNNYUT';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580527351529472,'5GE48KUNNYUT','zh_TW',' ',' ',' ','實習生-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4=HI6PCCD';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580790124675072,'5GE4=HI6PCCD','zh_CN',' ',' ',' ','劳务派遣-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4=HI6PCCE';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580790124675072,'5GE4=HI6PCCE','zh_TW',' ',' ',' ','勞務派遣-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4ACES+HZ/';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580909461013504,'5GE4ACES+HZ/','zh_CN',' ',' ',' ','正式工-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4ACES+HZ0';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380580909461013504,'5GE4ACES+HZ0','zh_TW',' ',' ',' ','正式工-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4BARD3UJ+';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380581040784670720,'5GE4BARD3UJ+','zh_CN',' ',' ',' ','退休返聘-新');
DELETE FROM t_hbss_laborreltype_L WHERE FPKID = '5GE4BARD3UJ/';
INSERT INTO t_hbss_laborreltype_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FORINAME,FNAME) VALUES (2380581040784670720,'5GE4BARD3UJ/','zh_TW',' ',' ',' ','退休返聘-新');
