<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>5FIKM919POHB</MasterId>
  <Id>5FIKM919POHB</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_homs_mplantreelist</Number>
      <PkId>5GIIMMWICXRG</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>月度编制管理组织树</Name>
      <Id>5FIKM919POHB</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_homs_mplantreelist</Number>
      <PkId>5GIIMMZ7GVWA</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>月度编制管理组织树</Name>
      <Id>5FIKM919POHB</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767096659191</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
