<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>5FIKM919POHB</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>5FIKM919POHB</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1767096659191</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>5FIKM919POHB</Id>
          <Key>${ISV_FLAG}_homs_mplantreelist</Key>
          <EntityId>5FIKM919POHB</EntityId>
          <ParentId>2B9=DMZVK591</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制管理组织树</Name>
          <InheritPath>2B9=DMZVK591</InheritPath>
          <Items>
            <FormAp action="edit" oid="2B9=DMZVI/3/">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.odc.homs.listPlugin.PlanMonthAdminOrgTreeList</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>月度编制管理组织树插件</Description>
                </Plugin>
              </Plugins>
              <Id>5FIKM919POHB</Id>
              <Name>月度编制管理组织树</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>uBbhEcow</FPK>
                  <ClassName>5FIKM919POHB_uBbhEcow</ClassName>
                  <SourceNumber>${ISV_FLAG}_homs_mplantreelist</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>月度编制管理组织树</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_homs_mplantreelist</Key>
            </FormAp>
            <FlexPanelAp action="edit" oid="lSvRTldtZh">
              <Invisible>true</Invisible>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="d9jO3fpQxO">
              <Invisible>true</Invisible>
            </FlexPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5FIKM919POHB</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767096659191</Version>
      <ParentId>2B9=DMZVK591</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_homs_mplantreelist</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>5FIKM919POHB</Id>
      <InheritPath>2B9=DMZVK591</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1767096659225</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>5FIKM919POHB</Id>
          <ParentId>2B9=DMZVK591</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制管理组织树</Name>
          <InheritPath>2B9=DMZVK591</InheritPath>
          <Items>
            <MainEntity action="edit" oid="2B9=DN+E9H92">
              <Template action="reset"/>
              <Id>5FIKM919POHB</Id>
              <Key>${ISV_FLAG}_homs_mplantreelist</Key>
              <Name>月度编制管理组织树</Name>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767096659225</Version>
      <ParentId>2B9=DMZVK591</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_homs_mplantreelist</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>5FIKM919POHB</Id>
      <InheritPath>2B9=DMZVK591</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1767096659191</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
