<?xml version="1.0" encoding="UTF-8"?>
<DataModel dympath="metadata">
<!--     管理层级-->
    <SqlScript Type="KSQL" Separator=";" dbkey="hr">preinsdata/t_haos_adminorglayer_20251231095316.sql</SqlScript>
<!--    用工关系类型-->
    <SqlScript Type="KSQL" Separator=";" dbkey="hr">preinsdata/t_hbss_laborreltype_20251231095601.sql</SqlScript>

</DataModel>
