<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <MasterId>217WYC/L9U7E</MasterId>
  <Id>5E2TK6ZVV//K</Id>
  <DesignMetas>
    <DesignAppMetaL>
      <PkId>5FIPTHC=46DG</PkId>
      <DataXml>
        <AppMetadata/>
      </DataXml>
      <Name>组织管理</Name>
      <Description>行政组织、岗位主数据管理</Description>
      <Id>5E2TK6ZVV//K</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignAppMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
