<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>460L8TCTJ79M</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>460L8TCTJ79M</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605339335</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Id>460L8TCTJ79M</Id>
          <Key>${ISV_FLAG}_planyear_pc</Key>
          <ParentId>3J2TPW/MLRX0</ParentId>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE,3J2TPW/MLRX0</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b252b844000004ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>7qg95lDx</FPK>
                          <ClassName>460L8TCTJ79M_moblist_7qg95lDx</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_pc_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>460L8TCTJ79M</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>muIWxu9Y</FPK>
                  <ClassName>460L8TCTJ79M_muIWxu9Y</ClassName>
                  <SourceNumber>${ISV_FLAG}_planyear_pc</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>年度编制计划</SourceName>
                  <RowKey>3</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_planyear_pc</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>93KLsd1n</FPK>
                          <ClassName>460L8TCTJ79M_mob_93KLsd1n</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_pc_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>lEkYeyrm</FPK>
                          <ClassName>460L8TCTJ79M_list_lEkYeyrm</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_pc_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <ListOperationColumnAp action="edit" oid="3J5OCC5ZZTC7">
                      <Visible/>
                    </ListOperationColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Invisible>true</Invisible>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="ojEchAUgVf">
              <Invisible>true</Invisible>
            </FlexPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>3J2TPW/MLRX0</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605339335</Version>
      <ParentId>3J2TPW/MLRX0</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planyear_pc</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>460L8TCTJ79M</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE,3J2TPW/MLRX0</InheritPath>
    </DesignFormMeta>
  </DesignMetas>
  <Version>1765605339335</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
