<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4/2=V+U5JNZ1</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>4/2=V+U5JNZ1</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765604406434</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>4/2=V+U5JNZ1</Id>
          <Key>${ISV_FLAG}_planmonth_bill_base</Key>
          <EntityId>4/2=V+U5JNZ1</EntityId>
          <ModelType>BaseFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制信息管理基础资料</Name>
          <SrcBizObjId/>
          <InheritPath/>
          <Items>
            <BasedataFormAp>
              <Language>zh_CN</Language>
              <ShowType>MainNewTabPage</ShowType>
              <Id>4/2=V+U5JNZ1</Id>
              <LockStyle>2</LockStyle>
              <Name>月度编制信息管理基础资料</Name>
              <PkId>4/2=V+U5JN9T</PkId>
              <JsPlugins>
                <Plugin>
                  <FPK>9jeyNvcf</FPK>
                  <ClassName>4/2=V+U5JNZ1_9jeyNvcf</ClassName>
                  <SourceNumber>${ISV_FLAG}_planmonth_bill_base</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>月度编制信息管理基础资料</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_planmonth_bill_base</Key>
            </BasedataFormAp>
            <FieldAp>
              <Id>4p7aKcR3zStlZa4IHJ</Id>
              <FieldId>4p7aKcR3zStlZa4IHJ</FieldId>
              <Name>月度编制计划</Name>
              <Key>${ISV_FLAG}_planmonth</Key>
            </FieldAp>
            <FieldAp>
              <Id>iBtFpb9KP0Egu17eLC</Id>
              <FieldId>iBtFpb9KP0Egu17eLC</FieldId>
              <Index>1</Index>
              <Name>月度计划名称</Name>
              <Key>${ISV_FLAG}_plan_name</Key>
            </FieldAp>
            <FieldAp>
              <Id>egEF21WzF4FVGKWAZD</Id>
              <FieldId>egEF21WzF4FVGKWAZD</FieldId>
              <Index>2</Index>
              <Name>单据编号</Name>
              <Key>billno</Key>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>4/2=V+U5JNZ1</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765604406434</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planmonth_bill_base</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>4/2=V+U5JNZ1</Id>
      <InheritPath></InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765604406449</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>4/2=V+U5JNZ1</Id>
          <ModelType>BaseFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制信息管理基础资料</Name>
          <InheritPath/>
          <Items>
            <BaseEntity>
              <dbRoute>hr</dbRoute>
              <NumberFieldId>number</NumberFieldId>
              <TableName>tk_tdkw_planmonth_bill</TableName>
              <Id>4/2=V+U5JNZ1</Id>
              <Name>月度编制信息管理基础资料</Name>
              <PkId>4/2=V+V=1MKZ</PkId>
              <Key>${ISV_FLAG}_planmonth_bill_base</Key>
              <NameFieldId>name</NameFieldId>
              <PkFieldName>FID</PkFieldName>
            </BaseEntity>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>4p7aKcR3zStlZa4IHJ</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>月度编制计划</Name>
              <FieldName>fk_tdkw_planmonth</FieldName>
              <RefProps>
                <RefProp>
                  <Name>number</Name>
                </RefProp>
                <RefProp>
                  <Name>name</Name>
                </RefProp>
                <RefProp>
                  <Name>enable</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_startmonth</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_endmonth</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_orghierarchy</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_controlediting</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_isunify</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_plantype</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_way</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_people</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_labeldimension</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_org.id</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_org.number</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_org.name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_planmonth</Key>
              <RefLayout/>
              <BaseEntityId>3J9I/WMVJSQZ</BaseEntityId>
            </BasedataField>
            <BasedataPropField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>iBtFpb9KP0Egu17eLC</Id>
              <Key>${ISV_FLAG}_plan_name</Key>
              <RefDisplayProp>name</RefDisplayProp>
              <RefBaseFieldId>4p7aKcR3zStlZa4IHJ</RefBaseFieldId>
              <Name>月度计划名称</Name>
            </BasedataPropField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>egEF21WzF4FVGKWAZD</Id>
              <Name>单据编号</Name>
              <FieldName>fbillno</FieldName>
              <Key>billno</Key>
            </TextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765604406449</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planmonth_bill_base</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>4/2=V+U5JNZ1</Id>
      <InheritPath></InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765604406434</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
