<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3J2TPW/MLRX0</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>3J2TPW/MLRX0</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1767063710829</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>3J2TPW/MLRX0</Id>
          <Key>${ISV_FLAG}_planyear</Key>
          <EntityId>3J2TPW/MLRX0</EntityId>
          <ParentId>2/TYOWOSM0TE</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>年度编制计划</Name>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.odc.homs.formplugin.PlanYearFormPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>年度编制计划表单插件</Description>
                  <RowKey>5</RowKey>
                </Plugin>
              </Plugins>
              <Rules>
                <FormRule>
                  <FalseActions>
                    <UnlockFieldAction>
                      <RET>251</RET>
                      <ActionType>UnlockFieldAction</ActionType>
                      <Description>解锁字段</Description>
                      <Id>3VZ2O69ECEWO</Id>
                      <Fields>
                        <FieldId>
                          <Id>Cvzmf65zn0</Id>
                        </FieldId>
                        <FieldId>
                          <Id>1NsRg5raly</Id>
                        </FieldId>
                      </Fields>
                    </UnlockFieldAction>
                  </FalseActions>
                  <PreDescription>年度为空，开始月份不可选</PreDescription>
                  <TrueActions>
                    <LockFieldAction>
                      <RET>251</RET>
                      <ActionType>LockFieldAction</ActionType>
                      <Description>锁定字段</Description>
                      <Id>3VZ2O69ECE7E</Id>
                      <Fields>
                        <FieldId>
                          <Id>Cvzmf65zn0</Id>
                        </FieldId>
                        <FieldId>
                          <Id>1NsRg5raly</Id>
                        </FieldId>
                      </Fields>
                    </LockFieldAction>
                  </TrueActions>
                  <Description>年度为空，开始月份不可选</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>3VXE3068NK6F</Id>
                  <PreCondition>${ISV_FLAG}_year = null</PreCondition>
                  <Seq>1</Seq>
                </FormRule>
              </Rules>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b252b844000004ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>O27uXWHW</FPK>
                          <ClassName>3J2TPW/MLRX0_moblist_O27uXWHW</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3J2TPW/MLRX0</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3J2TPW/MLRX0</Id>
              <Height>80%</Height>
              <EnableExtendProperty action="reset"/>
              <Name>年度编制计划</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>UKxkDxUG</FPK>
                  <ClassName>3J2TPW/MLRX0_UKxkDxUG</ClassName>
                  <SourceNumber>${ISV_FLAG}_planyear</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>年度编制计划</SourceName>
                  <RowKey>2</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_planyear</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>gJ86srSM</FPK>
                          <ClassName>3J2TPW/MLRX0_mob_gJ86srSM</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>2</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Name>年度编制计划</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Plugins>
                        <Plugin>
                          <FPK/>
                          <ClassName>${ISV_FLAG}.odc.homs.listPlugin.CompilationPlanListPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                          <Description>编制计划 启用后开放链接</Description>
                          <RowKey>7</RowKey>
                        </Plugin>
                      </Plugins>
                      <ShowType>Modal</ShowType>
                      <Name>年度编制计划</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>LVl3LqVJ</FPK>
                          <ClassName>3J2TPW/MLRX0_list_LVl3LqVJ</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>年度编制计划</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="C1IXIpJx1c">
                      <DropdownItems>
                        <DropdownItem>
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>1</Index>
                          <Title>复制</Title>
                          <OperationKey>copy</OperationKey>
                          <SubTitle/>
                          <Background/>
                          <IsSwitch>true</IsSwitch>
                          <Lock>,,</Lock>
                          <Id>3YKAW1OAQIVN</Id>
                          <Key>copy</Key>
                        </DropdownItem>
                        <DropdownItem action="remove" oid="PQLEDWKM3DH"/>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>EUKnaWpYeY</Id>
                      <Index>2</Index>
                      <Name>变更</Name>
                      <OperationKey>change</OperationKey>
                      <Key>${ISV_FLAG}_change</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="rQ81rnW9l8">
                      <Index>3</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>ekFXa7kbmA</Id>
                      <Index>4</Index>
                      <Name>催办</Name>
                      <OperationKey>urge</OperationKey>
                      <Key>${ISV_FLAG}_urge</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ms32Hsufcq">
                      <Index>5</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="BTjy6Ie3Bc">
                      <Index>6</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A3zkgmttgA">
                      <Index>7</Index>
                      <Name>启用</Name>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="PQLEDWO8A6A">
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>1</Index>
                          <Title>禁用</Title>
                          <OperationKey>disable</OperationKey>
                        </DropdownItem>
                      </DropdownItems>
                      <OperationKey>enable</OperationKey>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="NVARV5u7I4">
                      <Index>8</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="v71lQcKgcH">
                      <Invisible>true</Invisible>
                      <Index>12</Index>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="/VN+=NRAR9/D">
                          <Visible/>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="/VN+=NRARQ6A">
                          <Visible/>
                        </DropdownItem>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0gAY5TLeX3">
                      <Index>13</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>rQVRew3xhR</Id>
                      <Index>14</Index>
                      <Name>退出</Name>
                      <OperationKey>close</OperationKey>
                      <Key>${ISV_FLAG}_tblclose</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>3J2TPW/MLRX0</EntityId>
                    </FilterContainerAp>
                    <ToolbarAp action="edit" oid="_toolbar_">
                      <Index>1</Index>
                    </ToolbarAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <Index>2</Index>
                      <EntityId>3J2TPW/MLRX0</EntityId>
                    </BillListAp>
                    <CommonFilterColumnAp action="edit" oid="f31a499a0000d2ac">
                      <DefValue/>
                      <ComboItems>
                        <ComboItem>
                          <Caption>待启用</Caption>
                          <Value>2</Value>
                          <Seq>2</Seq>
                        </ComboItem>
                        <ComboItem action="remove" oid="10"/>
                      </ComboItems>
                    </CommonFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>3WG/F+ZEHMO7</Id>
                      <Index>2</Index>
                      <Name>编制规划单位</Name>
                      <FieldName>${ISV_FLAG}_org.name</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafilter</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>73f9bf0200001dac</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <CommonFilterColumnAp>
                      <Type>enum</Type>
                      <Id>3J3047=Z4T=K</Id>
                      <Index>3</Index>
                      <Name>计划类型</Name>
                      <FieldName>${ISV_FLAG}_plantype</FieldName>
                      <Key>${ISV_FLAG}_commonfiltercolumnap</Key>
                      <ParentId>filtergridview</ParentId>
                    </CommonFilterColumnAp>
                    <ListOperationColumnAp>
                      <Id>3J5OCC5ZZTC7</Id>
                      <Index>1</Index>
                      <Name>操作列</Name>
                      <Key>${ISV_FLAG}_listoperationcolumna</Key>
                      <OperationColItems>
                        <OperationColItem>
                          <operationKey>compilationplan</operationKey>
                          <permissionId/>
                          <icon/>
                          <fontSize/>
                          <operationName>编制计划明细</operationName>
                          <Id>3J6+HYHIOO+3</Id>
                          <foreColor/>
                        </OperationColItem>
                      </OperationColItems>
                      <ParentId>gridview</ParentId>
                    </ListOperationColumnAp>
                    <ComboListColumnAp action="edit" oid="UGA0V8HS=6S">
                      <Index>2</Index>
                      <Name>状态</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/9ZQ/4U2A</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>number</ListFieldId>
                      <Name>单据编码</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/=169ZW8Z</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>name</ListFieldId>
                      <Name>计划名称</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3WFYHEZMWCQL</Id>
                      <Key>${ISV_FLAG}_listcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_org.name</ListFieldId>
                      <Name>编制规划单位</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>43J0X1UHKI9L</Id>
                      <Key>${ISV_FLAG}_listcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>6</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_year_str</ListFieldId>
                      <Name>所属年度</Name>
                    </ListColumnAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/BCD9S3BK</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>7</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_plantype</ListFieldId>
                      <Name>计划类型</Name>
                    </ComboListColumnAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/BVQ/Z0YH</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>8</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_orghierarchy</ListFieldId>
                      <Name>组织层级</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/C8YDAWFU</Id>
                      <Key>${ISV_FLAG}_listcolumnap4</Key>
                      <Order>NotOrder</Order>
                      <Index>9</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.name</ListFieldId>
                      <Name>创建人</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/CNLLTAQL</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap1</Key>
                      <Order>DESC</Order>
                      <Index>10</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createtime</ListFieldId>
                      <Name>创建时间</Name>
                    </DateListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/CYXZK95Z</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>11</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_startmonth</ListFieldId>
                      <Name>开始月份</Name>
                    </DateListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J3/D/2KA4L4</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>12</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_endmonth</ListFieldId>
                      <Name>结束月份</Name>
                    </DateListColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>3J303KG1B2Z+</Id>
                      <Index>2</Index>
                      <Name>编制规划单位.编码</Name>
                      <FieldName>${ISV_FLAG}_org.number</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilte1</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>73f9bf0200001dac</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeFilterColumnAp>
                      <Id>3J303SS211=5</Id>
                      <Index>3</Index>
                      <Name>所属年度</Name>
                      <FieldName>${ISV_FLAG}_year</FieldName>
                      <Key>${ISV_FLAG}_schemefiltercolumnap</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeFilterColumnAp>
                    <SchemeComboFilterColumnAp>
                      <Id>3J3047=Z6VE2</Id>
                      <Index>4</Index>
                      <Name>计划类型</Name>
                      <FieldName>${ISV_FLAG}_plantype</FieldName>
                      <Key>${ISV_FLAG}_schemecombofiltercol</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeComboFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>3J3015K0VSKI</Id>
                      <Index>5</Index>
                      <Name>创建人.工号</Name>
                      <FieldName>creator.number</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilter</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>68bde9ca00000eac</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>3WG/F+ZI4TH/</Id>
                      <Index>6</Index>
                      <Name>编制规划单位.名称</Name>
                      <FieldName>${ISV_FLAG}_org.name</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilte3</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>73f9bf0200001dac</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <BarItemAp action="remove" oid="UlRxLeBKL1"/>
                    <DecimalListColumnAp action="remove" oid="2+QFGEE3RJSH"/>
                    <ListColumnAp action="remove" oid="b5994054000028ac"/>
                    <ListColumnAp action="remove" oid="b5994054000029ac"/>
                    <ComboListColumnAp action="remove" oid="2+QFDF4TVSQG"/>
                    <CheckBoxListColumnAp action="remove" oid="2+QFDS08YL30"/>
                    <ListColumnAp action="remove" oid="2+QFE2M5CQVF"/>
                  </Items>
                </FormMetadata>
              </ListMeta>
              <Width>80%</Width>
            </BasedataFormAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Index action="reset"/>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <Height>100%</Height>
              <Index>1</Index>
              <Width>100%</Width>
            </FlexPanelAp>
            <HisModelConfigAp action="edit" oid="Ow0tkep1xSYysr4aDy">
              <modelType>2</modelType>
            </HisModelConfigAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Lock>submit,audit,edit</Lock>
              <Id>6ysIvxgu21CVqbW7to</Id>
              <FieldId>6ysIvxgu21CVqbW7to</FieldId>
              <Index>1</Index>
              <Name>编制规划单位</Name>
              <Key>${ISV_FLAG}_org</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="h736cFwZ6e">
              <Lock>submit,audit,edit</Lock>
              <Index>2</Index>
              <Name>单据编码</Name>
            </FieldAp>
            <FieldAp action="edit" oid="8oq6R4m9CF">
              <Index>3</Index>
              <Name>计划名称</Name>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>R3b6LJ4zQQ</Id>
              <FieldId>R3b6LJ4zQQ</FieldId>
              <Index>5</Index>
              <Name>所属年度</Name>
              <Key>${ISV_FLAG}_year</Key>
              <ParentId>I8M9X0FOPr</ParentId>
              <Mask>YYYY</Mask>
            </FieldAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Id>bi3VQ8EJj5i8iq7C0n</Id>
              <FieldId>bi3VQ8EJj5i8iq7C0n</FieldId>
              <Index>6</Index>
              <Name>所属年度</Name>
              <Key>${ISV_FLAG}_year_str</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>Cvzmf65zn0</Id>
              <FieldId>Cvzmf65zn0</FieldId>
              <Index>7</Index>
              <Name>开始月份</Name>
              <DisplayFormatString>yyyy-MM</DisplayFormatString>
              <Key>${ISV_FLAG}_startmonth</Key>
              <ParentId>I8M9X0FOPr</ParentId>
              <Mask>YYYY-MM</Mask>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Lock>submit,audit,new,edit</Lock>
              <Id>1NsRg5raly</Id>
              <FieldId>1NsRg5raly</FieldId>
              <Index>8</Index>
              <Name>结束月份</Name>
              <DisplayFormatString>yyyy-MM</DisplayFormatString>
              <Key>${ISV_FLAG}_endmonth</Key>
              <ParentId>I8M9X0FOPr</ParentId>
              <Mask>YYYY-MM</Mask>
            </FieldAp>
            <FieldAp>
              <Id>4xU6jty6z0</Id>
              <FieldId>4xU6jty6z0</FieldId>
              <Index>9</Index>
              <Name>组织层级</Name>
              <Key>${ISV_FLAG}_orghierarchy</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>a2ickJV068</Id>
              <FieldId>a2ickJV068</FieldId>
              <Index>10</Index>
              <Name>计划类型</Name>
              <Key>${ISV_FLAG}_plantype</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>ekcOQPtxtO</Id>
              <FieldId>ekcOQPtxtO</FieldId>
              <Index>11</Index>
              <Name>标签维度</Name>
              <Key>${ISV_FLAG}_labeldimension</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>ABiA9K4eX74KAuFmBx</Id>
              <FieldId>ABiA9K4eX74KAuFmBx</FieldId>
              <Index>12</Index>
              <Name>用工关系类型</Name>
              <Key>${ISV_FLAG}_useworktype</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="zaveTaE81T">
              <Index>13</Index>
              <FullLine>true</FullLine>
            </FieldAp>
            <BarItemAp>
              <Id>NO0CLM7hSz</Id>
              <Visible>init,edit</Visible>
              <Index>1</Index>
              <Name>删除</Name>
              <OperationKey>deletedata</OperationKey>
              <Key>${ISV_FLAG}_baritemap1</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>IDHr4o2NNH</ParentId>
            </BarItemAp>
            <BarItemAp action="edit" oid="V8H211iajj">
              <Visible/>
              <Index>2</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="evV9jbiOYW">
              <Index>4</Index>
              <Name>取消</Name>
            </BarItemAp>
            <BarItemAp action="edit" oid="PubXYtLD8J">
              <Visible/>
              <Index>6</Index>
            </BarItemAp>
            <BarItemAp>
              <Invisible>true</Invisible>
              <Id>aNh4jnXb1V</Id>
              <Visible>init,edit,view,submit,audit</Visible>
              <Index>7</Index>
              <Name>变更</Name>
              <OperationKey>revise</OperationKey>
              <Key>${ISV_FLAG}_baritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>IDHr4o2NNH</ParentId>
            </BarItemAp>
            <BarItemAp action="edit" oid="zlTJbHhEqT">
              <Index>8</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="z20rAqlGP8">
              <Index>9</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="8XYTQ7uc8H">
              <Index>10</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="VdQCXx8gp6">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="HVX5nv5C2i">
              <Visible>init</Visible>
              <Index>12</Index>
              <DropdownItems>
                <DropdownItem action="edit" oid="T2KSKUUDTCT">
                  <Visible>,init,view,submit,audit,new,edit,</Visible>
                  <Index>1</Index>
                </DropdownItem>
              </DropdownItems>
            </BarItemAp>
            <BarItemAp action="edit" oid="TK7j147AL2">
              <Index>17</Index>
            </BarItemAp>
            <FieldsetPanelAp action="edit" oid="I8M9X0FOPr">
              <BKFull>true</BKFull>
              <Height>100%</Height>
              <Width>100%</Width>
            </FieldsetPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2360186724526865408</ModifierId>
      <EntityId>3J2TPW/MLRX0</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767063710829</Version>
      <ParentId>2/TYOWOSM0TE</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planyear</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>3J2TPW/MLRX0</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1767063710979</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>3J2TPW/MLRX0</Id>
          <ParentId>2/TYOWOSM0TE</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>年度编制计划</Name>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <Rules>
                <BizRule>
                  <FalseActions>
                    <ClearValueAction>
                      <RET>253</RET>
                      <ActionType>ClearValueAction</ActionType>
                      <Expression>${ISV_FLAG}_startmonth:${ISV_FLAG}_endmonth</Expression>
                      <Description>清空开始结束月份</Description>
                      <Id>3VZ2O6=BMKTT</Id>
                    </ClearValueAction>
                  </FalseActions>
                  <PreDescription>结束日期默认为所选年份的12月</PreDescription>
                  <TrueActions>
                    <FormulaAction>
                      <RET>253</RET>
                      <ActionType>FormulaAction</ActionType>
                      <Expression>${ISV_FLAG}_startmonth = DATEADD('Month', 0, ${ISV_FLAG}_year)</Expression>
                      <Description>开始月份默认为所选月份的一月</Description>
                      <Id>3W3C0QX+8D58</Id>
                    </FormulaAction>
                  </TrueActions>
                  <Description>结束日期为所选年份的12月</Description>
                  <Id>3VXG2YTQORPS</Id>
                  <PreCondition>${ISV_FLAG}_year &lt;&gt; null</PreCondition>
                  <Seq>1</Seq>
                </BizRule>
              </Rules>
              <TableName>tk_tdkw_planyear</TableName>
              <PermissionItems>
                <PermissionItem action="edit" oid="47165e8e000000ac">
                  <Index>9</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc5d000000ac">
                  <Index>10</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9f000004ae">
                  <Index>11</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>0=KX5+R0OZPJ</ItemId>
                  <Index>12</Index>
                </PermissionItem>
              </PermissionItems>
              <Id>3J2TPW/MLRX0</Id>
              <Name>年度编制计划</Name>
              <PermissionDimension>
                <PermissionDimension>
                  <DataDimensionField>${ISV_FLAG}_org</DataDimensionField>
                  <Id>8k5szdHJ</Id>
                  <DataDimension>6ysIvxgu21CVqbW7to</DataDimension>
                  <DimensionControl>DIM_ORG</DimensionControl>
                </PermissionDimension>
              </PermissionDimension>
              <Template action="reset"/>
              <PermissionControl>
                <PermissionControl>
                  <Id>19A8pkjJ</Id>
                </PermissionControl>
              </PermissionControl>
              <Operations>
                <Operation action="edit" oid="b599405400001aac">
                  <Plugins>
                    <Plugin action="edit" oid="kd.hr.hbp.opplugin.web.config.HRBaseOriginalOp">
                      <RowKey>6</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanSaveAndEnableOp</ClassName>
                      <BizAppId/>
                      <Description>年度编制计划 保存和启用时校验: 同一编制规划单位，编制计划之间开始月份与结束月份不得有交集</Description>
                      <RowKey>8</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanSaveOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>编制计划保存时使用状态默认禁用</Description>
                      <RowKey>9</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.PlanYearOp</ClassName>
                      <BizAppId/>
                      <Description>不能创建已存在可用状态的年度编制计划</Description>
                      <RowKey>10</RowKey>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <SaveParameter>
                      <AfterOperation>close</AfterOperation>
                    </SaveParameter>
                  </Parameter>
                  <Validations>
                    <ConditionValidation>
                      <Expression>${ISV_FLAG}_startmonth &gt; ${ISV_FLAG}_endmonth</Expression>
                      <Description>开始月份不能大于结束月份</Description>
                      <Message>开始月份不能大于结束月份</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3V68WO8B9TJB</Id>
                    </ConditionValidation>
                    <ConditionValidation>
                      <Expression>DATEADD('Month', 15, ${ISV_FLAG}_startmonth) &lt; ${ISV_FLAG}_endmonth</Expression>
                      <Description>时间跨度不能超过15个月</Description>
                      <Message>日期跨度不能大于15个月</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3VXFNSU0ZI22</Id>
                    </ConditionValidation>
                    <ConditionValidation>
                      <Expression>${ISV_FLAG}_startmonth &lt; DATEADD('Month', -3, ${ISV_FLAG}_year)</Expression>
                      <Description>开始月份不能早于所选年份前一年十月</Description>
                      <Message>开始月份不能早于所属年度前一年十月</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3W2FQH4UFYS4</Id>
                    </ConditionValidation>
                    <ConditionValidation>
                      <Expression>${ISV_FLAG}_endmonth &lt; DATEADD('Month', 0, ${ISV_FLAG}_year)</Expression>
                      <Description>结束月份必须为当前所选年</Description>
                      <Message>结束月份必须在当前所属年度之间</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3W2G46F30+Y3</Id>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001bac">
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.DeletePlanOp</ClassName>
                      <BizAppId/>
                      <Description>删除校验</Description>
                      <RowKey>4</RowKey>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <DelParameter>
                      <DraftValidReference action="reset"/>
                    </DelParameter>
                  </Parameter>
                  <Validations>
                    <ConditionValidation action="edit" oid="f789ca66000000ac">
                      <Expression>enable = '1'</Expression>
                      <Description>数据已经启用，不能删除。</Description>
                      <Message>数据已经启用，不能删除。</Message>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001eac">
                  <Validations>
                    <ConditionValidation action="edit" oid="f2843bab0000baac">
                      <Expression>enable = '2'</Expression>
                      <Message>待启用数据不能禁用。</Message>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001fac">
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanSaveAndEnableOp</ClassName>
                      <BizAppId/>
                      <Description>年度编制计划 保存和启用时校验: 同一编制规划单位，编制计划之间开始月份与结束月份不得有交集</Description>
                      <RowKey>2</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanUrgeOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>编制计划启用时发送消息</Description>
                      <RowKey>3</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.PlanYearStartOp</ClassName>
                      <BizAppId/>
                      <Description>校验已有可用的编制计划不能启用</Description>
                      <RowKey>4</RowKey>
                    </Plugin>
                  </Plugins>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>编制计划明细</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3J5OHHOJNEVG</Id>
                  <SuccessMsg/>
                  <Key>compilationplan</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>0=KX5+R0OZPJ</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanUrgeOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>发送催办消息</Description>
                    </Plugin>
                  </Plugins>
                  <ConfirmMsg/>
                  <PermissionItemId>0=KX5+R0OZPJ</PermissionItemId>
                  <Name>催办</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3J9GT85LB8YI</Id>
                  <SuccessMsg>操作成功。</SuccessMsg>
                  <Validations>
                    <ConditionValidation>
                      <Expression>enable = '0'</Expression>
                      <Description>合法性校验</Description>
                      <Message>请选择启用数据</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3J9GS7LZBHMV</Id>
                    </ConditionValidation>
                  </Validations>
                  <Key>urge</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>4715e1f1000000ac</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>kd.bos.coderule.CodeRuleDeleteOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>kd.bos.coderule.CodeRuleDeleteOp</Description>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>kd.hr.hbp.opplugin.web.config.HRBaseDataStatusOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>kd.hr.hbp.opplugin.web.config.HRBaseDataStatusOp</Description>
                      <RowKey>1</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>kd.hr.hbp.opplugin.web.hismodel.HisNonLineTimeTplOp</ClassName>
                      <BizAppId/>
                      <Description>kd.hr.hbp.opplugin.web.hismodel.HisNonLineTimeTplOp</Description>
                      <RowKey>2</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.DeletePlanOp</ClassName>
                      <BizAppId/>
                      <Description>删除校验</Description>
                      <RowKey>3</RowKey>
                    </Plugin>
                  </Plugins>
                  <RefreshFields>
                    <FieldId>
                      <Id>fseq</Id>
                    </FieldId>
                    <FieldId>
                      <Id>h736cFwZ6e</Id>
                    </FieldId>
                    <FieldId>
                      <Id>8oq6R4m9CF</Id>
                    </FieldId>
                    <FieldId>
                      <Id>AkId5S4yTs</Id>
                    </FieldId>
                    <FieldId>
                      <Id>jiRpZNc99A</Id>
                    </FieldId>
                    <FieldId>
                      <Id>YTt25EstNq</Id>
                    </FieldId>
                    <FieldId>
                      <Id>ac5Y5Dax1q</Id>
                    </FieldId>
                    <FieldId>
                      <Id>CIs7Psqw3q</Id>
                    </FieldId>
                    <FieldId>
                      <Id>vMAtxx40wA</Id>
                    </FieldId>
                    <FieldId>
                      <Id>O75mQrM58q</Id>
                    </FieldId>
                    <FieldId>
                      <Id>gqZ5asQ06s</Id>
                    </FieldId>
                    <FieldId>
                      <Id>zaveTaE81T</Id>
                    </FieldId>
                    <FieldId>
                      <Id>TJLOdUhRYt</Id>
                    </FieldId>
                    <FieldId>
                      <Id>bwFJZ504Tx</Id>
                    </FieldId>
                    <FieldId>
                      <Id>Ts8h2qRoVF</Id>
                    </FieldId>
                    <FieldId>
                      <Id>zc6fWQT855</Id>
                    </FieldId>
                    <FieldId>
                      <Id>RMkqRu1en6</Id>
                    </FieldId>
                    <FieldId>
                      <Id>GWZgDaCR43</Id>
                    </FieldId>
                    <FieldId>
                      <Id>KseEVBIdjS</Id>
                    </FieldId>
                    <FieldId>
                      <Id>P6qNEDrcgQ</Id>
                    </FieldId>
                    <FieldId>
                      <Id>R3b6LJ4zQQ</Id>
                    </FieldId>
                    <FieldId>
                      <Id>Cvzmf65zn0</Id>
                    </FieldId>
                    <FieldId>
                      <Id>1NsRg5raly</Id>
                    </FieldId>
                    <FieldId>
                      <Id>4xU6jty6z0</Id>
                    </FieldId>
                    <FieldId>
                      <Id>a2ickJV068</Id>
                    </FieldId>
                    <FieldId>
                      <Id>ekcOQPtxtO</Id>
                    </FieldId>
                    <FieldId>
                      <Id>ABiA9K4eX74KAuFmBx</Id>
                    </FieldId>
                    <FieldId>
                      <Id>6ysIvxgu21CVqbW7to</Id>
                    </FieldId>
                    <FieldId>
                      <Id>bi3VQ8EJj5i8iq7C0n</Id>
                    </FieldId>
                  </RefreshFields>
                  <ConfirmMsg>删除选中的记录后将无法恢复，确定要删除该记录吗？</ConfirmMsg>
                  <PermissionItemId>4715e1f1000000ac</PermissionItemId>
                  <Parameter>
                    <DoNothingParameter>
                      <AfterOperation>close</AfterOperation>
                    </DoNothingParameter>
                  </Parameter>
                  <Name>删除（二开）</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4DD=LLA=1/2E</Id>
                  <SuccessMsg>删除成功！</SuccessMsg>
                  <Validations>
                    <ConditionValidation>
                      <Expression>enable = '1'</Expression>
                      <Description>数据已经启用，不能删除。</Description>
                      <Message>数据已经启用，不能删除。</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <LevelId>2</LevelId>
                      <RuleType>FormValidate</RuleType>
                      <Id>4DDARZMJR2BH</Id>
                    </ConditionValidation>
                    <CustValidation>
                      <LevelId>2</LevelId>
                      <RuleType>hrbddeletevalidator</RuleType>
                      <Description>HR基础资料删除校验</Description>
                      <Id>4DDASI4/=AJ3</Id>
                      <Enabled>true</Enabled>
                    </CustValidation>
                  </Validations>
                  <Key>deletedata</Key>
                </Operation>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <Key>${ISV_FLAG}_planyear</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
              <KFlowRules>[]</KFlowRules>
            </BaseEntity>
            <TextField action="edit" oid="h736cFwZ6e">
              <Name>单据编码</Name>
            </TextField>
            <MuliLangTextField action="edit" oid="8oq6R4m9CF">
              <Name>计划名称</Name>
            </MuliLangTextField>
            <BillStatusField action="edit" oid="AkId5S4yTs">
              <DefValue>C</DefValue>
            </BillStatusField>
            <BillStatusField action="edit" oid="ac5Y5Dax1q">
              <StatusItems>
                <StatusItem action="edit" oid="2">
                  <statusname>启用</statusname>
                </StatusItem>
                <StatusItem action="edit" oid="3">
                  <statuskey>2</statuskey>
                </StatusItem>
              </StatusItems>
              <DefValue>0</DefValue>
            </BillStatusField>
            <MuliLangTextField action="edit" oid="zaveTaE81T">
              <MaxLength>500</MaxLength>
            </MuliLangTextField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>R3b6LJ4zQQ</Id>
              <Name>所属年度</Name>
              <FieldName>fk_tdkw_year</FieldName>
              <Key>${ISV_FLAG}_year</Key>
              <MustInput>true</MustInput>
            </DateField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>Cvzmf65zn0</Id>
              <Name>开始月份</Name>
              <FieldName>fk_tdkw_startmonth</FieldName>
              <Key>${ISV_FLAG}_startmonth</Key>
              <MustInput>true</MustInput>
            </DateField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>1NsRg5raly</Id>
              <Name>结束月份</Name>
              <FieldName>fk_tdkw_endmonth</FieldName>
              <Key>${ISV_FLAG}_endmonth</Key>
              <MustInput>true</MustInput>
            </DateField>
            <ComboField>
              <FieldName>fk_tdkw_orghierarchy</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>4xU6jty6z0</Id>
              <Key>${ISV_FLAG}_orghierarchy</Key>
              <MustInput>true</MustInput>
              <Name>组织层级</Name>
              <Items>
                <ComboItem>
                  <Caption>一级</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>二级</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>三级</Caption>
                  <Value>3</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>四级</Caption>
                  <Value>4</Value>
                  <Seq>3</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>五级</Caption>
                  <Value>5</Value>
                  <Seq>4</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>六级</Caption>
                  <Value>6</Value>
                  <Seq>5</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_plantype</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>a2ickJV068</Id>
              <Key>${ISV_FLAG}_plantype</Key>
              <MustInput>true</MustInput>
              <Name>计划类型</Name>
              <Items>
                <ComboItem>
                  <Caption>年度计划</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>半年度计划</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>季度计划</Caption>
                  <Value>3</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <MulComboField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>ekcOQPtxtO</Id>
              <Name>标签维度</Name>
              <Items>
                <ComboItem>
                  <ItemVisible>false</ItemVisible>
                  <Caption>大雁</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>新四化</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>国际化</Caption>
                  <Value>3</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>数字化</Caption>
                  <Value>4</Value>
                  <Seq>3</Seq>
                </ComboItem>
                <ComboItem>
                  <ItemVisible>false</ItemVisible>
                  <Caption>派驻</Caption>
                  <Value>5</Value>
                  <Seq>4</Seq>
                </ComboItem>
                <ComboItem>
                  <ItemVisible>false</ItemVisible>
                  <Caption>工作地点</Caption>
                  <Value>6</Value>
                  <Seq>5</Seq>
                </ComboItem>
              </Items>
              <FieldName>fk_tdkw_labeldimension</FieldName>
              <Key>${ISV_FLAG}_labeldimension</Key>
            </MulComboField>
            <MulComboField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>ABiA9K4eX74KAuFmBx</Id>
              <Name>用工关系类型</Name>
              <Items>
                <ComboItem>
                  <Caption>合作伙伴</Caption>
                  <Value>helpmate</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>实习生</Caption>
                  <Value>interns_reserve_personnel</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>劳务派遣</Caption>
                  <Value>labor_dispatch</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>正式工</Caption>
                  <Value>regular_workers</Value>
                  <Seq>3</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>退休返聘</Caption>
                  <Value>rehired_after_retirement</Value>
                  <Seq>4</Seq>
                </ComboItem>
              </Items>
              <MaxLength>500</MaxLength>
              <FieldName>fk_tdkw_worktype</FieldName>
              <Key>${ISV_FLAG}_useworktype</Key>
            </MulComboField>
            <OrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>6ysIvxgu21CVqbW7to</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>编制规划单位</Name>
              <FieldName>fk_tdkw_org</FieldName>
              <OrgFuncs>21</OrgFuncs>
              <Key>${ISV_FLAG}_org</Key>
              <MustInput>true</MustInput>
              <Filter>
                <FilterCondition>
                  <Filter/>
                </FilterCondition>
              </Filter>
              <BaseEntityId>73f9bf0200001dac</BaseEntityId>
            </OrgField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>bi3VQ8EJj5i8iq7C0n</Id>
              <Name>所属年度</Name>
              <FieldName>fk_tdkw_year_str</FieldName>
              <Key>${ISV_FLAG}_year_str</Key>
            </TextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767063710979</Version>
      <ParentId>2/TYOWOSM0TE</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planyear</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>3J2TPW/MLRX0</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1767063710829</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
