<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4/2AEO5GWJJE</MasterId>
  <Id>4/2AEO5GWJJE</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planmonth_kb</Number>
      <PkId>5F+K=YK61T18</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>月度编制控编详情</Name>
      <Id>4/2AEO5GWJJE</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planmonth_kb</Number>
      <PkId>5F+K=YLV8/XD</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>月度编制控编详情</Name>
      <Id>4/2AEO5GWJJE</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765604785861</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
