<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3VU3=PA+CSB8</MasterId>
  <Id>3VU3=PA+CSB8</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planperson</Number>
      <PkId>5F+KEC6AP=GJ</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>编制计划催办配置</Name>
      <Id>3VU3=PA+CSB8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planperson</Number>
      <PkId>5F+KEC=LD4Q1</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>编制计划催办配置</Name>
      <Id>3VU3=PA+CSB8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765604858254</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
