<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3J9I/WMVJSQZ</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>3J9I/WMVJSQZ</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1767063726768</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>3J9I/WMVJSQZ</Id>
          <Key>${ISV_FLAG}_planmonth</Key>
          <EntityId>3J9I/WMVJSQZ</EntityId>
          <ParentId>2/TYOWOSM0TE</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制计划</Name>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.odc.homs.formplugin.PlanMonthFormPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>表单插件</Description>
                  <RowKey>5</RowKey>
                </Plugin>
              </Plugins>
              <Rules>
                <FormRule>
                  <FalseActions>
                    <HideFieldAction>
                      <RET>251</RET>
                      <ActionType>HideFieldAction</ActionType>
                      <Description>隐藏字段</Description>
                      <Id>3J9Q4KHXOB5T</Id>
                      <Fields>
                        <FieldId>
                          <Id>uC5DNirnr3</Id>
                        </FieldId>
                      </Fields>
                    </HideFieldAction>
                  </FalseActions>
                  <PreDescription>弹性控编时显示方式字段</PreDescription>
                  <TrueActions>
                    <ShowFieldAction>
                      <RET>251</RET>
                      <ActionType>ShowFieldAction</ActionType>
                      <Description>显示字段</Description>
                      <Id>3J9Q4KHXK58R</Id>
                      <Fields>
                        <FieldId>
                          <Id>uC5DNirnr3</Id>
                        </FieldId>
                      </Fields>
                    </ShowFieldAction>
                  </TrueActions>
                  <Description>弹性控编时显示方式字段</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>3J9LL=9NL9+H</Id>
                  <PreCondition>${ISV_FLAG}_controlediting = '3'</PreCondition>
                  <Seq>1</Seq>
                </FormRule>
                <FormRule>
                  <FalseActions>
                    <HideControlAction>
                      <RET>251</RET>
                      <ActionType>HideControlAction</ActionType>
                      <Description>隐藏控件</Description>
                      <Id>3Z6LSMDEF6W7</Id>
                      <Fields>
                        <FieldId>
                          <Id>L0Iv7sS68V</Id>
                        </FieldId>
                      </Fields>
                    </HideControlAction>
                  </FalseActions>
                  <PreDescription>百分号符号控制</PreDescription>
                  <TrueActions>
                    <ShowFieldAction>
                      <RET>251</RET>
                      <ActionType>ShowFieldAction</ActionType>
                      <Description>显示字段</Description>
                      <Id>3Z6LSMDEJCT9</Id>
                      <Fields>
                        <FieldId>
                          <Id>w3uyNpE13a</Id>
                        </FieldId>
                      </Fields>
                    </ShowFieldAction>
                    <ShowControlAction>
                      <RET>251</RET>
                      <ActionType>ShowControlAction</ActionType>
                      <Description>显示控件</Description>
                      <Id>3Z6LSMDEF6W8</Id>
                      <Fields>
                        <FieldId>
                          <Id>L0Iv7sS68V</Id>
                        </FieldId>
                      </Fields>
                    </ShowControlAction>
                  </TrueActions>
                  <Description>百分号符号控制</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>3J9M5NSTXS=R</Id>
                  <PreCondition>${ISV_FLAG}_way = '1'</PreCondition>
                  <Seq>2</Seq>
                </FormRule>
                <FormRule>
                  <FalseActions>
                    <HideControlAction>
                      <RET>251</RET>
                      <ActionType>HideControlAction</ActionType>
                      <Description>隐藏控件</Description>
                      <Id>3Z6LSMDEJCT=</Id>
                      <Fields>
                        <FieldId>
                          <Id>t9ygqvZbQn</Id>
                        </FieldId>
                      </Fields>
                    </HideControlAction>
                  </FalseActions>
                  <PreDescription>人数符号控制</PreDescription>
                  <TrueActions>
                    <ShowFieldAction>
                      <RET>251</RET>
                      <ActionType>ShowFieldAction</ActionType>
                      <Description>显示字段</Description>
                      <Id>3Z6LSMDEF6W9</Id>
                      <Fields>
                        <FieldId>
                          <Id>w3uyNpE13a</Id>
                        </FieldId>
                      </Fields>
                    </ShowFieldAction>
                    <ShowControlAction>
                      <RET>251</RET>
                      <ActionType>ShowControlAction</ActionType>
                      <Description>显示控件</Description>
                      <Id>3Z6LSMDEJCTA</Id>
                      <Fields>
                        <FieldId>
                          <Id>t9ygqvZbQn</Id>
                        </FieldId>
                      </Fields>
                    </ShowControlAction>
                  </TrueActions>
                  <Description>人数符号控制</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>3Z6GO7S8I361</Id>
                  <PreCondition>${ISV_FLAG}_way = '2'</PreCondition>
                  <Seq>3</Seq>
                </FormRule>
                <FormRule>
                  <FalseActions>
                    <HideFieldAction>
                      <RET>251</RET>
                      <ActionType>HideFieldAction</ActionType>
                      <Description>隐藏字段</Description>
                      <Id>3Z6LSMDEF6W=</Id>
                      <Fields>
                        <FieldId>
                          <Id>w3uyNpE13a</Id>
                        </FieldId>
                      </Fields>
                    </HideFieldAction>
                  </FalseActions>
                  <PreDescription>百分比/人数控制</PreDescription>
                  <TrueActions>
                    <ShowFieldAction>
                      <RET>251</RET>
                      <ActionType>ShowFieldAction</ActionType>
                      <Description>显示字段</Description>
                      <Id>3Z6LSMDEJCTB</Id>
                      <Fields>
                        <FieldId>
                          <Id>w3uyNpE13a</Id>
                        </FieldId>
                      </Fields>
                    </ShowFieldAction>
                  </TrueActions>
                  <Description>百分比/人数控制</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>3Z6H0B2X91H1</Id>
                  <PreCondition>${ISV_FLAG}_way &lt;&gt; null and ${ISV_FLAG}_controlediting = '3'</PreCondition>
                  <Seq>4</Seq>
                </FormRule>
              </Rules>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b252b844000004ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>ugASgxSB</FPK>
                          <ClassName>3J9I/WMVJSQZ_moblist_ugASgxSB</ClassName>
                          <SourceNumber>${ISV_FLAG}_planmonth_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>月度编制计划</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3J9I/WMVJSQZ</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <BKFull>true</BKFull>
              <Id>3J9I/WMVJSQZ</Id>
              <Height>80%</Height>
              <EnableExtendProperty action="reset"/>
              <Name>月度编制计划</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>wG94UmrD</FPK>
                  <ClassName>3J9I/WMVJSQZ_wG94UmrD</ClassName>
                  <SourceNumber>${ISV_FLAG}_planmonth</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>月度编制计划</SourceName>
                  <RowKey>2</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_planmonth</Key>
              <MobMeta>
                <FormMetadata>
                  <Id>3J9I/WMVJSQZ</Id>
                  <Key>${ISV_FLAG}_planmonth_mob</Key>
                  <EntityId>3J9I/WMVJSQZ</EntityId>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <Id>3J9I/WMVJSQZ</Id>
                      <JsPlugins>
                        <Plugin>
                          <FPK>9eVl9uE8</FPK>
                          <ClassName>3J9I/WMVJSQZ_mob_9eVl9uE8</ClassName>
                          <SourceNumber>${ISV_FLAG}_planmonth_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>月度编制计划</SourceName>
                          <RowKey>2</RowKey>
                        </Plugin>
                      </JsPlugins>
                      <Key>${ISV_FLAG}_planmonth_mob</Key>
                    </MobileBillFormAp>
                    <FieldAp action="edit" oid="sM9Z0Db4lT">
                      <ParentId>3J9I/WMVJSQZ</ParentId>
                    </FieldAp>
                    <FieldAp action="edit" oid="xw0UMhndz7">
                      <ParentId>3J9I/WMVJSQZ</ParentId>
                    </FieldAp>
                    <MToolbarAp action="edit" oid="aHlGN1l22N">
                      <ParentId>3J9I/WMVJSQZ</ParentId>
                    </MToolbarAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Name>月度编制计划</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Plugins>
                        <Plugin>
                          <FPK/>
                          <ClassName>${ISV_FLAG}.odc.homs.listPlugin.CompilationPlanListPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                          <Description>月度编制计划启用后开放链接</Description>
                          <RowKey>7</RowKey>
                        </Plugin>
                      </Plugins>
                      <ShowType>Modal</ShowType>
                      <Name>月度编制计划</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>PgayOcum</FPK>
                          <ClassName>3J9I/WMVJSQZ_list_PgayOcum</ClassName>
                          <SourceNumber>${ISV_FLAG}_planmonth_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>月度编制计划</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp>
                      <Id>y5GeLS0dIZ</Id>
                      <Index>2</Index>
                      <Name>变更</Name>
                      <OperationKey>revise</OperationKey>
                      <Key>${ISV_FLAG}_revise</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="rQ81rnW9l8">
                      <Index>3</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>dYUVSWBT50</Id>
                      <Index>4</Index>
                      <Name>催办</Name>
                      <OperationKey>urge</OperationKey>
                      <Key>${ISV_FLAG}_baritemap</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ms32Hsufcq">
                      <Index>5</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="BTjy6Ie3Bc">
                      <Index>6</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A3zkgmttgA">
                      <Index>7</Index>
                      <Name>启用</Name>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="PQLEDWO8A6A">
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>1</Index>
                          <Title>禁用</Title>
                          <OperationKey>disable</OperationKey>
                        </DropdownItem>
                      </DropdownItems>
                      <OperationKey>monthenable</OperationKey>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="tcngnBJghm">
                      <Index>8</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="NVARV5u7I4">
                      <Index>9</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="kFol4iesRJ">
                      <Index>10</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="5tMdTy8Cl7">
                      <Index>11</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="DsKItL28LZ">
                      <Index>12</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="v71lQcKgcH">
                      <Visible/>
                      <Index>13</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0gAY5TLeX3">
                      <Index>14</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="UlRxLeBKL1">
                      <Index>15</Index>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>3J9I/WMVJSQZ</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3J9I/WMVJSQZ</EntityId>
                    </BillListAp>
                    <CommonFilterColumnAp action="edit" oid="f31a499a0000d2ac">
                      <DefValue>1,2</DefValue>
                      <ComboItems>
                        <ComboItem>
                          <Caption>待启用</Caption>
                          <Value>2</Value>
                          <Seq>2</Seq>
                        </ComboItem>
                        <ComboItem action="remove" oid="10"/>
                      </ComboItems>
                    </CommonFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>3JBF39YH408=</Id>
                      <Index>2</Index>
                      <Name>编制规划单位</Name>
                      <FieldName>${ISV_FLAG}_org.number</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafilter</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>/IJMOX2KS=4C</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <CommonFilterColumnAp>
                      <Type>enum</Type>
                      <Id>3JBF3U62A9/J</Id>
                      <Index>3</Index>
                      <Name>计划类型</Name>
                      <FieldName>${ISV_FLAG}_plantype</FieldName>
                      <Key>${ISV_FLAG}_commonfiltercolumnap</Key>
                      <ParentId>filtergridview</ParentId>
                    </CommonFilterColumnAp>
                    <ListOperationColumnAp>
                      <Id>3JBH4JMAW9X7</Id>
                      <Index>1</Index>
                      <Name>操作列</Name>
                      <Key>${ISV_FLAG}_listoperationcolumna</Key>
                      <OperationColItems>
                        <OperationColItem>
                          <operationKey>monthplan</operationKey>
                          <permissionId/>
                          <icon/>
                          <fontSize/>
                          <operationName>月编制计划明细</operationName>
                          <Id>3YH56JXFDCOQ</Id>
                          <foreColor/>
                        </OperationColItem>
                      </OperationColItems>
                      <ParentId>gridview</ParentId>
                    </ListOperationColumnAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K+=VR+4TI</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>enable</ListFieldId>
                      <Name>状态</Name>
                    </ComboListColumnAp>
                    <CheckBoxListColumnAp>
                      <Id>5FVV4NRBO8MG</Id>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <Name>是否当前生效数据</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_checkboxlistcolumna1</Key>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>iscurrentversion</ListFieldId>
                    </CheckBoxListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K/5CP2JP8</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>number</ListFieldId>
                      <Name>单据编码</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K01KK1B5J</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>6</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>name</ListFieldId>
                      <Name>计划名称</Name>
                    </ListColumnAp>
                    <DateListColumnAp action="edit" oid="2=40V75N10BE">
                      <Index>7</Index>
                    </DateListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9TKIYPQTBL</Id>
                      <Key>${ISV_FLAG}_listcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>8</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_org.name</ListFieldId>
                      <Name>编制规划单位</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K0YTW3CTO</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>9</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_year</ListFieldId>
                      <DisplayFormatString>YYYY</DisplayFormatString>
                      <Name>所属年度</Name>
                    </DateListColumnAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K3HV6W832</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>10</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_orghierarchy</ListFieldId>
                      <Name>组织层级</Name>
                    </ComboListColumnAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K4208KDAE</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>11</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_controlediting</ListFieldId>
                      <Name>控编方式</Name>
                    </ComboListColumnAp>
                    <ComboListColumnAp action="edit" oid="4UXR+Q577M9S">
                      <Index>12</Index>
                    </ComboListColumnAp>
                    <CheckBoxListColumnAp>
                      <Id>4+R10CQFVAXD</Id>
                      <Order>NotOrder</Order>
                      <Index>13</Index>
                      <Name>是否统一控编</Name>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_checkboxlistcolumnap</Key>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_isunify</ListFieldId>
                    </CheckBoxListColumnAp>
                    <DateListColumnAp action="edit" oid="4UXR00YMLP/H">
                      <Index>14</Index>
                    </DateListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K4K5N8DW=</Id>
                      <Key>${ISV_FLAG}_listcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>15</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.name</ListFieldId>
                      <Name>创建人</Name>
                    </ListColumnAp>
                    <DateListColumnAp action="edit" oid="4UXR0DK5MBN0">
                      <Index>16</Index>
                    </DateListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K4Y+Q1WPO</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap1</Key>
                      <Order>DESC</Order>
                      <Index>17</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createtime</ListFieldId>
                      <Name>创建时间</Name>
                    </DateListColumnAp>
                    <ListColumnAp action="edit" oid="2A61GQTOBT/Z">
                      <Index>18</Index>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K5/QW2DLS</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>19</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_startmonth</ListFieldId>
                      <Name>开始月份</Name>
                    </DateListColumnAp>
                    <DateListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3J9K51GJYUS5</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>20</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_endmonth</ListFieldId>
                      <Name>结束月份</Name>
                    </DateListColumnAp>
                    <ListOperationColumnAp action="edit" oid="RtPm1c5glr">
                      <Index>21</Index>
                    </ListOperationColumnAp>
                    <MulComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>5GEMNMN+G+WA</Id>
                      <Key>${ISV_FLAG}_mulcombolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>22</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_labeldimension</ListFieldId>
                      <Name>标签维度</Name>
                    </MulComboListColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>3JBF39YOGP28</Id>
                      <Index>2</Index>
                      <Name>编制规划单位.行政组织编码</Name>
                      <FieldName>${ISV_FLAG}_org.number</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilter</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>/IJMOX2KS=4C</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeFilterColumnAp>
                      <Id>3JBF3KR67578</Id>
                      <Index>3</Index>
                      <Name>所属年度</Name>
                      <FieldName>${ISV_FLAG}_year</FieldName>
                      <Key>${ISV_FLAG}_schemefiltercolumnap</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeFilterColumnAp>
                    <SchemeComboFilterColumnAp>
                      <Id>3JBF3U62E2GG</Id>
                      <Index>4</Index>
                      <Name>计划类型</Name>
                      <FieldName>${ISV_FLAG}_plantype</FieldName>
                      <Key>${ISV_FLAG}_schemecombofiltercol</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeComboFilterColumnAp>
                    <DecimalListColumnAp action="remove" oid="2+QFGEE3RJSH"/>
                    <ListColumnAp action="remove" oid="b5994054000028ac"/>
                    <ListColumnAp action="remove" oid="b5994054000029ac"/>
                    <ComboListColumnAp action="remove" oid="UGA0V8HS=6S"/>
                    <ComboListColumnAp action="remove" oid="2+QFDF4TVSQG"/>
                    <CheckBoxListColumnAp action="remove" oid="2+QFDS08YL30"/>
                    <ListColumnAp action="remove" oid="2+QFE2M5CQVF"/>
                  </Items>
                </FormMetadata>
              </ListMeta>
              <Width>80%</Width>
            </BasedataFormAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Index action="reset"/>
            </FlexPanelAp>
            <FieldAp action="edit" oid="h8iout7wGk">
              <ParentId action="reset"/>
            </FieldAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <Height>100%</Height>
              <Index>1</Index>
              <Width>100%</Width>
            </FlexPanelAp>
            <FieldAp action="edit" oid="pphb9d5Rkb">
              <ParentId action="reset"/>
            </FieldAp>
            <FieldAp action="edit" oid="eCzJFq1hic">
              <ParentId action="reset"/>
            </FieldAp>
            <FieldAp action="edit" oid="yKOOludSB7">
              <ParentId action="reset"/>
            </FieldAp>
            <FieldAp>
              <Lock>submit,audit,edit</Lock>
              <Id>8Yst8aT4Tnm6Cdq621</Id>
              <FieldId>8Yst8aT4Tnm6Cdq621</FieldId>
              <Index>1</Index>
              <Name>编制规划单位</Name>
              <Key>${ISV_FLAG}_org</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="h736cFwZ6e">
              <Lock>submit,audit,edit</Lock>
              <Index>2</Index>
              <Name>单据编码</Name>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="8oq6R4m9CF">
              <Index>4</Index>
              <Name>计划名称</Name>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>AvTWg3E8As</Id>
              <FieldId>AvTWg3E8As</FieldId>
              <Index>5</Index>
              <Name>所属年度</Name>
              <Key>${ISV_FLAG}_year</Key>
              <ParentId>9t2AktuTQ9</ParentId>
              <Mask>YYYY</Mask>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>GA6KDMK76S</Id>
              <FieldId>GA6KDMK76S</FieldId>
              <Index>6</Index>
              <Name>开始月份</Name>
              <DisplayFormatString>yyyy-MM</DisplayFormatString>
              <Key>${ISV_FLAG}_startmonth</Key>
              <ParentId>9t2AktuTQ9</ParentId>
              <Mask>YYYY-MM</Mask>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>1j8485QY31</Id>
              <FieldId>1j8485QY31</FieldId>
              <Index>7</Index>
              <Name>结束月份</Name>
              <DisplayFormatString>yyyy-MM</DisplayFormatString>
              <Key>${ISV_FLAG}_endmonth</Key>
              <ParentId>9t2AktuTQ9</ParentId>
              <Mask>YYYY-MM</Mask>
            </FieldAp>
            <FieldAp>
              <Id>mtgZMgvSP0</Id>
              <FieldId>mtgZMgvSP0</FieldId>
              <Index>8</Index>
              <Name>组织层级</Name>
              <Key>${ISV_FLAG}_orghierarchy</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>YY0h14YTER</Id>
              <FieldId>YY0h14YTER</FieldId>
              <Index>9</Index>
              <Name>计划类型</Name>
              <Key>${ISV_FLAG}_plantype</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>mpgwoHUWmSN8wzjR1S</Id>
              <FieldId>mpgwoHUWmSN8wzjR1S</FieldId>
              <Index>10</Index>
              <Name>标签维度</Name>
              <Key>${ISV_FLAG}_labeldimension</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>4T0aW6CAau</Id>
              <FieldId>4T0aW6CAau</FieldId>
              <Index>11</Index>
              <Name>控编方式</Name>
              <Key>${ISV_FLAG}_controlediting</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>uC5DNirnr3</Id>
              <FieldId>uC5DNirnr3</FieldId>
              <Index>12</Index>
              <Name>方式</Name>
              <Key>${ISV_FLAG}_way</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Id>w3uyNpE13a</Id>
              <FieldId>w3uyNpE13a</FieldId>
              <Index>13</Index>
              <Name>人数/百分比</Name>
              <DisplayFormatString/>
              <Key>${ISV_FLAG}_people</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>L0Iv7sS68V</Id>
              <Index>14</Index>
              <Name>%</Name>
              <FontSize>15</FontSize>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>20px</Top>
                      <Left>-45px</Left>
                      <Right>30px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_labelap1</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>t9ygqvZbQn</Id>
              <Index>15</Index>
              <Name>人</Name>
              <FontSize>15</FontSize>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>20px</Top>
                      <Left>-45px</Left>
                      <Right>30px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_labelap</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </LabelAp>
            <FieldAp>
              <Id>S6xXGtWupc</Id>
              <FieldId>S6xXGtWupc</FieldId>
              <Index>16</Index>
              <Name>是否统一控编</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Bottom>22px</Bottom>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_isunify</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="zaveTaE81T">
              <Invisible>true</Invisible>
              <Index>17</Index>
              <ParentId>9t2AktuTQ9</ParentId>
              <FullLine>true</FullLine>
            </FieldAp>
            <FieldAp>
              <Id>xzww6lTDjc</Id>
              <FieldId>xzww6lTDjc</FieldId>
              <Index>18</Index>
              <Name>单选按钮组</Name>
              <Key>${ISV_FLAG}_radiogroupfield</Key>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="ac5Y5Dax1q">
              <Invisible>true</Invisible>
              <Index>19</Index>
              <Name>编制状态</Name>
              <ParentId>9t2AktuTQ9</ParentId>
            </FieldAp>
            <HisModelConfigAp action="edit" oid="Ow0tkep1xSYysr4aDy">
              <modelType>2</modelType>
            </HisModelConfigAp>
            <BarItemAp action="edit" oid="PubXYtLD8J">
              <Visible/>
            </BarItemAp>
            <BarItemAp action="edit" oid="HVX5nv5C2i">
              <Invisible>true</Invisible>
              <DropdownItems>
                <DropdownItem action="edit" oid="T2KSKUUDTCT">
                  <Visible>,init,view,submit,audit,new,edit,</Visible>
                  <Index>1</Index>
                </DropdownItem>
              </DropdownItems>
            </BarItemAp>
            <BarItemAp action="edit" oid="evV9jbiOYW">
              <Name>取消</Name>
            </BarItemAp>
            <FlexPanelAp>
              <Collapsible>true</Collapsible>
              <Id>9t2AktuTQ9</Id>
              <Index>2</Index>
              <Name>基本信息</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
              <ContainerType>FlexPanelAp</ContainerType>
              <ParentId>PxNfkkak4s</ParentId>
            </FlexPanelAp>
            <FieldsetPanelAp action="remove" oid="I8M9X0FOPr"/>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2360186724526865408</ModifierId>
      <EntityId>3J9I/WMVJSQZ</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767063726768</Version>
      <ParentId>2/TYOWOSM0TE</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planmonth</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>3J9I/WMVJSQZ</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1767063726872</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>3J9I/WMVJSQZ</Id>
          <ParentId>2/TYOWOSM0TE</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>月度编制计划</Name>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <Rules>
                <BizRule>
                  <FalseActions>
                    <ClearValueAction>
                      <RET>253</RET>
                      <ActionType>ClearValueAction</ActionType>
                      <Expression>${ISV_FLAG}_startmonth:${ISV_FLAG}_endmonth</Expression>
                      <Description>清除指定字段值</Description>
                      <Id>3YOLMW6G6JEU</Id>
                    </ClearValueAction>
                  </FalseActions>
                  <PreDescription>开始结束月默认赋值</PreDescription>
                  <TrueActions>
                    <FormulaAction>
                      <RET>253</RET>
                      <ActionType>FormulaAction</ActionType>
                      <Expression>${ISV_FLAG}_startmonth = DATEADD('Month', 0, ${ISV_FLAG}_year)</Expression>
                      <Description>开始月为所选择一月</Description>
                      <Id>3YOLMW6G8MWV</Id>
                    </FormulaAction>
                    <FormulaAction>
                      <RET>253</RET>
                      <ActionType>FormulaAction</ActionType>
                      <Expression>${ISV_FLAG}_endmonth = DATEADD('Month', 11, ${ISV_FLAG}_year)</Expression>
                      <Description>结束月为所选月12月</Description>
                      <Id>3YOLMW6G6JEV</Id>
                    </FormulaAction>
                  </TrueActions>
                  <Description>开始结束月默认赋值</Description>
                  <Id>3YOD27E89NHF</Id>
                  <PreCondition>${ISV_FLAG}_year &lt;&gt; null</PreCondition>
                  <Seq>1</Seq>
                </BizRule>
                <BizRule>
                  <PreDescription>百分比换算</PreDescription>
                  <TrueActions>
                    <FormulaAction>
                      <RET>253</RET>
                      <ActionType>FormulaAction</ActionType>
                      <Expression>${ISV_FLAG}_percent = 10</Expression>
                      <Description>计算定义公式的值并填写到指定列</Description>
                      <Id>3YUK7S0KAQS4</Id>
                    </FormulaAction>
                  </TrueActions>
                  <Description>百分比换算</Description>
                  <Enabled>false</Enabled>
                  <Id>3YUK3PLTUGY4</Id>
                  <PreCondition>1=1</PreCondition>
                  <Seq>2</Seq>
                </BizRule>
              </Rules>
              <TableName>tk_tdkw_planmonth</TableName>
              <PermissionItems>
                <PermissionItem action="edit" oid="47165e8e000000ac">
                  <Index>9</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc5d000000ac">
                  <Index>10</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9f000004ae">
                  <Index>11</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>0=KX5+R0OZPJ</ItemId>
                  <Index>12</Index>
                </PermissionItem>
              </PermissionItems>
              <Id>3J9I/WMVJSQZ</Id>
              <Name>月度编制计划</Name>
              <PermissionDimension>
                <PermissionDimension>
                  <DataDimensionField>${ISV_FLAG}_org</DataDimensionField>
                  <Id>uEQpy08U</Id>
                  <DataDimension>8Yst8aT4Tnm6Cdq621</DataDimension>
                  <DimensionControl>DIM_ORG</DimensionControl>
                </PermissionDimension>
              </PermissionDimension>
              <Template action="reset"/>
              <PermissionControl>
                <PermissionControl>
                  <Id>H5KIumyE</Id>
                </PermissionControl>
              </PermissionControl>
              <Operations>
                <Operation action="edit" oid="b599405400001aac">
                  <Plugins>
                    <Plugin action="edit" oid="kd.hr.hbp.opplugin.web.config.HRBaseOriginalOp">
                      <RowKey>6</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanMonthSaveOp</ClassName>
                      <BizAppId/>
                      <Description>同一编制规划单位，编制计划之间开始月份与结束月份不得有交集</Description>
                      <RowKey>8</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanSaveOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>编制计划保存时使用状态默认禁用</Description>
                      <RowKey>9</RowKey>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <SaveParameter>
                      <AfterOperation>close</AfterOperation>
                    </SaveParameter>
                  </Parameter>
                  <Validations>
                    <ConditionValidation>
                      <Expression>${ISV_FLAG}_startmonth &gt; ${ISV_FLAG}_endmonth</Expression>
                      <Description>开始时间不能大于结束时间</Description>
                      <Message>开始月份不能大于结束月份</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3VZ0PG=9BVZ9</Id>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001bac">
                  <Validations>
                    <ConditionValidation action="edit" oid="f789ca66000000ac">
                      <Expression>enable = '1'</Expression>
                      <Description>数据已经启用，不能删除。</Description>
                      <Message>数据已经启用，不能删除。</Message>
                    </ConditionValidation>
                    <CustValidation action="edit" oid="2+RE4J37K857">
                      <Enabled action="reset"/>
                    </CustValidation>
                    <ConditionValidation>
                      <Expression>enable = '0'</Expression>
                      <Description>数据已经禁用，不能删除。</Description>
                      <Message>数据已经禁用，不能删除。</Message>
                      <RuleType>FormValidate</RuleType>
                      <Id>4+IOQLVMBWAR</Id>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001eac">
                  <Validations>
                    <ConditionValidation>
                      <Expression>enable &lt;&gt; '1'</Expression>
                      <Description>未启用数据无法禁用</Description>
                      <Message>计划未启用，无法禁用</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3ZGU=JLFGA+9</Id>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001fac">
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanUrgeOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>编制计划启用时发送消息</Description>
                      <RowKey>2</RowKey>
                    </Plugin>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanMonthSaveOp</ClassName>
                      <BizAppId/>
                      <Description>月度编制计划 保存和启用时校验: 同一编制规划单位，编制计划之间开始月份与结束月份不得有交集</Description>
                      <RowKey>3</RowKey>
                    </Plugin>
                  </Plugins>
                  <Key>monthenable</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>0=KX5+R0OZPJ</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanUrgeOp</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>发送催办消息</Description>
                    </Plugin>
                  </Plugins>
                  <ConfirmMsg/>
                  <PermissionItemId>0=KX5+R0OZPJ</PermissionItemId>
                  <Name>催办</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3JBDIAMHZKYB</Id>
                  <SuccessMsg>催办成功</SuccessMsg>
                  <Validations>
                    <ConditionValidation>
                      <Expression>enable = '0'</Expression>
                      <Description>合法性校验</Description>
                      <Message>请选择启用数据</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>3JBDFR=NG1U=</Id>
                    </ConditionValidation>
                  </Validations>
                  <Key>urge</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>年编制计划明细</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3JBH8E/O/XCH</Id>
                  <SuccessMsg/>
                  <Key>compilationplan</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>月编制计划明细</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3YGJPREHZIHI</Id>
                  <SuccessMsg/>
                  <Key>monthplan</Key>
                </Operation>
                <Operation>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.odc.homs.opplugin.CompilationPlanUrgeOp2</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>测试使用</Description>
                    </Plugin>
                  </Plugins>
                  <ConfirmMsg/>
                  <Name>启用-修改代码测试</Name>
                  <OperationType>donothing</OperationType>
                  <Id>5GE4TCA3U=9D</Id>
                  <SuccessMsg/>
                  <Key>qycs</Key>
                </Operation>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <Key>${ISV_FLAG}_planmonth</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
              <KFlowRules>[]</KFlowRules>
            </BaseEntity>
            <TextField action="edit" oid="h736cFwZ6e">
              <Name>单据编码</Name>
            </TextField>
            <MuliLangTextField action="edit" oid="8oq6R4m9CF">
              <Name>计划名称</Name>
            </MuliLangTextField>
            <BillStatusField action="edit" oid="ac5Y5Dax1q">
              <StatusItems>
                <StatusItem action="edit" oid="2">
                  <statusname>启用</statusname>
                </StatusItem>
                <StatusItem action="edit" oid="3">
                  <statuskey>2</statuskey>
                </StatusItem>
              </StatusItems>
              <DefValue>0</DefValue>
              <Name>编制状态</Name>
            </BillStatusField>
            <MuliLangTextField action="edit" oid="zaveTaE81T">
              <MaxLength>500</MaxLength>
            </MuliLangTextField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>AvTWg3E8As</Id>
              <Name>所属年度</Name>
              <MinDate>2024-01-01 00:00:00</MinDate>
              <FieldName>fk_tdkw_year</FieldName>
              <Key>${ISV_FLAG}_year</Key>
              <MustInput>true</MustInput>
              <MaxDate/>
            </DateField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>GA6KDMK76S</Id>
              <Name>开始月份</Name>
              <FieldName>fk_tdkw_startmonth</FieldName>
              <Key>${ISV_FLAG}_startmonth</Key>
              <MustInput>true</MustInput>
            </DateField>
            <DateField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>1j8485QY31</Id>
              <Name>结束月份</Name>
              <FieldName>fk_tdkw_endmonth</FieldName>
              <Key>${ISV_FLAG}_endmonth</Key>
              <MustInput>true</MustInput>
            </DateField>
            <ComboField>
              <FieldName>fk_tdkw_orghierarchy</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>mtgZMgvSP0</Id>
              <Key>${ISV_FLAG}_orghierarchy</Key>
              <MustInput>true</MustInput>
              <Name>组织层级</Name>
              <Items>
                <ComboItem>
                  <Caption>一级</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>二级</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>三级</Caption>
                  <Value>3</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>四级</Caption>
                  <Value>4</Value>
                  <Seq>3</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>五级</Caption>
                  <Value>5</Value>
                  <Seq>4</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>六级</Caption>
                  <Value>6</Value>
                  <Seq>5</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_controlediting</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>4T0aW6CAau</Id>
              <Key>${ISV_FLAG}_controlediting</Key>
              <MustInput>true</MustInput>
              <Name>控编方式</Name>
              <Items>
                <ComboItem>
                  <Caption>允许超编</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>不允许超编</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>弹性控编</Caption>
                  <Value>3</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <RadioGroupField>
              <FieldName>fk_tdkw_radiogroupfield</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>xzww6lTDjc</Id>
              <Key>${ISV_FLAG}_radiogroupfield</Key>
              <Name>单选按钮组</Name>
            </RadioGroupField>
            <CheckBoxField>
              <FieldName>fk_tdkw_isunify</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>S6xXGtWupc</Id>
              <Key>${ISV_FLAG}_isunify</Key>
              <Name>是否统一控编</Name>
            </CheckBoxField>
            <ComboField>
              <FieldName>fk_tdkw_plantype</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>YY0h14YTER</Id>
              <Key>${ISV_FLAG}_plantype</Key>
              <MustInput>true</MustInput>
              <DefValue>1</DefValue>
              <Name>计划类型</Name>
              <Items>
                <ComboItem>
                  <Caption>月度计划</Caption>
                  <Value>1</Value>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_way</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>uC5DNirnr3</Id>
              <Key>${ISV_FLAG}_way</Key>
              <Name>方式</Name>
              <Items>
                <ComboItem>
                  <Caption>百分比</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>人数</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>w3uyNpE13a</Id>
              <DefValue>0</DefValue>
              <Name>人数/百分比</Name>
              <FieldName>fk_tdkw_peoplecount</FieldName>
              <Key>${ISV_FLAG}_people</Key>
            </IntegerField>
            <MulComboField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>mpgwoHUWmSN8wzjR1S</Id>
              <Name>标签维度</Name>
              <Items>
                <ComboItem>
                  <Caption>用工关系类型</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>一线非一线</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
              <FieldName>fk_tdkw_labeldimension</FieldName>
              <Key>${ISV_FLAG}_labeldimension</Key>
              <MustInput>true</MustInput>
            </MulComboField>
            <OrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>8Yst8aT4Tnm6Cdq621</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>编制规划单位</Name>
              <FieldName>fk_tdkw_org</FieldName>
              <OrgFuncs>21</OrgFuncs>
              <Key>${ISV_FLAG}_org</Key>
              <MustInput>true</MustInput>
              <Filter>
                <FilterCondition>
                  <Filter/>
                </FilterCondition>
              </Filter>
              <BaseEntityId>73f9bf0200001dac</BaseEntityId>
            </OrgField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767063726872</Version>
      <ParentId>2/TYOWOSM0TE</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planmonth</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>3J9I/WMVJSQZ</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2/TYOWOSM0TE</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1767063726768</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
