<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3J9I/WMVJSQZ</MasterId>
  <Id>3J9I/WMVJSQZ</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planmonth</Number>
      <PkId>5GH7/JTICW7N</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>月度编制计划</Name>
      <Id>3J9I/WMVJSQZ</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planmonth</Number>
      <PkId>5GH7/K/I9O8S</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>月度编制计划</Name>
      <Id>3J9I/WMVJSQZ</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767063726768</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
