<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3ZX3ZZ4TPARM</MasterId>
  <Id>3ZX3ZZ4TPARM</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_plancollect</Number>
      <PkId>5F+5KFSG4Q22</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>年度编制职级汇总表</Name>
      <Id>3ZX3ZZ4TPARM</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_plancollect</Number>
      <PkId>5F+5KFU4=YY8</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>年度编制职级汇总表</Name>
      <Id>3ZX3ZZ4TPARM</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765594749778</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
