<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3Y+B7PD=LKSO</MasterId>
  <Id>3Y+B7PD=LKSO</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planmonth_bill</Number>
      <PkId>5G+20V/DA=LF</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>月度编制信息管理</Name>
      <Id>3Y+B7PD=LKSO</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planmonth_bill</Number>
      <PkId>5G+20VB7JNL/</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>月度编制信息管理</Name>
      <Id>3Y+B7PD=LKSO</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1766562910566</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
