<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3ZX4JA37F8BL</MasterId>
  <Id>3ZX4JA37F8BL</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_plancollect3</Number>
      <PkId>5F+IY37WVG0C</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>年度编制岗位属性表</Name>
      <Id>3ZX4JA37F8BL</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_plancollect3</Number>
      <PkId>5F+IY39K863O</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>年度编制岗位属性表</Name>
      <Id>3ZX4JA37F8BL</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765603905254</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
