<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3VL68+WTYR4Y</MasterId>
  <Id>3VL68+WTYR4Y</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planyear_detail</Number>
      <PkId>5GYGFXQM0+MW</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>年度编制详情</Name>
      <Id>3VL68+WTYR4Y</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planyear_detail</Number>
      <PkId>5GYGFY+NOX80</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>年度编制详情</Name>
      <Id>3VL68+WTYR4Y</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767493390843</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
