<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3W3P9CUBVEE2</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>3W3P9CUBVEE2</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605322399</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Id>3W3P9CUBVEE2</Id>
          <Key>${ISV_FLAG}_planyear_detail_pc</Key>
          <ParentId>3VL68+WTYR4Y</ParentId>
          <Name>编制审批页面</Name>
          <InheritPath>00305e8b000006ac,0LI5VZUESHUD,3VL68+WTYR4Y</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>yxJ0pkrL</FPK>
                          <ClassName>3W3P9CUBVEE2_moblist_yxJ0pkrL</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_detail_pc_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>编制审批页面</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3W3P9CUBVEE2</Id>
              <Name>编制审批页面</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>uBKNRAWc</FPK>
                  <ClassName>3W3P9CUBVEE2_uBKNRAWc</ClassName>
                  <SourceNumber>${ISV_FLAG}_planyear_detail_pc</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>编制审批页面</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_planyear_detail_pc</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>U7z1cuHC</FPK>
                          <ClassName>3W3P9CUBVEE2_mob_U7z1cuHC</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_detail_pc_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>编制审批页面</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>xYWkVCGa</FPK>
                          <ClassName>3W3P9CUBVEE2_list_xYWkVCGa</ClassName>
                          <SourceNumber>${ISV_FLAG}_planyear_detail_pc_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>编制审批页面</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
            <TabPageAp action="edit" oid="CR9aNiWJFC">
              <Index action="reset"/>
            </TabPageAp>
            <TabPageAp action="edit" oid="80NEEBxDA1">
              <Index>1</Index>
            </TabPageAp>
            <FlexPanelAp action="edit" oid="sb5ReliwR1">
              <BackColor>#ffffff</BackColor>
            </FlexPanelAp>
            <FieldAp action="edit" oid="Ea1Qa49hqwZ5lZsYUj">
              <Index>13</Index>
            </FieldAp>
            <FieldAp action="edit" oid="3JI68HVdx4GDg3q8h9">
              <Index>14</Index>
            </FieldAp>
            <FieldAp action="edit" oid="Y7Eg2fUfYhVn4HTu1d">
              <Index>15</Index>
            </FieldAp>
            <FieldAp action="edit" oid="BQSZEFXGOyDamjn9St">
              <Index>16</Index>
            </FieldAp>
            <FieldAp action="edit" oid="siE7f6zohs0OsH5Ph5">
              <Invisible>true</Invisible>
            </FieldAp>
            <FieldsetPanelAp action="edit" oid="mqK0FWAH2I">
              <Invisible action="reset"/>
            </FieldsetPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>3VL68+WTYR4Y</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605322399</Version>
      <ParentId>3VL68+WTYR4Y</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_planyear_detail_pc</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>3W3P9CUBVEE2</Id>
      <InheritPath>00305e8b000006ac,0LI5VZUESHUD,3VL68+WTYR4Y</InheritPath>
    </DesignFormMeta>
  </DesignMetas>
  <Version>1765605322399</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
