<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3J2TPW/MLRX0</MasterId>
  <Id>3J2TPW/MLRX0</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planyear</Number>
      <PkId>5GH7+KTZMU/W</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>年度编制计划</Name>
      <Id>3J2TPW/MLRX0</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_planyear</Number>
      <PkId>5GH7+L3S2G0+</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>年度编制计划</Name>
      <Id>3J2TPW/MLRX0</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767063710829</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
