<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>460L8TCTJ79M</MasterId>
  <Id>460L8TCTJ79M</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_planyear_pc</Number>
      <PkId>5F+L5S2N5EQV</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>年度编制计划</Name>
      <Id>460L8TCTJ79M</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
  </DesignMetas>
  <Version>1765605339335</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
