<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3W6+IZU3IX28</MasterId>
  <Id>3W6+IZU3IX28</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_plan_persons</Number>
      <PkId>5GF7N=49P7RC</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>在岗人员名单</Name>
      <Id>3W6+IZU3IX28</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_plan_persons</Number>
      <PkId>5GF7N=8N5U9H</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>在岗人员名单</Name>
      <Id>3W6+IZU3IX28</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767014366583</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
