<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>37M03OURTEF/</MasterId>
  <Id>37M03OURTEF/</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_post_aisle</Number>
      <PkId>5F+L6FOOXIDV</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>岗位通道</Name>
      <Id>37M03OURTEF/</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_post_aisle</Number>
      <PkId>5F+L6FTEQFLY</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>岗位通道</Name>
      <Id>37M03OURTEF/</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765605350496</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
