<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>37M03OURTEF/</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>37M03OURTEF/</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605350496</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>37M03OURTEF/</Id>
          <Key>${ISV_FLAG}_post_aisle</Key>
          <EntityId>37M03OURTEF/</EntityId>
          <ParentId>ab7efc31000015ac</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>岗位通道</Name>
          <InheritPath>1942c188000065ac,ab7efc31000015ac</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <Plugins>
                <Plugin action="edit" oid="kd.bos.form.plugin.CodeRulePlugin">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                </Plugin>
                <Plugin action="edit" oid="dev.tpl.base.kd.bos.form.plugin.templatebaseedit">
                  <Description/>
                  <RowKey>1</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.bos.form.plugin.bdctrl.BdCtrlStrtgyShowLogicPlugin">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                  <RowKey>2</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.bos.form.plugin.bdctrl.BaseDataCreateOrgPlugin">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                  <RowKey>3</RowKey>
                </Plugin>
                <Plugin action="edit" oid="kd.bos.form.plugin.bdctrl.BaseDataFormPlugin">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                  <RowKey>4</RowKey>
                </Plugin>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.odc.hjm.formplugin.PostAisleEditPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>岗位通道控制策略修改查看不可编辑</Description>
                  <RowKey>5</RowKey>
                </Plugin>
              </Plugins>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b252b844000004ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>Tfg5HB3d</FPK>
                          <ClassName>37M03OURTEF/_moblist_Tfg5HB3d</ClassName>
                          <SourceNumber>${ISV_FLAG}_post_aisle_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>岗位通道</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>37M03OURTEF/</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>37M03OURTEF/</Id>
              <Height>330px</Height>
              <Name>岗位通道</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>7SUUPACu</FPK>
                  <ClassName>37M03OURTEF/_7SUUPACu</ClassName>
                  <SourceNumber>${ISV_FLAG}_post_aisle</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>岗位通道</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_post_aisle</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>ZAKBtWb9</FPK>
                          <ClassName>37M03OURTEF/_mob_ZAKBtWb9</ClassName>
                          <SourceNumber>${ISV_FLAG}_post_aisle_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>岗位通道</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Name>岗位通道</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <ShowType>Modal</ShowType>
                      <Name>岗位通道</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>mQxxqZop</FPK>
                          <ClassName>37M03OURTEF/_list_mQxxqZop</ClassName>
                          <SourceNumber>${ISV_FLAG}_post_aisle_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>岗位通道</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="C1IXIpJx1c">
                      <Index action="reset"/>
                      <DropdownItems>
                        <DropdownItem action="remove" oid="PQLEDWKM3DH"/>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>aRsN9D6gqZ</Id>
                      <Index>1</Index>
                      <Name>删除</Name>
                      <OperationKey>delete</OperationKey>
                      <Key>${ISV_FLAG}_baritemap</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>XS2QDVXR8Z</Id>
                      <Index>2</Index>
                      <Name>修改</Name>
                      <OperationKey>modify</OperationKey>
                      <Key>${ISV_FLAG}_baritemap1</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A3zkgmttgA">
                      <Index>3</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ljHCrTftFD">
                      <Index>4</Index>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="1X50NMAJS85D">
                          <OperationKey>unassign</OperationKey>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="/OWP7KJ3/9/S">
                          <Index>2</Index>
                          <OperationKey>assigns</OperationKey>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="0GW=QXYJ5F7X">
                          <Index>3</Index>
                          <OperationKey>assigns</OperationKey>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="0NTAMBZ44/TG">
                          <Index>4</Index>
                          <OperationKey>assigns</OperationKey>
                        </DropdownItem>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="OfsH5jjBXk">
                      <Index>5</Index>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="0CO7IIL481W7">
                          <Title>空操作</Title>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="0DYIJ9N=PTMT">
                          <OperationKey>manage</OperationKey>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="0QGJ134T3SEA">
                          <Title>管理</Title>
                          <OperationKey>manage</OperationKey>
                        </DropdownItem>
                      </DropdownItems>
                      <OperationKey>manage</OperationKey>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0gAY5TLeX3">
                      <Index>6</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="UlRxLeBKL1">
                      <Index>7</Index>
                    </BarItemAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>37M03OURTEF/</EntityId>
                    </BillListAp>
                    <CommonFilterColumnAp action="edit" oid="f31a499a0000d2ac">
                      <ComboItems>
                        <ComboItem>
                          <Caption>待启用</Caption>
                          <Value>-1</Value>
                          <Seq>2</Seq>
                        </ComboItem>
                      </ComboItems>
                    </CommonFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>3=3TRB2UC69G</Id>
                      <Index>2</Index>
                      <Name>创建组织</Name>
                      <FieldName>createorg.name</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafiltercolumnap</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>73f9bf0200001dac</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>3=3TQ4/V4A9T</Id>
                      <Key>${ISV_FLAG}_listcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>1</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createorg.name</ListFieldId>
                      <Name>创建组织</Name>
                    </ListColumnAp>
                    <ListColumnAp action="edit" oid="b5994054000028ac">
                      <Index>2</Index>
                      <Name>通道编码</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>37MBEBDC=ZL/</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_abbreviation</ListFieldId>
                      <Name>通道简称</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>37MBFMY+016H</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>name</ListFieldId>
                      <Name>通道全称</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>37MBLGD/H478</Id>
                      <Key>${ISV_FLAG}_listcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Visible/>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_describe</ListFieldId>
                      <Name>描述</Name>
                    </ListColumnAp>
                    <ComboListColumnAp action="edit" oid="UGA0V8HS=6S">
                      <Index>6</Index>
                    </ComboListColumnAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>37MBM=VPIROX</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>7</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>ctrlstrategy</ListFieldId>
                      <Name>控制策略</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4/WQ28YFB6Q1</Id>
                      <Key>${ISV_FLAG}_listcolumnap4</Key>
                      <Order>NotOrder</Order>
                      <Index>8</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>useorg.name</ListFieldId>
                      <Name>业务组织.名称</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX12TBGDT5K</Id>
                      <Key>${ISV_FLAG}_listcolumnap5</Key>
                      <Order>NotOrder</Order>
                      <Index>9</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.number</ListFieldId>
                      <Name>创建人.工号</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX12VI24LWQ</Id>
                      <Key>${ISV_FLAG}_listcolumnap6</Key>
                      <Order>NotOrder</Order>
                      <Index>10</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.name</ListFieldId>
                      <Name>创建人.姓名</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX13+Y0NRS2</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>11</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createtime</ListFieldId>
                      <Name>创建时间</Name>
                    </DateListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX1316CB4+H</Id>
                      <Key>${ISV_FLAG}_listcolumnap7</Key>
                      <Order>NotOrder</Order>
                      <Index>12</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>modifier.number</ListFieldId>
                      <Name>修改人.工号</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX132U8GF3K</Id>
                      <Key>${ISV_FLAG}_listcolumnap8</Key>
                      <Order>NotOrder</Order>
                      <Index>13</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>modifier.name</ListFieldId>
                      <Name>修改人.姓名</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4BX134P0LG5B</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>14</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>modifytime</ListFieldId>
                      <Name>修改时间</Name>
                    </DateListColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>3=3TRB2UC8=8</Id>
                      <Index>1</Index>
                      <Name>创建组织.名称</Name>
                      <FieldName>createorg.name</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafiltercolumnap</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>73f9bf0200001dac</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <BarItemAp action="remove" oid="FUMD89PFCB"/>
                    <BarItemAp action="remove" oid="rQ81rnW9l8"/>
                    <BarItemAp action="remove" oid="ms32Hsufcq"/>
                    <BarItemAp action="remove" oid="BTjy6Ie3Bc"/>
                    <BarItemAp action="remove" oid="NVARV5u7I4"/>
                    <BarItemAp action="remove" oid="v71lQcKgcH"/>
                    <ListColumnAp action="remove" oid="b5994054000029ac"/>
                  </Items>
                </FormMetadata>
              </ListMeta>
              <Width>600px</Width>
            </BasedataFormAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Invisible>true</Invisible>
              <Visible/>
              <Index action="reset"/>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <AlignContent>flex-start</AlignContent>
              <JustifyContent>flex-start</JustifyContent>
              <BackColor>#ffffff</BackColor>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                      <Right action="reset"/>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>6J7aARMu6N</Id>
              <Height>50px</Height>
              <Grow>0</Grow>
              <AlignItems>center</AlignItems>
              <Shrink>0</Shrink>
              <Index>2</Index>
              <JustifyContent>center</JustifyContent>
              <BackColor>#ffffff</BackColor>
              <Name>按钮区</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <ToolbarAp action="edit" oid="IDHr4o2NNH">
              <AlignSelf>center</AlignSelf>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <ParentId>6J7aARMu6N</ParentId>
            </ToolbarAp>
            <FieldAp action="edit" oid="YgMJgrpUsm">
              <Lock/>
            </FieldAp>
            <FieldAp action="edit" oid="h736cFwZ6e">
              <Lock/>
              <Name>通道编码</Name>
            </FieldAp>
            <FieldAp>
              <Lock/>
              <Id>rz2m54xCLY</Id>
              <FieldId>rz2m54xCLY</FieldId>
              <Index>2</Index>
              <Name>通道简称</Name>
              <Key>${ISV_FLAG}_abbreviation</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="8oq6R4m9CF">
              <Lock/>
              <Index>3</Index>
              <Name>通道全称</Name>
            </FieldAp>
            <FieldAp action="edit" oid="AkId5S4yTs">
              <Invisible>true</Invisible>
              <Index>4</Index>
            </FieldAp>
            <FieldAp action="edit" oid="ac5Y5Dax1q">
              <Invisible>true</Invisible>
              <Index>5</Index>
            </FieldAp>
            <FieldAp action="edit" oid="jiRpZNc99A">
              <Invisible>true</Invisible>
              <Visible/>
              <Index>6</Index>
            </FieldAp>
            <FieldAp action="edit" oid="AdVIkjJWrL">
              <Invisible>true</Invisible>
              <Index>7</Index>
            </FieldAp>
            <FieldAp action="edit" oid="7WAfe0bdMp">
              <Lock/>
              <Index>8</Index>
            </FieldAp>
            <FieldAp>
              <Lock/>
              <Id>dGde3fitTH</Id>
              <FieldId>dGde3fitTH</FieldId>
              <Index>9</Index>
              <Name>描述</Name>
              <Key>${ISV_FLAG}_describe</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <BarItemAp action="edit" oid="4CNTAsZdaN">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </BarItemAp>
            <BarItemAp>
              <Invisible>true</Invisible>
              <Id>gQ6NW0mVUf</Id>
              <Visible/>
              <Index>1</Index>
              <Name>新增</Name>
              <Key>${ISV_FLAG}_baritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>IDHr4o2NNH</ParentId>
            </BarItemAp>
            <BarItemAp action="edit" oid="V8H211iajj">
              <Invisible>true</Invisible>
              <Visible>init,edit,view</Visible>
              <Index>2</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="PubXYtLD8J">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </BarItemAp>
            <BarItemAp action="edit" oid="zlTJbHhEqT">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="HVX5nv5C2i">
              <Invisible>true</Invisible>
              <Index>5</Index>
            </BarItemAp>
            <BarItemAp>
              <Id>0HyJ1P5MJy</Id>
              <Index>6</Index>
              <ForeColor>#000000</ForeColor>
              <BackColor>#ffffff</BackColor>
              <Name>取消</Name>
              <OperationKey>close</OperationKey>
              <Key>${ISV_FLAG}_baritemap2</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>IDHr4o2NNH</ParentId>
              <Width>70px</Width>
            </BarItemAp>
            <BarItemAp action="edit" oid="z20rAqlGP8">
              <Invisible>true</Invisible>
              <Index>7</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="8XYTQ7uc8H">
              <Invisible>true</Invisible>
              <Index>8</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="TK7j147AL2">
              <Invisible>true</Invisible>
              <Index>9</Index>
            </BarItemAp>
            <BarItemAp>
              <Invisible>true</Invisible>
              <Id>GHgaNqlJka</Id>
              <Index>10</Index>
              <Name>刷新</Name>
              <Key>${ISV_FLAG}_baritemap1</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>IDHr4o2NNH</ParentId>
            </BarItemAp>
            <BarItemAp action="edit" oid="evV9jbiOYW">
              <Invisible>true</Invisible>
              <Index>11</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="ZcIwi70dTc">
              <Visible>init,new,edit,submit,audit</Visible>
              <Index>12</Index>
              <Width>70px</Width>
            </BarItemAp>
            <FieldsetPanelAp action="edit" oid="STdfsCCFTj">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </FieldsetPanelAp>
            <FieldsetPanelAp action="edit" oid="I8M9X0FOPr">
              <Collapsible action="reset"/>
              <AlignSelf>center</AlignSelf>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <BackColor>#ffffff</BackColor>
              <Name>新增岗位通道</Name>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Top>40px</Top>
                      <Left>50px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <ContainerType>FlexPanelAp</ContainerType>
            </FieldsetPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>37M03OURTEF/</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605350496</Version>
      <ParentId>ab7efc31000015ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_post_aisle</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>37M03OURTEF/</Id>
      <InheritPath>1942c188000065ac,ab7efc31000015ac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605350558</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>37M03OURTEF/</Id>
          <ParentId>ab7efc31000015ac</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>岗位通道</Name>
          <InheritPath>1942c188000065ac,ab7efc31000015ac</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <dbRoute>hr</dbRoute>
              <TableName>tk_tdkw_post_aisle</TableName>
              <PermissionItems>
                <PermissionItem>
                  <ItemId>2RG6EYPM+7U+</ItemId>
                  <Index>15</Index>
                </PermissionItem>
              </PermissionItems>
              <Id>37M03OURTEF/</Id>
              <Name>岗位通道</Name>
              <PermissionDimension>
                <PermissionDimension>
                  <DataDimensionField>useorg</DataDimensionField>
                  <Id>z8mllG24</Id>
                  <DataDimension>AdVIkjJWrL</DataDimension>
                </PermissionDimension>
              </PermissionDimension>
              <Template action="reset"/>
              <PermissionControl>
                <PermissionControl>
                  <Id>bMKz7VGJ</Id>
                </PermissionControl>
              </PermissionControl>
              <Operations>
                <Operation action="edit" oid="b5994054000016ac">
                  <Parameter>
                    <OpenFormParameter>
                      <Form>37M03OURTEF/</Form>
                      <ShowType>6</ShowType>
                      <ModelType>base</ModelType>
                      <MobileBillNumber/>
                      <TargetKey/>
                    </OpenFormParameter>
                  </Parameter>
                  <Name>跳转页面</Name>
                  <OperationType>openform</OperationType>
                  <Key>openform</Key>
                </Operation>
                <Operation action="edit" oid="b599405400001aac">
                  <Plugins>
                    <Plugin action="edit" oid="kd.bos.form.plugin.bdctrl.BaseDataSavePlugin">
                      <FPK/>
                      <BizAppId/>
                      <Description/>
                      <RowKey>1</RowKey>
                    </Plugin>
                    <Plugin action="edit" oid="kd.bos.base.bdversion.BdVersionSaveServicePlugin">
                      <RowKey>2</RowKey>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <SaveParameter>
                      <AfterOperation>close</AfterOperation>
                    </SaveParameter>
                  </Parameter>
                  <Validations>
                    <ConditionValidation action="remove" oid="1VRALXJOVNKD"/>
                    <GrpfieldsuniqueValidation action="remove" oid="0+/SL/MZ=VJB"/>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b599405400001bac">
                  <Validations>
                    <ConditionValidation action="edit" oid="1cc0054f000016ac">
                      <Enabled action="reset"/>
                    </ConditionValidation>
                    <ConditionValidation action="edit" oid="f789ca66000000ac">
                      <Expression>enable = '1'</Expression>
                      <Message>数据已经启用，不能删除。</Message>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="QQJ9VPEIWE2">
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>2RG6EYPM+7U+</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <PermissionItemId>2RG6EYPM+7U+</PermissionItemId>
                </Operation>
                <Operation action="edit" oid="QQJATA099TH">
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>2RG6EYPM+7U+</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <PermissionItemId>2RG6EYPM+7U+</PermissionItemId>
                </Operation>
                <Operation action="edit" oid="0DACD6GQT/MR">
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>4730fc9f000000ac</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <PermissionItemId>4730fc9f000000ac</PermissionItemId>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>47156aff000000ac</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>47156aff000000ac</PermissionItemId>
                  <Name>新增</Name>
                  <OperationType>new</OperationType>
                  <Id>37MK7J9TGFW+</Id>
                  <SuccessMsg/>
                  <Key>new</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>4730fc9f000000ac</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>4730fc9f000000ac</PermissionItemId>
                  <Name>管理</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3OW88R8IQU4B</Id>
                  <SuccessMsg/>
                  <Key>manage</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>2RG6EYPM+7U+</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>2RG6EYPM+7U+</PermissionItemId>
                  <Name>分配</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3OW9JWPR3YXC</Id>
                  <SuccessMsg/>
                  <Key>assigns</Key>
                </Operation>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <BasedataControllers>
                <Plugin action="remove" oid="kd.bos.form.plugin.bdctrl.BasedataFilterController"/>
              </BasedataControllers>
              <Key>${ISV_FLAG}_post_aisle</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
            </BaseEntity>
            <TextField action="edit" oid="h736cFwZ6e">
              <Name>通道编码</Name>
            </TextField>
            <MuliLangTextField action="edit" oid="8oq6R4m9CF">
              <Name>通道全称</Name>
              <MaxLength>100</MaxLength>
              <GL>true</GL>
            </MuliLangTextField>
            <BillStatusField action="edit" oid="AkId5S4yTs">
              <DefValue>C</DefValue>
            </BillStatusField>
            <BillStatusField action="edit" oid="ac5Y5Dax1q">
              <StatusItems>
                <StatusItem>
                  <statuskey>-1</statuskey>
                  <statusname>待启用</statusname>
                  <Id>3</Id>
                </StatusItem>
              </StatusItems>
              <DefValue>-1</DefValue>
            </BillStatusField>
            <OrgField action="edit" oid="YgMJgrpUsm">
              <OrgFuncs>21</OrgFuncs>
              <OrgViewScheme>
                <OrgViewSchemeProp>
                  <Number>21</Number>
                  <Name>组织规划业务视图默认方案</Name>
                  <Id>21</Id>
                </OrgViewSchemeProp>
              </OrgViewScheme>
            </OrgField>
            <OrgField action="edit" oid="AdVIkjJWrL">
              <FieldName>fuseorg</FieldName>
            </OrgField>
            <ComboField action="edit" oid="7WAfe0bdMp">
              <Features>
                <Features>
                  <SeriesNewTote>true</SeriesNewTote>
                  <Importable action="reset"/>
                </Features>
              </Features>
              <MustInput>true</MustInput>
              <DefValue>5</DefValue>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>rz2m54xCLY</Id>
              <Name>通道简称</Name>
              <FieldName>fk_tdkw_abbreviation</FieldName>
              <Key>${ISV_FLAG}_abbreviation</Key>
              <MustInput>true</MustInput>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>dGde3fitTH</Id>
              <Name>描述</Name>
              <MaxLength>1996</MaxLength>
              <FieldName>fk_tdkw_describe</FieldName>
              <Key>${ISV_FLAG}_describe</Key>
            </TextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605350558</Version>
      <ParentId>ab7efc31000015ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_post_aisle</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>37M03OURTEF/</Id>
      <InheritPath>1942c188000065ac,ab7efc31000015ac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765605350496</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
