<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3W5YKW0/ASQ=</MasterId>
  <BizappId>5E2TK6ZVV//K</BizappId>
  <Id>3W5YKW0/ASQ=</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605365814</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>3W5YKW0/ASQ=</Id>
          <Key>${ISV_FLAG}_syn_person</Key>
          <EntityId>3W5YKW0/ASQ=</EntityId>
          <ParentId>62b02ccc00005fac</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>同步在岗人员</Name>
          <InheritPath>62b02ccc00005fac</InheritPath>
          <Items>
            <FormAp action="edit" oid="62b02ccc00005eac">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.odc.homs.formplugin.PlanyearSynPersonFormPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>年度编制同步在岗人员弹窗插件</Description>
                </Plugin>
              </Plugins>
              <Id>3W5YKW0/ASQ=</Id>
              <Height>330px</Height>
              <Name>同步在岗人员</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>iAP6XcLa</FPK>
                  <ClassName>3W5YKW0/ASQ=_iAP6XcLa</ClassName>
                  <SourceNumber>${ISV_FLAG}_syn_person</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>同步在岗人员</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_syn_person</Key>
            </FormAp>
            <FlexPanelAp action="edit" oid="vXXb0qB9sk">
              <AlignItems>center</AlignItems>
              <JustifyContent>center</JustifyContent>
            </FlexPanelAp>
            <ButtonAp action="edit" oid="yzgkylzHpS">
              <CommitValidate>true</CommitValidate>
              <OperationKey>donothing</OperationKey>
            </ButtonAp>
            <FieldAp>
              <Id>C13nFb4tSCruWOyEP4</Id>
              <FieldId>C13nFb4tSCruWOyEP4</FieldId>
              <Name>同步日期</Name>
              <Key>${ISV_FLAG}_date</Key>
              <ParentId>vXXb0qB9sk</ParentId>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>3W5YKW0/ASQ=</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605365814</Version>
      <ParentId>62b02ccc00005fac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_syn_person</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <IsvSign></IsvSign>
      <Id>3W5YKW0/ASQ=</Id>
      <InheritPath>62b02ccc00005fac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765605365846</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>3W5YKW0/ASQ=</Id>
          <ParentId>62b02ccc00005fac</ParentId>
          <BizappId>5E2TK6ZVV//K</BizappId>
          <IsvSign/>
          <Name>同步在岗人员</Name>
          <InheritPath>62b02ccc00005fac</InheritPath>
          <Items>
            <MainEntity action="edit" oid="62b02ccc000060ac">
              <Template action="reset"/>
              <dbRoute>hr</dbRoute>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <DoNothingParameter>
                      <AfterOperation>default</AfterOperation>
                    </DoNothingParameter>
                  </Parameter>
                  <Name>空操作</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3W8UBGD5O46=</Id>
                  <SuccessMsg/>
                  <Key>donothing</Key>
                </Operation>
              </Operations>
              <Id>3W5YKW0/ASQ=</Id>
              <Key>${ISV_FLAG}_syn_person</Key>
              <Name>同步在岗人员</Name>
            </MainEntity>
            <DateField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>C13nFb4tSCruWOyEP4</Id>
              <Name>同步日期</Name>
              <MinDate/>
              <Key>${ISV_FLAG}_date</Key>
              <MustInput>true</MustInput>
              <MaxDate>left(now(), 11) + "00:00:00"</MaxDate>
            </DateField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765605365846</Version>
      <ParentId>62b02ccc00005fac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_syn_person</Number>
      <BizappId>5E2TK6ZVV//K</BizappId>
      <Id>3W5YKW0/ASQ=</Id>
      <InheritPath>62b02ccc00005fac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765605365814</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5F+3O8PPGG6U</BizunitId>
</DeployMetadata>
