<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2+63VW+9PECA</MasterId>
  <Id>3WCD1MY=0A7N</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hpdi_bizdatabill_ext</Number>
      <PkId>5=XXEBM0R0KL</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>业务数据提报</Name>
      <Id>3WCD1MY=0A7N</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hpdi_bizdatabill_ext</Number>
      <PkId>5=XXEBPZ0G+W</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>业务数据提报</Name>
      <Id>3WCD1MY=0A7N</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1760686444931</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
