<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <MasterId>0NXW1VOPH+QV</MasterId>
  <Id>5=NO56FGHSQV</Id>
  <DesignMetas>
    <DesignAppMetaL>
      <PkId>5=NO56NNL2YN</PkId>
      <DataXml>
        <AppMetadata/>
      </DataXml>
      <Name>薪资数据集成</Name>
      <Description>人员变动与算发薪业务协作、业务数据提报及集成服务</Description>
      <Id>5=NO56FGHSQV</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignAppMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
