<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2+63VW+9PECA</MasterId>
  <BizappId>5=NO56FGHSQV</BizappId>
  <Id>3WCD1MY=0A7N</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1760686444931</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3WCD1MY=0A7N</Id>
          <Key>${ISV_FLAG}_hpdi_bizdatabill_ext</Key>
          <EntityId>3WCD1MY=0A7N</EntityId>
          <ParentId>2+63VW+9PECA</ParentId>
          <MasterId>2+63VW+9PECA</MasterId>
          <BizappId>5=NO56FGHSQV</BizappId>
          <IsvSign/>
          <InheritPath>00305e8b000006ac,0LI5VZUESHUD,0AXRY53TF14G,2+63VW+9PECA</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3WCD1MY=0A7N</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3WCD1MY=0A7N</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>WmULjVMl</FPK>
                  <ClassName>3WCD1MY=0A7N_WmULjVMl</ClassName>
                  <SourceNumber>${ISV_FLAG}_hpdi_bizdatabill_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>业务数据提报</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hpdi_bizdatabill_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>66A1IeZG</FPK>
                          <ClassName>3WCD1MY=0A7N_mob_66A1IeZG</ClassName>
                          <SourceNumber>${ISV_FLAG}_hpdi_bizdatabill_ext_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>业务数据提报</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <DevType>2</DevType>
                  <Isv>tdkw</Isv>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <Plugins>
                        <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.HRPermCommonList">
                          <RowKey>2</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.template.HRHiesButtonSwitchPlugin">
                          <RowKey>3</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.swc.hpdi.formplugin.web.bizdata.BizDataBillList">
                          <RowKey>1</RowKey>
                        </Plugin>
                      </Plugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="B1FhKuPfdO">
                      <DropdownItems>
                        <DropdownItem action="remove" oid="PQLN73CP/21"/>
                      </DropdownItems>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>3WCD1MY=0A7N</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3WCD1MY=0A7N</EntityId>
                    </BillListAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4LVDXM58=ARQ</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>22</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.number</ListFieldId>
                      <Name>创建人.工号</Name>
                    </ListColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="2KBUTYC0KSUG">
                      <Index>3</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="20ES5NKXIMT+">
                      <Index>4</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="20ES6/WD75I3">
                      <Index>5</Index>
                    </SchemeFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp action="edit" oid="2=N3D75KDXCC">
                      <Index>6</Index>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="20ES7JMX=G4G">
                      <Index>7</Index>
                    </SchemeFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp action="edit" oid="2+=7YBG046HU">
                      <Index>8</Index>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeComboFilterColumnAp action="remove" oid="2+=8+6UK5PK0"/>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
            <FieldAp>
              <Lock>submit,audit,edit,new</Lock>
              <Id>hkSi3QMWHoDAnJxDC5</Id>
              <FieldId>hkSi3QMWHoDAnJxDC5</FieldId>
              <Index>3</Index>
              <Name>总金额</Name>
              <Key>${ISV_FLAG}_totalamount</Key>
              <ParentId>6cMJpI6A9m</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="4cD50K4EBY">
              <Index>4</Index>
            </FieldAp>
            <BarItemAp action="edit" oid="246LdCKrK4">
              <Index>6</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="2D8NI6Pr74">
              <Index>7</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="EhYF8uWHHu">
              <Index>8</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="Owaosp9pGa">
              <Index>9</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="h3UcTwsBYy">
              <Index>10</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="lgThqDlzuX">
              <Index>11</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="avPIJSekiQ">
              <Index>12</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="3vuRdnby5n">
              <Index>13</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="0IzRBNWx02">
              <Index>14</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="GuAO2YpetD">
              <Index>15</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="hwA3o5AGmH">
              <Invisible>true</Invisible>
              <Index>16</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="p82MnE0lpF">
              <Index>17</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="D82caHpEvG">
              <Index>18</Index>
            </BarItemAp>
            <FieldAp>
              <Lock>submit,audit,edit,new</Lock>
              <Id>XrkaE8gpGxJB6rdWUt</Id>
              <FieldId>XrkaE8gpGxJB6rdWUt</FieldId>
              <Index>13</Index>
              <Name>催办状态</Name>
              <Key>${ISV_FLAG}_pushstatus</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>5GSpKhDWNGIF16GRq2</Id>
              <FieldId>5GSpKhDWNGIF16GRq2</FieldId>
              <Index>14</Index>
              <Name>最新催办时间</Name>
              <Key>${ISV_FLAG}_latestpushtime</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="gWO77zEZMd">
              <Index>15</Index>
            </FieldAp>
            <FieldAp action="edit" oid="PXP9eG1L9D1c6sRc3v">
              <Index>16</Index>
            </FieldAp>
            <FieldAp action="edit" oid="a2n5D8RUg4">
              <Index>17</Index>
              <Name>说明</Name>
              <FullLine>true</FullLine>
            </FieldAp>
            <FieldAp action="edit" oid="3V6DTXZwLnGX7qACEE">
              <Index>18</Index>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2312508850281908224</ModifierId>
      <EntityId>3WCD1MY=0A7N</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1760686444931</Version>
      <ParentId>2+63VW+9PECA</ParentId>
      <MasterId>2+63VW+9PECA</MasterId>
      <Number>${ISV_FLAG}_hpdi_bizdatabill_ext</Number>
      <BizappId>5=NO56FGHSQV</BizappId>
      <IsvSign></IsvSign>
      <Id>3WCD1MY=0A7N</Id>
      <InheritPath>00305e8b000006ac,0LI5VZUESHUD,0AXRY53TF14G,2+63VW+9PECA</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1760686444983</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3WCD1MY=0A7N</Id>
          <ParentId>2+63VW+9PECA</ParentId>
          <MasterId>2+63VW+9PECA</MasterId>
          <BizappId>5=NO56FGHSQV</BizappId>
          <IsvSign/>
          <InheritPath>00305e8b000006ac,0LI5VZUESHUD,0AXRY53TF14G,2+63VW+9PECA</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Operations>
                <Operation action="edit" oid="c91d5125000035ac">
                  <Parameter>
                    <AuditParameter>
                      <CommentFieldId>yVFbeDr4Sh</CommentFieldId>
                    </AuditParameter>
                  </Parameter>
                </Operation>
              </Operations>
              <Id>3WCD1MY=0A7N</Id>
              <Key>${ISV_FLAG}_hpdi_bizdatabill_ext</Key>
            </BillEntity>
            <BasedataField action="edit" oid="d4q0JMyv6u">
              <RefProps>
                <RefProp>
                  <Name>company.name</Name>
                </RefProp>
              </RefProps>
            </BasedataField>
            <MuliLangTextField action="edit" oid="a2n5D8RUg4">
              <Name>说明</Name>
              <MaxLength>2000</MaxLength>
              <MutiLine>true</MutiLine>
            </MuliLangTextField>
            <ComboField>
              <FieldName>fk_tdkw_pushstatus</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>XrkaE8gpGxJB6rdWUt</Id>
              <Key>${ISV_FLAG}_pushstatus</Key>
              <DefValue>2</DefValue>
              <Name>催办状态</Name>
              <Items>
                <ComboItem>
                  <Caption>已催办</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>未催办</Caption>
                  <Value>2</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <DateTimeField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>5GSpKhDWNGIF16GRq2</Id>
              <Name>最新催办时间</Name>
              <FieldName>fk_tdkw_latestpushtime</FieldName>
              <Key>${ISV_FLAG}_latestpushtime</Key>
            </DateTimeField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>hkSi3QMWHoDAnJxDC5</Id>
              <DefValue>0</DefValue>
              <Name>总金额</Name>
              <FieldName>fk_tdkw_totalamount</FieldName>
              <Key>${ISV_FLAG}_totalamount</Key>
            </AmountField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1760686444983</Version>
      <ParentId>2+63VW+9PECA</ParentId>
      <MasterId>2+63VW+9PECA</MasterId>
      <Number>${ISV_FLAG}_hpdi_bizdatabill_ext</Number>
      <BizappId>5=NO56FGHSQV</BizappId>
      <Id>3WCD1MY=0A7N</Id>
      <InheritPath>00305e8b000006ac,0LI5VZUESHUD,0AXRY53TF14G,2+63VW+9PECA</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1760686444931</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>1ZXL10HTBJYG</BizunitId>
</DeployMetadata>
