<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Id>/U+QDTL900//</Id>
  <DesignMetas>
    <DesignCloudMetaL>
      <PkId>/U+QDTLBNF6I</PkId>
      <Name>薪酬福利云</Name>
      <Description></Description>
      <Id>/U+QDTL900//</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignCloudMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
