<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <Id>/U+QDTL900//</Id>
  <DesignMetas>
    <DesignCloudMeta>
      <DevType>1</DevType>
      <Image></Image>
      <Visible>1</Visible>
      <ModifyDate>1555498596000</ModifyDate>
      <Modifier>3031990</Modifier>
      <Isv>kingdee</Isv>
      <Version>1.0</Version>
      <BackImage></BackImage>
      <Number>SWC</Number>
      <IndustryId>0</IndustryId>
      <BaseAppId>/UHLXNRR9KPZ</BaseAppId>
      <Creater>1677006</Creater>
      <SimpleNumber></SimpleNumber>
      <Id>/U+QDTL900//</Id>
      <Seq>46</Seq>
      <CreateDate>1553088389000</CreateDate>
    </DesignCloudMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
