 DELETE from t_cr_coderule where fid = '5FXA1DCF5MJD';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FXA1DCF5MJD','5FXA087KS8WC','${ISV_FLAG}_bonus_items','-','1','2',' ',' ','1','C', 2360184507006729216,{ts'2025-12-23 20:46:54'},2360184507006729216,{ts'2025-12-23 20:46:54'},'5FXA1DCF5MJD','0','0','0','0','1','0','1','0','0','1',' ',' ','1','0','1','0');
DELETE from t_cr_coderule_l where fid = '5FXA1DCF5MJD';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FXA1DCF5N7O','5FXA1DCF5MJD','zh_CN','奖金项目编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FXA1DCF5N7N','5FXA1DCF5MJD','zh_TW','獎金項目編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FXA1DCF5MJD';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FXA1DCX=PHZ','5FXA1DCF5MJD',0,'16',' ',' ',' ',' ',4,1,1,' ','0','1','1','0',' ','1');
