 DELETE from t_cr_coderule where fid = '5FT24T31TJ5F';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FT24T31TJ5F','5FT23+ZJQNE=','${ISV_FLAG}_bonus_distribute_sum','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-22 15:33:18'},2359873934389675008,{ts'2025-12-22 15:33:18'},'5FT24T31TJ5F','0','0','0','0','1','0','1','0','1','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FT24T31TJ5F';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FT24T31RFPF','5FT24T31TJ5F','zh_CN','分配汇总编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FT24T31RFPE','5FT24T31TJ5F','zh_TW','分配彙總編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FT24T31TJ5F';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT24T3Q6FI0','5FT24T31TJ5F',0,'1','1',' ','FPHZ',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT24T3Q6FI1','5FT24T31TJ5F',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT24T3Q6FI2','5FT24T31TJ5F',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
