 DELETE from t_cr_coderule where fid = '5FT22ADMFFLC';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FT22ADMFFLC','5FT2/UWBBEAX','${ISV_FLAG}_bonus_dis_detail','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-22 15:32:38'},2359873934389675008,{ts'2025-12-22 15:32:38'},'5FT22ADMFFLC','0','0','0','0','1','0','1','0','1','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FT22ADMFFLC';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FT22ADMHJ1E','5FT22ADMFFLC','zh_CN','奖金分配编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FT22ADMHJ1D','5FT22ADMFFLC','zh_TW','獎金分配編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FT22ADMFFLC';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT22AFKL5N4','5FT22ADMFFLC',0,'1','1',' ','FP',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT22AFKL5N5','5FT22ADMFFLC',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FT22AFKL5N6','5FT22ADMFFLC',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
