 DELETE from t_cr_coderule where fid = '5FX=ZFSI4MYY';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FX=ZFSI4MYY','5FX=XIGIG/RJ','${ISV_FLAG}_bonus_types','-','1','2',' ',' ','1','C', 2360184507006729216,{ts'2025-12-23 20:45:50'},2360184507006729216,{ts'2025-12-23 20:45:50'},'5FX=ZFSI4MYY','0','0','0','0','1','0','1','0','0','1',' ',' ','1','0','1','0');
DELETE from t_cr_coderule_l where fid = '5FX=ZFSI4MYY';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FX=ZFSI4NM7','5FX=ZFSI4MYY','zh_CN','奖金类型编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FX=ZFSI4NM6','5FX=ZFSI4MYY','zh_TW','獎金類型編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FX=ZFSI4MYY';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FX=ZFTXIVUM','5FX=ZFSI4MYY',0,'16',' ',' ',' ',' ',4,1,1,' ','0','1','1','0',' ','1');
