 DELETE from t_cr_coderule where fid = '5FVR3QIVHGLI';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FVR3QIVHGLI','5FVR1CEGY4I9','${ISV_FLAG}_bonus_sum_approval','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-23 09:58:54'},2359873934389675008,{ts'2025-12-23 09:58:54'},'5FVR3QIVHGLI','0','0','0','0','1','0','1','0','1','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FVR3QIVHGLI';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FVR3QIVHF90','5FVR3QIVHGLI','zh_CN','奖金分配汇总审批编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FVR3QIVHF9/','5FVR3QIVHGLI','zh_TW','獎金分配彙總審批編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FVR3QIVHGLI';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVR3QK59==P','5FVR3QIVHGLI',0,'1','1',' ','JJFPHZ',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVR3QK59==Q','5FVR3QIVHGLI',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVR3QK59==R','5FVR3QIVHGLI',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
