 DELETE from t_cr_coderule where fid = '5G+1T/7P/3E8';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5G+1T/7P/3E8','5G+1LT27UH+X','${ISV_FLAG}_bonus_approval_flow','-','1','2',' ',' ','1','C', 2360184507006729216,{ts'2025-12-24 15:52:29'},2360184507006729216,{ts'2025-12-24 15:52:29'},'5G+1T/7P/3E8','0','0','0','0','1','0','1','0','0','1',' ',' ','1','0','1','0');
DELETE from t_cr_coderule_l where fid = '5G+1T/7P/3E8';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5G+1T/7P/2R/','5G+1T/7P/3E8','zh_CN','奖金核定审批单编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5G+1T/7P/2R+','5G+1T/7P/3E8','zh_TW','獎金核定審批單編碼規則');
DELETE from t_cr_coderuleentry where fid = '5G+1T/7P/3E8';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5G+1T/8X4HXX','5G+1T/7P/3E8',0,'1','1',' ','HD',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5G+1T/8X4HXY','5G+1T/7P/3E8',1,'9',' ',' ','yyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5G+1T/8X4HXZ','5G+1T/7P/3E8',2,'16',' ',' ',' ',' ',3,1,1,' ','1','1','1','0','-','1');
