 DELETE from t_cr_coderule where fid = '5FIXEUEN0Y5M';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FIXEUEN0Y5M','5FIXB=H6J2R6','${ISV_FLAG}_bonus_plan','-','1','2',' ',' ','1','C', 2360184507006729216,{ts'2025-12-19 17:14:49'},2360184507006729216,{ts'2025-12-19 17:14:49'},'5FIXEUEN0Y5M','0','0','0','0','1','0','1','0','0','1',' ',' ','1','0','1','0');
DELETE from t_cr_coderule_l where fid = '5FIXEUEN0Y5M';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FIXEUEN0XHD','5FIXEUEN0Y5M','zh_CN','奖金计划编码');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FIXEUEN0XHC','5FIXEUEN0Y5M','zh_TW','獎金計劃編碼');
DELETE from t_cr_coderuleentry where fid = '5FIXEUEN0Y5M';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FIXEUFV6AO=','5FIXEUEN0Y5M',0,'1','1',' ','JJJH',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FIXEUFV6AOA','5FIXEUEN0Y5M',1,'9',' ',' ','yyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FIXEUFV6AOB','5FIXEUEN0Y5M',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
