 DELETE from t_cr_coderule where fid = '5FVRHPS2KOME';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FVRHPS2KOME','5FVRFR=FI5HQ','${ISV_FLAG}_bouns_record','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-23 10:02:59'},2359873934389675008,{ts'2025-12-23 10:02:59'},'5FVRHPS2KOME','0','0','0','0','1','0','1','0','1','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FVRHPS2KOME';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FVRHPS2KN9Y','5FVRHPS2KOME','zh_CN','发放记录编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FVRHPS2KN9X','5FVRHPS2KOME','zh_TW','發放記錄編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FVRHPS2KOME';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVRHPSJPRL+','5FVRHPS2KOME',0,'1','1',' ','FFJL',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVRHPSJPRL/','5FVRHPS2KOME',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FVRHPSJPRL0','5FVRHPS2KOME',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
