 DELETE from t_cr_coderule where fid = '5FWOSZ0QQB6V';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FWOSZ0QQB6V','5FWORD3=CYE6','${ISV_FLAG}_bouns_agent_approve','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-23 16:28:51'},2359873934389675008,{ts'2025-12-23 16:28:51'},'5FWOSZ0QQB6V','0','0','0','0','1','0','1','0','1','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FWOSZ0QQB6V';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FWOSZ0QQBW4','5FWOSZ0QQB6V','zh_CN','奖金代发编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FWOSZ0QQBW3','5FWOSZ0QQB6V','zh_TW','獎金代發編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FWOSZ0QQB6V';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FWOSZ38MJDP','5FWOSZ0QQB6V',0,'1','1',' ','JJDF',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FWOSZ38MJDQ','5FWOSZ0QQB6V',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FWOSZ38MJDR','5FWOSZ0QQB6V',2,'16',' ',' ',' ',' ',4,1,1,' ','1','1','1','0','-','1');
