 DELETE from t_cr_coderule where fid = '5FM26TQ561+Y';
 INSERT INTO t_cr_coderule(FID, FNUMBER, FBIZOBJECTID, FSPLITSIGN, FCTRLMODE, FAPPMODE, FEXAMPLE, FEXAMPLELENGTH, FENABLE, FSTATUS, FCREATORID, FCREATETIME, FMODIFIERID, FMODIFYTIME, FMASTERID, FISUPDATERECOVER, FISNONBREAK, FISCHECKCODE, FISAPPCONDITION, FISAPPORG, FISLOG, FISSERIALNUMBER, FISUNIQUE, FISMODIFIABLE, FISADDVIEW, FFILTERCONDITION, FCONDITIONDESC, FISFAST, FISCHECKNUMBER, FISFILLWITHZERO, FISAUTOINCRLENGTH) VALUES ( '5FM26TQ561+Y','5FM22RA8CMBL','${ISV_FLAG}_department_funds','-','1','2',' ',' ','1','C', 2359873934389675008,{ts'2025-12-20 15:10:55'},2359873934389675008,{ts'2025-12-20 15:10:55'},'5FM26TQ561+Y','0','0','0','0','1','0','1','0','0','1',' ',' ','1','0','1','1');
DELETE from t_cr_coderule_l where fid = '5FM26TQ561+Y';
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FM26TQ584G+','5FM26TQ561+Y','zh_CN','部门经费编码规则');
INSERT INTO t_cr_coderule_l(FPKID, FID, FLOCALEID, FNAME) VALUES ('5FM26TQ584FZ','5FM26TQ561+Y','zh_TW','部門經費編碼規則');
DELETE from t_cr_coderuleentry where fid = '5FM26TQ561+Y';
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FM26TRN6P24','5FM26TQ561+Y',0,'1','1',' ','BJ',' ',8,1,1,' ','0','1','1','0',' ','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FM26TRN6P25','5FM26TQ561+Y',1,'9',' ',' ','yyyyMMdd',' ',8,1,1,' ','1','1','1','0','-','1');
INSERT INTO t_cr_coderuleentry(FENTRYID, FID, FSEQ, FATTRIBUTETYPE, FATTUSINGMODE, FVALUEATRIBUTE, FFORMAT, FSETTINGVALUE, FLENGTH, FINITIAL, FSTEP, FADDCHAR, FISSPLITSIGN, FADDSTYLE, FCUTSTYLE, FISSORTITEM, FSPLITSIGN, FISVISABLE) VALUES ('5FM26TRN6P26','5FM26TQ561+Y',2,'16',' ',' ',' ',' ',3,1,1,' ','1','1','1','0','-','1');
