package ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_approval_sheet.second;

import kd.bos.bill.BillShowParameter;
import kd.bos.bill.OperationStatus;
import kd.bos.dataentity.entity.DynamicObject;
import kd.bos.dataentity.entity.DynamicObjectCollection;
import kd.bos.dataentity.utils.StringUtils;
import kd.bos.entity.datamodel.events.BeforePackageDataEvent;
import kd.bos.entity.operate.result.OperationResult;
import kd.bos.exception.KDBizException;
import kd.bos.form.ShowType;
import kd.bos.form.events.AfterDoOperationEventArgs;
import kd.bos.form.events.BeforeDoOperationEventArgs;
import kd.bos.form.events.HyperLinkClickArgs;
import kd.bos.form.events.SetFilterEvent;
import kd.bos.list.BillList;
import kd.bos.list.IListView;
import kd.bos.list.plugin.AbstractListPlugin;
import kd.bos.logging.Log;
import kd.bos.logging.LogFactory;
import kd.bos.orm.query.QCP;
import kd.bos.orm.query.QFilter;
import kd.bos.servicehelper.BusinessDataServiceHelper;
import kd.bos.servicehelper.QueryServiceHelper;
import kd.bos.util.CollectionUtils;
import kd.hr.hbp.common.util.HRStringUtils;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_plan.CreateApproval;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.other.util.BonusUtil;

import java.util.ArrayList;
import java.util.EventObject;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Objects;
import java.util.Optional;
import java.util.Set;
import java.util.stream.Collectors;

/**
 * 奖金核定列表插件，${ISV_FLAG}_bonus_approval_2nd
 */
public class BonusApprovalSheetBillListPlugin extends AbstractListPlugin {

    private static final Log log = LogFactory.getLog(CreateApproval.class);

    @Override
    public void registerListener(EventObject e) {
        this.addItemClickListeners("${ISV_FLAG}_baritemap,${ISV_FLAG}_abandoned");
    }

    @Override
    public void setFilter(SetFilterEvent e) {
        // 奖金核定汇总单审批状态的过滤
        super.setFilter(e);
        List<QFilter> qFilters = e.getQFilters();
        List<String> billStatus = new ArrayList<>();

        for (QFilter qFilter : qFilters) {
            if (Objects.isNull(qFilter)) {
                continue;
            }
            String property = qFilter.getProperty();
            if ("${ISV_FLAG}_check_summary_status".equals(property)) {
                billStatus.addAll((ArrayList<String>)qFilter.getValue());
            }
        }
        Map<String, DynamicObject> map = new HashMap<>();
        QFilter filter2 = new QFilter("billstatus", QCP.in, billStatus);
        DynamicObjectCollection bonusPlanApprovalObjects = QueryServiceHelper.query("${ISV_FLAG}_bonus_approval_flow", "id,billno,billstatus", filter2.toArray());
        for (DynamicObject bonusPlanApprovalObject : bonusPlanApprovalObjects) {
            map.put(bonusPlanApprovalObject.getString("billstatus"),bonusPlanApprovalObject);
        }

        for (int i = 0; i < qFilters.size(); i++) {
            if (Objects.isNull(qFilters.get(i))) {
                continue;
            }
            String property = qFilters.get(i).getProperty();
            if ("${ISV_FLAG}_check_summary_status".equals(property)) {
                ArrayList<String> value = (ArrayList<String>) qFilters.get(i).getValue();
                if (value.size() > 0) {
                    //查询行政组织
                    List<DynamicObject> bonusPlanApproval = new ArrayList<>();
                    for (String key : value) {
                        bonusPlanApproval.add(map.get(key));
                    }
                    Set<String> bonusPlanApprovalIds = bonusPlanApproval.stream().map(item -> String.valueOf(item.getLong("id"))).collect(Collectors.toSet());
                    qFilters.set(i,new QFilter("${ISV_FLAG}_check_summary", QCP.in, bonusPlanApprovalIds));
                }
            }
        }
    }

    @Override
    public void beforeDoOperation(BeforeDoOperationEventArgs args) {

    }

    @Override
    public void afterDoOperation(AfterDoOperationEventArgs args) {
        String operateKey = args.getOperateKey();
        // 判断当前操作是否为"展示奖金流程"的操作按钮
        if ("donothing_fail_invalid_plan".equals(operateKey)){
            this.getView().invokeOperation("refresh");
        } // 【生成审批单】
        else if("donothing_push_check".equals(operateKey)){
            OperationResult operationResult = args.getOperationResult();
            if(operationResult.isSuccess()){
                Long sumApprovalId = null;
                List<Object> successPkIds = args.getOperationResult().getSuccessPkIds();
                if(CollectionUtils.isNotEmpty(successPkIds)){
                    Object successPkId = successPkIds.get(0);
                    DynamicObject oneOfSuccessDate = QueryServiceHelper.queryOne(BonusUtil.AP_CHECK_DETAIL_ID, "${ISV_FLAG}_check_summary", new QFilter("id", QCP.equals, successPkId).toArray());
                    sumApprovalId = Optional.ofNullable(oneOfSuccessDate).map(a -> a.getLong("${ISV_FLAG}_check_summary")).orElse(null);
                }
                // 刷新页面
                BillList billList = this.getControl(AbstractListPlugin.BILLLISTID);
                billList.refresh();
                if(sumApprovalId != null){
                    // 打开奖金核定审批单的页面
                    BonusUtil.openBill(this.getView(),sumApprovalId,BonusUtil.AP_CHECK_SUM_ID,null);
                }
            }
        }
    }

    @Override
    public void billListHyperLinkClick(HyperLinkClickArgs args) {
        String fieldName = args.getFieldName();
        if (fieldName.equals("${ISV_FLAG}_plan_bill_no")) {
            // 计划单号超链
            args.setCancel(true);
            IListView listView = (IListView) this.getView();
            long pkId = (Long) listView.getFocusRowPkId();
            DynamicObject query = BusinessDataServiceHelper.loadSingle(pkId, "${ISV_FLAG}_bonus_approval_2nd");
            String planBillNo = query.getString("${ISV_FLAG}_plan_bill_no");
            if(query == null || HRStringUtils.isBlank(planBillNo)){
                throw new KDBizException("未找到奖金核定数据");
            }
            QFilter bonusFilter = new QFilter("billno", QCP.equals, planBillNo);
            DynamicObject plan = QueryServiceHelper.queryOne("${ISV_FLAG}_bonus_plan", "id,billno", bonusFilter.toArray());
            if(plan == null){
                throw new KDBizException("未找到奖金计划数据");
            }
            OperationStatus operationStatus = OperationStatus.VIEW;
            BillShowParameter formShowParameter = new BillShowParameter();
            formShowParameter.getOpenStyle().setShowType(ShowType.MainNewTabPage);
            formShowParameter.setStatus(operationStatus);
            formShowParameter.setFormId("${ISV_FLAG}_bonus_plan");
            formShowParameter.setPkId(plan.getLong("id"));
            this.getView().showForm(formShowParameter);
        } else if (fieldName.equals("${ISV_FLAG}_check_summary_status")) {
            // 奖金核定汇总单审批状态 超链
            args.setCancel(true);
            IListView listView = (IListView) this.getView();
            long pkId = (Long) listView.getFocusRowPkId();
            DynamicObject bill = BusinessDataServiceHelper.loadSingle("${ISV_FLAG}_bonus_approval_2nd", new QFilter[]{new QFilter("id", QCP.equals, pkId)});
            if (bill != null){
                OperationStatus operationStatus = OperationStatus.EDIT;
                BillShowParameter formShowParameter = new BillShowParameter();
                formShowParameter.getOpenStyle().setShowType(ShowType.MainNewTabPage);
                formShowParameter.setStatus(operationStatus);
                formShowParameter.setFormId("${ISV_FLAG}_bonus_approval_flow");
                formShowParameter.setPkId(bill.getString("${ISV_FLAG}_check_summary"));
                this.getView().showForm(formShowParameter);
            }
        }
    }

    @Override
    public void beforePackageData(BeforePackageDataEvent e) {
        DynamicObjectCollection pageData = e.getPageData();

        Set<Long> planSummaryIds = pageData.stream().filter(item -> !StringUtils.isEmpty(item.getString("${ISV_FLAG}_check_summary")))
                .map(item -> Long.valueOf(item.getString("${ISV_FLAG}_check_summary"))).collect(Collectors.toSet());
        DynamicObject[] bonusPlanApprovalList = BusinessDataServiceHelper.load("${ISV_FLAG}_bonus_approval_flow", "id,billstatus",
                new QFilter[]{
                        new QFilter("id",QCP.in,planSummaryIds)
                });

        HashMap<String, String> resourseMap = new HashMap<>();
        for (DynamicObject bonusPlanApproval : bonusPlanApprovalList) {
            Long bonusPlanApprovalId = bonusPlanApproval.getLong("id");
            resourseMap.put(bonusPlanApprovalId.toString(),bonusPlanApproval.getString("billstatus"));
        }

        for (DynamicObject bill: pageData) {
            String planSummaryId = bill.getString("${ISV_FLAG}_check_summary");
            bill.set("${ISV_FLAG}_check_summary_status",resourseMap.get(planSummaryId));
        }
    }

}
