package ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_distribution.second.operation;

import kd.bos.coderule.api.CodeRuleInfo;
import kd.bos.context.RequestContext;
import kd.bos.dataentity.OperateOption;
import kd.bos.dataentity.entity.DynamicObject;
import kd.bos.dataentity.entity.DynamicObjectCollection;
import kd.bos.dataentity.metadata.IDataEntityProperty;
import kd.bos.dataentity.utils.StringUtils;
import kd.bos.db.tx.TX;
import kd.bos.db.tx.TXHandle;
import kd.bos.entity.EntityMetadataCache;
import kd.bos.entity.operate.OperateOptionConst;
import kd.bos.entity.operate.result.OperationResult;
import kd.bos.entity.plugin.AbstractOperationServicePlugIn;
import kd.bos.entity.plugin.AddValidatorsEventArgs;
import kd.bos.entity.plugin.PreparePropertysEventArgs;
import kd.bos.entity.plugin.args.BeginOperationTransactionArgs;
import kd.bos.logging.Log;
import kd.bos.logging.LogFactory;
import kd.bos.orm.query.QCP;
import kd.bos.orm.query.QFilter;
import kd.bos.servicehelper.BusinessDataServiceHelper;
import kd.bos.servicehelper.coderule.CodeRuleServiceHelper;
import kd.bos.servicehelper.operation.OperationServiceHelper;
import kd.bos.util.CollectionUtils;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_approval_sheet.second.BonusWriteBackUtil;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_approval_sheet.second.operation.BonusApprovalSheetBillSecondPushPlugin;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bonus_distribution.second.valid.BonusDisSecValidator;
import ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.other.util.BonusUtil;

import java.math.BigDecimal;
import java.math.RoundingMode;
import java.util.ArrayList;
import java.util.Arrays;
import java.util.Calendar;
import java.util.Collections;
import java.util.Date;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Set;
import java.util.stream.Collectors;

/**
 * 奖金分配-操作插件
 */
public class BonusDisSecondPushPlugin extends AbstractOperationServicePlugIn {
    private static final Log logger = LogFactory.getLog(BonusDisSecondPushPlugin.class);
    private static final String BTN_GEN_DIS = "donothing_gen"; // 生成【下级分配单】
    private static final String BTN_AUDIT = "audit"; // 审核按钮
    public static final String TYPE_FEN_PEI = "B"; // 单据类型为"分配单"
    private static final String IS_UPPER_DISTRIBUTE = "1"; // 是上级分配


    @Override
    public void onPreparePropertys(PreparePropertysEventArgs e) {
        try {
            List<String> fieldKeys = e.getFieldKeys();
            String name = this.billEntityType.getName();
            Map<String, IDataEntityProperty> fieldMap = EntityMetadataCache.getDataEntityType(name).getAllFields();
            Set<String> keyNumbers = fieldMap.keySet();
            fieldKeys.addAll(keyNumbers);
        } catch (Exception ex) {
            throw new RuntimeException("onPrepareProperties all filed fail",ex);
        }
    }

    @Override
    public void onAddValidators(AddValidatorsEventArgs e) {
        super.onAddValidators(e);
        e.addValidator(new BonusDisSecValidator());
    }

    @Override
    public void beginOperationTransaction(BeginOperationTransactionArgs e) {
        DynamicObject[] entities = e.getDataEntities();
        String operationKey = e.getOperationKey();
        // 审核按钮 --- 审批通过后生成【下级分配单】的逻辑
        if(BTN_AUDIT.equals(operationKey) || BTN_GEN_DIS.equals(operationKey)){
            List<Long> submitIds = new ArrayList<>();
            List<String> personNumbers = new ArrayList<>();
            for (DynamicObject entity : entities) {
                BigDecimal orgDisTotalAmount = entity.getBigDecimal("${ISV_FLAG}_org_dis_total"); // 组织分配总额
                // 有分配到组织的金额
                if(orgDisTotalAmount.compareTo(BigDecimal.ZERO) != 0){
                    DynamicObjectCollection awardSureOrgCollection = entity.getDynamicObjectCollection("${ISV_FLAG}_dept_dis_entry"); // 组织分配明细
                    if (CollectionUtils.isNotEmpty(awardSureOrgCollection)){
                        List<String> numbers = awardSureOrgCollection.stream().map(en -> en.getDynamicObject("${ISV_FLAG}_distribute_person").getString("empnumber")).collect(Collectors.toList());
                        personNumbers.addAll(numbers);
                    }
                }
            }
            QFilter filter = new QFilter("employee.empnumber", QCP.in, personNumbers);
            filter.and(new QFilter("isdeleted",QCP.equals,"0"));
            DynamicObject[] empPosRel = BusinessDataServiceHelper.load("hrpi_empposorgrel", "id,adminorg,position,company,employee", new QFilter[]{filter});
            Map<String, DynamicObject> personMap = new HashMap<>();
            for (DynamicObject empPosRelDynamicObject : empPosRel) {
                String empNumber = empPosRelDynamicObject.getDynamicObject("employee").getString("empnumber");
                personMap.put(empNumber,empPosRelDynamicObject);
            }
            List<String> distributeNumbers = new ArrayList<>();
            for (DynamicObject entity : entities) {
                String disBillNo = entity.getString("${ISV_FLAG}_dis_billno");
                if(StringUtils.isNotBlank(disBillNo)){
                    distributeNumbers.add(disBillNo);
                }
            }

            QFilter disFilter = new QFilter("billno",QCP.in, distributeNumbers);
            // 汇总单对象
            DynamicObject[] disSumBill = BusinessDataServiceHelper.load("${ISV_FLAG}_bonus_distribute_sum",
                    "id",
                    disFilter.toArray());
            DynamicObject[] sumObjects = BusinessDataServiceHelper.load(Arrays.stream(disSumBill).map(a -> a.getLong("id")).toArray(), BusinessDataServiceHelper.newDynamicObject("${ISV_FLAG}_bonus_distribute_sum").getDynamicObjectType());
            Map<String, DynamicObject> disSumMap = new HashMap<>();
            for (DynamicObject obj : sumObjects) {
                disSumMap.put(obj.getString("billno"),obj);
            }


            Arrays.stream(entities).forEach(dataEntity ->{
                BigDecimal orgDisTotalAmount = dataEntity.getBigDecimal("${ISV_FLAG}_org_dis_total"); // 组织分配总额
                // 有分配到组织的金额
                if(orgDisTotalAmount.compareTo(BigDecimal.ZERO) != 0){
                    Date currentTime = Calendar.getInstance().getTime();

                    // 下级单据
                    List<DynamicObject> nextBills = genDistributeByDeptDetailNext(currentTime,dataEntity,personMap);
                    // 通过奖金分配单生成下级奖金分配单
                    DynamicObject[] distributeBills = nextBills.stream().toArray(DynamicObject[]::new);
                    // 开启事务 --- 分配单
                    try (TXHandle h = TX.requiresNew()) {
                        try {
                            Object[] distributeBillsSaveResult = BonusUtil.saveBill(distributeBills);
                            List<Long> ids = Arrays.stream(distributeBills).map(s -> s.getLong("id")).collect(Collectors.toList());
                            submitIds.addAll(ids);
                        } catch (Throwable ex) {
                            h.markRollback();
                            throw ex;
                        }
                    }
                }
                // 将当前分配单上 上级分配为为“否”的 人员和部门明细汇总至当前分配单上关联的分配汇总单内
                Object[] distributeSumBillsSaveResult = this.pushToDisSum(dataEntity, disSumMap);
            });
            // 跳过权限
            OperateOption operateOption = OperateOption.create();
            operateOption.setVariableValue(OperateOptionConst.ISHASRIGHT, String.valueOf(true));
            operateOption.setVariableValue(OperateOptionConst.SKIPCHECKPERMISSION, String.valueOf(true));
            OperationResult saveResult = OperationServiceHelper.executeOperate("submit", "${ISV_FLAG}_bonus_dis_detail", submitIds.toArray(), operateOption);
        }

    }

    /**
     * 将当前分配单上 上级分配为为“否”的 人员和部门明细汇总至当前分配单上关联的分配汇总单内
     * 奖金分配单【提交生效】后，将分配单的“上级分配”为“否”的【人员分录明细】和“上级分配”为“否”的【部门留用明细】汇总至分配单记录的“关联分配汇总单编号”对应的分配汇总单内：
     *  ①新增【人员分配明细】、【部门留用明细】分录行，并记录“来源单据类型”为“分配单”，记录“来源单据编号”；
     *  ②更新分录行字段，依据汇总单的“核定金额”重新计算“分配占比”，重新触发预警规则更新覆盖“预警说明”；
     *  ③更新【分配统计】内字段。
     * @param bill
     */
    private Object[] pushToDisSum(DynamicObject bill, Map<String, DynamicObject> disSumMap){
        // 分配汇总单编码
        String disBillNo = bill.getString("${ISV_FLAG}_dis_billno");
        if(StringUtils.isNotBlank(disBillNo)){
            // 汇总单对象
            DynamicObject disSumBill = null;
            if (!disSumMap.isEmpty() && disSumMap.containsKey(disBillNo)) {
                disSumBill = disSumMap.get(disBillNo);
            }
            if(disSumBill != null){
                BigDecimal disMoneyTotal = disSumBill.getBigDecimal("${ISV_FLAG}_money_total");
                DynamicObjectCollection personDistributeDetailCollection = disSumBill.getDynamicObjectCollection("${ISV_FLAG}_person_dis_detail");
                DynamicObjectCollection deptRetentionDetailCollection = disSumBill.getDynamicObjectCollection("${ISV_FLAG}_dept_retentiion_deta");
                // 过滤出用户手动新增的数据
                // 当前分配单上 上级分配为为“否”的 人员分配明细
                DynamicObjectCollection personDetailCollection = listManualHandles(bill,"${ISV_FLAG}_person_dis_entry","${ISV_FLAG}_locked_staff");
                // 当前分配单上 上级分配为为“否”的 留存部门明细
                DynamicObjectCollection retentionDetailCollection = listManualHandles(bill,"${ISV_FLAG}_retention_entry","${ISV_FLAG}_locked_dept");
                // 人员明细存在符合的数据
                if(CollectionUtils.isNotEmpty(personDetailCollection)){
                    personDetailCollection.forEach(entry -> {
                        DynamicObject personDistributeDetail = personDistributeDetailCollection.addNew();
                        // 构造分录赋值需要的key和value
                        Map<String, String> basePropMap = new HashMap<>();
//                        basePropMap.put("${ISV_FLAG}_dept_person","${ISV_FLAG}_peson");
                        basePropMap.put("${ISV_FLAG}_employment_history","${ISV_FLAG}_employment_history");
                        personDistributeDetail.set("${ISV_FLAG}_peson_number",entry.getDynamicObject("${ISV_FLAG}_peson").getDynamicObject("employee").getString("empnumber"));
                        basePropMap.put("${ISV_FLAG}_business_company","${ISV_FLAG}_per_business_entity");
                        basePropMap.put("${ISV_FLAG}_per_admin_company","${ISV_FLAG}_per_admin_company");
                        basePropMap.put("${ISV_FLAG}_admin_dept","${ISV_FLAG}_admin_dept");
                        basePropMap.put("${ISV_FLAG}_admin_post","${ISV_FLAG}_admin_post");
                        basePropMap.put("${ISV_FLAG}_dis_total_person","${ISV_FLAG}_real_dis_decimal");
                        basePropMap.put("${ISV_FLAG}_undertake_organizati","${ISV_FLAG}_undertake_org2");
                        basePropMap.put("${ISV_FLAG}_warn_remark_person","${ISV_FLAG}_warn_remark");
                        basePropMap.put("${ISV_FLAG}_remark_person","${ISV_FLAG}_person_remark");
                        basePropMap.forEach((key ,value) -> personDistributeDetail.set(key,entry.get(value)));
                        // 进行分录行的赋值
                        personDistributeDetail.set("${ISV_FLAG}_source_bill_type",TYPE_FEN_PEI); // 来源单据类型
                        personDistributeDetail.set("${ISV_FLAG}_dept_person", entry.getDynamicObject("${ISV_FLAG}_peson").getDynamicObject("employee"));
                        personDistributeDetail.set("${ISV_FLAG}_source_bill_hd", null); // 来源单据号（核定）
                        personDistributeDetail.set("${ISV_FLAG}_source_bill_fp",bill); // 来源单据号（分配）
                        // 设置占比
                        personDistributeDetail.set("${ISV_FLAG}_dis_ratio_person",
                                personDistributeDetail.getBigDecimal("${ISV_FLAG}_dis_total_person")
                                        .divide(disMoneyTotal,4, RoundingMode.HALF_UP));
                    });
                }
                // 部门留用明细存在符合的数据
                if(CollectionUtils.isNotEmpty(retentionDetailCollection)){
                    retentionDetailCollection.forEach(entry -> {
                        DynamicObject deptRetentionDetail = deptRetentionDetailCollection.addNew();
                        BigDecimal distributeDecimal = entry.getBigDecimal("${ISV_FLAG}_retention_decimal");
                        // 设置公共属性字段的值
                        // 进行分录行的赋值
                        deptRetentionDetail.set("${ISV_FLAG}_admin_org_keep", entry.getDynamicObject("${ISV_FLAG}_admin_org_keep")); // 行政组织
                        deptRetentionDetail.set("${ISV_FLAG}_bs_entity_org", entry.getDynamicObject("${ISV_FLAG}_bs_entity_org")); // 所属经营主体
                        deptRetentionDetail.set("${ISV_FLAG}_keep_company", entry.getDynamicObject("${ISV_FLAG}_keep_company")); // 所属公司
                        deptRetentionDetail.set("${ISV_FLAG}_retention_total_dept", distributeDecimal); // 留用金额（元）
                        deptRetentionDetail.set("${ISV_FLAG}_undertake_org_dept", entry.getDynamicObject("${ISV_FLAG}_undertake_org3")); // 承担组织
                        deptRetentionDetail.set("${ISV_FLAG}_remark_dept", entry.getString("${ISV_FLAG}_retention_remark")); // 备注
                        deptRetentionDetail.set("${ISV_FLAG}_source_bill_type_dep",TYPE_FEN_PEI); // 来源单据类型
                        deptRetentionDetail.set("${ISV_FLAG}_source_hd_dept", null); // 来源单据号（核定）
                        deptRetentionDetail.set("${ISV_FLAG}_source_fp_dept",bill); // 来源单据号（分配）
                        // 设置占比
                        deptRetentionDetail.set("${ISV_FLAG}_dis_ratio_dept",
                                deptRetentionDetail.getBigDecimal("${ISV_FLAG}_retention_total_dept")
                                        .divide(disMoneyTotal,4, RoundingMode.HALF_UP));
                    });
                }
                // 设置分配统计信息
                BonusApprovalSheetBillSecondPushPlugin.setDistributeStatistics(disSumBill);
                // 保存到数据库
                Object[] distributeSumBillsSaveResult = BonusUtil.saveBill(Arrays.asList(disSumBill).stream().toArray(DynamicObject[]::new));
                return distributeSumBillsSaveResult;
            }
        }
        return null;
    }


    /**
     * 过滤出分配单某分录上用户手动新增的数据
     * @param bill
     * @param entryKey 分录标识
     * @param lockKey 锁定标记
     * @return
     */
    private DynamicObjectCollection listManualHandles(DynamicObject bill,String entryKey,String lockKey){
        return bill.getDynamicObjectCollection(entryKey)
                .stream().filter(
                        item -> !"1".equals(item.getString(lockKey))
                ).collect(Collectors.toCollection(DynamicObjectCollection::new));
    }

    /**
     * 生成奖金分配单（在分配单的组织分配明细中）-生成下级
     * @param currentTime
     * @param bill 分配单bill
     *
     */
    private List<DynamicObject> genDistributeByDeptDetailNext(Date currentTime, DynamicObject bill, Map<String, DynamicObject> personMap) {
        DynamicObjectCollection awardSureOrgCollection = bill.getDynamicObjectCollection("${ISV_FLAG}_dept_dis_entry"); // 组织分配明细
        if(awardSureOrgCollection.size() == 0){
            return Collections.emptyList();
        }

        // 过滤出用户手动新增的数据
        // 当前分配单上 上级分配为为“否”的 人员分配明细
        DynamicObjectCollection awardSureStaffCollection = listManualHandles(bill,"${ISV_FLAG}_person_dis_entry","${ISV_FLAG}_locked_staff");
        // 当前分配单上 上级分配为为“否”的 留存部门明细
        DynamicObjectCollection awardSureKeepCollection = listManualHandles(bill,"${ISV_FLAG}_retention_entry","${ISV_FLAG}_locked_dept");
        return awardSureOrgCollection.stream().map(entry -> {
            String orgLongNumber = entry.getString("${ISV_FLAG}_org.structlongnumber"); // 组织上下级长编码
            DynamicObject distributeDynamicObject = BusinessDataServiceHelper.newDynamicObject(BonusUtil.DISTRIBUTE_BILL_FORM_ID);
            // 隐藏信息
            distributeDynamicObject.set("${ISV_FLAG}_approval", bill.getDynamicObject("${ISV_FLAG}_approval")); // 核定单单据
            distributeDynamicObject.set("${ISV_FLAG}_distribute", bill); // 分配单单据
            distributeDynamicObject.set("${ISV_FLAG}_approval_id", bill.getLong("${ISV_FLAG}_approval_id")); // 核定单id
            distributeDynamicObject.set("${ISV_FLAG}_distribute_id", bill.getLong("id")); // 分配单id
            /*distributeDynamicObject.set("creator", bosUser); // 创建人
            distributeDynamicObject.set("modifier", bosUser); // 修改人*/
            distributeDynamicObject.set("createtime", currentTime); // 创建时间
            distributeDynamicObject.set("modifytime", currentTime); // 修改时间
            distributeDynamicObject.set("billstatus", "A"); // 单据状态
            distributeDynamicObject.set("auditstatus", "A"); // 审批状态
            distributeDynamicObject.set("${ISV_FLAG}_currencyfield", BonusUtil.currency); // 币别

            // 基本信息
            distributeDynamicObject.set("org", entry.getDynamicObject("${ISV_FLAG}_org.org")); // 奖金管理组织
            distributeDynamicObject.set("${ISV_FLAG}_distribute_org", entry.getDynamicObject("${ISV_FLAG}_org")); // 分配组织
            distributeDynamicObject.set("${ISV_FLAG}_pt_undertake_org", entry.getDynamicObject("${ISV_FLAG}_undertake_org")); // 上级单承担组织
            distributeDynamicObject.set("${ISV_FLAG}_bonus_item", bill.getDynamicObject("${ISV_FLAG}_bonus_item")); // 奖金项目
            distributeDynamicObject.set("${ISV_FLAG}_belong_period", bill.getDate("${ISV_FLAG}_belong_period")); // 归属周期
            distributeDynamicObject.set("${ISV_FLAG}_distribute_rule", bill.get("${ISV_FLAG}_distribute_rule")); // 分配规则
            distributeDynamicObject.set("${ISV_FLAG}_warn_rule", bill.get("${ISV_FLAG}_warn_rule")); // 预警规则
            distributeDynamicObject.set("${ISV_FLAG}_enable_distribute_tl", entry.getBigDecimal("${ISV_FLAG}_distribute_decimal")); // 可分配总额 --- 来源于分配单则取“分配金额”
            distributeDynamicObject.set("${ISV_FLAG}_subordinate", entry.getDynamicObject("${ISV_FLAG}_distribute_person")); // 分配人（从上级单据带来）
            // 单据处理人
            DynamicObject handler = BonusWriteBackUtil.getBosUser(entry.getDynamicObject("${ISV_FLAG}_distribute_person"));
            distributeDynamicObject.set("${ISV_FLAG}_handler", handler);
            distributeDynamicObject.set("creator", handler);
            distributeDynamicObject.set("modifier", handler);
            // 分配组织 是否是经营主体
            int jY = 0;
            DynamicObject adminOrg = entry.getDynamicObject("${ISV_FLAG}_org");
            if(adminOrg != null){
                DynamicObject orgTypeObject = adminOrg.getDynamicObject("adminorgtype");
                if(orgTypeObject != null && "1025_S".equals(orgTypeObject.getString("number"))){
                    jY = 1;
                }
            }
            // 经营主体分配 0 否  1 是
            distributeDynamicObject.set("${ISV_FLAG}_jyztfp", jY);
            // 上级单据类型
            distributeDynamicObject.set("${ISV_FLAG}_parent_bill_type", TYPE_FEN_PEI);
            // 上级单据编号
            distributeDynamicObject.set("${ISV_FLAG}_parent_bill_no", bill.get("billno"));
            // 上级单据名称
            distributeDynamicObject.set("${ISV_FLAG}_parent_bill_name", bill.get("${ISV_FLAG}_name"));
            // 上级创建人
            distributeDynamicObject.set("${ISV_FLAG}_pt_creator", bill.get("${ISV_FLAG}_dept_person"));
            // 上级创建人 公司
            distributeDynamicObject.set("${ISV_FLAG}_pt_company", bill.get("${ISV_FLAG}_attribut_company"));
            // 上级创建人 部门
            distributeDynamicObject.set("${ISV_FLAG}_pt_dept", bill.get("${ISV_FLAG}_attribut_dept"));
            // 上级创建人 岗位
            distributeDynamicObject.set("${ISV_FLAG}_pt_post", bill.get("${ISV_FLAG}_attribut_post"));

            // 核定单据信息赋值
            distributeDynamicObject.set("${ISV_FLAG}_approval_no",bill.get("${ISV_FLAG}_approval_no"));
            distributeDynamicObject.set("${ISV_FLAG}_approval_name",bill.get("${ISV_FLAG}_approval_name"));
            distributeDynamicObject.set("${ISV_FLAG}_award_type",bill.get("${ISV_FLAG}_award_type"));
            distributeDynamicObject.set("${ISV_FLAG}_award_project",bill.get("${ISV_FLAG}_award_project"));
            distributeDynamicObject.set("${ISV_FLAG}_personalization",bill.get("${ISV_FLAG}_personalization"));
            distributeDynamicObject.set("${ISV_FLAG}_approval_period",bill.get("${ISV_FLAG}_approval_period"));
            distributeDynamicObject.set("${ISV_FLAG}_approval_end_date",bill.get("${ISV_FLAG}_approval_end_date"));
            distributeDynamicObject.set("${ISV_FLAG}_cost_duty",bill.get("${ISV_FLAG}_cost_duty"));
            distributeDynamicObject.set("${ISV_FLAG}_approval_describe",bill.get("${ISV_FLAG}_approval_describe"));
            distributeDynamicObject.set("${ISV_FLAG}_ap_creator",bill.get("${ISV_FLAG}_ap_creator"));
            distributeDynamicObject.set("${ISV_FLAG}_ap_company",bill.get("${ISV_FLAG}_ap_company"));
            distributeDynamicObject.set("${ISV_FLAG}_ap_dept",bill.get("${ISV_FLAG}_ap_dept"));
            distributeDynamicObject.set("${ISV_FLAG}_ap_post",bill.get("${ISV_FLAG}_ap_post"));

            // 调用自动编码规则
            CodeRuleInfo codeRule = CodeRuleServiceHelper.getCodeRule(distributeDynamicObject.getDataEntityType().getName(), distributeDynamicObject, null);
            // 获取单据编码
            String billno = CodeRuleServiceHelper.getNumber(codeRule, distributeDynamicObject);
            distributeDynamicObject.set("billno", billno);
            // 编码路径
            distributeDynamicObject.set("${ISV_FLAG}_billno_path_tag",bill.get("${ISV_FLAG}_billno_path_tag") + "&" + billno);
            // 创建人员信息绑定
            setCreatorDefaultNext(distributeDynamicObject,entry,personMap);

            // 单据体
            // 获取[奖金分配单]的[组织分配明细]分录和[留存部门明细]分录的行政组织的长编码集合
            List<DynamicObject> personDetailCollection = awardSureStaffCollection.stream().filter(
                    number -> number.getString("${ISV_FLAG}_admin_dept.structlongnumber").contains(orgLongNumber)
            ).collect(Collectors.toList());
            List<DynamicObject> retentionDetailCollection = awardSureKeepCollection.stream().filter(
                    number -> number.getString("${ISV_FLAG}_admin_org_keep.structlongnumber").contains(orgLongNumber)
            ).collect(Collectors.toList());
            genDistributeEntryNext(distributeDynamicObject, personDetailCollection, retentionDetailCollection);

            // 分配统计
            BigDecimal personDistributeTotal = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_person_dis_entry").stream().filter(upper -> ! upper.getBoolean("${ISV_FLAG}_is_upper_dis")).map(decimal -> decimal.getBigDecimal("${ISV_FLAG}_real_dis_decimal")).reduce(BigDecimal.ZERO, BigDecimal::add);
            BigDecimal personUpperDistributeTotal = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_person_dis_entry").stream().filter(upper -> upper.getBoolean("${ISV_FLAG}_is_upper_dis")).map(decimal -> decimal.getBigDecimal("${ISV_FLAG}_real_dis_decimal")).reduce(BigDecimal.ZERO, BigDecimal::add);
            BigDecimal deptDistributeTotal = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_dept_dis_entry").stream().map(decimal -> decimal.getBigDecimal("${ISV_FLAG}_distribute_decimal")).reduce(BigDecimal.ZERO, BigDecimal::add);
            BigDecimal retentionTotal = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_retention_entry").stream().filter(upper -> ! upper.getBoolean("${ISV_FLAG}_is_upper")).map(decimal -> decimal.getBigDecimal("${ISV_FLAG}_retention_decimal")).reduce(BigDecimal.ZERO, BigDecimal::add);
            BigDecimal retentionUpperTotal = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_retention_entry").stream().filter(upper -> upper.getBoolean("${ISV_FLAG}_is_upper")).map(decimal -> decimal.getBigDecimal("${ISV_FLAG}_retention_decimal")).reduce(BigDecimal.ZERO, BigDecimal::add);
            BigDecimal currentDistributeTotal = personDistributeTotal.add(deptDistributeTotal);
            BigDecimal upperDistributeTotal = personUpperDistributeTotal.add(retentionUpperTotal);
            // 可分配总额
            BigDecimal enableDisTotal = distributeDynamicObject.getBigDecimal("${ISV_FLAG}_enable_distribute_tl");
            distributeDynamicObject.set("${ISV_FLAG}_current_dis_total", currentDistributeTotal); // 本次分配总金额
            distributeDynamicObject.set("${ISV_FLAG}_org_dis_total", deptDistributeTotal); // 组织分配总额
            distributeDynamicObject.set("${ISV_FLAG}_person_dis_total", personDistributeTotal); // 人员分配总额
            distributeDynamicObject.set("${ISV_FLAG}_rentention_dis_total", retentionTotal); // 部门留存总额
            distributeDynamicObject.set("${ISV_FLAG}_upper_dis_total", upperDistributeTotal); // 上级分配总额
            distributeDynamicObject.set("${ISV_FLAG}_money_total", enableDisTotal.add(upperDistributeTotal)); // 奖金总额=可分配总额+上级分配总额

            // 可分配总额
            BigDecimal availTotal2 = distributeDynamicObject.getBigDecimal("${ISV_FLAG}_enable_distribute_tl");
            // 本次分配
            BigDecimal currTotal2 = distributeDynamicObject.getBigDecimal("${ISV_FLAG}_current_dis_total");
            // 剩余未用金额
            distributeDynamicObject.set("${ISV_FLAG}_leave_total",availTotal2.subtract(currTotal2));
            // 分配单记录汇总单编码
            distributeDynamicObject.set("${ISV_FLAG}_dis_billno", bill.getString("${ISV_FLAG}_dis_billno"));
            // 设置分配单单据名称
            BonusWriteBackUtil.setDistributeBillName(distributeDynamicObject);
            return distributeDynamicObject;
        }).collect(Collectors.toList());
    }

    /**
     * >>默认设置创建人信息
     */
    private void setCreatorDefaultNext(DynamicObject distributeDynamicObject,DynamicObject entry,Map<String, DynamicObject> numberMap){
        // 创建人员信息绑定
        String personNumber = entry.getDynamicObject("${ISV_FLAG}_distribute_person").getString("empnumber");
        if (!numberMap.isEmpty() && numberMap.containsKey(personNumber)){
            DynamicObject empPosRel = numberMap.get(personNumber);;
            if (empPosRel != null){
                distributeDynamicObject.set("${ISV_FLAG}_dept_person",empPosRel);
                DynamicObject position = empPosRel.getDynamicObject("position");
                distributeDynamicObject.set("${ISV_FLAG}_attribut_post",position);
                distributeDynamicObject.set("${ISV_FLAG}_attribut_dept",empPosRel.getDynamicObject("adminorg"));
                distributeDynamicObject.set("${ISV_FLAG}_attribut_company",empPosRel.getDynamicObject("company"));
            }
        }
    }

    /**
     * 生成奖金分配单的分录（在上级分配但的组织分配明细中）
     */
    private void genDistributeEntryNext(DynamicObject distributeDynamicObject, List<DynamicObject> personDetailCollection, List<DynamicObject> retentionDetailCollection) {
        if(CollectionUtils.isNotEmpty(personDetailCollection)){
            BigDecimal enableDistributeTotal = distributeDynamicObject.getBigDecimal("${ISV_FLAG}_enable_distribute_tl");
            DynamicObjectCollection personDisEntryCollection = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_person_dis_entry");
            personDetailCollection.forEach(entry -> {
                BigDecimal ruleDistributeDecimal = entry.getBigDecimal("${ISV_FLAG}_real_dis_decimal");
                BigDecimal realDistributeDecimal = ruleDistributeDecimal;
//                BigDecimal distributeRatio = realDistributeDecimal.divide(enableDistributeTotal,4,RoundingMode.HALF_UP);
                // 分配单上的人员占分配比置空
                BigDecimal distributeRatio = null;
                DynamicObject personEntry = personDisEntryCollection.addNew();
                personEntry.set("${ISV_FLAG}_peson", entry.getDynamicObject("${ISV_FLAG}_peson")); // 员工姓名
                personEntry.set("${ISV_FLAG}_employment_history", entry.getDynamicObject("${ISV_FLAG}_employment_history")); // 任职经历历史版本
                personEntry.set("${ISV_FLAG}_peson_number", entry.getString("${ISV_FLAG}_peson_number")); // 员工姓名
                personEntry.set("${ISV_FLAG}_per_business_entity", entry.getDynamicObject("${ISV_FLAG}_per_business_entity")); // 所属经营主体
                personEntry.set("${ISV_FLAG}_per_admin_company", entry.getDynamicObject("${ISV_FLAG}_per_admin_company")); // 所属公司
                personEntry.set("${ISV_FLAG}_admin_dept", entry.getDynamicObject("${ISV_FLAG}_admin_dept")); // 所属部门
                personEntry.set("${ISV_FLAG}_admin_post", entry.getDynamicObject("${ISV_FLAG}_admin_post")); // 所属部门
                // personEntry.set("${ISV_FLAG}_rule_dis_decimal", ruleDistributeDecimal); // 按规则分配金额
                personEntry.set("${ISV_FLAG}_real_dis_decimal", realDistributeDecimal); // 实际分配金额
                personEntry.set("${ISV_FLAG}_dis_ratio", distributeRatio); // 分配占比
                personEntry.set("${ISV_FLAG}_undertake_org2", entry.getDynamicObject("${ISV_FLAG}_undertake_org2")); // 承担组织
                personEntry.set("${ISV_FLAG}_is_upper_dis", IS_UPPER_DISTRIBUTE); // 上级分配
                personEntry.set("${ISV_FLAG}_locked_staff",1);//锁定标记
            });
        }

        if(CollectionUtils.isNotEmpty(retentionDetailCollection)){
            DynamicObjectCollection retentionEntryCollection = distributeDynamicObject.getDynamicObjectCollection("${ISV_FLAG}_retention_entry");
            retentionDetailCollection.forEach(entry -> {
                DynamicObject retentionEntry = retentionEntryCollection.addNew();
                retentionEntry.set("${ISV_FLAG}_admin_org_keep", entry.getDynamicObject("${ISV_FLAG}_admin_org_keep")); // 行政组织
                retentionEntry.set("${ISV_FLAG}_bs_entity_org", entry.getDynamicObject("${ISV_FLAG}_bs_entity_org")); // 所属经营主体
                retentionEntry.set("${ISV_FLAG}_keep_company", entry.getDynamicObject("${ISV_FLAG}_keep_company")); // 所属公司
                retentionEntry.set("${ISV_FLAG}_undertake_org3", entry.getDynamicObject("${ISV_FLAG}_undertake_org3")); // 承担组织
                retentionEntry.set("${ISV_FLAG}_retention_decimal", entry.getBigDecimal("${ISV_FLAG}_retention_decimal")); // 留存金额
                retentionEntry.set("${ISV_FLAG}_is_upper", IS_UPPER_DISTRIBUTE); // 上级分配
                retentionEntry.set("${ISV_FLAG}_locked_dept",1);//锁定标记
            });
        }
    }
}
