package ${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.salmap.util;

import kd.bos.dataentity.utils.ObjectUtils;

import java.util.Calendar;
import java.util.Date;

/**
 * Author: 王博纶
 * Date: 2024/6/24 16:46
 * FileName: CalendarUtil
 * Description: 日期工具类
 */
public class CalendarUtil {

    /**
     * 获取给定时间对应的月分的第一天的Date
     * @param date 指定的日期
     * @return 当年当月第一天
     */
    public static Date queryMonthFirstDay(Date date){
        if(ObjectUtils.isEmpty(date)){
            return null;
        }
        // 对Date进行非空判断
        Calendar calendar = Calendar.getInstance();
        calendar.setTime(date);
        // 设置为当前时间的最后一天
        calendar.set(Calendar.DAY_OF_MONTH, calendar.getActualMinimum(Calendar.DAY_OF_MONTH));
        calendar.set(Calendar.HOUR_OF_DAY, 0);
        calendar.set(Calendar.MINUTE, 0);
        calendar.set(Calendar.SECOND, 0);
        calendar.set(Calendar.MILLISECOND, 0);
        return calendar.getTime();
    }

    /**
     * 获取给定时间对应的月分的最后一天的Date
     * @param date 指定的日期
     * @return 当年当月最后一天
     */
    public static Date queryMonthLastDay(Date date){
        if(ObjectUtils.isEmpty(date)){
            return null;
        }
        // 对Date进行非空判断
        Calendar calendar = Calendar.getInstance();
        calendar.setTime(date);
        // 设置为当前时间的最后一天
        calendar.set(Calendar.DAY_OF_MONTH, calendar.getActualMaximum(Calendar.DAY_OF_MONTH));
        calendar.set(Calendar.HOUR_OF_DAY, 23);
        calendar.set(Calendar.MINUTE, 59);
        calendar.set(Calendar.SECOND, 59);
        return calendar.getTime();
    }
}
