<?xml version="1.0" encoding="UTF-8"?>
<DataModel dympath="metadata">
<!--岗位标签-->
    <SqlScript Type="KSQL" Separator=";" dbkey="hr">preinsdata/tk_tdkw_hbss_joblabel_20251231095845.sql</SqlScript>
<!--岗位属性-->
    <SqlScript Type="KSQL" Separator=";" dbkey="hr">preinsdata/tk_tdkw_hbss_jobproperty_20251231095655.sql</SqlScript>
</DataModel>
