package ${ISV_FLAG}.swc.sit.other.enums;

public enum BosOrgEnum {
    YX("四川永祥股份有限公司", "TW02"),
    TYN("通威太阳能有限公司", "TW03");
    
    private String bosOrgName;
    private String bosOrgNumber;

    private BosOrgEnum(String bosOrgName, String bosOrgNumber) {
        this.bosOrgName = bosOrgName;
        this.bosOrgNumber = bosOrgNumber;
    }
    public String getBosOrgName() {
        return bosOrgName;
    }
    public String getBosOrgNumber() {
        return bosOrgNumber;
    }
    @Override
    public String toString() {
        return bosOrgNumber;
    }
}