DELETE FROM t_meta_ctlschema WHERE FID = 2088547654022743040;
INSERT INTO t_meta_ctlschema(FID,FVERSION,FSCHEMAID,FATTACHMENTCOUNT,FMODULEID,FPREVIEWIMG,FISVID) VALUES (2088547654022743040,'1','orgrelationchart',0,'hr',' ','tdkw'); 
DELETE FROM t_meta_ctlschema_L WHERE FPKID = '4JJ0504K7Z4U';
INSERT INTO t_meta_ctlschema_L(FID,FPKID,FLOCALEID,FSCHEMANAME) VALUES (2088547654022743040,'4JJ0504K7Z4U','zh_CN','汇报关系控件'); 
DELETE FROM t_meta_ctlschema_L WHERE FPKID = '4JJ0504K7Z4V';
INSERT INTO t_meta_ctlschema_L(FID,FPKID,FLOCALEID,FSCHEMANAME) VALUES (2088547654022743040,'4JJ0504K7Z4V','zh_TW','彙報關係控件'); 

