DELETE FROM t_perm_permitem WHERE FID = '3+IV9XQ9HIYA';
INSERT INTO t_perm_permitem(FID,FPREPERMITEMID,FBIZAPPID,FINHERITMODE,FGROUP,FNUMBER) VALUES ('3+IV9XQ9HIYA','47150e89000000ac',' ','10','10','HRQXX0870'); 


DELETE FROM t_perm_permitem_l WHERE FPKID = '34=/HAF57H2X';
INSERT INTO t_perm_permitem_l(FID,FPKID,FLOCALEID,FDESCRIPTION,FNAME) VALUES ('3+IV9XQ9HIYA','34=/HAF57H2X','en_US','Submit for Review','Submit for Review'); 
DELETE FROM t_perm_permitem_l WHERE FPKID = '3+IV=61ABEON';
INSERT INTO t_perm_permitem_l(FID,FPKID,FLOCALEID,FDESCRIPTION,FNAME) VALUES ('3+IV9XQ9HIYA','3+IV=61ABEON','zh_CN','提交审核','提交审核'); 
DELETE FROM t_perm_permitem_l WHERE FPKID = '34=/W3OAN=07';
INSERT INTO t_perm_permitem_l(FID,FPKID,FLOCALEID,FDESCRIPTION,FNAME) VALUES ('3+IV9XQ9HIYA','34=/W3OAN=07','zh_TW','提交審核','提交審核'); 




