<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>49L44BUY172C</MasterId>
  <Id>49L44BUY172C</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_check_rule_basedata</Number>
      <PkId>56J4QRCQWHGN</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>信息采集模块规则配置</Name>
      <Id>49L44BUY172C</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_check_rule_basedata</Number>
      <PkId>56J4QRL37WH1</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>信息采集模块规则配置</Name>
      <Id>49L44BUY172C</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1756437506423</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
