<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>49L44BUY172C</MasterId>
  <BizappId>557R46J+NZ+W</BizappId>
  <Id>49L44BUY172C</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1756437506423</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>49L44BUY172C</Id>
          <Key>${ISV_FLAG}_check_rule_basedata</Key>
          <EntityId>49L44BUY172C</EntityId>
          <ParentId>1942c188000065ac</ParentId>
          <BizappId>557R46J+NZ+W</BizappId>
          <IsvSign/>
          <Name>信息采集模块规则配置</Name>
          <InheritPath>1942c188000065ac</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>49L44BUY172C</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>49L44BUY172C</Id>
              <Shrink>0</Shrink>
              <BackColor>#E2E7EF</BackColor>
              <Name>信息采集模块规则配置</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>hcXx29Z5</FPK>
                  <ClassName>49L44BUY172C_hcXx29Z5</ClassName>
                  <SourceNumber>${ISV_FLAG}_check_rule_basedata</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>信息采集模块规则配置</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_check_rule_basedata</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>cY46QgAa</FPK>
                          <ClassName>49L44BUY172C_mob_cY46QgAa</ClassName>
                          <SourceNumber>${ISV_FLAG}_check_rule_basedata_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>信息采集模块规则配置</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Name>信息采集模块规则配置</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Name>信息采集模块规则配置</Name>
                    </FormAp>
                    <ListCardViewAp action="edit" oid="cardview">
                      <Invisible>true</Invisible>
                    </ListCardViewAp>
                    <QingViewAp action="edit" oid="qingview">
                      <Invisible>true</Invisible>
                    </QingViewAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>49L44BUY172C</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>49L44BUY172C</EntityId>
                    </BillListAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>3</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4=AFUPB438CP</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_entity_name</ListFieldId>
                      <Name>插件使用实体标识</Name>
                    </ComboListColumnAp>
                    <ComboListColumnAp action="edit" oid="UGA0V8HS=6S">
                      <Index>4</Index>
                    </ComboListColumnAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4AQTRA6CYYZZ</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>status</ListFieldId>
                      <Name>数据状态</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>3</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4B28QFUUKM5V</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>6</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_field_symbol</ListFieldId>
                      <Name>表单字段标识</Name>
                    </ListColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FieldAp>
              <Id>kj7oSdGm0c</Id>
              <FieldId>kj7oSdGm0c</FieldId>
              <Name>字段锁定</Name>
              <Key>${ISV_FLAG}_field_lock</Key>
              <ParentId>0WmtfYxH0R</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>YKnP1J6lN2JMjwzhdK</Id>
              <FieldId>YKnP1J6lN2JMjwzhdK</FieldId>
              <Index>1</Index>
              <Name>字段必填</Name>
              <Key>${ISV_FLAG}_field_must_input</Key>
              <ParentId>0WmtfYxH0R</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>pSYgLKmFWuUSKge1Ra</Id>
              <FieldId>pSYgLKmFWuUSKge1Ra</FieldId>
              <Index>2</Index>
              <Name>设置默认值类型</Name>
              <Key>${ISV_FLAG}_default_val_type</Key>
              <ParentId>0WmtfYxH0R</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>OEpwRqpF1xyN9JiWW3</Id>
              <FieldId>OEpwRqpF1xyN9JiWW3</FieldId>
              <Index>3</Index>
              <Name>默认值</Name>
              <Key>${ISV_FLAG}_default_value</Key>
              <ParentId>0WmtfYxH0R</ParentId>
            </FieldAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Index action="reset"/>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <Shrink>0</Shrink>
              <Index>1</Index>
              <BackColor>#ffffff</BackColor>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                      <Right action="reset"/>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>L6BYt4e3J8</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>2</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel2</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>ROGJy2NedN</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>3</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>Qb5PIeZ0gc</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>4</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel1</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>aPm1KfBWRu</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>5</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel11</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>rlb11tKmrU</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>6</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel111</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>nJj9pHVX5O</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>7</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel1111</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>liw5C2zF7z</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>8</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel11111</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>pZzlXnrkRx</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>9</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel1112</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>TMPv6FETUO</Id>
              <Grow>0</Grow>
              <AlignItems>stretch</AlignItems>
              <Shrink>0</Shrink>
              <Index>10</Index>
              <ForeColor/>
              <BackColor>#ffffff</BackColor>
              <Name>内容区</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_conentpanel11121</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FieldAp>
              <Id>4wAck5GWqtND6sqnLi</Id>
              <FieldId>4wAck5GWqtND6sqnLi</FieldId>
              <Name>文本最小长度</Name>
              <Key>${ISV_FLAG}_text_min_length</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>3rDLi28b4EKPvqSz2q</Id>
              <FieldId>3rDLi28b4EKPvqSz2q</FieldId>
              <Index>1</Index>
              <Name>文本最大长度</Name>
              <Key>${ISV_FLAG}_text_max_length</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>blene1ucwJrmjSIeCK</Id>
              <FieldId>blene1ucwJrmjSIeCK</FieldId>
              <Index>2</Index>
              <Name>不包含中文</Name>
              <Key>${ISV_FLAG}_txt_check_no_chinese</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>YPCjhLmyfpd6WWx6Nq</Id>
              <FieldId>YPCjhLmyfpd6WWx6Nq</FieldId>
              <Index>3</Index>
              <Name>不包含数字</Name>
              <Key>${ISV_FLAG}_txt_check_no_digit</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>PuGi3tRkW08T53V5WB</Id>
              <FieldId>PuGi3tRkW08T53V5WB</FieldId>
              <Index>4</Index>
              <Name>不包含英文</Name>
              <Key>${ISV_FLAG}_txt_check_no_english</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>u2fx6CXgAwgeHVQaz6</Id>
              <FieldId>u2fx6CXgAwgeHVQaz6</FieldId>
              <Index>5</Index>
              <Name>不包含符号</Name>
              <Key>${ISV_FLAG}_txt_check_no_symbol</Key>
              <ParentId>7bxcof5HQi</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>3RcfbAlasz</Id>
              <FieldId>3RcfbAlasz</FieldId>
              <Name>计算类型</Name>
              <Key>${ISV_FLAG}_calculate_type</Key>
              <ParentId>9PLnxC37vL</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>NroPMm7okUkQmyjdMt</Id>
              <FieldId>NroPMm7okUkQmyjdMt</FieldId>
              <Index>1</Index>
              <Name>开始数值标识（日期）-减数</Name>
              <Key>${ISV_FLAG}_start_value_symbol</Key>
              <ParentId>9PLnxC37vL</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>bLQPf0RjVAz2Tdt7VY</Id>
              <FieldId>bLQPf0RjVAz2Tdt7VY</FieldId>
              <Index>2</Index>
              <Name>结束数值标识（日期）-被减数</Name>
              <Key>${ISV_FLAG}_end_value_symbol</Key>
              <ParentId>9PLnxC37vL</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>k1czEyh0UrNRDCwg7d</Id>
              <FieldId>k1czEyh0UrNRDCwg7d</FieldId>
              <Index>3</Index>
              <Name>计算结果写入目标字段标识</Name>
              <Key>${ISV_FLAG}_cal_target_field</Key>
              <ParentId>9PLnxC37vL</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="8oq6R4m9CF">
              <Name>规则名称</Name>
            </FieldAp>
            <FieldAp>
              <Id>dCh7l4VD1c7Hi2KjWg</Id>
              <FieldId>dCh7l4VD1c7Hi2KjWg</FieldId>
              <Index>6</Index>
              <Name>插件使用实体标识</Name>
              <Key>${ISV_FLAG}_entity_name</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>jpGAglpOLW0G1yf4BC</Id>
              <FieldId>jpGAglpOLW0G1yf4BC</FieldId>
              <Index>7</Index>
              <Name>表单字段标识</Name>
              <Key>${ISV_FLAG}_field_symbol</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>8SHB31Lvk6GI2BOLJA</Id>
              <FieldId>8SHB31Lvk6GI2BOLJA</FieldId>
              <Index>8</Index>
              <Name>事件类型</Name>
              <Key>${ISV_FLAG}_event_type</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>R4P4ZATnAl2327FG4Z</Id>
              <FieldId>R4P4ZATnAl2327FG4Z</FieldId>
              <Index>9</Index>
              <Name>规则类型</Name>
              <Key>${ISV_FLAG}_field_rule_type</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>eCai23KrpBDZQRMMRS</Id>
              <FieldId>eCai23KrpBDZQRMMRS</FieldId>
              <Name>复制到的目标字段标识（类型需一致）</Name>
              <Key>${ISV_FLAG}_copy_target_field</Key>
              <ParentId>KlFM4EzWnW</ParentId>
            </FieldAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>0WmtfYxH0R</Id>
              <BackColor/>
              <Name>字段界面通用控制</Name>
              <Key>${ISV_FLAG}_fs_baseinfo22</Key>
              <ParentId>L6BYt4e3J8</ParentId>
            </FieldsetPanelAp>
            <FlexPanelAp action="edit" oid="ojEchAUgVf">
              <Invisible>true</Invisible>
            </FlexPanelAp>
            <FieldsetPanelAp action="edit" oid="STdfsCCFTj">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </FieldsetPanelAp>
            <FieldsetPanelAp action="edit" oid="I8M9X0FOPr">
              <Overflow>visible</Overflow>
            </FieldsetPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>7bxcof5HQi</Id>
              <BackColor/>
              <Name>文本类型界面控制</Name>
              <Key>${ISV_FLAG}_fs_baseinfo21</Key>
              <ParentId>Qb5PIeZ0gc</ParentId>
            </FieldsetPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>dfBrIfhw9C</Id>
              <BackColor/>
              <Name>数值类型界面控制</Name>
              <Key>${ISV_FLAG}_fs_baseinfo2</Key>
              <ParentId>ROGJy2NedN</ParentId>
            </FieldsetPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>fhMz9TbLaR</Id>
              <BackColor/>
              <Name>根据字段的值设置目标字段属性</Name>
              <Key>${ISV_FLAG}_fs_baseinfo211121</Key>
              <ParentId>TMPv6FETUO</ParentId>
            </FieldsetPanelAp>
            <FieldAp>
              <Id>a3oCPo85dx8bkXuh95</Id>
              <FieldId>a3oCPo85dx8bkXuh95</FieldId>
              <Name>checkbox选中影响的字段filedid</Name>
              <Key>${ISV_FLAG}_checkbox_effect</Key>
              <ParentId>UNZvvYwW9q</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>BVP0hsVLMNbRFBqQ9O</Id>
              <FieldId>BVP0hsVLMNbRFBqQ9O</FieldId>
              <Index>1</Index>
              <Name>checkbox影响的字段操作</Name>
              <Key>${ISV_FLAG}_checkbox_operate</Key>
              <ParentId>UNZvvYwW9q</ParentId>
            </FieldAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>9PLnxC37vL</Id>
              <BackColor/>
              <Name>业务规则加减计算</Name>
              <Key>${ISV_FLAG}_fs_baseinfo211</Key>
              <ParentId>aPm1KfBWRu</ParentId>
            </FieldsetPanelAp>
            <FieldAp>
              <Id>nq6kAFrZTGPRHGz0Bu</Id>
              <FieldId>nq6kAFrZTGPRHGz0Bu</FieldId>
              <Name>数值长度</Name>
              <Key>${ISV_FLAG}_decimal_precision</Key>
              <ParentId>dfBrIfhw9C</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>Ol95tzEGbxWYy1mkI7</Id>
              <FieldId>Ol95tzEGbxWYy1mkI7</FieldId>
              <Index>1</Index>
              <Name>小数位数</Name>
              <Key>${ISV_FLAG}_decimal_scale</Key>
              <ParentId>dfBrIfhw9C</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>qLQiqNHGv28QteYDij</Id>
              <FieldId>qLQiqNHGv28QteYDij</FieldId>
              <Index>2</Index>
              <Name>数值最小值</Name>
              <Key>${ISV_FLAG}_min_value</Key>
              <ParentId>dfBrIfhw9C</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>EALauvjdsXVfOAcsub</Id>
              <FieldId>EALauvjdsXVfOAcsub</FieldId>
              <Index>3</Index>
              <Name>数值最大值</Name>
              <Key>${ISV_FLAG}_max_value</Key>
              <ParentId>dfBrIfhw9C</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>0SCizFJOgGkOe2QDYE</Id>
              <FieldId>0SCizFJOgGkOe2QDYE</FieldId>
              <Name>匹配值类型</Name>
              <Key>${ISV_FLAG}_match_val_type</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>XWRGzq1ftKWrSI741q</Id>
              <FieldId>XWRGzq1ftKWrSI741q</FieldId>
              <Index>1</Index>
              <Name>匹配条件</Name>
              <Key>${ISV_FLAG}_match_condition</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>GRJ7wS6EAxMJbxIS2I</Id>
              <FieldId>GRJ7wS6EAxMJbxIS2I</FieldId>
              <Index>2</Index>
              <Name>匹配的条件值</Name>
              <Key>${ISV_FLAG}_match_condi_value</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>DErew91NJm</Id>
              <FieldId>DErew91NJm</FieldId>
              <Index>3</Index>
              <Name>目标字段标识</Name>
              <Key>${ISV_FLAG}_match_target_field</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>R6AK35S0FfnjGHqMAW</Id>
              <FieldId>R6AK35S0FfnjGHqMAW</FieldId>
              <Index>4</Index>
              <Name>目标字段隐藏</Name>
              <Key>${ISV_FLAG}_match_tar_hide</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>AqqETCttjrohv9YWuT</Id>
              <FieldId>AqqETCttjrohv9YWuT</FieldId>
              <Index>5</Index>
              <Name>目标字段锁定</Name>
              <Key>${ISV_FLAG}_match_tar_lock</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>8v4avkdwgg0XQtrUBI</Id>
              <FieldId>8v4avkdwgg0XQtrUBI</FieldId>
              <Index>6</Index>
              <Name>目标字段必填</Name>
              <Key>${ISV_FLAG}_match_tar_must_input</Key>
              <ParentId>fhMz9TbLaR</ParentId>
            </FieldAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>tK1DdGLVfa</Id>
              <BackColor/>
              <Name>根据字段设置相关字段的值</Name>
              <Key>${ISV_FLAG}_fs_baseinfo211111</Key>
              <ParentId>liw5C2zF7z</ParentId>
            </FieldsetPanelAp>
            <FieldAp>
              <Id>mFWpiKv1jKnuyWN0t5</Id>
              <FieldId>mFWpiKv1jKnuyWN0t5</FieldId>
              <Name>日期比较方式</Name>
              <Key>${ISV_FLAG}_date_compare_type</Key>
              <ParentId>luU8O0Vb8G</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>zosaozuKiHGW0vF5K3</Id>
              <FieldId>zosaozuKiHGW0vF5K3</FieldId>
              <Index>1</Index>
              <Name>比较的字段filedid（当前时间填now）</Name>
              <Key>${ISV_FLAG}_date_compare_field</Key>
              <ParentId>luU8O0Vb8G</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>IJxUu52hNmBiRJ0eJN</Id>
              <FieldId>IJxUu52hNmBiRJ0eJN</FieldId>
              <Index>2</Index>
              <Name>日期比较不通过提示语</Name>
              <Key>${ISV_FLAG}_date_compare_tips</Key>
              <ParentId>luU8O0Vb8G</ParentId>
            </FieldAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>luU8O0Vb8G</Id>
              <BackColor/>
              <Name>日期字段界面规则检查</Name>
              <Key>${ISV_FLAG}_fs_baseinfo21111</Key>
              <ParentId>nJj9pHVX5O</ParentId>
            </FieldsetPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>KlFM4EzWnW</Id>
              <BackColor/>
              <Name>复制值到目标字段</Name>
              <Key>${ISV_FLAG}_fs_baseinfo21112</Key>
              <ParentId>pZzlXnrkRx</ParentId>
            </FieldsetPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Id>UNZvvYwW9q</Id>
              <BackColor/>
              <Name>复选框控件界面规则检查</Name>
              <Key>${ISV_FLAG}_fs_baseinfo2111</Key>
              <ParentId>rlb11tKmrU</ParentId>
            </FieldsetPanelAp>
            <FieldAp>
              <Id>LKdjdpsgeTOgV3BFE2</Id>
              <FieldId>LKdjdpsgeTOgV3BFE2</FieldId>
              <Name>触发的目标赋值字段</Name>
              <Key>${ISV_FLAG}_field_effect_field</Key>
              <ParentId>tK1DdGLVfa</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>gjiFnH05qHRMvYAbwD</Id>
              <FieldId>gjiFnH05qHRMvYAbwD</FieldId>
              <Index>1</Index>
              <Name>关联查询的对象</Name>
              <Key>${ISV_FLAG}_field_effect_object</Key>
              <ParentId>tK1DdGLVfa</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>EwiJlgmYfrpdTzEabh</Id>
              <FieldId>EwiJlgmYfrpdTzEabh</FieldId>
              <Index>2</Index>
              <Name>关联查询的对象条件字段名</Name>
              <Key>${ISV_FLAG}_fd_eft_object_symbol</Key>
              <ParentId>tK1DdGLVfa</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>JiKlChiJPv4l5c4aKw</Id>
              <FieldId>JiKlChiJPv4l5c4aKw</FieldId>
              <Index>3</Index>
              <Name>取值的字段（对象需一致）</Name>
              <Key>${ISV_FLAG}_fd_eft_fd_set_val</Key>
              <ParentId>tK1DdGLVfa</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>94K7zCbB1fK6VM6K8j</Id>
              <FieldId>94K7zCbB1fK6VM6K8j</FieldId>
              <Index>4</Index>
              <Name>赋值对象类型</Name>
              <Key>${ISV_FLAG}_fd_eft_fd_type</Key>
              <ParentId>tK1DdGLVfa</ParentId>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2275515755350991872</ModifierId>
      <EntityId>49L44BUY172C</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1756437506423</Version>
      <ParentId>1942c188000065ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_check_rule_basedata</Number>
      <BizappId>557R46J+NZ+W</BizappId>
      <IsvSign></IsvSign>
      <Id>49L44BUY172C</Id>
      <InheritPath>1942c188000065ac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1756437506519</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>49L44BUY172C</Id>
          <ParentId>1942c188000065ac</ParentId>
          <BizappId>557R46J+NZ+W</BizappId>
          <IsvSign/>
          <Name>信息采集模块规则配置</Name>
          <InheritPath>1942c188000065ac</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <dbRoute>hr</dbRoute>
              <TableName>tk_tdkw_check_rule_base</TableName>
              <Id>49L44BUY172C</Id>
              <Name>信息采集模块规则配置</Name>
              <Template action="reset"/>
              <Key>${ISV_FLAG}_check_rule_basedata</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
            </BaseEntity>
            <MuliLangTextField action="edit" oid="8oq6R4m9CF">
              <Name>规则名称</Name>
              <GL>true</GL>
            </MuliLangTextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>jpGAglpOLW0G1yf4BC</Id>
              <Name>表单字段标识</Name>
              <FieldName>fk_tdkw_field_symbol</FieldName>
              <Key>${ISV_FLAG}_field_symbol</Key>
            </TextField>
            <ComboField>
              <FieldName>fk_tdkw_field_rule_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>R4P4ZATnAl2327FG4Z</Id>
              <Key>${ISV_FLAG}_field_rule_type</Key>
              <MustInput>true</MustInput>
              <DefValue>generalRules</DefValue>
              <Name>规则类型</Name>
              <Items>
                <ComboItem>
                  <Caption>仅使用通用控制</Caption>
                  <Value>generalRules</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>数值控制</Caption>
                  <Value>decimal</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>文本控制</Caption>
                  <Value>text</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>业务规则加减计算</Caption>
                  <Value>calculate</Value>
                  <Seq>3</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>checkbox复选框</Caption>
                  <Value>checkbox</Value>
                  <Seq>4</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>日期比较</Caption>
                  <Value>dateCompare</Value>
                  <Seq>5</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>根据字段设值另一字段值</Caption>
                  <Value>fieldEffectSetVal</Value>
                  <Seq>6</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>复制当前字段值到目标字段</Caption>
                  <Value>copyToTargetField</Value>
                  <Seq>7</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>根据字段的值设置目标字段属性</Caption>
                  <Value>matchValEffectField</Value>
                  <Seq>8</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_event_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>8SHB31Lvk6GI2BOLJA</Id>
              <Key>${ISV_FLAG}_event_type</Key>
              <MustInput>true</MustInput>
              <Name>事件类型</Name>
              <Items>
                <ComboItem>
                  <Caption>界面规则设置</Caption>
                  <Value>viewSet</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>业务规则设置</Caption>
                  <Value>businessSet</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>nq6kAFrZTGPRHGz0Bu</Id>
              <DefValue>10</DefValue>
              <Name>数值长度</Name>
              <FieldName>fk_tdkw_decimal_precision</FieldName>
              <Key>${ISV_FLAG}_decimal_precision</Key>
              <DataScope>[0,]</DataScope>
            </IntegerField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Ol95tzEGbxWYy1mkI7</Id>
              <DefValue>2</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>小数位数</Name>
              <FieldName>fk_tdkw_decimal_scale</FieldName>
              <Key>${ISV_FLAG}_decimal_scale</Key>
              <DataScope>[0,]</DataScope>
            </IntegerField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>qLQiqNHGv28QteYDij</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>数值最小值</Name>
              <FieldName>fk_tdkw_min_value</FieldName>
              <Key>${ISV_FLAG}_min_value</Key>
              <DataScope/>
            </IntegerField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>EALauvjdsXVfOAcsub</Id>
              <DefValue>999999999</DefValue>
              <Name>数值最大值</Name>
              <FieldName>fk_tdkw_max_value</FieldName>
              <Key>${ISV_FLAG}_max_value</Key>
              <DataScope/>
            </IntegerField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>4wAck5GWqtND6sqnLi</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>文本最小长度</Name>
              <FieldName>fk_tdkw_text_min_length</FieldName>
              <Key>${ISV_FLAG}_text_min_length</Key>
              <DataScope>[0,]</DataScope>
            </IntegerField>
            <ComboField>
              <FieldName>fk_tdkw_calculate_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>3RcfbAlasz</Id>
              <Key>${ISV_FLAG}_calculate_type</Key>
              <Name>计算类型</Name>
              <Items>
                <ComboItem>
                  <Caption>计算两个日期字段之间相差的年</Caption>
                  <Value>calculateDateYear</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>计算年龄（不四舍五入）</Caption>
                  <Value>calculateAge</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>NroPMm7okUkQmyjdMt</Id>
              <Name>开始数值标识（日期）-减数</Name>
              <FieldName>fk_tdkw_start_value_symbo</FieldName>
              <Key>${ISV_FLAG}_start_value_symbol</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>bLQPf0RjVAz2Tdt7VY</Id>
              <Name>结束数值标识（日期）-被减数</Name>
              <FieldName>fk_tdkw_end_value_symbol</FieldName>
              <Key>${ISV_FLAG}_end_value_symbol</Key>
            </TextField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>3rDLi28b4EKPvqSz2q</Id>
              <DefValue>500</DefValue>
              <Name>文本最大长度</Name>
              <FieldName>fk_tdkw_text_max_length</FieldName>
              <Key>${ISV_FLAG}_text_max_length</Key>
              <DataScope>[0,]</DataScope>
            </IntegerField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>a3oCPo85dx8bkXuh95</Id>
              <Name>checkbox选中影响的字段filedid</Name>
              <FieldName>fk_tdkw_checkbox_effect</FieldName>
              <Key>${ISV_FLAG}_checkbox_effect</Key>
            </TextField>
            <ComboField>
              <FieldName>fk_tdkw_checkbox_operate</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>BVP0hsVLMNbRFBqQ9O</Id>
              <Key>${ISV_FLAG}_checkbox_operate</Key>
              <Name>checkbox影响的字段操作</Name>
              <Items>
                <ComboItem>
                  <Caption>清空并隐藏</Caption>
                  <Value>hideAndNull</Value>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_date_compare_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>mFWpiKv1jKnuyWN0t5</Id>
              <Key>${ISV_FLAG}_date_compare_type</Key>
              <Name>日期比较方式</Name>
              <Items>
                <ComboItem>
                  <Caption>大于</Caption>
                  <Value>greaterThan</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>小于</Caption>
                  <Value>lessThan</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>zosaozuKiHGW0vF5K3</Id>
              <Name>比较的字段filedid（当前时间填now）</Name>
              <FieldName>fk_tdkw_date_compar_field</FieldName>
              <Key>${ISV_FLAG}_date_compare_field</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>IJxUu52hNmBiRJ0eJN</Id>
              <Name>日期比较不通过提示语</Name>
              <FieldName>fk_tdkw_date_compare_tips</FieldName>
              <Key>${ISV_FLAG}_date_compare_tips</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>LKdjdpsgeTOgV3BFE2</Id>
              <Name>触发的目标赋值字段</Name>
              <FieldName>fk_tdkw_field_effec_field</FieldName>
              <Key>${ISV_FLAG}_field_effect_field</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>gjiFnH05qHRMvYAbwD</Id>
              <Name>关联查询的对象</Name>
              <FieldName>fk_tdkw_field_effe_object</FieldName>
              <Key>${ISV_FLAG}_field_effect_object</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>EwiJlgmYfrpdTzEabh</Id>
              <Name>关联查询的对象条件字段名</Name>
              <FieldName>fk_tdkw_fd_eft_obj_symbol</FieldName>
              <Key>${ISV_FLAG}_fd_eft_object_symbol</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>JiKlChiJPv4l5c4aKw</Id>
              <Name>取值的字段（对象需一致）</Name>
              <FieldName>fk_tdkw_fd_eft_fd_set_val</FieldName>
              <Key>${ISV_FLAG}_fd_eft_fd_set_val</Key>
            </TextField>
            <ComboField>
              <FieldName>fk_tdkw_fd_eft_fd_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>94K7zCbB1fK6VM6K8j</Id>
              <Key>${ISV_FLAG}_fd_eft_fd_type</Key>
              <Name>赋值对象类型</Name>
              <Items>
                <ComboItem>
                  <Caption>基础资料</Caption>
                  <Value>basedata</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>多选基础资料</Caption>
                  <Value>mulbasedata</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_entity_name</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>dCh7l4VD1c7Hi2KjWg</Id>
              <Key>${ISV_FLAG}_entity_name</Key>
              <Name>插件使用实体标识</Name>
              <Items>
                <ComboItem>
                  <Caption>入职信息采集标品</Caption>
                  <Value>hom_collectinfodetail_h5</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>入职信息采集PC</Caption>
                  <Value>hom_infogroupdynview</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <CheckBoxField>
              <FieldName>fk_tdkw_tx_chk_no_chinese</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>blene1ucwJrmjSIeCK</Id>
              <Key>${ISV_FLAG}_txt_check_no_chinese</Key>
              <Name>不包含中文</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_txt_chk_no_digit</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>YPCjhLmyfpd6WWx6Nq</Id>
              <Key>${ISV_FLAG}_txt_check_no_digit</Key>
              <Name>不包含数字</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_txt_ch_no_english</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>PuGi3tRkW08T53V5WB</Id>
              <Key>${ISV_FLAG}_txt_check_no_english</Key>
              <Name>不包含英文</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_txt_chk_no_symbol</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>u2fx6CXgAwgeHVQaz6</Id>
              <Key>${ISV_FLAG}_txt_check_no_symbol</Key>
              <Name>不包含符号</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_field_lock</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>kj7oSdGm0c</Id>
              <Key>${ISV_FLAG}_field_lock</Key>
              <Name>字段锁定</Name>
            </CheckBoxField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>k1czEyh0UrNRDCwg7d</Id>
              <Name>计算结果写入目标字段标识</Name>
              <FieldName>fk_tdkw_cal_target_field</FieldName>
              <Key>${ISV_FLAG}_cal_target_field</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>eCai23KrpBDZQRMMRS</Id>
              <Name>复制到的目标字段标识（类型需一致）</Name>
              <FieldName>fk_tdkw_copy_target_field</FieldName>
              <Key>${ISV_FLAG}_copy_target_field</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>DErew91NJm</Id>
              <Name>目标字段标识</Name>
              <FieldName>fk_tdkw_match_tar_field</FieldName>
              <Key>${ISV_FLAG}_match_target_field</Key>
            </TextField>
            <CheckBoxField>
              <FieldName>fk_tdkw_match_tar_hide</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>R6AK35S0FfnjGHqMAW</Id>
              <Key>${ISV_FLAG}_match_tar_hide</Key>
              <Name>目标字段隐藏</Name>
            </CheckBoxField>
            <ComboField>
              <FieldName>fk_tdkw_match_condition</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>XWRGzq1ftKWrSI741q</Id>
              <Key>${ISV_FLAG}_match_condition</Key>
              <Name>匹配条件</Name>
              <Items>
                <ComboItem>
                  <Caption>等于</Caption>
                  <Value>equal</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>包含</Caption>
                  <Value>contain</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>不等于</Caption>
                  <Value>notEqual</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_match_val_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>0SCizFJOgGkOe2QDYE</Id>
              <Key>${ISV_FLAG}_match_val_type</Key>
              <Name>匹配值类型</Name>
              <Items>
                <ComboItem>
                  <Caption>文本</Caption>
                  <Value>match_val_type_text</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>checkbox</Caption>
                  <Value>match_val_type_checkbox</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>基础资料-名称</Caption>
                  <Value>match_val_type_base_name</Value>
                  <Seq>2</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>基础资料-编码</Caption>
                  <Value>match_val_type_base_number</Value>
                  <Seq>3</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>GRJ7wS6EAxMJbxIS2I</Id>
              <Name>匹配的条件值</Name>
              <FieldName>fk_tdkw_match_condi_value</FieldName>
              <Key>${ISV_FLAG}_match_condi_value</Key>
            </TextField>
            <CheckBoxField>
              <FieldName>fk_tdkw_match_tar_lock</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>AqqETCttjrohv9YWuT</Id>
              <Key>${ISV_FLAG}_match_tar_lock</Key>
              <Name>目标字段锁定</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_field_must_input</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>YKnP1J6lN2JMjwzhdK</Id>
              <Key>${ISV_FLAG}_field_must_input</Key>
              <Name>字段必填</Name>
            </CheckBoxField>
            <CheckBoxField>
              <FieldName>fk_tdkw_mh_tar_must_input</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>8v4avkdwgg0XQtrUBI</Id>
              <Key>${ISV_FLAG}_match_tar_must_input</Key>
              <Name>目标字段必填</Name>
            </CheckBoxField>
            <ComboField>
              <FieldName>fk_tdkw_default_val_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>pSYgLKmFWuUSKge1Ra</Id>
              <Key>${ISV_FLAG}_default_val_type</Key>
              <MustInput>true</MustInput>
              <DefValue>defaultValNull</DefValue>
              <Name>设置默认值类型</Name>
              <Items>
                <ComboItem>
                  <Caption>不设置</Caption>
                  <Value>defaultValNull</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>文本或下拉值</Caption>
                  <Value>defaultValTypeText</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>基础资料编码</Caption>
                  <Value>defaultValTypeBasedata</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>OEpwRqpF1xyN9JiWW3</Id>
              <Name>默认值</Name>
              <MaxLength>200</MaxLength>
              <FieldName>fk_tdkw_default_value</FieldName>
              <Key>${ISV_FLAG}_default_value</Key>
            </TextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1756437506519</Version>
      <ParentId>1942c188000065ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_check_rule_basedata</Number>
      <BizappId>557R46J+NZ+W</BizappId>
      <Id>49L44BUY172C</Id>
      <InheritPath>1942c188000065ac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1756437506423</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>1WXH44ALPDKT</BizunitId>
</DeployMetadata>
