<?xml version="1.0" encoding="UTF-8"?>
<Package name="hr">
    <ver>1.5.0</ver>
    <app>
        <item id="khr_hom_ext" name="khr_hom_ext" pkname="hr-khr_hom_ext" path="main/khr_hom_ext"/>
    </app>
</Package>
