<?xml version="1.0" encoding="UTF-8"?>
<DataModel dympath="metadata">
    <SqlScript Type="KSQL" Separator=";" dbkey="sys">preinsdata/perm_permitem_${BIZ_APP}_1738907659079.sql</SqlScript>
    <SqlScript Type="KSQL" Separator=";" dbkey="sys.meta">preinsdata/ide_controlschema_20241127200219.sql</SqlScript>
</DataModel>
