<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4C449E941E6L</MasterId>
  <BizappId>5EWTGHFIWAIL</BizappId>
  <Id>4C449E941E6L</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765508831629</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>4C449E941E6L</Id>
          <Key>${BIZ_APP}_apphome</Key>
          <EntityId>4C449E941E6L</EntityId>
          <ParentId>/8T+06O/GOEH</ParentId>
          <BizappId>4C449DNP=S+3</BizappId>
          <Name>汇报关系图_应用首页</Name>
          <InheritPath>/8T+06O/GOEH</InheritPath>
          <Items>
            <FormAp action="edit" oid="/8T+06O/H6M6">
              <Id>4C449E941E6L</Id>
              <Name>汇报关系图_应用首页</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>0AkdSzJQ</FPK>
                  <ClassName>4C449E941E6L_0AkdSzJQ</ClassName>
                  <SourceNumber>${BIZ_APP}_apphome</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>汇报关系图_应用首页</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${BIZ_APP}_apphome</Key>
            </FormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2360186724526865408</ModifierId>
      <EntityId>4C449E941E6L</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765508831629</Version>
      <ParentId>/8T+06O/GOEH</ParentId>
      <MasterId></MasterId>
      <Number>${BIZ_APP}_apphome</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <IsvSign></IsvSign>
      <Id>4C449E941E6L</Id>
      <InheritPath>/8T+06O/GOEH</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765508831678</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>4C449E941E6L</Id>
          <ParentId>/8T+06O/GOEH</ParentId>
          <BizappId>4C449DNP=S+3</BizappId>
          <Name>汇报关系图_应用首页</Name>
          <InheritPath>/8T+06O/GOEH</InheritPath>
          <Items>
            <MainEntity action="edit" oid="/8T+06O6R0/7">
              <Template action="reset"/>
              <dbRoute>hr</dbRoute>
              <Id>4C449E941E6L</Id>
              <Key>${BIZ_APP}_apphome</Key>
              <Name>汇报关系图_应用首页</Name>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765508831678</Version>
      <ParentId>/8T+06O/GOEH</ParentId>
      <MasterId></MasterId>
      <Number>${BIZ_APP}_apphome</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <Id>4C449E941E6L</Id>
      <InheritPath>/8T+06O/GOEH</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765508831629</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5EWTHF0T2+OX</BizunitId>
</DeployMetadata>
