<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>491C23GPQS3L</MasterId>
  <Id>491C23GPQS3L</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_empsuprel</Number>
      <PkId>5EWT961HFZ7L</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>汇报关系</Name>
      <Id>491C23GPQS3L</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_empsuprel</Number>
      <PkId>5EWT963C0BIW</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>汇报关系</Name>
      <Id>491C23GPQS3L</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765510969768</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
