<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>491C23GPQS3L</MasterId>
  <BizappId>5EWTGHFIWAIL</BizappId>
  <Id>491C23GPQS3L</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765510969768</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>491C23GPQS3L</Id>
          <Key>${ISV_FLAG}_empsuprel</Key>
          <EntityId>491C23GPQS3L</EntityId>
          <ModelType>DynamicFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>4C449DNP=S+3</BizappId>
          <IsvSign/>
          <Name>汇报关系</Name>
          <SrcBizObjId/>
          <InheritPath/>
          <Items>
            <FormAp>
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.hr.hspm.EmpSuprelChartPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>EmpSuprelChartPlugin</Description>
                </Plugin>
              </Plugins>
              <Language>zh_CN</Language>
              <ShowType>MainNewTabPage</ShowType>
              <Id>491C23GPQS3L</Id>
              <LockStyle>2</LockStyle>
              <Name>汇报关系</Name>
              <PkId>491C23GPQRFB</PkId>
              <JsPlugins>
                <Plugin>
                  <FPK>VoBq68oG</FPK>
                  <ClassName>491C23GPQS3L_VoBq68oG</ClassName>
                  <SourceNumber>${ISV_FLAG}_empsuprel</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>汇报关系</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_empsuprel</Key>
            </FormAp>
            <ButtonAp>
              <Invisible>true</Invisible>
              <Id>sSmyaI46JKU51W3nbo</Id>
              <Name>按钮</Name>
              <Key>${ISV_FLAG}_buttonap</Key>
            </ButtonAp>
            <FlexPanelAp>
              <Id>kWmJp2zsq3tQS3sk0m</Id>
              <AlignItems>stretch</AlignItems>
              <Index>1</Index>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <CustomControlAp>
              <ConfigItems>[]</ConfigItems>
              <Id>LwV1262HX0Ex3v3xFx</Id>
              <CtlSchemaInfo>
                <CtlSchemaInfo>
                  <schemaId>orgrelationchart</schemaId>
                  <isvId>tdkw</isvId>
                  <moduleId>hr</moduleId>
                  <schemaName>汇报关系控件</schemaName>
                </CtlSchemaInfo>
              </CtlSchemaInfo>
              <Key>${ISV_FLAG}_orgrelationchartap</Key>
              <Height>100%</Height>
              <Index>3</Index>
              <Name>汇报关系自定控件</Name>
              <Width>100%</Width>
            </CustomControlAp>
            <FieldAp>
              <Id>Q13i7bYNjAkyJJ2wwo</Id>
              <FieldId>Q13i7bYNjAkyJJ2wwo</FieldId>
              <Name>汇报关系类型</Name>
              <Key>${ISV_FLAG}_reportreltype</Key>
              <LabelDirection>h</LabelDirection>
              <FieldStyle>2</FieldStyle>
              <ParentId>Y5ENt7M1TfMk4lMiQP</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>x1KwYpogc2QOPBgq4I</Id>
              <FieldId>x1KwYpogc2QOPBgq4I</FieldId>
              <Index>1</Index>
              <Name>查询组织</Name>
              <Key>${ISV_FLAG}_adminorg</Key>
              <LabelDirection>h</LabelDirection>
              <ParentId>Y5ENt7M1TfMk4lMiQP</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>kfc8IW89IypHh2v0aP</Id>
              <FieldId>kfc8IW89IypHh2v0aP</FieldId>
              <Index>2</Index>
              <Name>查询人员</Name>
              <Key>${ISV_FLAG}_hrperson</Key>
              <LabelDirection>h</LabelDirection>
              <ParentId>Y5ENt7M1TfMk4lMiQP</ParentId>
            </FieldAp>
            <FieldsetPanelAp>
              <Id>Y5ENt7M1TfMk4lMiQP</Id>
              <BackColor>@container-bg-color</BackColor>
              <Name>字段布局面板</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>0px</Top>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_fieldsetpanelap</Key>
              <ParentId>kWmJp2zsq3tQS3sk0m</ParentId>
            </FieldsetPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>491C23GPQS3L</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765510969768</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_empsuprel</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <IsvSign></IsvSign>
      <Id>491C23GPQS3L</Id>
      <InheritPath></InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765510969788</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>491C23GPQS3L</Id>
          <ModelType>DynamicFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>4C449DNP=S+3</BizappId>
          <IsvSign/>
          <Name>汇报关系</Name>
          <InheritPath/>
          <Items>
            <MainEntity>
              <PermissionDimension>
                <PermissionDimension>
                  <DataAssistDimension/>
                  <DataDimensionField/>
                  <PublishApps>["2ZK3NJ2OQYKX"]</PublishApps>
                  <Name>维度控制</Name>
                  <DataAssistDimensionField/>
                  <Id>JTVdjSHQ</Id>
                  <DataDimension/>
                  <DimensionControl>DIM_NULL</DimensionControl>
                  <Key>permissiondimension</Key>
                </PermissionDimension>
              </PermissionDimension>
              <PkId>491C23HC3NSY</PkId>
              <dbRoute>hr</dbRoute>
              <PermissionControl>
                <PermissionControl>
                  <Name>控制功能权限</Name>
                  <Id>1EoWr3mT</Id>
                  <ControlFunction>true</ControlFunction>
                  <Key>permissioncontrol</Key>
                </PermissionControl>
              </PermissionControl>
              <PermissionItems>
                <PermissionItem>
                  <ItemId>47150e89000000ac</ItemId>
                  <Index>0</Index>
                </PermissionItem>
              </PermissionItems>
              <Id>491C23GPQS3L</Id>
              <Key>${ISV_FLAG}_empsuprel</Key>
              <Name>汇报关系</Name>
            </MainEntity>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Q13i7bYNjAkyJJ2wwo</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>汇报关系类型</Name>
              <ViewDetail>false</ViewDetail>
              <Key>${ISV_FLAG}_reportreltype</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>0+4/VI99B7N9</BaseEntityId>
              <DefValueDesign>
                <DefValueDesign>
                  <FuncParameter>{"number":"1010_S","name":"行政","id":"1010"}</FuncParameter>
                  <FuncType>getBasedata</FuncType>
                </DefValueDesign>
              </DefValueDesign>
            </BasedataField>
            <HRAdminOrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>x1KwYpogc2QOPBgq4I</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>查询组织</Name>
              <returnType>boid</returnType>
              <showStyle>1</showStyle>
              <queryDate>0</queryDate>
              <Key>${ISV_FLAG}_adminorg</Key>
              <adminClassify>1010</adminClassify>
              <BaseEntityId>550K+6V39ZBW</BaseEntityId>
            </HRAdminOrgField>
            <EmployeeField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>kfc8IW89IypHh2v0aP</Id>
              <listModel>list</listModel>
              <LableHyperlink>false</LableHyperlink>
              <Name>查询人员</Name>
              <employeeEntityName>4UR=Z37J/ADF</employeeEntityName>
              <RefProps>
                <RefProp>
                  <Name>empnumber</Name>
                </RefProp>
                <RefProp>
                  <Name>name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_hrperson</Key>
              <MustInput>true</MustInput>
              <DisplayProp>name</DisplayProp>
              <EditSearchProp>empnumber</EditSearchProp>
              <billFormId>hrpi_empnewf7querylist</billFormId>
              <BaseEntityId>4UR=Z37J/ADF</BaseEntityId>
            </EmployeeField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765510969788</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_empsuprel</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <Id>491C23GPQS3L</Id>
      <InheritPath></InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765510969768</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5EWTHF0T2+OX</BizunitId>
</DeployMetadata>
