<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>1WXBPN7+OHJZ</MasterId>
  <Id>5EWTGHFIWAIL</Id>
  <DesignMetas>
    <DesignAppMeta>
      <DevType>2</DevType>
      <AppVersion>8.0.1.0</AppVersion>
      <Modifier>2353647692736891904</Modifier>
      <DataXml>
        <AppMetadata>
          <DevType>2</DevType>
          <AppFunctionPackets>
            <AppFunctionPacketElement>
              <Number>reportrel</Number>
              <Name>汇报关系</Name>
              <Description/>
              <Id>5EWTHF0T2+OX</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>15</Seq>
            </AppFunctionPacketElement>
          </AppFunctionPackets>
          <AppMenus>
            <AppMenuElement>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>bdc6c9dc50</Number>
              <FormName>汇报关系</FormName>
              <FormNumber>${ISV_FLAG}_empsuprel</FormNumber>
              <Parameter/>
              <Id>2368338142446042112</Id>
              <Seq>4</Seq>
              <FormId>491C23GPQS3L</FormId>
              <ParameterType>FormShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj3_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>5EWTGHFIWAIL</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao5</VectorImage>
              <Name>汇报关系</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
          </AppMenus>
          <Isv>tdkw</Isv>
          <Number>${ISV_FLAG}_hspm_ext</Number>
          <Id>5EWTGHFIWAIL</Id>
          <ParentId>1WXBPN7+OHJZ</ParentId>
          <MasterId>1WXBPN7+OHJZ</MasterId>
          <AppElement>
            <AppElement>
              <Number>${ISV_FLAG}_hspm_ext</Number>
              <Id>5EWTGHFIWAIL</Id>
              <Version>8.0.1.0</Version>
              <UserType>,1,</UserType>
            </AppElement>
          </AppElement>
          <InheritPath>1WXBPN7+OHJZ</InheritPath>
        </AppMetadata>
      </DataXml>
      <Description></Description>
      <DbRoute>hr</DbRoute>
      <Isv>tdkw</Isv>
      <OpenType>0</OpenType>
      <AllUserApp>0</AllUserApp>
      <Number>${ISV_FLAG}_hspm_ext</Number>
      <IndustryId>0</IndustryId>
      <Id>5EWTGHFIWAIL</Id>
      <Seq>10</Seq>
      <CreateDate>1765511105905</CreateDate>
      <MainFormType>0</MainFormType>
      <BizCloudID>11FWSEDXBS99</BizCloudID>
      <DependencyID></DependencyID>
      <Image>/icons/pc/entrance/hr_rlcbywlx_48_48.png</Image>
      <OrgFunc></OrgFunc>
      <Visible>1</Visible>
      <ModifyDate>1765539443132</ModifyDate>
      <Dependency></Dependency>
      <HelpURL></HelpURL>
      <Label></Label>
      <ModelType>AppModel</ModelType>
      <MainFormName>人员信息_应用首页</MainFormName>
      <ParentId>1WXBPN7+OHJZ</ParentId>
      <BackImage></BackImage>
      <HomeURL></HomeURL>
      <MasterId>1WXBPN7+OHJZ</MasterId>
      <Creater>2353647692736891904</Creater>
      <MainFormID>1WXBPNUTU+VH</MainFormID>
      <SimpleNumber></SimpleNumber>
      <InheritPath>1WXBPN7+OHJZ</InheritPath>
      <RefAppId></RefAppId>
      <UserType>,1,</UserType>
      <DeployStatus>2</DeployStatus>
    </DesignAppMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
