<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>49ZJX2YMCCUT</MasterId>
  <Id>49ZJX2YMCCUT</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hspm_ermanfile</Number>
      <PkId>5EX42OWY+QDR</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>查看档案</Name>
      <Id>49ZJX2YMCCUT</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hspm_ermanfile</Number>
      <PkId>5EX42P0ZMNTK</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>查看档案</Name>
      <Id>49ZJX2YMCCUT</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765519157585</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
