<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>49ZJX2YMCCUT</MasterId>
  <BizappId>5EWTGHFIWAIL</BizappId>
  <Id>49ZJX2YMCCUT</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765519157585</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>49ZJX2YMCCUT</Id>
          <Key>${ISV_FLAG}_hspm_ermanfile</Key>
          <EntityId>49ZJX2YMCCUT</EntityId>
          <ParentId>4L7V3L9EUYHP</ParentId>
          <BizappId>5EWTGHFIWAIL</BizappId>
          <IsvSign/>
          <Name>查看档案</Name>
          <InheritPath>4L7V3L9EUYHP</InheritPath>
          <Items>
            <FormAp action="edit" oid="4L7V3L9ET13R">
              <Id>49ZJX2YMCCUT</Id>
              <Name>查看档案</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>xHYsi4tT</FPK>
                  <ClassName>49ZJX2YMCCUT_xHYsi4tT</ClassName>
                  <SourceNumber>${ISV_FLAG}_hspm_ermanfile</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>查看档案</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hspm_ermanfile</Key>
            </FormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2360186724526865408</ModifierId>
      <EntityId>49ZJX2YMCCUT</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765519157585</Version>
      <ParentId>4L7V3L9EUYHP</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_ermanfile</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <IsvSign></IsvSign>
      <Id>49ZJX2YMCCUT</Id>
      <InheritPath>4L7V3L9EUYHP</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765519157737</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>49ZJX2YMCCUT</Id>
          <ParentId>4L7V3L9EUYHP</ParentId>
          <BizappId>5EWTGHFIWAIL</BizappId>
          <IsvSign/>
          <Name>查看档案</Name>
          <InheritPath>4L7V3L9EUYHP</InheritPath>
          <Items>
            <MainEntity action="edit" oid="4L7V3L=5TCNV">
              <Id>49ZJX2YMCCUT</Id>
              <Key>${ISV_FLAG}_hspm_ermanfile</Key>
              <Name>查看档案</Name>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765519157737</Version>
      <ParentId>4L7V3L9EUYHP</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_ermanfile</Number>
      <BizappId>5EWTGHFIWAIL</BizappId>
      <Id>49ZJX2YMCCUT</Id>
      <InheritPath>4L7V3L9EUYHP</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765519157585</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5EWTHF0T2+OX</BizunitId>
</DeployMetadata>
