<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>1WX49GDDDZ0V</MasterId>
  <Id>4MCYX7V32+EX</Id>
  <DesignMetas>
    <DesignAppMeta>
      <DevType>2</DevType>
      <AppVersion>1.5.0</AppVersion>
      <Modifier>1425399182121766912</Modifier>
      <DataXml>
        <AppMetadata>
          <DevType>2</DevType>
          <AppFunctionPackets>
            <AppFunctionPacketElement>
              <Number>orgtransfer</Number>
              <Name>成建制划转</Name>
              <Description/>
              <Id>4MCYZLB96AGJ</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>6</Seq>
            </AppFunctionPacketElement>
          </AppFunctionPackets>
          <Isv>tdkw</Isv>
          <Number>${BIZ_APP}</Number>
          <Id>4MCYX7V32+EX</Id>
          <ParentId>1WX49GDDDZ0V</ParentId>
          <MasterId>1WX49GDDDZ0V</MasterId>
          <AppElement>
            <AppElement>
              <DbRoute>hrb</DbRoute>
              <Number>${BIZ_APP}</Number>
              <Id>4MCYX7V32+EX</Id>
              <Version>1.5.0</Version>
              <UserType>,1,</UserType>
            </AppElement>
          </AppElement>
          <InheritPath>1WX49GDDDZ0V</InheritPath>
        </AppMetadata>
      </DataXml>
      <Description></Description>
      <DbRoute>hrb</DbRoute>
      <Isv>tdkw</Isv>
      <OpenType>0</OpenType>
      <AllUserApp>0</AllUserApp>
      <Number>${BIZ_APP}</Number>
      <IndustryId>0</IndustryId>
      <Id>4MCYX7V32+EX</Id>
      <Seq>30</Seq>
      <CreateDate>1734934149586</CreateDate>
      <MainFormType>0</MainFormType>
      <BizCloudID>11FWSEDXBS99</BizCloudID>
      <DependencyID></DependencyID>
      <Image>/icons/pc/entrance/glkjy_cbgylxsz_48_48.png</Image>
      <OrgFunc></OrgFunc>
      <Visible>1</Visible>
      <ModifyDate>1734934188371</ModifyDate>
      <Dependency></Dependency>
      <HelpURL></HelpURL>
      <Label></Label>
      <ModelType>AppModel</ModelType>
      <MainFormName>调配管理_应用首页</MainFormName>
      <ParentId>1WX49GDDDZ0V</ParentId>
      <BackImage></BackImage>
      <HomeURL></HomeURL>
      <MasterId>1WX49GDDDZ0V</MasterId>
      <Creater>1425399182121766912</Creater>
      <MainFormID>1WX49ICNN+4/</MainFormID>
      <SimpleNumber></SimpleNumber>
      <InheritPath>1WX49GDDDZ0V</InheritPath>
      <RefAppId></RefAppId>
      <UserType>,1,</UserType>
      <DeployStatus>2</DeployStatus>
    </DesignAppMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
