<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3DL92A4AU/1Q</MasterId>
  <Id>3DL92A4AU/1Q</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_orguntitransfer</Number>
      <PkId>5F9IOGFVQ/3=</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>成建制划转</Name>
      <Id>3DL92A4AU/1Q</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_orguntitransfer</Number>
      <PkId>5F9IOGGPBQ5N</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>成建制划转</Name>
      <Id>3DL92A4AU/1Q</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765877453597</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
