<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3DL92A4AU/1Q</MasterId>
  <BizappId>5D3WWTOB6GSY</BizappId>
  <Id>3DL92A4AU/1Q</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765877453597</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>3DL92A4AU/1Q</Id>
          <Key>${ISV_FLAG}_orguntitransfer</Key>
          <EntityId>3DL92A4AU/1Q</EntityId>
          <ModelType>BaseFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5D3WWTOB6GSY</BizappId>
          <IsvSign/>
          <Name>成建制划转</Name>
          <SrcBizObjId/>
          <InheritPath/>
          <Items>
            <BasedataFormAp>
              <Language>zh_CN</Language>
              <ShowType>MainNewTabPage</ShowType>
              <Id>3DL92A4AU/1Q</Id>
              <LockStyle>2</LockStyle>
              <Name>成建制划转</Name>
              <PkId>3DL92A486LJG</PkId>
              <JsPlugins>
                <Plugin>
                  <FPK>pZczUwB8</FPK>
                  <ClassName>3DL92A4AU/1Q_pZczUwB8</ClassName>
                  <SourceNumber>${ISV_FLAG}_orguntitransfer</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>成建制划转</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_orguntitransfer</Key>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Id>3END83LG/Q4V</Id>
                  <Key>subformdesigner</Key>
                  <ModelType>BillListCardViewModel</ModelType>
                  <ParentId/>
                  <Name>成建制划转列表</Name>
                  <SrcBizObjId/>
                  <InheritPath/>
                  <Items>
                    <ListFormAp>
                      <Language>zh_CN</Language>
                      <ShowType>MainNewTabPage</ShowType>
                      <Id>3END83LG/Q4V</Id>
                      <AlignItems>stretch</AlignItems>
                      <LockStyle>2</LockStyle>
                      <Name>成建制划转列表</Name>
                      <PkId>3END83LN9JIW</PkId>
                      <JsPlugins>
                        <Plugin>
                          <FPK>HEeE1DZq</FPK>
                          <ClassName>3DL92A4AU/1Q_list_HEeE1DZq</ClassName>
                          <SourceNumber>${ISV_FLAG}_orguntitransfer_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>成建制划转</SourceName>
                        </Plugin>
                      </JsPlugins>
                      <Key>subformdesigner</Key>
                      <Direction>column</Direction>
                      <Wrap>false</Wrap>
                    </ListFormAp>
                    <FilterContainerAp>
                      <Id>_FilterContainer_</Id>
                      <Grow>0</Grow>
                      <Name>成建制划转基础资料列表</Name>
                      <Key>_filtercontainer_</Key>
                      <EntityId>3DL92A4AU/1Q</EntityId>
                    </FilterContainerAp>
                    <ToolbarAp>
                      <Id>_toolbar_</Id>
                      <Name>列表工具栏</Name>
                      <Key>_toolbar_</Key>
                    </ToolbarAp>
                    <BillListAp>
                      <Id>_BillList_</Id>
                      <Name>成建制划转基础资料列表</Name>
                      <Key>_billlist_</Key>
                      <EntityId>3DL92A4AU/1Q</EntityId>
                      <QueryType>1</QueryType>
                    </BillListAp>
                    <ListGridViewAp>
                      <Id>gridview</Id>
                      <Name>表格视图</Name>
                      <PageType/>
                      <Key>gridview</Key>
                      <ParentId>_BillList_</ParentId>
                    </ListGridViewAp>
                    <ListCardViewAp>
                      <Invisible>true</Invisible>
                      <AlignContent>flex-start</AlignContent>
                      <LayoutStyle>2</LayoutStyle>
                      <Id>cardview</Id>
                      <Name>卡片视图</Name>
                      <PageType/>
                      <Key>cardview</Key>
                      <ParentId>_BillList_</ParentId>
                    </ListCardViewAp>
                    <FastSearchGridViewAp>
                      <Id>fastsearchgridview</Id>
                      <Key>fastsearchgridview</Key>
                      <ParentId>_FilterContainer_</ParentId>
                      <Name>快捷搜索视图</Name>
                    </FastSearchGridViewAp>
                    <FilterGridViewAp>
                      <NewFilter>true</NewFilter>
                      <Id>filtergridview</Id>
                      <Name>常用过滤视图</Name>
                      <Key>filtergridview</Key>
                      <ParentId>_FilterContainer_</ParentId>
                    </FilterGridViewAp>
                    <SchemeFilterViewAp>
                      <Id>schemefilterview</Id>
                      <Key>schemefilterview</Key>
                      <ParentId>_FilterContainer_</ParentId>
                      <Name>方案过滤视图</Name>
                    </SchemeFilterViewAp>
                    <BarItemAp>
                      <Id>pHFJ6NhPI3</Id>
                      <Name>刷新</Name>
                      <OperationKey>refresh</OperationKey>
                      <Key>${ISV_FLAG}_refresh</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <CardRowPanelAp>
                      <Id>3END83LJJ+2K</Id>
                      <Name>卡片</Name>
                      <Key>cardviewrow</Key>
                      <ParentId>cardview</ParentId>
                    </CardRowPanelAp>
                    <FilterColumnAp>
                      <Id>4NNC94VP=OVQ</Id>
                      <Name>组织/岗位编码</Name>
                      <FieldName>${ISV_FLAG}_orgnumber</FieldName>
                      <Key>${ISV_FLAG}_filtercolumnap2</Key>
                      <ParentId>fastsearchgridview</ParentId>
                    </FilterColumnAp>
                    <FilterColumnAp>
                      <Id>4NNC98UAD6K1</Id>
                      <Index>1</Index>
                      <Name>组织/岗位名称</Name>
                      <FieldName>${ISV_FLAG}_orgname</FieldName>
                      <Key>${ISV_FLAG}_filtercolumnap3</Key>
                      <ParentId>fastsearchgridview</ParentId>
                    </FilterColumnAp>
                    <CommonDateFilterColumnAp>
                      <Type>date</Type>
                      <Multi>false</Multi>
                      <Id>4NNC6VDX3XQ5</Id>
                      <Name>生效日期</Name>
                      <FieldName>${ISV_FLAG}_takeeffectdate</FieldName>
                      <Key>${ISV_FLAG}_commondatefiltercol1</Key>
                      <Custom>true</Custom>
                      <ParentId>filtergridview</ParentId>
                    </CommonDateFilterColumnAp>
                    <CommonFilterColumnAp>
                      <Type>enum</Type>
                      <Id>4NNC7B5M+HS1</Id>
                      <Index>1</Index>
                      <Name>执行状态</Name>
                      <FieldName>${ISV_FLAG}_executestatus</FieldName>
                      <Key>${ISV_FLAG}_commonfiltercolumna1</Key>
                      <ParentId>filtergridview</ParentId>
                    </CommonFilterColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>EntitySeq</SeqColumnType>
                      <Id>3J3G8N/UKRU1</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>fseq</ListFieldId>
                      <Name>序号</Name>
                    </ListColumnAp>
                    <ComboListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC0E0P22AW</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>1</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_changetype</ListFieldId>
                      <Name>变动类型</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>3</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC115CJZSZ</Id>
                      <Key>${ISV_FLAG}_listcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>2</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_orgnumber</ListFieldId>
                      <Name>组织/岗位编码</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>3</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC1FMSHMBO</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_orgname</ListFieldId>
                      <Name>组织/岗位名称</Name>
                    </ListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4NNC2HFEIAR4</Id>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <Name>关联消费明细id</Name>
                      <ColumnOrderAndFilter>2</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap1</Key>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_mapping_id</ListFieldId>
                    </DecimalListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC3KB2HRXE</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_takeeffectdate</ListFieldId>
                      <Name>生效日期</Name>
                    </DateListColumnAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC4FBK2AXA</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>6</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_executestatus</ListFieldId>
                      <Name>执行状态</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NML2CGIZXL8</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>7</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_resultmsg</ListFieldId>
                      <Name>执行结果</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <ColumnOrderAndFilter>2</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4NNC5IOIHZJG</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>8</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_modifydate</ListFieldId>
                      <Name>更新日期</Name>
                    </DateListColumnAp>
                    <SchemeFilterColumnAp>
                      <Id>4NNC6VE+R=K5</Id>
                      <Name>生效日期</Name>
                      <FieldName>${ISV_FLAG}_takeeffectdate</FieldName>
                      <Key>${ISV_FLAG}_schemefiltercolumna2</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeFilterColumnAp>
                    <SchemeComboFilterColumnAp>
                      <Id>4NNC7B5M+GEJ</Id>
                      <Index>1</Index>
                      <Name>执行状态</Name>
                      <FieldName>${ISV_FLAG}_executestatus</FieldName>
                      <Key>${ISV_FLAG}_schemecombofilterco1</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeComboFilterColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FlexPanelAp>
              <Id>6MY9sIqTO2</Id>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap1</Key>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>Cri3npT1vy</Id>
              <Index>1</Index>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
            </FlexPanelAp>
            <ToolbarAp>
              <Id>insXuWWv53</Id>
              <Shrink>0</Shrink>
              <Name>工具栏</Name>
              <Key>${ISV_FLAG}_toolbarap</Key>
              <ParentId>6MY9sIqTO2</ParentId>
            </ToolbarAp>
            <FieldAp>
              <Id>JlO4g2qIqi</Id>
              <FieldId>JlO4g2qIqi</FieldId>
              <Name>变动类型</Name>
              <Key>${ISV_FLAG}_changetype</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>9QWqEqogg8</Id>
              <FieldId>9QWqEqogg8</FieldId>
              <Index>1</Index>
              <Name>组织/岗位ID</Name>
              <Key>${ISV_FLAG}_orgid</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>vHs0Wx2by6</Id>
              <FieldId>vHs0Wx2by6</FieldId>
              <Index>2</Index>
              <Name>组织/岗位编码</Name>
              <Key>${ISV_FLAG}_orgnumber</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>5KHzCtErdJ</Id>
              <FieldId>5KHzCtErdJ</FieldId>
              <Index>3</Index>
              <Name>组织/岗位名称</Name>
              <Key>${ISV_FLAG}_orgname</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>YdjWoUZOKC</Id>
              <FieldId>YdjWoUZOKC</FieldId>
              <Index>4</Index>
              <Name>更新日期</Name>
              <Key>${ISV_FLAG}_modifydate</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>BECUQceBkw</Id>
              <FieldId>BECUQceBkw</FieldId>
              <Index>5</Index>
              <Name>生效日期</Name>
              <Key>${ISV_FLAG}_takeeffectdate</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>HoGmunjaUn</Id>
              <FieldId>HoGmunjaUn</FieldId>
              <Index>6</Index>
              <Name>执行状态</Name>
              <Key>${ISV_FLAG}_executestatus</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>6UbiF7EGxZ</Id>
              <FieldId>6UbiF7EGxZ</FieldId>
              <Index>7</Index>
              <Name>执行日期</Name>
              <Key>${ISV_FLAG}_executedate</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>3t07WlNe2T</Id>
              <FieldId>3t07WlNe2T</FieldId>
              <Index>8</Index>
              <Name>变更前上级组织编码</Name>
              <Key>${ISV_FLAG}_beforechgparentorgno</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>aJDWk6yeOy</Id>
              <FieldId>aJDWk6yeOy</FieldId>
              <Index>9</Index>
              <Name>变更后上级组织编码</Name>
              <Key>${ISV_FLAG}_afterchgparentorgno</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>UxVxcareAb</Id>
              <FieldId>UxVxcareAb</FieldId>
              <Index>10</Index>
              <Name>关联消费明细id</Name>
              <Key>${ISV_FLAG}_mapping_id</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>Vy6n8Th3b0vSeGOD7u</Id>
              <FieldId>Vy6n8Th3b0vSeGOD7u</FieldId>
              <Index>11</Index>
              <Name>执行结果</Name>
              <Key>${ISV_FLAG}_resultmsg</Key>
              <ParentId>Cri3npT1vy</ParentId>
            </FieldAp>
            <BarItemAp>
              <Id>Q1AboZTe0z</Id>
              <Name>保存</Name>
              <OperationKey>save</OperationKey>
              <Key>${ISV_FLAG}_baritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>insXuWWv53</ParentId>
            </BarItemAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>3DL92A4AU/1Q</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765877453597</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_orguntitransfer</Number>
      <BizappId>5D3WWTOB6GSY</BizappId>
      <IsvSign></IsvSign>
      <Id>3DL92A4AU/1Q</Id>
      <InheritPath></InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765877453609</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>3DL92A4AU/1Q</Id>
          <ModelType>BaseFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5D3WWTOB6GSY</BizappId>
          <IsvSign/>
          <Name>成建制划转</Name>
          <InheritPath/>
          <Items>
            <BaseEntity>
              <dbRoute>hr</dbRoute>
              <NumberFieldId>number</NumberFieldId>
              <TableName>tk_${ISV_FLAG}_orguntitransfer</TableName>
              <Id>3DL92A4AU/1Q</Id>
              <Name>成建制划转</Name>
              <PkId>3DL92A5FB/14</PkId>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <SaveParameter>
                      <AfterOperation>default</AfterOperation>
                    </SaveParameter>
                  </Parameter>
                  <Name>保存</Name>
                  <OperationType>save</OperationType>
                  <Id>3J3GGLGZS58W</Id>
                  <SuccessMsg/>
                  <Key>save</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>刷新</Name>
                  <OperationType>refresh</OperationType>
                  <Id>4NNE7652IO4E</Id>
                  <SuccessMsg/>
                  <Key>refresh</Key>
                </Operation>
              </Operations>
              <Key>${ISV_FLAG}_orguntitransfer</Key>
              <NameFieldId>name</NameFieldId>
              <PkFieldName>FID</PkFieldName>
            </BaseEntity>
            <ComboField>
              <FieldName>fk_tdkw_changetype</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>JlO4g2qIqi</Id>
              <Key>${ISV_FLAG}_changetype</Key>
              <Name>变动类型</Name>
              <Items>
                <ComboItem>
                  <Caption>组织上级调整</Caption>
                  <Value>A</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>组织更名</Caption>
                  <Value>B</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>岗位更名</Caption>
                  <Value>C</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>9QWqEqogg8</Id>
              <Name>组织/岗位ID</Name>
              <FieldName>fk_tdkw_orgid</FieldName>
              <Key>${ISV_FLAG}_orgid</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>vHs0Wx2by6</Id>
              <Name>组织/岗位编码</Name>
              <FieldName>fk_tdkw_orgnumber</FieldName>
              <Key>${ISV_FLAG}_orgnumber</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>5KHzCtErdJ</Id>
              <Name>组织/岗位名称</Name>
              <FieldName>fk_tdkw_orgname</FieldName>
              <Key>${ISV_FLAG}_orgname</Key>
            </TextField>
            <DateField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>YdjWoUZOKC</Id>
              <Name>更新日期</Name>
              <FieldName>fk_tdkw_modifydate</FieldName>
              <Key>${ISV_FLAG}_modifydate</Key>
            </DateField>
            <DateField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>BECUQceBkw</Id>
              <Name>生效日期</Name>
              <FieldName>fk_tdkw_takeeffectdate</FieldName>
              <Key>${ISV_FLAG}_takeeffectdate</Key>
            </DateField>
            <ComboField>
              <FieldName>fk_tdkw_executestatus</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>HoGmunjaUn</Id>
              <Key>${ISV_FLAG}_executestatus</Key>
              <Name>执行状态</Name>
              <Items>
                <ComboItem>
                  <Caption>待执行</Caption>
                  <Value>01</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>执行中</Caption>
                  <Value>02</Value>
                  <Seq>1</Seq>
                </ComboItem>
                <ComboItem>
                  <Caption>执行完成</Caption>
                  <Value>03</Value>
                  <Seq>2</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <DateField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>6UbiF7EGxZ</Id>
              <Name>执行日期</Name>
              <FieldName>fk_tdkw_executedate</FieldName>
              <Key>${ISV_FLAG}_executedate</Key>
            </DateField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>3t07WlNe2T</Id>
              <Name>变更前上级组织编码</Name>
              <FieldName>fk_tdkw_beforechgparentor</FieldName>
              <Key>${ISV_FLAG}_beforechgparentorgno</Key>
            </TextField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>aJDWk6yeOy</Id>
              <Name>变更后上级组织编码</Name>
              <FieldName>fk_tdkw_afterchgparentorg</FieldName>
              <Key>${ISV_FLAG}_afterchgparentorgno</Key>
            </TextField>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>UxVxcareAb</Id>
              <DefValue>0</DefValue>
              <Name>关联消费明细id</Name>
              <FieldName>fk_tdkw_mapping_id</FieldName>
              <Key>${ISV_FLAG}_mapping_id</Key>
            </BigIntField>
            <LargeTextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Vy6n8Th3b0vSeGOD7u</Id>
              <Name>执行结果</Name>
              <FieldName>fk_tdkw_resultmsg1</FieldName>
              <Key>${ISV_FLAG}_resultmsg</Key>
            </LargeTextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765877453609</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_orguntitransfer</Number>
      <BizappId>5D3WWTOB6GSY</BizappId>
      <Id>3DL92A4AU/1Q</Id>
      <InheritPath></InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765877453597</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>5D3WXTV6RCPV</BizunitId>
</DeployMetadata>
