<?xml version="1.0" encoding="UTF-8"?>

<DeployScheduleEntity>
  <JobTaskMainEntityList>
    <TaskDefineMainEntity>
      <TaskDefineParams>
        <TaskDefineParamEntryEntity>
          <ParamType>1</ParamType>
          <ParamDesc>任务扫描执行时间区间</ParamDesc>
          <BaseDataInfo></BaseDataInfo>
          <Id>4MK=I16NVD+N</Id>
          <ParamName>days</ParamName>
          <Seq>1</Seq>
          <EntryId>4MK=I16NV16S</EntryId>
          <ParamValue>1</ParamValue>
        </TaskDefineParamEntryEntity>
      </TaskDefineParams>
      <AppNum>hdm</AppNum>
      <Number>PostRenameChgTask</Number>
      <LocaleCollection>
        <TaskDefineMainEntityL>
          <PkId>4MK=I16NVD+O</PkId>
          <Name>成建制划转(岗位更名)任务类</Name>
          <Description></Description>
          <Id>4MK=I16NVD+N</Id>
          <LocaleId>zh_CN</LocaleId>
        </TaskDefineMainEntityL>
        <TaskDefineMainEntityL>
          <PkId>4MK=I16NVD+P</PkId>
          <Name>成建製劃轉(崗位更名)任務類</Name>
          <Description></Description>
          <Id>4MK=I16NVD+N</Id>
          <LocaleId>zh_TW</LocaleId>
        </TaskDefineMainEntityL>
      </LocaleCollection>
      <Name>成建制划转(岗位更名)任务类</Name>
      <Description></Description>
      <ClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.PostRenameChgTask</ClassName>
      <Id>4MK=I16NVD+N</Id>
    </TaskDefineMainEntity>
    <TaskDefineMainEntity>
      <TaskDefineParams>
        <TaskDefineParamEntryEntity>
          <ParamType>1</ParamType>
          <ParamDesc>定时任务执行时间区间</ParamDesc>
          <BaseDataInfo></BaseDataInfo>
          <ust>true</ust>
          <Id>4MD=GH=YKTLJ</Id>
          <ParamName>days</ParamName>
          <Seq>1</Seq>
          <EntryId>4MK=6W33ARNB</EntryId>
          <ParamValue>1</ParamValue>
        </TaskDefineParamEntryEntity>
      </TaskDefineParams>
      <AppNum>hdm</AppNum>
      <Number>OrgRenameChgTask</Number>
      <LocaleCollection>
        <TaskDefineMainEntityL>
          <PkId>4MD=GH=YL4DE</PkId>
          <Name>成建制划转(组织更名)任务类</Name>
          <Description></Description>
          <Id>4MD=GH=YKTLJ</Id>
          <LocaleId>zh_CN</LocaleId>
        </TaskDefineMainEntityL>
        <TaskDefineMainEntityL>
          <PkId>4MD=GH=YL4DF</PkId>
          <Name>成建製劃轉(組織更名)任務類</Name>
          <Description></Description>
          <Id>4MD=GH=YKTLJ</Id>
          <LocaleId>zh_TW</LocaleId>
        </TaskDefineMainEntityL>
      </LocaleCollection>
      <Name>成建制划转(组织更名)任务类</Name>
      <Description></Description>
      <ClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.OrgRenameChgTask</ClassName>
      <Id>4MD=GH=YKTLJ</Id>
    </TaskDefineMainEntity>
    <TaskDefineMainEntity>
      <TaskDefineParams>
        <TaskDefineParamEntryEntity>
          <ParamType>1</ParamType>
          <ParamDesc>定时任务执行时间区间</ParamDesc>
          <BaseDataInfo></BaseDataInfo>
          <Id>4N0163M4H3UU</Id>
          <ParamName>days</ParamName>
          <Seq>1</Seq>
          <EntryId>4N0163M4H35K</EntryId>
          <ParamValue>1</ParamValue>
        </TaskDefineParamEntryEntity>
      </TaskDefineParams>
      <AppNum>hdm</AppNum>
      <Number>OrgParentChgTask</Number>
      <LocaleCollection>
        <TaskDefineMainEntityL>
          <PkId>4N0163M4H3UV</PkId>
          <Name>成建制划转(组织上级调整)任务类</Name>
          <Description></Description>
          <Id>4N0163M4H3UU</Id>
          <LocaleId>zh_CN</LocaleId>
        </TaskDefineMainEntityL>
        <TaskDefineMainEntityL>
          <PkId>4N0163M4H3UW</PkId>
          <Name>成建製劃轉(組織上級調整)任務類</Name>
          <Description></Description>
          <Id>4N0163M4H3UU</Id>
          <LocaleId>zh_TW</LocaleId>
        </TaskDefineMainEntityL>
      </LocaleCollection>
      <Name>成建制划转(组织上级调整)任务类</Name>
      <Description></Description>
      <ClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.OrgParentChgTask</ClassName>
      <Id>4N0163M4H3UU</Id>
    </TaskDefineMainEntity>
  </JobTaskMainEntityList>
  <ExportTime>1736165874001</ExportTime>
  <ScheduleMainEntity>
    <ScheduleMainEntity>
      <Cron>0 10 10 24 12 ? 2024</Cron>
      <RepeatMode>n</RepeatMode>
      <Description></Description>
      <JobId>4MFUSEKIPVU/</JobId>
      <Number>hdm_orgtransfer_plan_SKDP_S</Number>
      <LocaleCollection>
        <ScheduleMainEntityL>
          <PkId>4MFV60RUUAK9</PkId>
          <Name>成建制人事变动</Name>
          <Description></Description>
          <Id>4MFV60RUUI+2</Id>
          <LocaleId>zh_CN</LocaleId>
        </ScheduleMainEntityL>
        <ScheduleMainEntityL>
          <PkId>4MFV60RUUAK=</PkId>
          <Name>成建製人事變動</Name>
          <Description></Description>
          <Id>4MFV60RUUI+2</Id>
          <LocaleId>zh_TW</LocaleId>
        </ScheduleMainEntityL>
      </LocaleCollection>
      <MsgContent></MsgContent>
      <NotifyType>,,</NotifyType>
      <Entryentity>
        <ScheduleJobEntryEntity>
          <JobId>4MFUSEKIPVU/</JobId>
          <Id>4MFV60RUUI+2</Id>
          <Seq>1</Seq>
          <EntryId>4MFV60RUUI+3</EntryId>
        </ScheduleJobEntryEntity>
        <ScheduleJobEntryEntity>
          <JobId>4N01S+Z=IRZ/</JobId>
          <Id>4MFV60RUUI+2</Id>
          <Seq>2</Seq>
          <EntryId>4N01U97LOSPV</EntryId>
        </ScheduleJobEntryEntity>
        <ScheduleJobEntryEntity>
          <JobId>4MKA95Y=R+8X</JobId>
          <Id>4MFV60RUUI+2</Id>
          <Seq>3</Seq>
          <EntryId>4N01U97LOSPW</EntryId>
        </ScheduleJobEntryEntity>
      </Entryentity>
      <nable>true</nable>
      <CycleNum>1</CycleNum>
      <Host>172.20.107.32</Host>
      <Name>成建制人事变动</Name>
      <StartTime>1735006251835</StartTime>
      <EndTime>4102415999000</EndTime>
      <Id>4MFV60RUUI+2</Id>
    </ScheduleMainEntity>
  </ScheduleMainEntity>
  <Version>2.0</Version>
  <JobMainEntityList>
    <JobMainEntity>
      <Caption>调度作业通知</Caption>
      <Description></Description>
      <Number>hdm_PostRenameChgTask_SKDJ_S</Number>
      <LocaleCollection>
        <JobMainEntityL>
          <PkId>4MKA95Y=QSV2</PkId>
          <Name>成建制划转(岗位更名)作业</Name>
          <Description></Description>
          <Id>4MKA95Y=R+8X</Id>
          <LocaleId>zh_CN</LocaleId>
        </JobMainEntityL>
        <JobMainEntityL>
          <PkId>4MKA95Y=QSV3</PkId>
          <Name>成建製劃轉(崗位更名)作業</Name>
          <Description></Description>
          <Id>4MKA95Y=R+8X</Id>
          <LocaleId>zh_TW</LocaleId>
        </JobMainEntityL>
      </LocaleCollection>
      <nable>true</nable>
      <RunByUserId>1425399182121766912</RunByUserId>
      <Id>4MKA95Y=R+8X</Id>
      <JobType>BIZ</JobType>
      <TaskClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.PostRenameChgTask</TaskClassName>
      <Params>{"days":"1"}</Params>
      <RunByLang></RunByLang>
      <RunMode>0</RunMode>
      <MsgContent></MsgContent>
      <NotifyType></NotifyType>
      <otifyOnFailure>true</otifyOnFailure>
      <TaskDefineId>4MK=I16NVD+N</TaskDefineId>
      <Name>成建制划转(岗位更名)作业</Name>
      <Strategy>1</Strategy>
    </JobMainEntity>
    <JobMainEntity>
      <Caption>调度作业通知</Caption>
      <Description></Description>
      <Number>hdm_OrgRenameChgTask_SKDJ_S</Number>
      <LocaleCollection>
        <JobMainEntityL>
          <PkId>4MFUSEKIPOE6</PkId>
          <Name>成建制划转(组织更名)作业</Name>
          <Description></Description>
          <Id>4MFUSEKIPVU/</Id>
          <LocaleId>zh_CN</LocaleId>
        </JobMainEntityL>
        <JobMainEntityL>
          <PkId>4MFUSEKIPOE7</PkId>
          <Name>成建製劃轉(組織更名)作業</Name>
          <Description></Description>
          <Id>4MFUSEKIPVU/</Id>
          <LocaleId>zh_TW</LocaleId>
        </JobMainEntityL>
      </LocaleCollection>
      <nable>true</nable>
      <RunByUserId>1890687643230963712</RunByUserId>
      <Id>4MFUSEKIPVU/</Id>
      <JobType>BIZ</JobType>
      <TaskClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.OrgRenameChgTask</TaskClassName>
      <Params>{"days":"1"}</Params>
      <RunByLang></RunByLang>
      <RunMode>0</RunMode>
      <MsgContent></MsgContent>
      <NotifyType></NotifyType>
      <otifyOnFailure>true</otifyOnFailure>
      <TaskDefineId>4MD=GH=YKTLJ</TaskDefineId>
      <Name>成建制划转(组织更名)作业</Name>
      <Strategy>1</Strategy>
    </JobMainEntity>
    <JobMainEntity>
      <Caption>调度作业通知</Caption>
      <Description></Description>
      <Number>hdm_OrgParentChgTask_SKDJ_S</Number>
      <LocaleCollection>
        <JobMainEntityL>
          <PkId>4N01S+Z=IKJ6</PkId>
          <Name>成建制划转(组织上级调整)作业</Name>
          <Description></Description>
          <Id>4N01S+Z=IRZ/</Id>
          <LocaleId>zh_CN</LocaleId>
        </JobMainEntityL>
        <JobMainEntityL>
          <PkId>4N01S+Z=IKJ7</PkId>
          <Name>成建製劃轉(組織上級調整)作業</Name>
          <Description></Description>
          <Id>4N01S+Z=IRZ/</Id>
          <LocaleId>zh_TW</LocaleId>
        </JobMainEntityL>
      </LocaleCollection>
      <nable>true</nable>
      <RunByUserId>1890687629255539712</RunByUserId>
      <Id>4N01S+Z=IRZ/</Id>
      <JobType>BIZ</JobType>
      <TaskClassName>${ISV_FLAG}.hr.hdm.orgtransfer.business.OrgParentChgTask</TaskClassName>
      <Params>{"days":"1"}</Params>
      <RunByLang></RunByLang>
      <RunMode>0</RunMode>
      <MsgContent></MsgContent>
      <NotifyType></NotifyType>
      <otifyOnFailure>true</otifyOnFailure>
      <TaskDefineId>4N0163M4H3UU</TaskDefineId>
      <Name>成建制划转(组织上级调整)作业</Name>
      <Strategy>1</Strategy>
    </JobMainEntity>
  </JobMainEntityList>
</DeployScheduleEntity>
