<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4S28Q83PUQOP</MasterId>
  <Id>59845T2HWN3Y</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hrpi_assignment_ext</Number>
      <PkId>5988ECS2QCXO</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>组织分配</Name>
      <Id>59845T2HWN3Y</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hrpi_assignment_ext</Number>
      <PkId>5988ED+JP63L</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>组织分配</Name>
      <Id>59845T2HWN3Y</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1759052503788</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
