<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4S28Q83PUQOP</MasterId>
  <BizappId>598454ETXWSF</BizappId>
  <Id>59845T2HWN3Y</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1759052503788</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>59845T2HWN3Y</Id>
          <Key>${ISV_FLAG}_hrpi_assignment_ext</Key>
          <EntityId>59845T2HWN3Y</EntityId>
          <ParentId>4S28Q83PUQOP</ParentId>
          <MasterId>4S28Q83PUQOP</MasterId>
          <BizappId>598454ETXWSF</BizappId>
          <InheritPath>0NKB12K4VH2O,4S28Q83PUQOP</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="0NKB12K4W9D7">
              <Id>59845T2HWN3Y</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>QqABi7eg</FPK>
                  <ClassName>59845T2HWN3Y_QqABi7eg</ClassName>
                  <SourceNumber>${ISV_FLAG}_hrpi_assignment_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>组织分配</SourceName>
                  <RowKey>2</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hrpi_assignment_ext</Key>
            </BasedataFormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2312508850281908224</ModifierId>
      <EntityId>59845T2HWN3Y</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1759052503788</Version>
      <ParentId>4S28Q83PUQOP</ParentId>
      <MasterId>4S28Q83PUQOP</MasterId>
      <Number>${ISV_FLAG}_hrpi_assignment_ext</Number>
      <BizappId>598454ETXWSF</BizappId>
      <IsvSign>Oivji4BJR4ig1jou4u89dDxZsTz0PsNJSJQpe/Ju9T8Lk5vzRb+YSh3yllnU175xVQ7KDoGU6xhqX0BiifGBkv98/pcajKEGxsIXVCcIC660Xag0GJE9sFIkRbfzKw9hx3YJ8wyoVcbdWCDYgBRu37Mxgs9RTJxZnOUhd/i2REE=</IsvSign>
      <Id>59845T2HWN3Y</Id>
      <InheritPath>0NKB12K4VH2O,4S28Q83PUQOP</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1759052503875</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>59845T2HWN3Y</Id>
          <ParentId>4S28Q83PUQOP</ParentId>
          <MasterId>4S28Q83PUQOP</MasterId>
          <BizappId>598454ETXWSF</BizappId>
          <InheritPath>0NKB12K4VH2O,4S28Q83PUQOP</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1A3I8S4L91=9">
              <Id>59845T2HWN3Y</Id>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Name>word下载</Name>
                  <OperationType>donothing</OperationType>
                  <Id>5984=VP0ADCL</Id>
                  <SuccessMsg/>
                  <Key>wordconversion</Key>
                </Operation>
              </Operations>
              <Key>${ISV_FLAG}_hrpi_assignment_ext</Key>
            </BaseEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1759052503875</Version>
      <ParentId>4S28Q83PUQOP</ParentId>
      <MasterId>4S28Q83PUQOP</MasterId>
      <Number>${ISV_FLAG}_hrpi_assignment_ext</Number>
      <BizappId>598454ETXWSF</BizappId>
      <Id>59845T2HWN3Y</Id>
      <InheritPath>0NKB12K4VH2O,4S28Q83PUQOP</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1759052503788</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4S29+K/4I5GA</BizunitId>
</DeployMetadata>
