<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <MasterId>2AXKDRPJUQ77</MasterId>
  <Id>5EIPC+/IHYJS</Id>
  <DesignMetas>
    <DesignAppMetaL>
      <PkId>5EXM=OM12+2+</PkId>
      <DataXml>
        <AppMetadata/>
      </DataXml>
      <Name>中国社保</Name>
      <Description>中国社保和住房公积金管理</Description>
      <Id>5EIPC+/IHYJS</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignAppMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
