<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2AXKDRPJUQ77</MasterId>
  <Id>5EIPC+/IHYJS</Id>
  <DesignMetas>
    <DesignAppMeta>
      <DevType>2</DevType>
      <AppVersion>8.0.1.0</AppVersion>
      <Modifier>2353647692736891904</Modifier>
      <DataXml>
        <AppMetadata>
          <DevType>2</DevType>
          <AppMenus>
            <AppMenuElement>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>3dd6751152</Number>
              <FormName>社保公积金基数表</FormName>
              <FormNumber>${ISV_FLAG}_social_security_fund</FormNumber>
              <Parameter/>
              <Id>2368270835166263296</Id>
              <Seq>4</Seq>
              <FormId>4+66=CA+SHU2</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1965349827818593280</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao3</VectorImage>
              <Name>社保公积金基数表</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>1ea04718ad</Number>
              <FormName>代缴申请单</FormName>
              <FormNumber>${ISV_FLAG}_social_security</FormNumber>
              <Parameter/>
              <Id>2368264750061631488</Id>
              <Seq>9</Seq>
              <FormId>42UVI42C8P5V</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj5_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1383463950942770176</ParentId>
              <VectorImage>kdfont kdfont-cebianlantubiao6beifen</VectorImage>
              <Name>代缴申请单</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
          </AppMenus>
          <Isv>tdkw</Isv>
          <Number>${ISV_FLAG}_hcsi_ext</Number>
          <Id>5EIPC+/IHYJS</Id>
          <ParentId>2AXKDRPJUQ77</ParentId>
          <MasterId>2AXKDRPJUQ77</MasterId>
          <AppElement>
            <AppElement>
              <Number>${ISV_FLAG}_hcsi_ext</Number>
              <Id>5EIPC+/IHYJS</Id>
              <Version>8.0.1.0</Version>
              <UserType>,1,</UserType>
            </AppElement>
          </AppElement>
          <InheritPath>2AXKDRPJUQ77</InheritPath>
        </AppMetadata>
      </DataXml>
      <Description></Description>
      <DbRoute>swc</DbRoute>
      <Isv>tdkw</Isv>
      <OpenType>0</OpenType>
      <AllUserApp>0</AllUserApp>
      <Number>${ISV_FLAG}_hcsi_ext</Number>
      <IndustryId>0</IndustryId>
      <Id>5EIPC+/IHYJS</Id>
      <Seq>10</Seq>
      <CreateDate>1765160126857</CreateDate>
      <MainFormType>0</MainFormType>
      <BizCloudID>17+ZA9TOOB66</BizCloudID>
      <DependencyID></DependencyID>
      <Image>/icons/pc/entrance/qdy_ydwkskd_48_48.png</Image>
      <OrgFunc>11</OrgFunc>
      <Visible>1</Visible>
      <ModifyDate>1765531410628</ModifyDate>
      <Dependency></Dependency>
      <HelpURL></HelpURL>
      <Label></Label>
      <ModelType>AppModel</ModelType>
      <MainFormName>中国社保_应用首页</MainFormName>
      <ParentId>2AXKDRPJUQ77</ParentId>
      <BackImage></BackImage>
      <HomeURL></HomeURL>
      <MasterId>2AXKDRPJUQ77</MasterId>
      <Creater>2359873934389675008</Creater>
      <MainFormID>2AXKDSRG=DZV</MainFormID>
      <SimpleNumber></SimpleNumber>
      <InheritPath>2AXKDRPJUQ77</InheritPath>
      <RefAppId></RefAppId>
      <UserType>,1,</UserType>
      <DeployStatus>2</DeployStatus>
    </DesignAppMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
