<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4VWVOAGEXDL7</MasterId>
  <BizappId>5EIPC+/IHYJS</BizappId>
  <Id>5EQVOQ1B37L+</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765363291368</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EQVOQ1B37L+</Id>
          <Key>${ISV_FLAG}_hcsi_sibase_ext</Key>
          <EntityId>5EQVOQ1B37L+</EntityId>
          <ParentId>4VWVOAGEXDL7</ParentId>
          <MasterId>4VWVOAGEXDL7</MasterId>
          <BizappId>5EIPC+/IHYJS</BizappId>
          <InheritPath>0NKB12K4VH2O,4P3X7D6IF4T1,4VWV6OJFMVJG,4VWVOAGEXDL7</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="0NKB12K4W9D7">
              <Id>5EQVOQ1B37L+</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>KyX6D99A</FPK>
                  <ClassName>5EQVOQ1B37L+_KyX6D99A</ClassName>
                  <SourceNumber>${ISV_FLAG}_hcsi_sibase_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>社保基数设置</SourceName>
                  <RowKey>4</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hcsi_sibase_ext</Key>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <ListFormAp action="edit" oid="1A3IB8USRG8G">
                      <JsPlugins>
                        <Plugin>
                          <FPK>0XWq2PI3</FPK>
                          <ClassName>5EQVOQ1B37L+_list_0XWq2PI3</ClassName>
                          <SourceNumber>${ISV_FLAG}_hcsi_sibase_ext_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>社保基数设置</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </ListFormAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FieldAp>
              <Id>MWNWvgs1YWMINxUgDv</Id>
              <FieldId>MWNWvgs1YWMINxUgDv</FieldId>
              <Index>3</Index>
              <Name>基数表</Name>
              <Key>${ISV_FLAG}_radix_table</Key>
              <ParentId>O2ybuq6CjN</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="gEBGgEEXl91hXNAYFZ">
              <Index>4</Index>
            </FieldAp>
            <FieldAp action="edit" oid="NtHPspaH6H">
              <Index>5</Index>
            </FieldAp>
            <FieldAp action="edit" oid="ldDsq567cn">
              <Index>6</Index>
            </FieldAp>
            <FieldAp action="edit" oid="qRo0vclYn1">
              <Index>7</Index>
            </FieldAp>
            <FieldAp action="edit" oid="v2rFdCAOL44kR5UNew">
              <Index>8</Index>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2353647692736891904</ModifierId>
      <EntityId>5EQVOQ1B37L+</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765363291368</Version>
      <ParentId>4VWVOAGEXDL7</ParentId>
      <MasterId>4VWVOAGEXDL7</MasterId>
      <Number>${ISV_FLAG}_hcsi_sibase_ext</Number>
      <BizappId>5EIPC+/IHYJS</BizappId>
      <IsvSign>B1ZChKg/U5Xuk2aumC+UQArhLTwFEzFJRjBM9tyGlkMS4bkbPu+YD+hWMgAQkcxbCZn33YiSpkm3h7To7pEsIR/83PDJM4QgXyjrdQkGv4Fwpd8WNZ7hdHwjlAyFIHeRgpuLOPahAHP+4MVFTUH7fJqIB0wdfOOdsV59ES8TQZ8=</IsvSign>
      <Id>5EQVOQ1B37L+</Id>
      <InheritPath>0NKB12K4VH2O,4P3X7D6IF4T1,4VWV6OJFMVJG,4VWVOAGEXDL7</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765363291432</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EQVOQ1B37L+</Id>
          <ParentId>4VWVOAGEXDL7</ParentId>
          <MasterId>4VWVOAGEXDL7</MasterId>
          <BizappId>5EIPC+/IHYJS</BizappId>
          <InheritPath>0NKB12K4VH2O,4P3X7D6IF4T1,4VWV6OJFMVJG,4VWVOAGEXDL7</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1A3I8S4L91=9">
              <Id>5EQVOQ1B37L+</Id>
              <Key>${ISV_FLAG}_hcsi_sibase_ext</Key>
            </BaseEntity>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>MWNWvgs1YWMINxUgDv</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>基数表</Name>
              <FieldName>fk_tdkw_radix_tabled</FieldName>
              <Key>${ISV_FLAG}_radix_table</Key>
              <RefLayout/>
              <BaseEntityId>4+66=CA+SHU2</BaseEntityId>
            </BasedataField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765363291432</Version>
      <ParentId>4VWVOAGEXDL7</ParentId>
      <MasterId>4VWVOAGEXDL7</MasterId>
      <Number>${ISV_FLAG}_hcsi_sibase_ext</Number>
      <BizappId>5EIPC+/IHYJS</BizappId>
      <Id>5EQVOQ1B37L+</Id>
      <InheritPath>0NKB12K4VH2O,4P3X7D6IF4T1,4VWV6OJFMVJG,4VWVOAGEXDL7</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765363291368</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2M37AFR9NFMR</BizunitId>
</DeployMetadata>
