<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4+M+DTXPNBOR</MasterId>
  <Id>4+M+DTXPNBOR</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_payment_service_type</Number>
      <PkId>5FTGYRC=X6H2</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>代缴业务类型</Name>
      <Id>4+M+DTXPNBOR</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_payment_service_type</Number>
      <PkId>5FTGYRK/VM44</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>代缴业务类型</Name>
      <Id>4+M+DTXPNBOR</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1766398875188</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
