<?xml version="1.0" encoding="UTF-8"?>
<DataModel dympath="metadata">
	<!-- 预插脚本 代缴业务类型 -->
	<SqlScript Type="KSQL" Separator=";" dbkey="sys">preinsdata/${ISV_FLAG}_payment_service_type.sql</SqlScript>
</DataModel>
