<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>42UVI42C8P5V</MasterId>
  <Id>42UVI42C8P5V</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_social_security</Number>
      <PkId>5GZ7I=XP42MY</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>代缴申请单</Name>
      <Id>42UVI42C8P5V</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_social_security</Number>
      <PkId>5GZ7IAHYOZKX</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>代缴申请单</Name>
      <Id>42UVI42C8P5V</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767511932174</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
