<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4+66=CA+SHU2</MasterId>
  <BizappId>5EIPC+/IHYJS</BizappId>
  <Id>4+66=CA+SHU2</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1766138525867</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>4+66=CA+SHU2</Id>
          <Key>${ISV_FLAG}_social_security_fund</Key>
          <EntityId>4+66=CA+SHU2</EntityId>
          <ParentId>269W0S0UCT0M</ParentId>
          <BizappId>5EIPC+/IHYJS</BizappId>
          <IsvSign/>
          <Name>社保公积金基数表</Name>
          <InheritPath>1942c188000065ac,ab7efc31000015ac,2+QPVWEP=LYN,2/TYVXZRP5/F,269W0S0UCT0M</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <Plugins>
                <Plugin action="edit" oid="kd.swc.hsbp.formplugin.web.newhismodel.SWCNewHisBaseDataEdit">
                  <RowKey>10</RowKey>
                </Plugin>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.swc.sit.form.social_security_fund.SocialSecurityFundFormPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>多选基础资料职级编码，获取对应的职级名称</Description>
                  <RowKey>11</RowKey>
                </Plugin>
              </Plugins>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b252b844000004ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>8k5Ilk9i</FPK>
                          <ClassName>4+66=CA+SHU2_moblist_8k5Ilk9i</ClassName>
                          <SourceNumber>${ISV_FLAG}_social_security_fund_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>社保公积金基数表</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>4+66=CA+SHU2</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>4+66=CA+SHU2</Id>
              <EnableExtendProperty action="reset"/>
              <Name>社保公积金基数表</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>gH4lE3xA</FPK>
                  <ClassName>4+66=CA+SHU2_gH4lE3xA</ClassName>
                  <SourceNumber>${ISV_FLAG}_social_security_fund</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>社保公积金基数表</SourceName>
                  <RowKey>3</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_social_security_fund</Key>
              <MobMeta>
                <FormMetadata>
                  <Id>4+66=CA+SHU2</Id>
                  <Key>${ISV_FLAG}_social_security_fund_mob</Key>
                  <EntityId>4+66=CA+SHU2</EntityId>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <Id>4+66=CA+SHU2</Id>
                      <JsPlugins>
                        <Plugin>
                          <FPK>LFM9lVST</FPK>
                          <ClassName>4+66=CA+SHU2_mob_LFM9lVST</ClassName>
                          <SourceNumber>${ISV_FLAG}_social_security_fund_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>社保公积金基数表</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                      <Key>${ISV_FLAG}_social_security_fund_mob</Key>
                    </MobileBillFormAp>
                    <FieldAp action="edit" oid="sM9Z0Db4lT">
                      <ParentId>4+66=CA+SHU2</ParentId>
                    </FieldAp>
                    <FieldAp action="edit" oid="xw0UMhndz7">
                      <ParentId>4+66=CA+SHU2</ParentId>
                    </FieldAp>
                    <MToolbarAp action="edit" oid="aHlGN1l22N">
                      <ParentId>4+66=CA+SHU2</ParentId>
                    </MToolbarAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Name>社保公积金基数列表</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Plugins>
                        <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.history.list.HisModelFilterPanelF7ListPlugin">
                          <RowKey>13</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.swc.hsbp.formplugin.web.newhismodel.SWCNewHisBaseDataList">
                          <RowKey>12</RowKey>
                        </Plugin>
                        <Plugin>
                          <FPK/>
                          <ClassName>${ISV_FLAG}.swc.sit.form.social_security_fund.SocialSecurityFundListPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                          <Description>列表中展示数据状态</Description>
                          <RowKey>14</RowKey>
                        </Plugin>
                      </Plugins>
                      <F7ListFormId action="reset"/>
                      <Name>社保公积金基数列表</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>okPfFUiy</FPK>
                          <ClassName>4+66=CA+SHU2_list_okPfFUiy</ClassName>
                          <SourceNumber>${ISV_FLAG}_social_security_fund_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>社保公积金基数表</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="djdwzxdpM2">
                      <Index>8</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ljHCrTftFD">
                      <Index>9</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="OfsH5jjBXk">
                      <Index>10</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0gAY5TLeX3">
                      <Index>11</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="UlRxLeBKL1">
                      <Index>12</Index>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>4+66=CA+SHU2</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>4+66=CA+SHU2</EntityId>
                    </BillListAp>
                    <CommonBaseDataFilterColumnAp action="edit" oid="2E2VJTA6=+PD">
                      <Name>社保公积金管理组织</Name>
                      <MustInput action="reset"/>
                    </CommonBaseDataFilterColumnAp>
                    <CommonFilterColumnAp action="edit" oid="2+QQFC2XOQG+">
                      <Index>2</Index>
                    </CommonFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>4+FP0C8HS63U</Id>
                      <Index>3</Index>
                      <Name>参保单位</Name>
                      <FieldName>${ISV_FLAG}_insured_entity.name</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafilter</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>2AN0YETBHEYQ</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <CommonDateFilterColumnAp>
                      <Type>date</Type>
                      <Multi>false</Multi>
                      <Id>4+FP3IJQUM38</Id>
                      <Index>4</Index>
                      <Name>最早生效日期</Name>
                      <FieldName>firstbsed</FieldName>
                      <Key>${ISV_FLAG}_commondatefiltercolu</Key>
                      <Custom>true</Custom>
                      <ParentId>filtergridview</ParentId>
                    </CommonDateFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>4+FP4L6XZNLF</Id>
                      <Index>5</Index>
                      <Name>创建人</Name>
                      <FieldName>creator.number</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafilte1</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>68bde9ca00000eac</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <CommonDateFilterColumnAp>
                      <Type>datetime</Type>
                      <Multi>false</Multi>
                      <Id>4+FP4PRSJY3G</Id>
                      <Index>6</Index>
                      <Name>创建时间</Name>
                      <FieldName>createtime</FieldName>
                      <Key>${ISV_FLAG}_commondatefiltercol1</Key>
                      <Custom>true</Custom>
                      <ParentId>filtergridview</ParentId>
                    </CommonDateFilterColumnAp>
                    <ListColumnAp action="edit" oid="2/T0MO8VCHFH">
                      <Name>社保公积金管理组织</Name>
                    </ListColumnAp>
                    <DateListColumnAp action="edit" oid="2=40RE+OH3UJ">
                      <Index>4</Index>
                    </DateListColumnAp>
                    <ComboListColumnAp action="edit" oid="2+QQEFRNDVTY">
                      <Hyperlink>true</Hyperlink>
                      <Shrink>0</Shrink>
                    </ComboListColumnAp>
                    <ComboListColumnAp action="edit" oid="UGA0V8HS=6S">
                      <Index>6</Index>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4+6HMAXK312M</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>13</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_insured_entity.name</ListFieldId>
                      <Name>参保单位</Name>
                    </ListColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>4+FP0C8HS6T2</Id>
                      <Index>3</Index>
                      <Name>参保单位.名称</Name>
                      <FieldName>${ISV_FLAG}_insured_entity.name</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilte1</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>2AN0YETBHEYQ</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>4+FP/J1F+FQ9</Id>
                      <Index>4</Index>
                      <Name>参保单位.编码</Name>
                      <FieldName>${ISV_FLAG}_insured_entity.number</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilter</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>2AN0YETBHEYQ</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>4+FP4L6XZO9P</Id>
                      <Index>5</Index>
                      <Name>创建人.工号</Name>
                      <FieldName>creator.number</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilte2</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>68bde9ca00000eac</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp action="edit" oid="2BIRJZ9XUW2B">
                      <Index>7</Index>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="2BIRK/WU++XE">
                      <Index>8</Index>
                    </SchemeFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp action="edit" oid="2BIRK2LQ/UMH">
                      <Index>9</Index>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="2BIRK4BS9UAX">
                      <Index>10</Index>
                    </SchemeFilterColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <EntryFieldAp>
              <Id>r3jzKVsLEv3oDdL0bh</Id>
              <FieldId>r3jzKVsLEv3oDdL0bh</FieldId>
              <Key>${ISV_FLAG}_multiple_ranks</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <Name>职级编码</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>0ry4nRUnyRqunjzliE</Id>
              <FieldId>0ry4nRUnyRqunjzliE</FieldId>
              <Index>1</Index>
              <Key>${ISV_FLAG}_multiple_rank_name</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <Name>职级</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Id>0brx28CbKDcSmj7Lqh</Id>
              <FieldId>0brx28CbKDcSmj7Lqh</FieldId>
              <Index>2</Index>
              <Key>${ISV_FLAG}_social_medical</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <Name>社保医保基数</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Id>25y5KIAcs3eumrSJNz</Id>
              <FieldId>25y5KIAcs3eumrSJNz</FieldId>
              <Index>3</Index>
              <Key>${ISV_FLAG}_reserve_fund</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <Name>公积金基数</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Invisible>true</Invisible>
              <Id>j32klQAutvnabO9fFG</Id>
              <FieldId>j32klQAutvnabO9fFG</FieldId>
              <Index>4</Index>
              <Key>entryboid</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <Name>单据体业务id</Name>
            </EntryFieldAp>
            <FieldAp action="edit" oid="0AxoDRSmGT">
              <Invisible>true</Invisible>
            </FieldAp>
            <FieldAp action="edit" oid="YgMJgrpUsm">
              <Lock/>
              <Name>社保公积金管理组织</Name>
            </FieldAp>
            <FieldAp>
              <Id>ycDBksaV3mXnT2I2La</Id>
              <FieldId>ycDBksaV3mXnT2I2La</FieldId>
              <Index>4</Index>
              <Name>参保单位</Name>
              <Key>${ISV_FLAG}_insured_entity</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="Ypwb324S6X">
              <Index>5</Index>
            </FieldAp>
            <FieldAp action="edit" oid="7WAfe0bdMp">
              <Invisible>true</Invisible>
              <Index>6</Index>
            </FieldAp>
            <FieldAp action="edit" oid="NBt1XSZL1f">
              <Index>7</Index>
            </FieldAp>
            <FieldAp action="edit" oid="b3NCD9QuGo">
              <Invisible>true</Invisible>
              <Index>8</Index>
            </FieldAp>
            <FieldAp action="edit" oid="mwaMbagQDx">
              <Index>9</Index>
            </FieldAp>
            <FieldAp action="edit" oid="xSqhCEZeWb">
              <Index>10</Index>
              <FullLine>true</FullLine>
            </FieldAp>
            <BarItemAp action="edit" oid="z20rAqlGP8">
              <Visible>init,edit,view,new,submit</Visible>
            </BarItemAp>
            <AdvConAp>
              <Collapsible>true</Collapsible>
              <Id>z02v6aBxlfAN42TArG</Id>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <Index>3</Index>
              <BackColor>@container-bg-color</BackColor>
              <Name>社保公积金基数表</Name>
              <Key>${ISV_FLAG}_advconap</Key>
              <ParentId>PxNfkkak4s</ParentId>
            </AdvConAp>
            <AdvConBarItemAp>
              <Id>vxaBq25o53</Id>
              <Name>增行</Name>
              <OperationKey>newentry</OperationKey>
              <Key>${ISV_FLAG}_advconbaritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>fI7NOhnzO0</ParentId>
            </AdvConBarItemAp>
            <AdvConBarItemAp>
              <Id>RCD0F2cMme</Id>
              <Index>1</Index>
              <Name>除行</Name>
              <OperationKey>deleteentry</OperationKey>
              <Key>${ISV_FLAG}_advconbaritemap1</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>fI7NOhnzO0</ParentId>
            </AdvConBarItemAp>
            <AdvConBarItemAp>
              <Id>doMTgqlm0p</Id>
              <Index>2</Index>
              <Name>上移</Name>
              <OperationKey>moveentryup</OperationKey>
              <Key>${ISV_FLAG}_advconbaritemap2</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>fI7NOhnzO0</ParentId>
            </AdvConBarItemAp>
            <AdvConBarItemAp>
              <Id>wdy0ATajQx</Id>
              <Index>3</Index>
              <Name>下移</Name>
              <OperationKey>moveentrydown</OperationKey>
              <Key>${ISV_FLAG}_advconbaritemap3</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>fI7NOhnzO0</ParentId>
            </AdvConBarItemAp>
            <HisModelConfigAp action="edit" oid="LlonpstiH3l3ebmQ13">
              <modelType>2</modelType>
            </HisModelConfigAp>
            <EntryAp>
              <EntryId>0x1NDzOEbds9khYRcH</EntryId>
              <Id>0x1NDzOEbds9khYRcH</Id>
              <Name>单据体</Name>
              <PageType/>
              <Key>${ISV_FLAG}_entryentity</Key>
              <ParentId>rsjXj1vVzY</ParentId>
            </EntryAp>
            <AdvConSummaryPanelAp>
              <Id>bA36W1GGDp</Id>
              <Name>高级面板摘要容器</Name>
              <Key>${ISV_FLAG}_advconsummarypanelap</Key>
              <ParentId>z02v6aBxlfAN42TArG</ParentId>
            </AdvConSummaryPanelAp>
            <AdvConToolbarAp>
              <Id>fI7NOhnzO0</Id>
              <Index>1</Index>
              <Name>高级面板工具栏</Name>
              <Key>${ISV_FLAG}_advcontoolbarap</Key>
              <ParentId>z02v6aBxlfAN42TArG</ParentId>
            </AdvConToolbarAp>
            <AdvConChildPanelAp>
              <Id>rsjXj1vVzY</Id>
              <Index>2</Index>
              <Name>高级面板子容器</Name>
              <Key>${ISV_FLAG}_advconchildpanelap</Key>
              <ParentId>z02v6aBxlfAN42TArG</ParentId>
            </AdvConChildPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2360184507006729216</ModifierId>
      <EntityId>4+66=CA+SHU2</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1766138525867</Version>
      <ParentId>269W0S0UCT0M</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_social_security_fund</Number>
      <BizappId>5EIPC+/IHYJS</BizappId>
      <IsvSign></IsvSign>
      <Id>4+66=CA+SHU2</Id>
      <InheritPath>1942c188000065ac,ab7efc31000015ac,2+QPVWEP=LYN,2/TYVXZRP5/F,269W0S0UCT0M</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1766138525955</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>4+66=CA+SHU2</Id>
          <ParentId>269W0S0UCT0M</ParentId>
          <BizappId>5EIPC+/IHYJS</BizappId>
          <IsvSign/>
          <Name>社保公积金基数表</Name>
          <InheritPath>1942c188000065ac,ab7efc31000015ac,2+QPVWEP=LYN,2/TYVXZRP5/F,269W0S0UCT0M</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <TableName>fk_tdkw_social_security</TableName>
              <Id>4+66=CA+SHU2</Id>
              <Name>社保公积金基数表</Name>
              <Template action="reset"/>
              <Operations>
                <Operation action="edit" oid="b599405400001aac">
                  <Plugins>
                    <Plugin action="edit" oid="kd.hr.hbp.opplugin.web.config.HRBaseOriginalOp">
                      <RowKey>7</RowKey>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <SaveParameter>
                      <StatusFieldId>ac5Y5Dax1q</StatusFieldId>
                    </SaveParameter>
                  </Parameter>
                </Operation>
                <Operation action="edit" oid="4V/7ENQAUB31">
                  <Validations>
                    <ConditionValidation>
                      <Expression>changedescription = ''</Expression>
                      <Description>合法性校验</Description>
                      <Message>变更说明不能为空！</Message>
                      <Enabled>true</Enabled>
                      <TrueThrow>true</TrueThrow>
                      <RuleType>FormValidate</RuleType>
                      <Id>5FIW538PJR8U</Id>
                      <PreCondition>
                        <PreCondition>
                          <RuleCondition>sourcevid &lt;&gt; 0</RuleCondition>
                          <Id>5FIW2G/E6GVK</Id>
                          <RuleDescription>关联历史版本 &lt;&gt; 0</RuleDescription>
                        </PreCondition>
                      </PreCondition>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <NewEntryParameter>
                      <EntryId>0x1NDzOEbds9khYRcH</EntryId>
                    </NewEntryParameter>
                  </Parameter>
                  <Name>新增分录</Name>
                  <OperationType>newentry</OperationType>
                  <Id>4+6GY48BECW1</Id>
                  <SuccessMsg/>
                  <Key>newentry</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>0x1NDzOEbds9khYRcH</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>删除分录</Name>
                  <OperationType>deleteentry</OperationType>
                  <Id>4+6H+HT/F+TK</Id>
                  <SuccessMsg/>
                  <Key>deleteentry</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>0x1NDzOEbds9khYRcH</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>上移一行</Name>
                  <OperationType>moveentryup</OperationType>
                  <Id>4+6H10XQIZ7V</Id>
                  <SuccessMsg/>
                  <Key>moveentryup</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>0x1NDzOEbds9khYRcH</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>下移一行</Name>
                  <OperationType>moveentrydown</OperationType>
                  <Id>4+6H26ZA48PK</Id>
                  <SuccessMsg/>
                  <Key>moveentrydown</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>将数据保存为提交状态</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4+F8Y9170XP=</Id>
                  <SuccessMsg/>
                  <Key>save_status</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>空操作</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4+F92VTVQP97</Id>
                  <SuccessMsg/>
                  <Key>save_audit</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>空操作</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4+F9BWY9PAO=</Id>
                  <SuccessMsg/>
                  <Key>donothing</Key>
                </Operation>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <NoSearchEnabled>true</NoSearchEnabled>
                  <BillType>true</BillType>
                  <BOTP>true</BOTP>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <Key>${ISV_FLAG}_social_security_fund</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
              <KFlowRules>[]</KFlowRules>
            </BaseEntity>
            <BillStatusField action="edit" oid="AkId5S4yTs">
              <MustInput>true</MustInput>
            </BillStatusField>
            <OrgField action="edit" oid="YgMJgrpUsm">
              <Name>社保公积金管理组织</Name>
              <OrgFuncs>31</OrgFuncs>
            </OrgField>
            <ComboField action="edit" oid="7WAfe0bdMp">
              <MustInput action="reset"/>
            </ComboField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>ycDBksaV3mXnT2I2La</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>参保单位</Name>
              <FieldName>fk_tdkw_insured_entity</FieldName>
              <Key>${ISV_FLAG}_insured_entity</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>2AN0YETBHEYQ</BaseEntityId>
            </BasedataField>
            <EntryEntity>
              <TableName>fk_tdkw_social_security_e</TableName>
              <Id>0x1NDzOEbds9khYRcH</Id>
              <Key>${ISV_FLAG}_entryentity</Key>
              <Name>单据体</Name>
            </EntryEntity>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>0brx28CbKDcSmj7Lqh</Id>
              <DefValue>0</DefValue>
              <Name>社保医保基数</Name>
              <FieldName>fk_tdkw_integerfield</FieldName>
              <Key>${ISV_FLAG}_social_medical</Key>
              <MustInput>true</MustInput>
              <DataScope>[0,2147483647]</DataScope>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
            </IntegerField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>25y5KIAcs3eumrSJNz</Id>
              <DefValue>0</DefValue>
              <Name>公积金基数</Name>
              <FieldName>fk_tdkw_integerfield1</FieldName>
              <Key>${ISV_FLAG}_reserve_fund</Key>
              <MustInput>true</MustInput>
              <DataScope>[0,2147483647]</DataScope>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
            </IntegerField>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>j32klQAutvnabO9fFG</Id>
              <DefValue>0</DefValue>
              <Name>单据体业务id</Name>
              <FieldName>fk_entryboid</FieldName>
              <Key>entryboid</Key>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
            </BigIntField>
            <MulBasedataField>
              <TableName>fk_tdkw_multiple_ranks</TableName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>r3jzKVsLEv3oDdL0bh</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>职级编码</Name>
              <RefProps>
                <RefProp>
                  <Name>number</Name>
                </RefProp>
                <RefProp>
                  <Name>name</Name>
                </RefProp>
                <RefProp>
                  <Name>description</Name>
                </RefProp>
                <RefProp>
                  <Name>joblevelseq</Name>
                </RefProp>
                <RefProp>
                  <Name>enable</Name>
                </RefProp>
                <RefProp>
                  <Name>joblevelscm.id</Name>
                </RefProp>
                <RefProp>
                  <Name>joblevelscm.number</Name>
                </RefProp>
                <RefProp>
                  <Name>joblevelscm.name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_multiple_ranks</Key>
              <DisplayProp>number</DisplayProp>
              <RefLayout/>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <EditSearchProp>number</EditSearchProp>
              <BaseEntityId>/IK45U1VF2XK</BaseEntityId>
              <BizBasedata>false</BizBasedata>
            </MulBasedataField>
            <MulBasedataField>
              <TableName>fk_tdkw_multiple_rank_na</TableName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>0ry4nRUnyRqunjzliE</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>职级</Name>
              <Key>${ISV_FLAG}_multiple_rank_name</Key>
              <RefLayout/>
              <ParentId>0x1NDzOEbds9khYRcH</ParentId>
              <EditSearchProp>name</EditSearchProp>
              <BaseEntityId>/IK45U1VF2XK</BaseEntityId>
              <BizBasedata>false</BizBasedata>
            </MulBasedataField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1766138525955</Version>
      <ParentId>269W0S0UCT0M</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_social_security_fund</Number>
      <BizappId>5EIPC+/IHYJS</BizappId>
      <Id>4+66=CA+SHU2</Id>
      <InheritPath>1942c188000065ac,ab7efc31000015ac,2+QPVWEP=LYN,2/TYVXZRP5/F,269W0S0UCT0M</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1766138525867</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2U765JXFP9RJ</BizunitId>
</DeployMetadata>
