<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4+66=CA+SHU2</MasterId>
  <Id>4+66=CA+SHU2</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_social_security_fund</Number>
      <PkId>5FJ/W741KZ=P</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>社保公积金基数表</Name>
      <Id>4+66=CA+SHU2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_social_security_fund</Number>
      <PkId>5FJ/W7==N+GM</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>社保公积金基数表</Name>
      <Id>4+66=CA+SHU2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1766138525867</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
