<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3DDQ/YO/VENU</MasterId>
  <BizappId>5984B2GBLAAS</BizappId>
  <Id>3DDQ/YO/VENU</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1688970808528</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>3DDQ/YO/VENU</Id>
          <Key>${ISV_FLAG}_hspm_wordconversion</Key>
          <EntityId>3DDQ/YO/VENU</EntityId>
          <ParentId>1942c188000065ac</ParentId>
          <BizappId>34O9Q8FL1D+C</BizappId>
          <IsvSign/>
          <Name>人员档案word模板</Name>
          <InheritPath>1942c188000065ac</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3DDQ/YO/VENU</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3DDQ/YO/VENU</Id>
              <BackColor>#E2E7EF</BackColor>
              <Name>人员档案word模板</Name>
              <Key>${ISV_FLAG}_hspm_wordconversion</Key>
              <ListMeta>
                <FormMetadata>
                  <Name>人员档案word模板</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Name>人员档案word模板</Name>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="NVARV5u7I4">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <Name>人员档案word列表</Name>
                      <EntityId>3DDQ/YO/VENU</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <AdvConSummaryPanelAp>
              <Id>j8KoMhLvpp</Id>
              <Name>高级面板摘要容器</Name>
              <Hidden>true</Hidden>
              <Key>${ISV_FLAG}_advconsummarypanelap1</Key>
              <ParentId>1nzWu2b9LH</ParentId>
            </AdvConSummaryPanelAp>
            <AdvConToolbarAp>
              <Invisible>true</Invisible>
              <Id>eMfCPvVl3f</Id>
              <Key>${ISV_FLAG}_advcontoolbarap1</Key>
              <Index>1</Index>
              <ParentId>1nzWu2b9LH</ParentId>
              <Name>设置模板</Name>
            </AdvConToolbarAp>
            <AdvConChildPanelAp>
              <Id>soZXvl5aBc</Id>
              <Index>2</Index>
              <Name>高级面板子容器</Name>
              <Key>${ISV_FLAG}_advconchildpanelap1</Key>
              <ParentId>1nzWu2b9LH</ParentId>
            </AdvConChildPanelAp>
            <FlexPanelAp action="edit" oid="LL4BVAnADa">
              <Index action="reset"/>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <Grow>0</Grow>
              <Index>1</Index>
              <BackColor>#ffffff</BackColor>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                  <Padding>
                    <Padding>
                      <Left>2px</Left>
                      <Right action="reset"/>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
            </FlexPanelAp>
            <AdvConAp>
              <Collapsible>true</Collapsible>
              <Id>1nzWu2b9LH</Id>
              <Key>${ISV_FLAG}_advconap1</Key>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <Index>2</Index>
              <BackColor>@container-bg-color</BackColor>
              <Name>附件</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                    </Border>
                  </Border>
                </Style>
              </Style>
            </AdvConAp>
            <BarItemAp action="edit" oid="PubXYtLD8J">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="zlTJbHhEqT">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="TK7j147AL2">
              <Invisible>true</Invisible>
            </BarItemAp>
            <FieldsetPanelAp action="edit" oid="STdfsCCFTj">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </FieldsetPanelAp>
            <FieldAp action="edit" oid="AkId5S4yTs">
              <Index>3</Index>
              <ParentId>STdfsCCFTj</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="ac5Y5Dax1q">
              <ParentId>STdfsCCFTj</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="jiRpZNc99A">
              <Index>5</Index>
              <ParentId>STdfsCCFTj</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="O75mQrM58q">
              <Index>6</Index>
              <ParentId>STdfsCCFTj</ParentId>
            </FieldAp>
            <AttachmentPanelAp>
              <ExtendName>docx</ExtendName>
              <SortField>uploadTime</SortField>
              <Lock>view,submit,audit</Lock>
              <Id>VxTX4K8wZl</Id>
              <MaxAtmCount>1</MaxAtmCount>
              <Name>附件</Name>
              <Key>${ISV_FLAG}_attachmentpanelap</Key>
              <ParentId>soZXvl5aBc</ParentId>
              <SortType>ASC</SortType>
              <Width>100%</Width>
              <MaxAtmSize>20</MaxAtmSize>
            </AttachmentPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>1690506529804978176</ModifierId>
      <EntityId>3DDQ/YO/VENU</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1688970808528</Version>
      <ParentId>1942c188000065ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_wordconversion</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <IsvSign></IsvSign>
      <Id>3DDQ/YO/VENU</Id>
      <InheritPath>1942c188000065ac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1688970808625</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>3DDQ/YO/VENU</Id>
          <ParentId>1942c188000065ac</ParentId>
          <BizappId>34O9Q8FL1D+C</BizappId>
          <IsvSign/>
          <Name>人员档案word模板</Name>
          <InheritPath>1942c188000065ac</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <dbRoute>hr</dbRoute>
              <TableName>tk_tdkw_hspm_wordversion</TableName>
              <Id>3DDQ/YO/VENU</Id>
              <Name>人员档案word模板</Name>
              <Template action="reset"/>
              <Key>${ISV_FLAG}_hspm_wordconversion</Key>
              <NetworkControl>
                <NetCtrlOperation>
                  <OperationKey>submit</OperationKey>
                  <GroupId>default_netctrl</GroupId>
                  <Id>c91d5125000034ac</Id>
                  <Key>default_netctrl_submit</Key>
                </NetCtrlOperation>
              </NetworkControl>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
            </BaseEntity>
            <MuliLangTextField action="edit" oid="8oq6R4m9CF">
              <GL>true</GL>
            </MuliLangTextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1688970808625</Version>
      <ParentId>1942c188000065ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_wordconversion</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <Id>3DDQ/YO/VENU</Id>
      <InheritPath>1942c188000065ac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1688970808528</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>59868BXIF01P</BizunitId>
</DeployMetadata>
