<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3EMHZ=0YSFWD</MasterId>
  <BizappId>5984B2GBLAAS</BizappId>
  <Id>3EMHZ=0YSFWD</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1754306251575</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>3EMHZ=0YSFWD</Id>
          <Key>${ISV_FLAG}_hspm_wordtempprin</Key>
          <EntityId>3EMHZ=0YSFWD</EntityId>
          <ModelType>DynamicFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5984B2GBLAAS</BizappId>
          <IsvSign/>
          <Name>选择word模板</Name>
          <SrcBizObjId/>
          <InheritPath/>
          <Items>
            <FormAp>
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.hspm.wordprint.formplugin.WordPrintSelectTemplatePlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>word打印</Description>
                </Plugin>
              </Plugins>
              <Language>zh_CN</Language>
              <ShowType>MainNewTabPage</ShowType>
              <Id>3EMHZ=0YSFWD</Id>
              <Height>360px</Height>
              <AlignItems>stretch</AlignItems>
              <JustifyContent>flex-start</JustifyContent>
              <LockStyle>2</LockStyle>
              <Name>选择word模板</Name>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Top>0px</Top>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <PkId>3EMHZ=0YSIKE</PkId>
              <JsPlugins>
                <Plugin>
                  <FPK>qK35evY7</FPK>
                  <ClassName>3EMHZ=0YSFWD_qK35evY7</ClassName>
                  <SourceNumber>${ISV_FLAG}_hspm_wordtempprin</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>选择word模板</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hspm_wordtempprin</Key>
              <Direction>column</Direction>
              <Width>460px</Width>
              <Wrap>false</Wrap>
            </FormAp>
            <FlexPanelAp>
              <Id>emSYxPoHvu</Id>
              <Height>px</Height>
              <Visible>new,init,edit,view</Visible>
              <AlignItems>center</AlignItems>
              <JustifyContent>center</JustifyContent>
              <Name>Flex面板</Name>
              <Key>${ISV_FLAG}_flexpanelap1</Key>
              <Direction>column</Direction>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Id>FiZ5r0FOOX</Id>
              <Height>50px</Height>
              <Grow>0</Grow>
              <AlignItems>center</AlignItems>
              <Shrink>0</Shrink>
              <Index>1</Index>
              <JustifyContent>center</JustifyContent>
              <Name>Flex面板</Name>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>1px_solid_#e5e5e5</Top>
                    </Border>
                  </Border>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_flexpanelap4</Key>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <ButtonAp>
              <OperationKey>close</OperationKey>
              <Id>os1a1mw6Hx</Id>
              <Radius>2px</Radius>
              <Key>${ISV_FLAG}_btncancel</Key>
              <Height>28px</Height>
              <ForeColor>#bbbbbb</ForeColor>
              <ParentId>FiZ5r0FOOX</ParentId>
              <Name>取消</Name>
              <Width>70px</Width>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Right>5px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </ButtonAp>
            <ButtonAp>
              <Invisible>true</Invisible>
              <FollowTheme>true</FollowTheme>
              <OperationKey>preview</OperationKey>
              <Id>ToBHbSBCoV</Id>
              <Radius>2px</Radius>
              <Key>${ISV_FLAG}_preview</Key>
              <Height>28px</Height>
              <Index>1</Index>
              <ForeColor>#ffffff</ForeColor>
              <ParentId>FiZ5r0FOOX</ParentId>
              <CommitValidate>true</CommitValidate>
              <BackColor>#fc8055</BackColor>
              <Name>预览</Name>
              <Width>70px</Width>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Left>5px</Left>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </ButtonAp>
            <ButtonAp>
              <FollowTheme>true</FollowTheme>
              <OperationKey>word</OperationKey>
              <Id>wokpdqSysH</Id>
              <Radius>2px</Radius>
              <Key>${ISV_FLAG}_btnconfilm</Key>
              <Height>28px</Height>
              <Index>2</Index>
              <ForeColor>#ffffff</ForeColor>
              <ParentId>FiZ5r0FOOX</ParentId>
              <CommitValidate>true</CommitValidate>
              <BackColor>#fc8055</BackColor>
              <Name>下载</Name>
              <Width>70px</Width>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Left>5px</Left>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </ButtonAp>
            <ImageAp>
              <Id>cStaAIWU0a</Id>
              <Name>图片</Name>
              <ImageKey>/images/pc/emotion/emotional_remind_120_120.png</ImageKey>
              <Key>${ISV_FLAG}_imageap</Key>
              <ParentId>emSYxPoHvu</ParentId>
            </ImageAp>
            <LabelAp>
              <Invisible>true</Invisible>
              <LabelStyle>1</LabelStyle>
              <Id>G6dEM141xF</Id>
              <Height>50px</Height>
              <TextAlign>center</TextAlign>
              <Index>1</Index>
              <AutoTextWrap>true</AutoTextWrap>
              <Name>标签</Name>
              <Key>${ISV_FLAG}_labelap</Key>
              <ParentId>emSYxPoHvu</ParentId>
              <Width>300px</Width>
            </LabelAp>
            <FieldAp>
              <LabelWidth>60px</LabelWidth>
              <Id>V3hvEfBd1X</Id>
              <FieldId>V3hvEfBd1X</FieldId>
              <Index>2</Index>
              <Name>选择模板：</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Bottom>30px</Bottom>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_selecttemplate</Key>
              <LabelDirection>h</LabelDirection>
              <ParentId>emSYxPoHvu</ParentId>
              <QuickAddNew>false</QuickAddNew>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2061097781413544960</ModifierId>
      <EntityId>3EMHZ=0YSFWD</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1754306251573</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_wordtempprin</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <IsvSign></IsvSign>
      <Id>3EMHZ=0YSFWD</Id>
      <InheritPath></InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1754306251772</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>0</DevType>
          <Isv>tdkw</Isv>
          <Id>3EMHZ=0YSFWD</Id>
          <ModelType>DynamicFormModel</ModelType>
          <ParentId/>
          <MasterId/>
          <BizappId>5984B2GBLAAS</BizappId>
          <IsvSign/>
          <Name>选择word模板</Name>
          <InheritPath/>
          <Items>
            <MainEntity>
              <PkId>3EMHZ=28JB9L</PkId>
              <dbRoute>hr</dbRoute>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Name>word套打</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3EMIVX=69AAY</Id>
                  <SuccessMsg/>
                  <Key>word</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>关闭</Name>
                  <OperationType>close</OperationType>
                  <Id>3EMIZLUQMPUT</Id>
                  <SuccessMsg/>
                  <Key>close</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <PrintParameter>
                      <showSelectPrintForm>true</showSelectPrintForm>
                    </PrintParameter>
                  </Parameter>
                  <Name>打印</Name>
                  <OperationType>print</OperationType>
                  <Id>3KAT1BFGKAE0</Id>
                  <SuccessMsg/>
                  <Key>print</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>预览</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3KE29NJ48/JW</Id>
                  <SuccessMsg/>
                  <Key>preview</Key>
                </Operation>
              </Operations>
              <Id>3EMHZ=0YSFWD</Id>
              <Key>${ISV_FLAG}_hspm_wordtempprin</Key>
              <Name>选择word模板</Name>
            </MainEntity>
            <ComboField>
              <FieldName>fk_tdkw_selecttemplate</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>V3hvEfBd1X</Id>
              <Key>${ISV_FLAG}_selecttemplate</Key>
              <Name>选择模板：</Name>
            </ComboField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1754306251771</Version>
      <ParentId></ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hspm_wordtempprin</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <Id>3EMHZ=0YSFWD</Id>
      <InheritPath></InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1754306251573</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>59868BXIF01P</BizunitId>
</DeployMetadata>
