<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4SMDV=ZQS++R</MasterId>
  <BizappId>5984B2GBLAAS</BizappId>
  <Id>5984EF6FQR59</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1759052526365</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5984EF6FQR59</Id>
          <Key>${ISV_FLAG}_hspm_assignmentl_ext</Key>
          <ParentId>4SMDV=ZQS++R</ParentId>
          <MasterId>4SMDV=ZQS++R</MasterId>
          <BizappId>5984B2GBLAAS</BizappId>
          <InheritPath>4SMDV=ZQS++R</InheritPath>
          <Items>
            <QueryListFormAp action="edit" oid="4SMDVA15YB3Q">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.hspm.ErmanFileReusePlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>${ISV_FLAG}.hspm.ErmanFileReusePlugin</Description>
                  <RowKey>4</RowKey>
                </Plugin>
              </Plugins>
              <Id>5984EF6FQR59</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>b95WqvN7</FPK>
                  <ClassName>5984EF6FQR59_b95WqvN7</ClassName>
                  <SourceNumber>${ISV_FLAG}_hspm_assignmentl_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>人员列表</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hspm_assignmentl_ext</Key>
            </QueryListFormAp>
            <BarItemAp>
              <Id>I7Psc4gLal</Id>
              <Index>6</Index>
              <Name>word下载</Name>
              <OperationKey>wordconversion</OperationKey>
              <Key>${ISV_FLAG}_baritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>_toolbar_</ParentId>
            </BarItemAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2312508850281908224</ModifierId>
      <EntityId>4SMDCXAERKND</EntityId>
      <ModelType>QueryListModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1759052526365</Version>
      <ParentId>4SMDV=ZQS++R</ParentId>
      <MasterId>4SMDV=ZQS++R</MasterId>
      <Number>${ISV_FLAG}_hspm_assignmentl_ext</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <IsvSign>gjYPG2cfgiW0Dgw0EDu85Q9bBPMctDZ4cz8JpQSEv0G84BbnGjPftiwKahXkeHcUyJZBOKn+AN0MfzHiEE82PS6hnEQH/5ZFTi75KI1T8SJOmQKLNb7xDsojHMaZ+2CcsvAiiMwPy3KIrVRN3MdFD4LdNe2O0DbhNB7OuxBm7E0=</IsvSign>
      <Id>5984EF6FQR59</Id>
      <InheritPath>4SMDV=ZQS++R</InheritPath>
    </DesignFormMeta>
  </DesignMetas>
  <Version>1759052526365</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4KT60NE9=XRG</BizunitId>
</DeployMetadata>
