<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3EMHZ=0YSFWD</MasterId>
  <Id>3EMHZ=0YSFWD</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hspm_wordtempprin</Number>
      <PkId>4M42HI/N3=XF</PkId>
      <DataXml>
        <FormMetadata>
          <Name>Select A Word Template</Name>
          <Items>
            <FormAp action="edit" oid="3EMHZ=0YSIKE">
              <Name>Select A Word Template</Name>
            </FormAp>
            <FlexPanelAp action="edit" oid="emSYxPoHvu">
              <Name>Flex Panel</Name>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="FiZ5r0FOOX">
              <Name>Flex Panel</Name>
            </FlexPanelAp>
            <ButtonAp action="edit" oid="os1a1mw6Hx">
              <Name>Cancel</Name>
            </ButtonAp>
            <ButtonAp action="edit" oid="ToBHbSBCoV">
              <Name>Preview</Name>
            </ButtonAp>
            <ButtonAp action="edit" oid="wokpdqSysH">
              <Name>Download</Name>
            </ButtonAp>
            <ImageAp action="edit" oid="cStaAIWU0a">
              <Name>Image</Name>
            </ImageAp>
            <LabelAp action="edit" oid="G6dEM141xF">
              <Name>Label</Name>
            </LabelAp>
            <FieldAp action="edit" oid="V3hvEfBd1X">
              <Name>Select Template:</Name>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <Name>Select A Word Template</Name>
      <Id>3EMHZ=0YSFWD</Id>
      <Version>1728373005000</Version>
      <LocaleId>en_US</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hspm_wordtempprin</Number>
      <PkId>4M42HI540T9Q</PkId>
      <DataXml>
        <EntityMetadata>
          <Name>Select A Word Template</Name>
          <Items>
            <MainEntity action="edit" oid="3EMHZ=28JB9L">
              <Operations>
                <Operation action="edit" oid="3EMIVX=69AAY">
                  <Name>Word Set Hit</Name>
                </Operation>
                <Operation action="edit" oid="3EMIZLUQMPUT">
                  <Name>Shut Down</Name>
                </Operation>
                <Operation action="edit" oid="3KAT1BFGKAE0">
                  <Name>Print</Name>
                </Operation>
                <Operation action="edit" oid="3KE29NJ48/JW">
                  <Name>Preview</Name>
                </Operation>
              </Operations>
              <Name>Select A Word Template</Name>
            </MainEntity>
            <ComboField action="edit" oid="V3hvEfBd1X">
              <Name>Select Template:</Name>
            </ComboField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <Name>Select A Word Template</Name>
      <Id>3EMHZ=0YSFWD</Id>
      <LocaleId>en_US</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1728373005000</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
