<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4SMDCXAERKND</MasterId>
  <BizappId>5984B2GBLAAS</BizappId>
  <Id>5984EV+0ORLN</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1759050039035</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5984EV+0ORLN</Id>
          <Key>${ISV_FLAG}_hspm_assignmentq_ext</Key>
          <EntityId>5984EV+0ORLN</EntityId>
          <ParentId>4SMDCXAERKND</ParentId>
          <MasterId>4SMDCXAERKND</MasterId>
          <BizappId>5984B2GBLAAS</BizappId>
          <InheritPath>4SMDCXAERKND</InheritPath>
          <Items>
            <QueryListFormAp action="edit" oid="4SMDCYPU+FO4">
              <Id>5984EV+0ORLN</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>FbjU3X4r</FPK>
                  <ClassName>5984EV+0ORLN_FbjU3X4r</ClassName>
                  <SourceNumber>${ISV_FLAG}_hspm_assignmentq_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>人员列表</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hspm_assignmentq_ext</Key>
            </QueryListFormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2312508850281908224</ModifierId>
      <EntityId>5984EV+0ORLN</EntityId>
      <ModelType>QueryListModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1759050039035</Version>
      <ParentId>4SMDCXAERKND</ParentId>
      <MasterId>4SMDCXAERKND</MasterId>
      <Number>${ISV_FLAG}_hspm_assignmentq_ext</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <IsvSign>h2Ei7rSJN+5wczxrSJUEbf8Z3PCk2GQ0Ck9lsIvHD2UKV2DVmF0dYi2hXKzA7hT9vZcYRKfgcDDTLQCuz2Kf2HDHRK21mOG0XdemtIYdp05+7V8SlDuzTIEEi7Q4Dgu5/W9WrELHdJos4Pq76WGfh5F+Pp2EF5G0oyqVrQkQ+Lk=</IsvSign>
      <Id>5984EV+0ORLN</Id>
      <InheritPath>4SMDCXAERKND</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1759050039001</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv action="setnull"/>
          <Id>5984EV+0ORLN</Id>
          <ParentId>4SMDCXAERKND</ParentId>
          <MasterId>4SMDCXAERKND</MasterId>
          <BizappId>5984B2GBLAAS</BizappId>
          <InheritPath>4SMDCXAERKND</InheritPath>
          <Items>
            <QueryEntity action="edit" oid="4SMDCYDC2TVE">
              <JoinRelations>
                <QuerySourceJoinRelation action="edit" oid="2250761818169488384">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635687425">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335680</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334656</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635686402">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335681</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334657</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635687428">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335682</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334658</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635686405">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335683</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334659</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177875972">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635686407">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335684</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334660</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635687433">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335685</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334661</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635686410">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335686</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334662</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635687436">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335687</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334663</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177877000">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635687438">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335688</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334664</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635686415">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335689</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334665</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177875979">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635686417">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335690</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334666</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635687443">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335691</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334667</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177877005">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635687445">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335692</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334668</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177875983">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635687447">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335693</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334669</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635686424">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335694</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334670</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
                <QuerySourceJoinRelation action="edit" oid="2250761818177877009">
                  <Condition>
                    <QSConditionRow action="edit" oid="2243630733635686426">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335695</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334671</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                    <QSConditionRow action="edit" oid="2243630733635687452">
                      <LeftItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947335696</Id>
                        </QSIdentifierExpr>
                      </LeftItem>
                      <RightItem>
                        <QSIdentifierExpr>
                          <Id>2313997843947334672</Id>
                        </QSIdentifierExpr>
                      </RightItem>
                    </QSConditionRow>
                  </Condition>
                </QuerySourceJoinRelation>
              </JoinRelations>
              <PermissionItems>
                <PermissionItem>
                  <ItemId>47150e89000000ac</ItemId>
                  <Index>0</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9e000000ac</ItemId>
                  <Index>1</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9f000004ae</ItemId>
                  <Index>2</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9f000003ae</ItemId>
                  <Index>3</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>5+F/DOYBJ2YG</ItemId>
                  <Index>4</Index>
                </PermissionItem>
              </PermissionItems>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Name>word下载</Name>
                  <OperationType>donothing</OperationType>
                  <Id>5984JH4SI+W7</Id>
                  <SuccessMsg/>
                  <Key>wordconversion</Key>
                </Operation>
              </Operations>
              <Id>5984EV+0ORLN</Id>
              <Key>${ISV_FLAG}_hspm_assignmentq_ext</Key>
            </QueryEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>QueryListModel</ModelType>
      <Isv></Isv>
      <Version>1759050039001</Version>
      <ParentId>4SMDCXAERKND</ParentId>
      <MasterId>4SMDCXAERKND</MasterId>
      <Number>${ISV_FLAG}_hspm_assignmentq_ext</Number>
      <BizappId>5984B2GBLAAS</BizappId>
      <Id>5984EV+0ORLN</Id>
      <InheritPath>4SMDCXAERKND</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1759050039035</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4KT60NE9=XRG</BizunitId>
</DeployMetadata>
