<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>3DDQ/YO/VENU</MasterId>
  <Id>3DDQ/YO/VENU</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hspm_wordconversion</Number>
      <PkId>4M42HUM/QPFQ</PkId>
      <DataXml>
        <FormMetadata>
          <Name>Personnel File Word Template</Name>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <Name>List of People Files Word</Name>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Name>Personnel File Word Template</Name>
              <ListMeta>
                <FormMetadata>
                  <Name>Personnel File Word Template</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Name>Personnel File Word Template</Name>
                    </FormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <Name>List of People Files Word</Name>
                    </BillListAp>
                    <ImageAp action="edit" oid="78f00393000015ac">
                      <Name>Disable</Name>
                    </ImageAp>
                    <BarItemAp action="edit" oid="BTjy6Ie3Bc">
                      <Name>Audit</Name>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="v71lQcKgcH">
                      <DropdownItems>
                        <DropdownItem action="edit" oid="0H1S0CCVINBG">
                          <Title>View The Elicited Results</Title>
                        </DropdownItem>
                      </DropdownItems>
                    </BarItemAp>
                    <CommonFilterColumnAp action="edit" oid="f31a499a0000d2ac">
                      <Name>Usage Status</Name>
                      <ComboItems>
                        <ComboItem action="edit" oid="0">
                          <Caption>Disable</Caption>
                        </ComboItem>
                      </ComboItems>
                    </CommonFilterColumnAp>
                    <ComboListColumnAp action="edit" oid="UGA0V8HS=6S">
                      <Name>Usage Status</Name>
                    </ComboListColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="f31a499a0000d3ac">
                      <Name>Usage Status</Name>
                    </SchemeFilterColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <AdvConAp action="edit" oid="1nzWu2b9LH">
              <Name>Attachments</Name>
            </AdvConAp>
            <AdvConSummaryPanelAp action="edit" oid="j8KoMhLvpp">
              <Name>Advanced Panel Summary Container</Name>
            </AdvConSummaryPanelAp>
            <AdvConToolbarAp action="edit" oid="eMfCPvVl3f">
              <Name>Set Up Template</Name>
            </AdvConToolbarAp>
            <AdvConChildPanelAp action="edit" oid="soZXvl5aBc">
              <Name>Advanced Panel Subcontainer</Name>
            </AdvConChildPanelAp>
            <BarItemAp action="edit" oid="8XYTQ7uc8H">
              <Name>Audit</Name>
            </BarItemAp>
            <FieldAp action="edit" oid="ac5Y5Dax1q">
              <Name>Usage Status</Name>
            </FieldAp>
            <AttachmentPanelAp action="edit" oid="VxTX4K8wZl">
              <Name>Attachments</Name>
            </AttachmentPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <Name>Personnel File Word Template</Name>
      <Id>3DDQ/YO/VENU</Id>
      <Version>1728373005000</Version>
      <LocaleId>en_US</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hspm_wordconversion</Number>
      <PkId>4M42HUNLCRQF</PkId>
      <DataXml>
        <EntityMetadata>
          <Name>Personnel File Word Template</Name>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <Name>Personnel File Word Template</Name>
              <Operations>
                <Operation action="edit" oid="b599405400001cac">
                  <Name>Audit</Name>
                </Operation>
                <Operation action="edit" oid="b599405400001eac">
                  <Validations>
                    <ConditionValidation action="edit" oid="f2843bab0000bbac">
                      <Message>Data already disabled.</Message>
                    </ConditionValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="b5994054000021ac">
                  <Name>Shut Down</Name>
                </Operation>
                <Operation action="edit" oid="0H1RYY0PPC=0">
                  <Name>View The Elicited Results</Name>
                </Operation>
              </Operations>
            </BaseEntity>
            <BillStatusField action="edit" oid="ac5Y5Dax1q">
              <StatusItems>
                <StatusItem action="edit" oid="1">
                  <statusname>Disable</statusname>
                </StatusItem>
              </StatusItems>
              <Name>Usage Status</Name>
            </BillStatusField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <Name>Personnel File Word Template</Name>
      <Id>3DDQ/YO/VENU</Id>
      <LocaleId>en_US</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1728373005000</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
