<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4SMDCXAERKND</MasterId>
  <Id>5984EV+0ORLN</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hspm_assignmentq_ext</Number>
      <PkId>5984JPT2RA2G</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>人员列表</Name>
      <Id>5984EV+0ORLN</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hspm_assignmentq_ext</Number>
      <PkId>5984JPQ3Q0LA</PkId>
      <DataXml>
        <EntityMetadata>
          <Items>
            <QueryEntity action="edit" oid="4SMDCYDC2TVE">
              <PermissionItems>
                <PermissionItem>
                  <ItemId>47150e89000000ac</ItemId>
                  <Index>0</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9e000000ac</ItemId>
                  <Index>1</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9f000004ae</ItemId>
                  <Index>2</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4730fc9f000003ae</ItemId>
                  <Index>3</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>5+F/DOYBJ2YG</ItemId>
                  <Index>4</Index>
                </PermissionItem>
              </PermissionItems>
            </QueryEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <Name>人员列表</Name>
      <Id>5984EV+0ORLN</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1759050039035</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
