<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <MasterId>/UHMBBGZQ65X</MasterId>
  <Id>5=7BV7DH2KPH</Id>
  <DesignMetas>
    <DesignAppMetaL>
      <PkId>5=7BV7NTKORO</PkId>
      <DataXml>
        <AppMetadata/>
      </DataXml>
      <Name>薪资核算</Name>
      <Description>全球薪资核算发放业务的全流程服务</Description>
      <Id>5=7BV7DH2KPH</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignAppMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
