<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>/UHMBBGZQ65X</MasterId>
  <Id>5=7BV7DH2KPH</Id>
  <DesignMetas>
    <DesignAppMeta>
      <DevType>2</DevType>
      <AppVersion>1.5.0</AppVersion>
      <Modifier>2312508850281908224</Modifier>
      <DataXml>
        <AppMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Number>${BIZ_APP}</Number>
          <Id>5=7BV7DH2KPH</Id>
          <ParentId>/UHMBBGZQ65X</ParentId>
          <MasterId>/UHMBBGZQ65X</MasterId>
          <AppElement>
            <AppElement>
              <Number>${BIZ_APP}</Number>
              <Id>5=7BV7DH2KPH</Id>
              <Version>1.5.0</Version>
              <UserType>,1,</UserType>
            </AppElement>
          </AppElement>
          <InheritPath>/UHMBBGZQ65X</InheritPath>
        </AppMetadata>
      </DataXml>
      <Description></Description>
      <DbRoute>swc</DbRoute>
      <Isv>tdkw</Isv>
      <OpenType>0</OpenType>
      <AllUserApp>0</AllUserApp>
      <Number>${BIZ_APP}</Number>
      <IndustryId>0</IndustryId>
      <Id>5=7BV7DH2KPH</Id>
      <Seq>35</Seq>
      <CreateDate>1760000861030</CreateDate>
      <MainFormType>0</MainFormType>
      <BizCloudID>/U+QDTL900//</BizCloudID>
      <DependencyID></DependencyID>
      <Image>/icons/pc/entrance/rcfz_rcpd_48_48.png</Image>
      <OrgFunc></OrgFunc>
      <Visible>1</Visible>
      <Dependency></Dependency>
      <HelpURL></HelpURL>
      <Label></Label>
      <ModelType>AppModel</ModelType>
      <MainFormName>全球薪资核算_应用首页</MainFormName>
      <ParentId>/UHMBBGZQ65X</ParentId>
      <BackImage></BackImage>
      <HomeURL></HomeURL>
      <MasterId>/UHMBBGZQ65X</MasterId>
      <Creater>2312508850281908224</Creater>
      <MainFormID>/UHMBBT1357K</MainFormID>
      <SimpleNumber></SimpleNumber>
      <InheritPath>/UHMBBGZQ65X</InheritPath>
      <RefAppId></RefAppId>
      <UserType>,1,</UserType>
      <DeployStatus>2</DeployStatus>
    </DesignAppMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
