<?xml version="1.0" encoding="UTF-8"?>
<Package name="hbjm_ext">
    <ver>1.5.0</ver>
    <app>
        <item id="hbjm_ext" name="hbjm_ext" pkname="hbjm_ext-hbjm_ext" path="main/hbjm_ext"/>
    </app>
</Package>
<Package name="hbss_ext">
    <ver>1.5.0</ver>
    <app>
        <item id="hbss_ext" name="hbss_ext" pkname="hbss_ext-hbss_ext" path="main/hbss_ext"/>
    </app>
</Package>

<Package name="${BIZ_APP}">
    <ver>1.5.0</ver>
    <app>
        <item id="${BIZ_APP}" name="khr_${BIZ_APP}" pkname="${BIZ_APP}-${BIZ_APP}" path="main/${BIZ_APP}"/>
    </app>
</Package>
<Package name="homs_ext">
    <ver>1.5.0</ver>
    <app>
        <item id="homs_ext" name="homs_ext" pkname="homs_ext-homs_ext" path="main/homs_ext"/>
    </app>
</Package>


