/*打印模板预制脚本，但是附件还是需要手动上传一下*/
DELETE FROM tk_tdkw_hspm_wordversion WHERE FID = 2112482979598057472;
INSERT INTO tk_tdkw_hspm_wordversion(FID,FCREATETIME,FENABLE,FMODIFIERID,FMODIFYTIME,FMASTERID,FSTATUS,FCREATORID,FNUMBER,FNAME) VALUES (2112482979598057472,{ts'2024-12-24  00:00:00'},'1',2111767072261291008,{ts'2024-12-31  00:00:00'},2112482979598057472,'C',2111767072261291008,'1010_S','干部任免审批表');
DELETE FROM tk_tdkw_hspm_wordversion WHERE FID = 2117365699260187648;
INSERT INTO tk_tdkw_hspm_wordversion(FID,FCREATETIME,FENABLE,FMODIFIERID,FMODIFYTIME,FMASTERID,FSTATUS,FCREATORID,FNUMBER,FNAME) VALUES (2117365699260187648,{ts'2024-12-31  00:00:00'},'1',2111767072261291008,{ts'2024-12-31  00:00:00'},2117365699260187648,'C',2111767072261291008,'1020_S','培训简历');
DELETE FROM tk_tdkw_hspm_wordversion WHERE FID = 2117365854566877184;
INSERT INTO tk_tdkw_hspm_wordversion(FID,FCREATETIME,FENABLE,FMODIFIERID,FMODIFYTIME,FMASTERID,FSTATUS,FCREATORID,FNUMBER,FNAME) VALUES (2117365854566877184,{ts'2024-12-31  00:00:00'},'1',2111767072261291008,{ts'2024-12-31  00:00:00'},2117365854566877184,'C',2111767072261291008,'1030_S','员工简历');
DELETE FROM tk_tdkw_hspm_wordversion WHERE FID = 2117365989883511808;
INSERT INTO tk_tdkw_hspm_wordversion(FID,FCREATETIME,FENABLE,FMODIFIERID,FMODIFYTIME,FMASTERID,FSTATUS,FCREATORID,FNUMBER,FNAME) VALUES (2117365989883511808,{ts'2024-12-31  00:00:00'},'1',2111767072261291008,{ts'2024-12-31  00:00:00'},2117365989883511808,'C',2111767072261291008,'1040_S','员工履历');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4MGPCB5R4YYH';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2112482979598057472,'4MGPCB5R4YYH','zh_CN','干部任免审批表');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4MGPCB5R4YYI';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2112482979598057472,'4MGPCB5R4YYI','zh_TW','幹部任免審批表');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22OMNU=L+W';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365699260187648,'4N22OMNU=L+W','zh_CN','培训简历');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22OMNU=L+X';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365699260187648,'4N22OMNU=L+X','zh_TW','培訓簡曆');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22PRT5MHT+';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365854566877184,'4N22PRT5MHT+','zh_CN','员工简历');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22PRT5MHT/';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365854566877184,'4N22PRT5MHT/','zh_TW','員工簡曆');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22QR90RG21';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365989883511808,'4N22QR90RG21','zh_CN','员工履历');
DELETE FROM tk_tdkw_hspm_wordversion_L WHERE FPKID = '4N22QR90RG22';
INSERT INTO tk_tdkw_hspm_wordversion_L(FID,FPKID,FLOCALEID,FNAME) VALUES (2117365989883511808,'4N22QR90RG22','zh_TW','員工履曆');


