<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4CHY=VI5LUFS</MasterId>
  <Id>4CHY=VI5LUFS</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hlcm_renewbatch</Number>
      <PkId>5ENG0BVM9NM=</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>批量劳动合同续签</Name>
      <Id>4CHY=VI5LUFS</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hlcm_renewbatch</Number>
      <PkId>5ENG0C36RF4C</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>批量劳动合同续签</Name>
      <Id>4CHY=VI5LUFS</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765278589994</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
