package ${ISV_FLAG}.odc.homs.validator;

import com.alibaba.druid.support.logging.Log;
import com.alibaba.druid.support.logging.LogFactory;
import ${ISV_FLAG}.odc.homs.opplugin.SycnOnPersonOp;
import kd.bos.dataentity.entity.DynamicObject;
import kd.bos.entity.ExtendedDataEntity;
import kd.bos.entity.validate.AbstractValidator;
import kd.bos.exception.KDBizException;
import kd.bos.orm.query.QCP;
import kd.bos.orm.query.QFilter;
import kd.bos.servicehelper.QueryServiceHelper;

import java.util.Arrays;
import java.util.List;
import java.util.Map;
import java.util.stream.Collectors;


/**
 * 删除编制计划校验
 *
 * @version 1.0
 * @author: yaoshuai
 * @date:2023/12/26
 */
public class DeletePlanValidator extends AbstractValidator {

    private static Log logger = LogFactory.getLog(SycnOnPersonOp.class);
    // 人工成本滚动预算计划
    private static final String ${ISV_FLAG}_BUDGETPLANINSTALLPC = "${ISV_FLAG}_budgetplaninstallpc";
    // 人工成本预算计划
    private static final String ${ISV_FLAG}_BUDGETPLANINSTALL = "${ISV_FLAG}_budgetplaninstall";

    @Override
    public void validate() {
        ExtendedDataEntity[] dataEntities = this.getDataEntities();

        //批量查询
        QFilter qFilter = new QFilter("${ISV_FLAG}_prepareplan.id", QCP.in,
                Arrays.stream(dataEntities).map(d -> d.getDataEntity().getPkValue()).collect(Collectors.toList()));

        Map<Long, List<DynamicObject>> groupMap = QueryServiceHelper.query(${ISV_FLAG}_BUDGETPLANINSTALL, "number,${ISV_FLAG}_prepareplan.id", new QFilter[]{qFilter})
                .stream().collect(Collectors.groupingBy(o -> o.getLong("${ISV_FLAG}_prepareplan.id")));

        Map<Long, List<DynamicObject>> pcGroupMap = QueryServiceHelper.query(${ISV_FLAG}_BUDGETPLANINSTALLPC, "number,${ISV_FLAG}_prepareplan.id", new QFilter[]{qFilter})
                .stream().collect(Collectors.groupingBy(o -> o.getLong("${ISV_FLAG}_prepareplan.id")));

        for (ExtendedDataEntity dataEntitie : dataEntities) {
            DynamicObject dataEntity = dataEntitie.getDataEntity();
            long pkValue = (long) dataEntity.getPkValue();
            List<DynamicObject> budget = groupMap.get(pkValue);
            List<DynamicObject> budgetpc = pcGroupMap.get(pkValue);
            if (budget.size() != 0 || budgetpc.size() != 0) {
                throw new KDBizException("当前计划已被人工成本预算引用,无法删除");
            }
        }
    }

    //    @Override
//    public void validate() {
//        ExtendedDataEntity[] dataEntities = this.getDataEntities();
//        for (ExtendedDataEntity dataEntitie : dataEntities) {
//            DynamicObject dataEntity = dataEntitie.getDataEntity();
//            //编制计划单位
//            DynamicObject org = dataEntity.getDynamicObject("${ISV_FLAG}_org");
//            logger.info("DeletePlanValidator编制计划单位=" + org);
//            if (Objects.nonNull(org)) {
//                String orgNumber = org.getString("number");
//                QFilter planQFilter = new QFilter("${ISV_FLAG}_planyear.number", QCP.equals, orgNumber);
//                logger.info("DeletePlanValidator查询sql=" + planQFilter);
//                DynamicObject planBillObj = BusinessDataServiceHelper.loadSingle("${ISV_FLAG}_planyear_bill", "id", planQFilter.toArray());
//                if (Objects.nonNull(planBillObj)) {
//                    throw new KDBizException("当前计划已生成年度信息编制管理,无法删除");
//                }
//            }
//        }
//    }


}
