package ${ISV_FLAG}.odc.homs.opplugin.Import;

import kd.bos.dataentity.entity.DynamicObject;
import kd.bos.entity.plugin.AbstractOperationServicePlugIn;
import kd.bos.entity.plugin.args.BeginOperationTransactionArgs;
import kd.bos.orm.query.QCP;
import kd.bos.orm.query.QFilter;
import kd.bos.servicehelper.BusinessDataServiceHelper;

import java.util.*;
import java.util.stream.Collectors;


/**
 * 编制计划催办配置导入赋值
 *
 * @version 1.0
 * @author: yaoshuai
 * @date:2023/12/5
 */
public class PlanPersonImportOp extends AbstractOperationServicePlugIn {


    /**
     * 任职经历
     */
    private final static String HRPI_EMPPOSORGREL = "hrpi_empposorgrel";

    @Override
    public void beginOperationTransaction(BeginOperationTransactionArgs e) {
        super.beginOperationTransaction(e);
        DynamicObject[] dataEntities = e.getDataEntities();

        QFilter qf = new QFilter("person.number", QCP.in,
                Arrays.stream(dataEntities).filter(d -> d.getDynamicObject("${ISV_FLAG}_personplan") != null)
                        .map(d -> d.getString("person.number")))
                .and(new QFilter("iscurrentdata", QCP.equals, "1"))
                .and("isprimary", QCP.equals, "1");
        Map<String, DynamicObject> empMap = Arrays.stream(BusinessDataServiceHelper.load(HRPI_EMPPOSORGREL, "id,adminorg,person.number", qf.toArray()))
                .collect(Collectors.toMap(o -> o.getString("person.number"), o -> o));


        for (DynamicObject data : dataEntities) {
            DynamicObject personplan = data.getDynamicObject("${ISV_FLAG}_personplan");
            if (Objects.nonNull(personplan)) {
                //人员工号
                String personNumber = personplan.getDynamicObject("person").getString("number");
                //获取基础资料信
                //任职经历信息
                DynamicObject emoObj = empMap.get(personNumber);
                if (Objects.nonNull(emoObj)) {
                    //获取行政组织
                    DynamicObject adminorg = emoObj.getDynamicObject("adminorg");
                    data.set("${ISV_FLAG}_adminorg", adminorg);
                    //组织
                    if (Objects.nonNull(adminorg)) {
                        DynamicObject org = adminorg.getDynamicObject("org");
                        data.set("${ISV_FLAG}_org", org);
                    }
                }
            }
        }
    }
}
