package ${ISV_FLAG}.odc.homs.opplugin;

import com.alibaba.druid.util.StringUtils;
import kd.bos.dataentity.entity.DataEntityBase;
import kd.bos.dataentity.entity.DynamicObject;
import kd.bos.dataentity.entity.DynamicObjectCollection;
import kd.bos.entity.plugin.AbstractOperationServicePlugIn;
import kd.bos.entity.plugin.PreparePropertysEventArgs;
import kd.bos.entity.plugin.args.EndOperationTransactionArgs;
import kd.bos.exception.KDBizException;
import kd.bos.logging.Log;
import kd.bos.logging.LogFactory;
import kd.bos.orm.query.QCP;
import kd.bos.orm.query.QFilter;
import kd.bos.servicehelper.BusinessDataServiceHelper;
import kd.hr.hbp.business.servicehelper.HRBaseServiceHelper;

import java.util.Arrays;
import java.util.Map;
import java.util.stream.Collectors;

/**
 * @author WQG
 * @version 1.0
 * @date 2023/8/1 14:35
 * @description: 导入变更
 **/
public class PositionHrChangeOpPlugin extends AbstractOperationServicePlugIn {

    private static Log logger = LogFactory.getLog(PositionHrChangeOpPlugin.class);

    private final static String NUMBER = "number";//编码
    private final static String ORGDESIGNBU = "orgdesignbu";//组织规划责任单位
    private final static String ${ISV_FLAG}_NAME = "${ISV_FLAG}_name";//实际岗位名称
    private final static String NAME = "name";//实际岗位名称
    private final static String ${ISV_FLAG}_JOBNAME = "${ISV_FLAG}_jobname";//标准岗位名称
    private final static String ${ISV_FLAG}_ADMINORGNAME = "${ISV_FLAG}_adminorgname";//所属行政组织名称
    private final static String ${ISV_FLAG}_POSITIONNAME = "${ISV_FLAG}_positionname";//职衔名称
    private final static String JOB = "job";//标准岗位
    private final static String ${ISV_FLAG}_INDICIA_CATEGORY = "${ISV_FLAG}_indicia_category";//职衔类别
    private final static String ${ISV_FLAG}_POSITION = "${ISV_FLAG}_position";//职衔
    private final static String[] CATEGORYNAME = new String[]{"职能支持类", "工程技术类", "项目管理类"};//技术类职衔类别名称

    private final static String QCJTNUMBER = "hr-000002";//吉利汽车集团编码


    private final static String[] INDICIACATEGORYNAMEKEY = new String[]{"管理类-", "类", "设计类", "架构师类"};//职衔类别名称关键字

    private final static String ${ISV_FLAG}_ISPRINCIPAL = "${ISV_FLAG}_isprincipal";//是否核心岗位

//    private final static String ${ISV_FLAG}_EXTERNAL_DISPATCH = "${ISV_FLAG}_external_dispatch";//是否对外派驻

    private final static String ISLEADER = "isleader";//是否组织负责人

    private final static String ISSENSITIVE = "issensitive";//是否敏感岗位

    private final static String ${ISV_FLAG}_CONCEAL_ADDRESSBOOK = "${ISV_FLAG}_conceal_addressbook";//是否隐藏通讯录

    private final static String ${ISV_FLAG}_JOBLABEL = "${ISV_FLAG}_joblabel";//岗位标签

    private final static String ${ISV_FLAG}_POST_AISLE = "${ISV_FLAG}_post_aisle";//岗位通道

    private final static String ${ISV_FLAG}_JOBPROPERTY = "${ISV_FLAG}_jobproperty";//岗位属性

    private final static String JOBKEY = "岗";//标准岗位关键字

    /**
     * 所属组织
     */
    private static final String ADMINORG = "adminorg";

    private static final String SELECTPROPERTIES = "id,name,number,orgdesignbu,${ISV_FLAG}_name,adminorg,${ISV_FLAG}_isprincipal,${ISV_FLAG}_conceal_addressbook,isleader,${ISV_FLAG}_indicia_category,${ISV_FLAG}_post_aisle,${ISV_FLAG}_jobproperty,${ISV_FLAG}_position,${ISV_FLAG}_joblabel,job,issensitive,${ISV_FLAG}_positionname,${ISV_FLAG}_adminorgname,${ISV_FLAG}_jobname";

    @Override
    public void onPreparePropertys(PreparePropertysEventArgs e) {
        super.onPreparePropertys(e);
        e.getFieldKeys().add(ORGDESIGNBU);
        e.getFieldKeys().add(${ISV_FLAG}_JOBNAME);
        e.getFieldKeys().add(NAME);
        e.getFieldKeys().add(${ISV_FLAG}_POSITIONNAME);
        e.getFieldKeys().add(${ISV_FLAG}_ADMINORGNAME);
        e.getFieldKeys().add(${ISV_FLAG}_NAME);
        e.getFieldKeys().add(ADMINORG);
        e.getFieldKeys().add(JOB);
        e.getFieldKeys().add(${ISV_FLAG}_POSITION);
        e.getFieldKeys().add(NUMBER);
        e.getFieldKeys().add(${ISV_FLAG}_ISPRINCIPAL);
//        e.getFieldKeys().add(${ISV_FLAG}_EXTERNAL_DISPATCH);
        e.getFieldKeys().add(ISLEADER);
        e.getFieldKeys().add(ISSENSITIVE);
        e.getFieldKeys().add(${ISV_FLAG}_CONCEAL_ADDRESSBOOK);
        e.getFieldKeys().add(${ISV_FLAG}_JOBLABEL);
        e.getFieldKeys().add(${ISV_FLAG}_POST_AISLE);
        e.getFieldKeys().add(${ISV_FLAG}_JOBPROPERTY);
    }

    @Override
    public void endOperationTransaction(EndOperationTransactionArgs e) {
        logger.info("PositionHrChangeOpPlugin导入");
        super.endOperationTransaction(e);

        QFilter qf = new QFilter(NUMBER, QCP.in, Arrays.stream(e.getDataEntities()).map(d -> d.getString(NUMBER)).collect(Collectors.toSet()))
                .and(new QFilter("iscurrentversion", QCP.equals, true));
        Map<String, DynamicObject> posMap = Arrays.stream(BusinessDataServiceHelper.load("homs_position", SELECTPROPERTIES, qf.toArray())).collect(Collectors.toMap(p -> p.getString(NUMBER), p -> p));

        QFilter jobQf = new QFilter("id", QCP.in, Arrays.stream(e.getDataEntities()).filter(o -> o.getDynamicObject(JOB) != null).map(o -> o.getDynamicObject(JOB)).collect(Collectors.toList()))
                .and("iscurrentversion", QCP.equals, true);
        Map<Object, DynamicObject> jobhrMap = Arrays.stream(BusinessDataServiceHelper.load("hjm_jobhr",
                "${ISV_FLAG}_corejob,${ISV_FLAG}_joblabel,${ISV_FLAG}_post_aisle,${ISV_FLAG}_jobproperty,${ISV_FLAG}_indicia_category",
                jobQf.toArray())).collect(Collectors.toMap(DataEntityBase::getPkValue, o -> o));


        for (DynamicObject obj : e.getDataEntities()) {
            HRBaseServiceHelper positionHrServiceHelper = new HRBaseServiceHelper("homs_position");
            DynamicObject positionObj = posMap.get(obj.getString(NUMBER));
            positionObj.set(${ISV_FLAG}_NAME, obj.getString(NAME));
            positionObj.set(NAME, obj.getString(NAME));
            //是否对外派驻
//            String externalDispatch = obj.getString(${ISV_FLAG}_EXTERNAL_DISPATCH);
//            if (StringUtils.isEmpty(externalDispatch)) {
//                positionObj.set(${ISV_FLAG}_EXTERNAL_DISPATCH, "N");
//            }
            //是否组织负责人
            String isLeader = obj.getString(ISLEADER);
            if (StringUtils.isEmpty(isLeader)) {
                positionObj.set(ISLEADER, "2");
            }
            //是否敏感岗位
            String isSensitive = obj.getString(ISSENSITIVE);
            if (StringUtils.isEmpty(isSensitive)) {
                positionObj.set(ISSENSITIVE, "N");
            }
            //是否核心岗位
            String concealAddressBook = obj.getString(${ISV_FLAG}_CONCEAL_ADDRESSBOOK);
            if (StringUtils.isEmpty(concealAddressBook)) {
                positionObj.set(${ISV_FLAG}_CONCEAL_ADDRESSBOOK, "N");
            }
            //标准岗位
            DynamicObject jobObj = obj.getDynamicObject(JOB);
            if (jobObj != null) {

                //重新查询标准岗位
                DynamicObject jobHrObj = jobhrMap.get(jobObj.getPkValue());

                //是否核心岗位
                String isPrincipal = obj.getString(${ISV_FLAG}_ISPRINCIPAL);
                if (StringUtils.isEmpty(isPrincipal)) {
                    positionObj.set(${ISV_FLAG}_ISPRINCIPAL, jobHrObj.getString("${ISV_FLAG}_corejob"));
                }
                //岗位标签
                DynamicObjectCollection jobLabel = obj.getDynamicObjectCollection(${ISV_FLAG}_JOBLABEL);
                if (jobLabel.size() == 0) {
                    positionObj.set(${ISV_FLAG}_JOBLABEL, jobHrObj.getDynamicObjectCollection(${ISV_FLAG}_JOBLABEL));
                }
                //岗位通道
                DynamicObject postAisle = obj.getDynamicObject(${ISV_FLAG}_POST_AISLE);
                if (postAisle == null) {
                    positionObj.set(${ISV_FLAG}_POST_AISLE, jobHrObj.getDynamicObject(${ISV_FLAG}_POST_AISLE));
                }
                //岗位属性
                DynamicObject jobProperty = obj.getDynamicObject(${ISV_FLAG}_JOBPROPERTY);
                if (jobProperty == null) {
                    positionObj.set(${ISV_FLAG}_JOBPROPERTY, jobHrObj.getDynamicObject(${ISV_FLAG}_JOBPROPERTY));
                }
            }
            //根据不同的职衔类别拼接实际岗位名称
//            this.setPositionName(positionObj);
            positionHrServiceHelper.saveOne(positionObj);
        }
    }


    /**
     * @return
     * @Author WQG
     * @Description //根据不同的职衔类别拼接实际岗位名称
     * @Date 10:42 2023/5/10
     **/
    private void setPositionName(DynamicObject obj) {
        //组织规划责任单位
        DynamicObject orgDesignBu = obj.getDynamicObject(ORGDESIGNBU);
        //标准岗位
        DynamicObject job = obj.getDynamicObject(JOB);
        //职衔
        DynamicObject position = obj.getDynamicObject(${ISV_FLAG}_POSITION);
        //行政组织
        DynamicObject adminOrg = obj.getDynamicObject(ADMINORG);
        if (orgDesignBu != null && QCJTNUMBER.equals(orgDesignBu.getString("number")) && job != null && position != null && adminOrg != null) {
            //职衔类别
            DynamicObject category = job.getDynamicObject(${ISV_FLAG}_INDICIA_CATEGORY);
            if (category != null) {
                //职衔类别名称
                String categoryName = category.getString("name");
                //标准岗位名称
                String jobName = job.getString("name");
                //职衔名称
                String positionName = position.getString("name");
                //行政组织名称
                String adminOrgName = adminOrg.getString("name");
                obj.set(${ISV_FLAG}_POSITIONNAME, positionName);
                obj.set(${ISV_FLAG}_ADMINORGNAME, adminOrgName);
                obj.set(${ISV_FLAG}_JOBNAME, jobName);
                //是否包含技术类
                if (Arrays.toString(CATEGORYNAME).contains(categoryName)) {
                    //标准岗位名称"岗"所在下标
//                    int indexOf = jobName.indexOf(JOBKEY);
//                    if (indexOf == -1 && b){
//                        this.getView().showMessage("请选择标准岗位名称最后一个字为'岗'的标准岗位");
//                        return;
//                    }
                    //分割标准岗位名称
                    String substring = jobName.substring(0, jobName.length() - 1);
                    //设置实际岗位名称 = 标准岗位名称去"岗"+职衔名称
                    obj.set(NAME, substring + positionName);
                    obj.set(${ISV_FLAG}_NAME, substring + positionName);
                    //是否设计类
                } else if (StringUtils.equals(INDICIACATEGORYNAMEKEY[2], categoryName)) {
                    //设置实际岗位名称 = 职衔名称+标准岗位名称
                    obj.set(NAME, positionName + jobName);
                    obj.set(${ISV_FLAG}_NAME, positionName + jobName);
                    //是否架构师类
                } else if (StringUtils.equals(INDICIACATEGORYNAMEKEY[3], categoryName)) {
                    if (jobName.length() - 3 <= 0 && !StringUtils.isEmpty(jobName) && !StringUtils.isEmpty(positionName)) {
                        throw new KDBizException("请选择标准岗位名称大于3个字的标准岗位");
                    }
                    //分割标准岗位名称
                    String substring = jobName.substring(0, jobName.length() - 3);
                    //设置实际岗位名称 = 标准岗位名称去后三字+职衔名称
                    obj.set(NAME, substring + positionName);
                    obj.set(${ISV_FLAG}_NAME, substring + positionName);
                    //是否管理类
                } else if (categoryName.contains(INDICIACATEGORYNAMEKEY[0])) {
                    //设置实际岗位名称 = 组织名称+职衔名称
                    obj.set(NAME, adminOrgName + positionName);
                    obj.set(${ISV_FLAG}_NAME, adminOrgName + positionName);
                    //其他类
                } else {
                    //设置实际岗位名称 = 组织名称+职衔名称
                    obj.set(NAME, jobName);
                    obj.set(${ISV_FLAG}_NAME, jobName);
                }
            }
        }
    }

}
