<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2XBBLT9XD+ED</MasterId>
  <Id>5E2FDUUUOL3S</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vaapplysel_ext</Number>
      <PkId>5EXLVZ3304QC</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>休假申请</Name>
      <Id>5E2FDUUUOL3S</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vaapplysel_ext</Number>
      <PkId>5EXLVZ8OL1ZD</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>休假申请</Name>
      <Id>5E2FDUUUOL3S</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765531136875</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
