<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2F9YA08+UX8=</MasterId>
  <Id>5E944ABY3KVI</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vaupdate_ext</Number>
      <PkId>5EXLSQDB61=K</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>为他人申请休假变更</Name>
      <Id>5E944ABY3KVI</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vaupdate_ext</Number>
      <PkId>5EXLSQJ3+SK3</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>为他人申请休假变更</Name>
      <Id>5E944ABY3KVI</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765531084052</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
