<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2EQS//HRTH50</MasterId>
  <Id>45APIHO2KZFO</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vainfo_ext</Number>
      <PkId>5ETNA3JVHKAN</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>休假信息</Name>
      <Id>45APIHO2KZFO</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vainfo_ext</Number>
      <PkId>5ETNA3QN6VPU</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>休假信息</Name>
      <Id>45APIHO2KZFO</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765435131092</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
