<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>46NYZCAXWC32</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>5EX3=9LZ2LY7</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765529004117</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EX3=9LZ2LY7</Id>
          <Key>${ISV_FLAG}_wtabm_batchvainf_ext</Key>
          <EntityId>5EX3=9LZ2LY7</EntityId>
          <ParentId>46NYZCAXWC32</ParentId>
          <MasterId>46NYZCAXWC32</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>6fb46130000000ac,46NYZCAXWC32</InheritPath>
          <Items>
            <FormAp action="edit" oid="db6d1d5500007bac">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.wtc.wtabm.formplugin.MarriageVerifyPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>婚假申请-日期范围展示</Description>
                  <RowKey>2</RowKey>
                </Plugin>
              </Plugins>
              <Rules>
                <FormRule>
                  <FalseActions>
                    <HideControlAction>
                      <RET>251</RET>
                      <ActionType>HideControlAction</ActionType>
                      <Description>隐藏控件</Description>
                      <Id>5EX94VW30I20</Id>
                      <Fields>
                        <FieldId>
                          <Id>0oIGTyncdO</Id>
                        </FieldId>
                      </Fields>
                    </HideControlAction>
                  </FalseActions>
                  <PreDescription>休假类型.编码 ='1050_S'</PreDescription>
                  <TriggerField/>
                  <TrueActions>
                    <ShowControlAction>
                      <RET>251</RET>
                      <ActionType>ShowControlAction</ActionType>
                      <Description>显示控件</Description>
                      <Id>5EX94VW6Q/1A</Id>
                      <Fields>
                        <FieldId>
                          <Id>0oIGTyncdO</Id>
                        </FieldId>
                      </Fields>
                    </ShowControlAction>
                  </TrueActions>
                  <Description>是否为婚假</Description>
                  <Enabled>false</Enabled>
                  <RuleType>FormRule</RuleType>
                  <Id>5EX3V1SNKDII</Id>
                  <PreCondition>vacationtype.number ='1050_S'</PreCondition>
                  <Seq>1</Seq>
                </FormRule>
              </Rules>
              <Id>5EX3=9LZ2LY7</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>sSDbkcLu</FPK>
                  <ClassName>5EX3=9LZ2LY7_sSDbkcLu</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_batchvainf_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>休假信息</SourceName>
                  <RowKey>2</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_batchvainf_ext</Key>
            </FormAp>
            <VectorAp>
              <fontClass>kdfont kdfont-tongzhi-mianxing</fontClass>
              <Id>476Qz7LKH2</Id>
              <Key>${ISV_FLAG}_vectorap1</Key>
              <Height>16px</Height>
              <Shrink>0</Shrink>
              <ForeColor>#5582F3</ForeColor>
              <ParentId>0oIGTyncdO</ParentId>
              <Name>字体图标</Name>
              <Width>16px</Width>
              <FontSize>14</FontSize>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Left>30px</Left>
                    </Padding>
                  </Padding>
                  <Margin>
                    <Margin>
                      <Right>8px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </VectorAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>UL8yQddt7O</Id>
              <Index>1</Index>
              <Name>由于结婚登记日期为</Name>
              <Key>${ISV_FLAG}_lableap7</Key>
              <ParentId>0oIGTyncdO</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>VTKeBWI3d2</Id>
              <FontWeight>bold</FontWeight>
              <Index>2</Index>
              <ForeColor>themeColor</ForeColor>
              <Name>YYYY-MM-NN</Name>
              <Key>${ISV_FLAG}_fetuses</Key>
              <ParentId>0oIGTyncdO</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>DF10xoDn02</Id>
              <Index>3</Index>
              <Name>，因此从结婚登记日期至</Name>
              <Key>${ISV_FLAG}_labelap4</Key>
              <ParentId>0oIGTyncdO</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>2XqoKJoJ9e</Id>
              <FontWeight>bold</FontWeight>
              <Index>4</Index>
              <ForeColor>themeColor</ForeColor>
              <Name>YYYY+1-MM-NN</Name>
              <Key>${ISV_FLAG}_borndate</Key>
              <ParentId>0oIGTyncdO</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>ehSJ5XCEQ4</Id>
              <Index>5</Index>
              <Name>，可申请婚假</Name>
              <Key>${ISV_FLAG}_labelap6</Key>
              <ParentId>0oIGTyncdO</ParentId>
            </LabelAp>
            <FlexPanelAp>
              <Id>0oIGTyncdO</Id>
              <Radius>4px</Radius>
              <Height>20px</Height>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <BackColor>#E1EFFF</BackColor>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="pvZxev7ECP">
              <Index>1</Index>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="G38lwz0w8f">
              <Index>2</Index>
            </FlexPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5EX3=9LZ2LY7</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765529004117</Version>
      <ParentId>46NYZCAXWC32</ParentId>
      <MasterId>46NYZCAXWC32</MasterId>
      <Number>${ISV_FLAG}_wtabm_batchvainf_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>VWDCT8aXtF2WREBvlSSvT5HQYriG89Zz4onJ7lSuO9FP+GkhAMGCZnXKl+5q1LAhxiP21gGW2fCsC7NhkeIZEhLzahCeiVB96a6sf9KYY22BesBuyx4zrWQdDr5nDnRFKfwHOEeM3QYhjYhGIjLtBedEoDkTiyhcqS9iXWo5faM=</IsvSign>
      <Id>5EX3=9LZ2LY7</Id>
      <InheritPath>6fb46130000000ac,46NYZCAXWC32</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765529004177</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EX3=9LZ2LY7</Id>
          <ParentId>46NYZCAXWC32</ParentId>
          <MasterId>46NYZCAXWC32</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>6fb46130000000ac,46NYZCAXWC32</InheritPath>
          <Items>
            <MainEntity action="edit" oid="db6d1d5500007cac">
              <Id>5EX3=9LZ2LY7</Id>
              <Key>${ISV_FLAG}_wtabm_batchvainf_ext</Key>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765529004177</Version>
      <ParentId>46NYZCAXWC32</ParentId>
      <MasterId>46NYZCAXWC32</MasterId>
      <Number>${ISV_FLAG}_wtabm_batchvainf_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>5EX3=9LZ2LY7</Id>
      <InheritPath>6fb46130000000ac,46NYZCAXWC32</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765529004117</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>46NVZ+DZB8WI</BizunitId>
</DeployMetadata>
