<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2EQS//HRTH50</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>45APIHO2KZFO</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765432526255</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>45APIHO2KZFO</Id>
          <Key>${ISV_FLAG}_wtabm_vainfo_ext</Key>
          <EntityId>45APIHO2KZFO</EntityId>
          <ParentId>2EQS//HRTH50</ParentId>
          <MasterId>2EQS//HRTH50</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>2EQS//HRTH50</InheritPath>
          <Items>
            <FormAp action="edit" oid="2EQS//HRSKGF">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.wtc.wtabm.formplugin.MarriageVerifyPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>婚假申请校验</Description>
                  <RowKey>3</RowKey>
                </Plugin>
              </Plugins>
              <Rules>
                <FormRule action="edit" oid="2ZNQ4Z83TI8Y">
                  <TriggerField/>
                  <RuleType>FormRule</RuleType>
                  <Seq>1</Seq>
                </FormRule>
                <FormRule action="edit" oid="2ZNRUD8M8DNL">
                  <TriggerField/>
                  <RuleType>FormRule</RuleType>
                  <Seq>2</Seq>
                </FormRule>
                <FormRule>
                  <FalseActions>
                    <HideControlAction>
                      <RET>251</RET>
                      <ActionType>HideControlAction</ActionType>
                      <Description>隐藏控件</Description>
                      <Id>5ER49+LKK1DJ</Id>
                      <Fields>
                        <FieldId>
                          <Id>gx3M9OjaWQ</Id>
                        </FieldId>
                      </Fields>
                    </HideControlAction>
                  </FalseActions>
                  <PreDescription>sourceid sourceid</PreDescription>
                  <TriggerField/>
                  <TrueActions>
                    <ShowControlAction>
                      <RET>251</RET>
                      <ActionType>ShowControlAction</ActionType>
                      <Description>显示控件</Description>
                      <Id>5ER49+LO4DT=</Id>
                      <Fields>
                        <FieldId>
                          <Id>gx3M9OjaWQ</Id>
                        </FieldId>
                      </Fields>
                    </ShowControlAction>
                  </TrueActions>
                  <Description>是否为婚假</Description>
                  <RuleType>FormRule</RuleType>
                  <Id>45ARJ+1QA5ZB</Id>
                  <PreCondition>vacationtype.number ='1050_S'</PreCondition>
                  <Seq>3</Seq>
                </FormRule>
                <FormRule>
                  <PreDescription>vacationtype.number = '1070_S'</PreDescription>
                  <TriggerField/>
                  <Description>是否为产假或陪产假</Description>
                  <Enabled>false</Enabled>
                  <RuleType>FormRule</RuleType>
                  <Id>45GI/TS78NZ0</Id>
                  <PreCondition>vacationtype.number IN ('1070_S','1060_S')</PreCondition>
                  <Seq>4</Seq>
                </FormRule>
              </Rules>
              <Id>45APIHO2KZFO</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>UkG3UQ0Z</FPK>
                  <ClassName>45APIHO2KZFO_UkG3UQ0Z</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_vainfo_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>休假信息</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_vainfo_ext</Key>
            </FormAp>
            <FlexPanelAp>
              <Id>gx3M9OjaWQ</Id>
              <Radius>4px</Radius>
              <Height>20px</Height>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <BackColor>#E1EFFF</BackColor>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
              <ParentId>8v64ACs9ef</ParentId>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="YZjW4F17KY">
              <Index>1</Index>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="UJ1kjks2JX">
              <Index>2</Index>
            </FlexPanelAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Invisible>true</Invisible>
              <Id>vYW6GKLY1P</Id>
              <FieldId>vYW6GKLY1P</FieldId>
              <Name>休假天数</Name>
              <Key>${ISV_FLAG}_daysoff</Key>
              <ParentId>ETTKiao8PB</ParentId>
            </FieldAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Id>sr9xZnYe2u</Id>
              <FieldId>sr9xZnYe2u</FieldId>
              <Index>2</Index>
              <Name>标签赋值</Name>
              <Key>${ISV_FLAG}_text</Key>
              <ParentId>PQb24B7pZH</ParentId>
            </FieldAp>
            <FlexPanelAp>
              <Overflow>visible</Overflow>
              <Id>ETTKiao8PB</Id>
              <Grow>0</Grow>
              <AlignItems>flex-start</AlignItems>
              <Shrink>0</Shrink>
              <Index>5</Index>
              <JustifyContent>flex-start</JustifyContent>
              <Name>Flex容器</Name>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Left>30px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <LazyLoad>false</LazyLoad>
              <Key>${ISV_FLAG}_flexpanelap7</Key>
              <ParentId>UJ1kjks2JX</ParentId>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Overflow>visible</Overflow>
              <Id>6xz2M5Vfwf</Id>
              <Grow>0</Grow>
              <AlignItems>flex-start</AlignItems>
              <Shrink>0</Shrink>
              <Index>6</Index>
              <JustifyContent>flex-start</JustifyContent>
              <Name>Flex容器</Name>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Left>30px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <LazyLoad>false</LazyLoad>
              <Key>${ISV_FLAG}_flexpanelap71</Key>
              <ParentId>UJ1kjks2JX</ParentId>
              <Wrap>false</Wrap>
            </FlexPanelAp>
            <FlexPanelAp>
              <Overflow>visible</Overflow>
              <Id>bWa7VXsZV52XcD3p1Z</Id>
              <Height>40px</Height>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <Index>7</Index>
              <BackColor>#fffbf2</BackColor>
              <Name>Flex容器</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Left>30px</Left>
                      <Right>70px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_flexpanelap1</Key>
              <ParentId>UJ1kjks2JX</ParentId>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="fMAH4yNa2u">
              <Index>8</Index>
            </FlexPanelAp>
            <FlexPanelAp action="edit" oid="MpmH4vW4B7">
              <Index>9</Index>
            </FlexPanelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>516VjnbYm618iAIAQe</Id>
              <Height>40px</Height>
              <Shrink>0</Shrink>
              <AutoTextWrap>true</AutoTextWrap>
              <BackColor>#FFF3C7</BackColor>
              <Name/>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Top>10px</Top>
                      <Left>10px</Left>
                    </Padding>
                  </Padding>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_vacationtypemessage</Key>
              <ParentId>bWa7VXsZV52XcD3p1Z</ParentId>
              <Width>100%</Width>
            </LabelAp>
            <VectorAp>
              <fontClass>kdfont kdfont-tongzhi-mianxing</fontClass>
              <Id>jSzqEDiOyY</Id>
              <Key>${ISV_FLAG}_vectorap1</Key>
              <Height>16px</Height>
              <Shrink>0</Shrink>
              <ForeColor>#5582F3</ForeColor>
              <ParentId>gx3M9OjaWQ</ParentId>
              <Name>字体图标</Name>
              <Width>16px</Width>
              <FontSize>14</FontSize>
              <Style>
                <Style>
                  <Padding>
                    <Padding>
                      <Left>30px</Left>
                    </Padding>
                  </Padding>
                  <Margin>
                    <Margin>
                      <Right>8px</Right>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </VectorAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>WauL5gXoF0</Id>
              <Index>1</Index>
              <Name>由于结婚登记日期为</Name>
              <Key>${ISV_FLAG}_lableap7</Key>
              <ParentId>gx3M9OjaWQ</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>MkW0tgdcat</Id>
              <FontWeight>bold</FontWeight>
              <Index>2</Index>
              <ForeColor>themeColor</ForeColor>
              <Name>YYYY-MM-NN</Name>
              <Key>${ISV_FLAG}_fetuses</Key>
              <ParentId>gx3M9OjaWQ</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>2sBNVKGw0J</Id>
              <Index>3</Index>
              <Name>，因此从结婚登记日期至</Name>
              <Key>${ISV_FLAG}_labelap4</Key>
              <ParentId>gx3M9OjaWQ</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>jCAYNSPhVC</Id>
              <FontWeight>bold</FontWeight>
              <Index>4</Index>
              <ForeColor>themeColor</ForeColor>
              <Name>YYYY+1-MM-NN</Name>
              <Key>${ISV_FLAG}_borndate</Key>
              <ParentId>gx3M9OjaWQ</ParentId>
            </LabelAp>
            <LabelAp>
              <LabelStyle>1</LabelStyle>
              <Id>0NXmixBzLc</Id>
              <Index>5</Index>
              <Name>，可申请婚假</Name>
              <Key>${ISV_FLAG}_labelap6</Key>
              <ParentId>gx3M9OjaWQ</ParentId>
            </LabelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>45APIHO2KZFO</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765435131092</Version>
      <ParentId>2EQS//HRTH50</ParentId>
      <MasterId>2EQS//HRTH50</MasterId>
      <Number>${ISV_FLAG}_wtabm_vainfo_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>QsxrT0MUN8WjgyVHHk9tSBo32UEqhZLXfwJli6+XboVQRQe4XEarLv7G96QTODSPD+6rgHfHXfAc4ToaqJQ8+AKCoXRdtMZQlOIWkzbo1nc2LhSW45k+ZxrGROwetOn7q05b5+jiVedvHIRFA7IQ+oofDPRc92BI+/aZwFqnWHQ=</IsvSign>
      <Id>45APIHO2KZFO</Id>
      <InheritPath>2EQS//HRTH50</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765432526359</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>45APIHO2KZFO</Id>
          <ParentId>2EQS//HRTH50</ParentId>
          <MasterId>2EQS//HRTH50</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>2EQS//HRTH50</InheritPath>
          <Items>
            <MainEntity action="edit" oid="2EQS//KFYM1A">
              <Id>45APIHO2KZFO</Id>
              <Key>${ISV_FLAG}_wtabm_vainfo_ext</Key>
            </MainEntity>
            <TextAreaField action="edit" oid="12vHJIMwjc">
              <MustInputCondition>{"RuleDescription":"休假类型是否为这些","_Type_":"PreCondition","RuleCondition":"vacationtype.number in('1130_S','1120_S','1110_S','1050_S','1060_S','1090_S','1080_S','1070_S','1010_S','1020_S')","Id":"4CV/LO8FL9AS","RuleTransExpr":"休假类型.编码 in('1130_S','1120_S','1110_S','1050_S','1060_S','1090_S','1080_S','1070_S','1010_S','1020_S')"}</MustInputCondition>
              <MaxLength>2000</MaxLength>
              <MustInput>true</MustInput>
            </TextAreaField>
            <TextAreaField action="edit" oid="M0XMfZ5o9q">
              <MaxLength>2000</MaxLength>
            </TextAreaField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>sr9xZnYe2u</Id>
              <Name>标签赋值</Name>
              <Key>${ISV_FLAG}_text</Key>
            </TextField>
            <IntegerField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>vYW6GKLY1P</Id>
              <DefValue>0</DefValue>
              <Name>休假天数</Name>
              <Key>${ISV_FLAG}_daysoff</Key>
            </IntegerField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765432526359</Version>
      <ParentId>2EQS//HRTH50</ParentId>
      <MasterId>2EQS//HRTH50</MasterId>
      <Number>${ISV_FLAG}_wtabm_vainfo_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>45APIHO2KZFO</Id>
      <InheritPath>2EQS//HRTH50</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765435131092</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2DU4W7N1ZF8B</BizunitId>
</DeployMetadata>
