<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2XBBLT9XD+ED</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>5E2FDUUUOL3S</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765531136875</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5E2FDUUUOL3S</Id>
          <Key>${ISV_FLAG}_wtabm_vaapplysel_ext</Key>
          <EntityId>5E2FDUUUOL3S</EntityId>
          <ParentId>2XBBLT9XD+ED</ParentId>
          <MasterId>2XBBLT9XD+ED</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2XBBLT9XD+ED</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>VSPFtiU8</FPK>
                          <ClassName>5E2FDUUUOL3S_moblist_VSPFtiU8</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaapplysel_ext_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>休假申请</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>5E2FDUUUOL3S</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>5E2FDUUUOL3S</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>O6ZLWrBL</FPK>
                  <ClassName>5E2FDUUUOL3S_O6ZLWrBL</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_vaapplysel_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>休假申请</SourceName>
                  <RowKey>3</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_vaapplysel_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>e1TDSdDq</FPK>
                          <ClassName>5E2FDUUUOL3S_mob_e1TDSdDq</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaapplysel_ext_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>休假申请</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>vFQuTpQq</FPK>
                          <ClassName>5E2FDUUUOL3S_list_vFQuTpQq</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaapplysel_ext_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>休假申请</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5E2FDUUUOL3S</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765531136875</Version>
      <ParentId>2XBBLT9XD+ED</ParentId>
      <MasterId>2XBBLT9XD+ED</MasterId>
      <Number>${ISV_FLAG}_wtabm_vaapplysel_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>XlBCAF1QY4Kj8wFA3u+z50SPmK3LYxGAWkJCGb3AG2b/vCVvqcEnOQtoRGcAmwiHBp+oreqS09sOJznLngRIaGlPbuyinxEcL+ypAwoG5/w6nQbQbnj8/3fiIaoRBNDfh1dc+7hDhKxPAbRmCpNj7546PWkJRhM2UMBkERq47bI=</IsvSign>
      <Id>5E2FDUUUOL3S</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2XBBLT9XD+ED</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765531136972</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5E2FDUUUOL3S</Id>
          <ParentId>2XBBLT9XD+ED</ParentId>
          <MasterId>2XBBLT9XD+ED</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2XBBLT9XD+ED</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Operations>
                <Operation action="edit" oid="c91d5125000033ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>婚假有效期校验</Description>
                      <Id>5ETB/QCAU+PO</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.MarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="c91d5125000034ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>婚假有效期验证</Description>
                      <Id>5ETO=D+BG9ZK</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.MarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
              </Operations>
              <Id>5E2FDUUUOL3S</Id>
              <Key>${ISV_FLAG}_wtabm_vaapplysel_ext</Key>
            </BillEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765531136972</Version>
      <ParentId>2XBBLT9XD+ED</ParentId>
      <MasterId>2XBBLT9XD+ED</MasterId>
      <Number>${ISV_FLAG}_wtabm_vaapplysel_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>5E2FDUUUOL3S</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2XBBLT9XD+ED</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765531136875</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2DU4W7N1ZF8B</BizunitId>
</DeployMetadata>
