<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2ZULSM7HXJDL</MasterId>
  <Id>5E943I6NAMP7</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vaupdatese_ext</Number>
      <PkId>5EXLUXUYMB53</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>休假变更</Name>
      <Id>5E943I6NAMP7</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vaupdatese_ext</Number>
      <PkId>5EXLUY/96JKQ</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>休假变更</Name>
      <Id>5E943I6NAMP7</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765531119994</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
