<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>43IL8QS6489U</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>5EQKLD/=UNCK</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765356149695</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EQKLD/=UNCK</Id>
          <Key>${ISV_FLAG}_wtabm_vainfosing_ext</Key>
          <EntityId>5EQKLD/=UNCK</EntityId>
          <ParentId>43IL8QS6489U</ParentId>
          <MasterId>43IL8QS6489U</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>2EQS//HRTH50,43IL8QS6489U</InheritPath>
          <Items>
            <FormAp action="edit" oid="2EQS//HRSKGF">
              <Id>5EQKLD/=UNCK</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>rVmX6qCA</FPK>
                  <ClassName>5EQKLD/=UNCK_rVmX6qCA</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_vainfosing_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>休假信息_单人单类型</SourceName>
                  <RowKey>3</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_vainfosing_ext</Key>
            </FormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5EQKLD/=UNCK</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765435134799</Version>
      <ParentId>43IL8QS6489U</ParentId>
      <MasterId>43IL8QS6489U</MasterId>
      <Number>${ISV_FLAG}_wtabm_vainfosing_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>aPIjpj+juFEuVBmwZEGw4kBG8zfYOhvs77Kk1ItlycAfGLQ57kF3yqEnI7KTcMc4a+8XGEXpzK2ZXUgxi0RCibmOzITl9u8Hf/adMhgK7tawJMkr0SirSX8O6PygjiJpFMnQj4O97m1NNSwHOPUhl6H2iBOWc6UyxnfaP5+7Mdc=</IsvSign>
      <Id>5EQKLD/=UNCK</Id>
      <InheritPath>2EQS//HRTH50,43IL8QS6489U</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765356149774</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EQKLD/=UNCK</Id>
          <ParentId>43IL8QS6489U</ParentId>
          <MasterId>43IL8QS6489U</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>2EQS//HRTH50,43IL8QS6489U</InheritPath>
          <Items>
            <MainEntity action="edit" oid="2EQS//KFYM1A">
              <Id>5EQKLD/=UNCK</Id>
              <Key>${ISV_FLAG}_wtabm_vainfosing_ext</Key>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765356149774</Version>
      <ParentId>43IL8QS6489U</ParentId>
      <MasterId>43IL8QS6489U</MasterId>
      <Number>${ISV_FLAG}_wtabm_vainfosing_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>5EQKLD/=UNCK</Id>
      <InheritPath>2EQS//HRTH50,43IL8QS6489U</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765435134799</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2DU4W7N1ZF8B</BizunitId>
</DeployMetadata>
