<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>478V=Q6STKR2</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>5EWQ7/2G1FVL</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765534845205</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EWQ7/2G1FVL</Id>
          <Key>${ISV_FLAG}_wtabm_batchvaupd_ext</Key>
          <EntityId>5EWQ7/2G1FVL</EntityId>
          <ParentId>478V=Q6STKR2</ParentId>
          <MasterId>478V=Q6STKR2</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,4/91OYFU1TY=,44RTKE9H9AG=,478V=Q6STKR2</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>DgzDFIFI</FPK>
                          <ClassName>5EWQ7/2G1FVL_moblist_DgzDFIFI</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_batchvaupd_ext_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>批量休假变更单</SourceName>
                          <RowKey>2</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>5EWQ7/2G1FVL</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>5EWQ7/2G1FVL</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>EiT20oA3</FPK>
                  <ClassName>5EWQ7/2G1FVL_EiT20oA3</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_batchvaupd_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>批量休假变更单</SourceName>
                  <RowKey>4</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_batchvaupd_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>2j60hjvI</FPK>
                          <ClassName>5EWQ7/2G1FVL_mob_2j60hjvI</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_batchvaupd_ext_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>批量休假变更单</SourceName>
                          <RowKey>4</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>RPU7a2n5</FPK>
                          <ClassName>5EWQ7/2G1FVL_list_RPU7a2n5</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_batchvaupd_ext_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>批量休假变更单</SourceName>
                          <RowKey>2</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5EWQ7/2G1FVL</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765534845205</Version>
      <ParentId>478V=Q6STKR2</ParentId>
      <MasterId>478V=Q6STKR2</MasterId>
      <Number>${ISV_FLAG}_wtabm_batchvaupd_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>hdAE/+IpHVUgRNxy9u6XZ2nA+nmoo56JLftraxHaSnAKL7KZVH7T3eUmSD5dXrAW7nhm75dMsqZG5615iZEl1VScgBAJxKkT0N9+NF5ohPtfMOu8gix1jl0A97YqMdLJJ66k18t6ReYPen45R0NrzsJ5RhDqFm4Jb/SmQ9sQWbY=</IsvSign>
      <Id>5EWQ7/2G1FVL</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,4/91OYFU1TY=,44RTKE9H9AG=,478V=Q6STKR2</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765534845279</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5EWQ7/2G1FVL</Id>
          <ParentId>478V=Q6STKR2</ParentId>
          <MasterId>478V=Q6STKR2</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,4/91OYFU1TY=,44RTKE9H9AG=,478V=Q6STKR2</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Operations>
                <Operation action="edit" oid="c91d5125000033ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>批量休假-婚嫁有效期</Description>
                      <Id>5EWQ9UW/NIWL</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.BatchMarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="c91d5125000034ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>批量休假-婚嫁有效期验证</Description>
                      <Id>5EWQCIQWBS3=</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.BatchMarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="0H+14AKHW6M1">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>批量休假-婚嫁有效期验证</Description>
                      <Id>5EWQEN14+Q8Q</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.BatchMarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
              </Operations>
              <Id>5EWQ7/2G1FVL</Id>
              <Key>${ISV_FLAG}_wtabm_batchvaupd_ext</Key>
            </BillEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765534845279</Version>
      <ParentId>478V=Q6STKR2</ParentId>
      <MasterId>478V=Q6STKR2</MasterId>
      <Number>${ISV_FLAG}_wtabm_batchvaupd_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>5EWQ7/2G1FVL</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,4/91OYFU1TY=,44RTKE9H9AG=,478V=Q6STKR2</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765534845205</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>46NVZ+DZB8WI</BizunitId>
</DeployMetadata>
