<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>46NYZCAXWC32</MasterId>
  <Id>5EX3=9LZ2LY7</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_batchvainf_ext</Number>
      <PkId>5EXIIKKQQ2WE</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>休假信息</Name>
      <Id>5EX3=9LZ2LY7</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_batchvainf_ext</Number>
      <PkId>5EXIIKPGN=CU</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>休假信息</Name>
      <Id>5EX3=9LZ2LY7</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765529004117</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
