<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2F9YA08+UX8=</MasterId>
  <BizappId>5E/RJR7I2FF/</BizappId>
  <Id>5E944ABY3KVI</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1765531084052</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5E944ABY3KVI</Id>
          <Key>${ISV_FLAG}_wtabm_vaupdate_ext</Key>
          <EntityId>5E944ABY3KVI</EntityId>
          <ParentId>2F9YA08+UX8=</ParentId>
          <MasterId>2F9YA08+UX8=</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2F9YA08+UX8=</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>u1whPrAZ</FPK>
                          <ClassName>5E944ABY3KVI_moblist_u1whPrAZ</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaupdate_ext_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>为他人申请休假变更</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>5E944ABY3KVI</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>5E944ABY3KVI</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>JGuW8BLw</FPK>
                  <ClassName>5E944ABY3KVI_JGuW8BLw</ClassName>
                  <SourceNumber>${ISV_FLAG}_wtabm_vaupdate_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>为他人申请休假变更</SourceName>
                  <RowKey>3</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_wtabm_vaupdate_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>4RVnW7XS</FPK>
                          <ClassName>5E944ABY3KVI_mob_4RVnW7XS</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaupdate_ext_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>为他人申请休假变更</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>E23iDnNe</FPK>
                          <ClassName>5E944ABY3KVI_list_E23iDnNe</ClassName>
                          <SourceNumber>${ISV_FLAG}_wtabm_vaupdate_ext_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>为他人申请休假变更</SourceName>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359875477985945600</ModifierId>
      <EntityId>5E944ABY3KVI</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765531084052</Version>
      <ParentId>2F9YA08+UX8=</ParentId>
      <MasterId>2F9YA08+UX8=</MasterId>
      <Number>${ISV_FLAG}_wtabm_vaupdate_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <IsvSign>Dqe7s9eXEq/Jpvbh9IZBZEfziRJmifIjHeRI5riUBLz5AduM+hfi1jLoHaTGv8Z4a2AC+69XleLYOQ/JkBtNU1iELQdYNyol3AbXm8jXuVRBhlOGx0vfukyu9EfY5AOSVxe9tITXWH1NZhhbbI7BYQWHLRtekcYEBglDU9sXDUw=</IsvSign>
      <Id>5E944ABY3KVI</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2F9YA08+UX8=</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1765531084242</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>5E944ABY3KVI</Id>
          <ParentId>2F9YA08+UX8=</ParentId>
          <MasterId>2F9YA08+UX8=</MasterId>
          <BizappId>5E/RJR7I2FF/</BizappId>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2F9YA08+UX8=</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Operations>
                <Operation action="edit" oid="c91d5125000033ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>婚嫁有效期验证</Description>
                      <Id>5EWQ1+=51+PW</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.MarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="c91d5125000034ac">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>婚嫁有效期验证</Description>
                      <Id>5EWQ+2WR52WO</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.MarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
                <Operation action="edit" oid="0H+14AKHW6M1">
                  <Validations>
                    <DynamicValidation>
                      <RuleType>DynamicValidate</RuleType>
                      <Description>婚嫁有效期验证</Description>
                      <Id>5EWQ2FUVA1IX</Id>
                      <RunClass>${ISV_FLAG}.wtc.wtabm.opplugin.MarriageDateValidator</RunClass>
                      <Enabled>true</Enabled>
                    </DynamicValidation>
                  </Validations>
                </Operation>
              </Operations>
              <Id>5E944ABY3KVI</Id>
              <Key>${ISV_FLAG}_wtabm_vaupdate_ext</Key>
            </BillEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765531084242</Version>
      <ParentId>2F9YA08+UX8=</ParentId>
      <MasterId>2F9YA08+UX8=</MasterId>
      <Number>${ISV_FLAG}_wtabm_vaupdate_ext</Number>
      <BizappId>5E/RJR7I2FF/</BizappId>
      <Id>5E944ABY3KVI</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,1FFZPW9X+X56,5/BGLISXYNB+,2F9YA08+UX8=</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765531084052</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>2DU4W7N1ZF8B</BizunitId>
</DeployMetadata>
