<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>475H7I+N5H96</MasterId>
  <Id>5EU1ACCHB+U2</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_batchvaapp_ext</Number>
      <PkId>5EXLQ163HLKN</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>批量休假</Name>
      <Id>5EU1ACCHB+U2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_batchvaapp_ext</Number>
      <PkId>5EXLQ1CQUMPF</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>批量休假</Name>
      <Id>5EU1ACCHB+U2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765531040440</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
