<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>43IL8QS6489U</MasterId>
  <Id>5EQKLD/=UNCK</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vainfosing_ext</Number>
      <PkId>5EQKLDGM5=YJ</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>休假信息_单人单类型</Name>
      <Id>5EQKLD/=UNCK</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vainfosing_ext</Number>
      <PkId>5EQKLDM6QBWC</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>休假信息_单人单类型</Name>
      <Id>5EQKLD/=UNCK</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765435134799</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
