<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2GHL=Q7DOL2=</MasterId>
  <Id>5E2D=1FWXC2G</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_wtabm_vaapply_ext</Number>
      <PkId>5EXLREBQVPZ2</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>为他人申请休假</Name>
      <Id>5E2D=1FWXC2G</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_wtabm_vaapply_ext</Number>
      <PkId>5EXLREIX1O3A</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>为他人申请休假</Name>
      <Id>5E2D=1FWXC2G</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765531062729</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
