DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2380490258228707328;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380490258228707328,'0',NULL,' ',' ',2380490258228707328,'C','job1','直辅',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2380491861098758144;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380491861098758144,'0',NULL,' ',' ',2380491861098758144,'C','job2','直产',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2380493584328557568;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380493584328557568,'0',NULL,' ',' ',2380493584328557568,'C','job3','管理',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2381246311757255680;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2381246311757255680,'0',NULL,' ',' ',2381246311757255680,'C','job4','制造',0,{ts'2025-12-30  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2381246385325347840;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2381246385325347840,'0',NULL,' ',' ',2381246385325347840,'C','job5','研发',0,{ts'2025-12-30  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2381246466812285952;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2381246466812285952,'0',NULL,' ',' ',2381246466812285952,'C','job6','销售',0,{ts'2025-12-30  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty WHERE FID = 2381246568037618688;
INSERT INTO tk_tdkw_hbss_jobproperty(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2381246568037618688,'0',NULL,' ',' ',2381246568037618688,'C','job7','基建',0,{ts'2025-12-30  00:00:00'},2366142851802202112,'1',{ts'2025-12-30  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDPCT1H18MD';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380490258228707328,'5GDPCT1H18MD','zh_CN',' ',' ','直辅');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDPCT1H18ME';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380490258228707328,'5GDPCT1H18ME','zh_TW',' ',' ','直輔');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDPOGKBC3VI';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380491861098758144,'5GDPOGKBC3VI','zh_CN',' ',' ','直产');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDPOGKBC3VJ';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380491861098758144,'5GDPOGKBC3VJ','zh_TW',' ',' ','直產');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDQ/0=O2=AX';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380493584328557568,'5GDQ/0=O2=AX','zh_CN',' ',' ','管理');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GDQ/0=O2=AY';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380493584328557568,'5GDQ/0=O2=AY','zh_TW',' ',' ','管理');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAN4NW9R7H';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246311757255680,'5GHAN4NW9R7H','zh_CN',' ',' ','制造');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAN4NW9R7I';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246311757255680,'5GHAN4NW9R7I','zh_TW',' ',' ','製造');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHANOK9K/MY';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246385325347840,'5GHANOK9K/MY','zh_CN',' ',' ','研发');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHANOK9K/MZ';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246385325347840,'5GHANOK9K/MZ','zh_TW',' ',' ','研發');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAO9QEU7XG';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246466812285952,'5GHAO9QEU7XG','zh_CN',' ',' ','销售');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAO9QEU7XH';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246466812285952,'5GHAO9QEU7XH','zh_TW',' ',' ','銷售');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAP/HC4DFO';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246568037618688,'5GHAP/HC4DFO','zh_CN',' ',' ','基建');
DELETE FROM tk_tdkw_hbss_jobproperty_L WHERE FPKID = '5GHAP/HC4DFP';
INSERT INTO tk_tdkw_hbss_jobproperty_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2381246568037618688,'5GHAP/HC4DFP','zh_TW',' ',' ','基建');
