DELETE FROM tk_tdkw_hbss_joblabel WHERE FID = 2380494017533050880;
INSERT INTO tk_tdkw_hbss_joblabel(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380494017533050880,'0',NULL,' ',' ',2380494017533050880,'C','02','新四化',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_joblabel WHERE FID = 2380494143714492416;
INSERT INTO tk_tdkw_hbss_joblabel(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380494143714492416,'0',NULL,' ',' ',2380494143714492416,'C','03','国际化',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_joblabel WHERE FID = 2380494215630028800;
INSERT INTO tk_tdkw_hbss_joblabel(FID,FISSYSPRESET,FDISABLEDATE,FSIMPLENAME,FDESCRIPTION,FMASTERID,FSTATUS,FNUMBER,FNAME,FINDEX,FCREATETIME,FMODIFIERID,FENABLE,FMODIFYTIME,FCREATORID,FDISABLERID) VALUES (2380494215630028800,'0',NULL,' ',' ',2380494215630028800,'C','04','数字化',0,{ts'2025-12-29  00:00:00'},2366142851802202112,'1',{ts'2025-12-29  00:00:00'},2366142851802202112,0); 
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ26E2JV48';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494017533050880,'5GDQ26E2JV48','zh_CN',' ',' ','新四化');
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ26E2JV49';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494017533050880,'5GDQ26E2JV49','zh_TW',' ',' ','新四化');
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ339MA7S2';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494143714492416,'5GDQ339MA7S2','zh_CN',' ',' ','国际化');
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ339MA7S3';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494143714492416,'5GDQ339MA7S3','zh_TW',' ',' ','國際化');
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ3MPP9P8H';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494215630028800,'5GDQ3MPP9P8H','zh_CN',' ',' ','数字化');
DELETE FROM tk_tdkw_hbss_joblabel_L WHERE FPKID = '5GDQ3MPP9P8I';
INSERT INTO tk_tdkw_hbss_joblabel_L(FID,FPKID,FLOCALEID,FSIMPLENAME,FDESCRIPTION,FNAME) VALUES (2380494215630028800,'5GDQ3MPP9P8I','zh_TW',' ',' ','數字化');
