<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2=ODHFR1I2RS</MasterId>
  <Id>56G/GXDWN16X</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_homs_batchorgen_ext2</Number>
      <PkId>56G6LZ08DJCI</PkId>
      <DataXml>
        <FormMetadata>
          <Items>
            <AnchorControlAp action="edit" oid="ykaXjBVL65">
              <ParentId>PxNfkkak4s</ParentId>
            </AnchorControlAp>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <ParentId>orAEX8c0laf1JJwWVz</ParentId>
            </FlexPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <Name>组织调整申请-调整上级</Name>
      <Id>56G/GXDWN16X</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_homs_batchorgen_ext2</Number>
      <PkId>56G6LZCBO372</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>组织调整申请-调整上级</Name>
      <Id>56G/GXDWN16X</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1756364056722</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
