<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2=4500XUBSRK</MasterId>
  <Id>54OJKNB=QJBN</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_homs_orgbatchchg_ext</Number>
      <PkId>55RKUX3/49A+</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>组织调整申请</Name>
      <Id>54OJKNB=QJBN</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_homs_orgbatchchg_ext</Number>
      <PkId>55RKUXM9LRMI</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>组织调整申请</Name>
      <Id>54OJKNB=QJBN</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1755677067247</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
