<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>2=G2TUR2G9KK</MasterId>
  <BizappId>54OJ9OH90/LT</BizappId>
  <Id>54OP==S2AULS</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1754890846474</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>54OP==S2AULS</Id>
          <Key>${ISV_FLAG}_homs_batchorgen_ext1</Key>
          <EntityId>54OP==S2AULS</EntityId>
          <ParentId>2=G2TUR2G9KK</ParentId>
          <MasterId>2=G2TUR2G9KK</MasterId>
          <BizappId>54OJ9OH90/LT</BizappId>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2=G2TUR2G9KK</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>54OP==S2AULS</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>54OP==S2AULS</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>QghlFH3x</FPK>
                  <ClassName>54OP==S2AULS_QghlFH3x</ClassName>
                  <SourceNumber>${ISV_FLAG}_homs_batchorgen_ext1</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>组织批量调整分录</SourceName>
                  <RowKey>1</RowKey>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_homs_batchorgen_ext1</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>LGT4A5EZ</FPK>
                          <ClassName>54OP==S2AULS_mob_LGT4A5EZ</ClassName>
                          <SourceNumber>${ISV_FLAG}_homs_batchorgen_ext1_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>组织批量调整分录</SourceName>
                          <RowKey>1</RowKey>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Items>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FieldAp>
              <Id>b6PIKtiW9895U9U2Rp</Id>
              <FieldId>b6PIKtiW9895U9U2Rp</FieldId>
              <Visible/>
              <Index>6</Index>
              <Name>变动前信息历史版本id</Name>
              <Key>${ISV_FLAG}_chgsourcevid</Key>
              <ParentId>1RNR7Cd6ex</ParentId>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2275515755350991872</ModifierId>
      <EntityId>54OP==S2AULS</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1754890846474</Version>
      <ParentId>2=G2TUR2G9KK</ParentId>
      <MasterId>2=G2TUR2G9KK</MasterId>
      <Number>${ISV_FLAG}_homs_batchorgen_ext1</Number>
      <BizappId>54OJ9OH90/LT</BizappId>
      <IsvSign>Kk33l0kxU4EjeTWLfm8m2VL6shl9koEYSbsVtA30Wehj1rfx9E8VRsEWQct/mDMt2EbSPDz9AWCzyXGQ9b1zB+JCrn0op+CsbEiwjQsOJ8tJARtg5OaFXIh2hpOIsxWIS7tQ5mbd0Vs+KNargbLDKB1ik0SLBA26NefDYRpJpIA=</IsvSign>
      <Id>54OP==S2AULS</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2=G2TUR2G9KK</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1754890846547</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>54OP==S2AULS</Id>
          <ParentId>2=G2TUR2G9KK</ParentId>
          <MasterId>2=G2TUR2G9KK</MasterId>
          <BizappId>54OJ9OH90/LT</BizappId>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,2=G2TUR2G9KK</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <Id>54OP==S2AULS</Id>
              <Key>${ISV_FLAG}_homs_batchorgen_ext1</Key>
            </BaseEntity>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>b6PIKtiW9895U9U2Rp</Id>
              <DefValue>0</DefValue>
              <Name>变动前信息历史版本id</Name>
              <FieldName>fk_tdkw_chgsourcevid</FieldName>
              <Key>${ISV_FLAG}_chgsourcevid</Key>
            </BigIntField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1754890846547</Version>
      <ParentId>2=G2TUR2G9KK</ParentId>
      <MasterId>2=G2TUR2G9KK</MasterId>
      <Number>${ISV_FLAG}_homs_batchorgen_ext1</Number>
      <BizappId>54OJ9OH90/LT</BizappId>
      <Id>54OP==S2AULS</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,2=G2TUR2G9KK</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1754890846474</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4WI7=QXY5ZF+</BizunitId>
</DeployMetadata>
