<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>2=G559LSBCU/</MasterId>
  <Id>54OJFMCJRM8S</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_homs_batchorgent_ext</Number>
      <PkId>56G5RX2JNIPX</PkId>
      <DataXml>
        <FormMetadata>
          <Items>
            <FlexPanelAp action="edit" oid="PxNfkkak4s">
              <ParentId>0RYq9rjFw0pSsgUGIB</ParentId>
            </FlexPanelAp>
            <AnchorControlAp action="edit" oid="ykaXjBVL65">
              <ParentId>PxNfkkak4s</ParentId>
            </AnchorControlAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <Name>组织调整申请-变更信息</Name>
      <Id>54OJFMCJRM8S</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_homs_batchorgent_ext</Number>
      <PkId>56G5RXA6W5=V</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>组织调整申请-变更信息</Name>
      <Id>54OJFMCJRM8S</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1756363516111</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
