<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>44C3DG2XEQAT</MasterId>
  <Id>44C3DG2XEQAT</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_orgbatchchgmobile</Number>
      <PkId>56GASDPETQC/</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>组织调整申请移动端</Name>
      <Id>44C3DG2XEQAT</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
  </DesignMetas>
  <Version>1756367352374</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
