<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>3WM2KQCQAU=G</MasterId>
  <BizappId>5=7BV7DH2KPH</BizappId>
  <Id>3WM2KQCQAU=G</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1707025914277</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>3WM2KQCQAU=G</Id>
          <Key>${ISV_FLAG}_calpaypush</Key>
          <EntityId>3WM2KQCQAU=G</EntityId>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>62b02ccc00005fac</ParentId>
          <BizappId>5=7BV7DH2KPH</BizappId>
          <Name>数据校验提醒</Name>
          <InheritPath>62b02ccc00005fac</InheritPath>
          <Items>
            <FormAp action="edit" oid="62b02ccc00005eac">
              <Plugins>
                <Plugin>
                  <FPK/>
                  <Description>催办功能</Description>
                  <ClassName>${ISV_FLAG}.af73s.swc.hsasext.plugin.form.CalPayPushPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                </Plugin>
              </Plugins>
              <Id>3WM2KQCQAU=G</Id>
              <Height>410px</Height>
              <Name>数据校验提醒</Name>
              <Key>${ISV_FLAG}_calpaypush</Key>
              <Width>860px</Width>
            </FormAp>
            <ListGridViewAp>
              <Id>8sqS6Rabzy</Id>
              <Name>表格视图</Name>
              <PageType>basic</PageType>
              <Key>${ISV_FLAG}_listgridviewap</Key>
              <ParentId>0A6EF738OFNU1JwUGa</ParentId>
            </ListGridViewAp>
            <FlexPanelAp action="edit" oid="vXXb0qB9sk">
              <Overflow>hidden</Overflow>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>20px</Top>
                      <Left>20px</Left>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </FlexPanelAp>
            <ListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>4Xqyk005CrMsK2AbNs</Id>
              <Key>billno</Key>
              <Order>NotOrder</Order>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>billno</ListFieldId>
              <Name>单据编号</Name>
            </ListColumnAp>
            <ListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>EeEaITgk4rxvK7x0V9</Id>
              <Key>billname</Key>
              <Order>NotOrder</Order>
              <Index>1</Index>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>billname</ListFieldId>
              <Name>单据名称</Name>
            </ListColumnAp>
            <ComboListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>FvFF1oNw6PkOZfGvib</Id>
              <Key>billstatus</Key>
              <Order>NotOrder</Order>
              <Index>2</Index>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>billstatus</ListFieldId>
              <Name>单据状态</Name>
            </ComboListColumnAp>
            <ListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>kZSp1xg1yykjyMCQdj</Id>
              <Key>creator.name</Key>
              <Order>NotOrder</Order>
              <Index>3</Index>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>creator.name</ListFieldId>
              <Name>制单人</Name>
            </ListColumnAp>
            <ComboListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>T8B0yQq4qV8j1puwQ7</Id>
              <Key>${ISV_FLAG}_pushstatus</Key>
              <Order>NotOrder</Order>
              <Index>4</Index>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>${ISV_FLAG}_pushstatus</ListFieldId>
              <Name>催办状态</Name>
              <Editable>false</Editable>
            </ComboListColumnAp>
            <DateListColumnAp>
              <SeqColumnType>NotSeq</SeqColumnType>
              <Id>clwvP558TS1zPtQw2r</Id>
              <Key>${ISV_FLAG}_latestpushtime</Key>
              <Order>NotOrder</Order>
              <Index>5</Index>
              <ParentId>8sqS6Rabzy</ParentId>
              <ListFieldId>${ISV_FLAG}_latestpushtime</ListFieldId>
              <Name>最新催办时间</Name>
            </DateListColumnAp>
            <ButtonAp action="edit" oid="yzgkylzHpS">
              <OperationKey>push</OperationKey>
              <Name>催办</Name>
            </ButtonAp>
            <FieldAp>
              <Lock>new,edit</Lock>
              <Id>VQzRF1A2fQ3DAbNcVG</Id>
              <FieldId>VQzRF1A2fQ3DAbNcVG</FieldId>
              <Name>提报单状态校验</Name>
              <Key>${ISV_FLAG}_checktext</Key>
              <FieldStyle>0</FieldStyle>
              <ParentId>k4Gm1Awy9xECaeDcUd</ParentId>
              <FullLine>true</FullLine>
            </FieldAp>
            <FlexPanelAp>
              <Overflow>visible</Overflow>
              <Id>k4Gm1Awy9xECaeDcUd</Id>
              <Height>60px</Height>
              <Name>Flex容器</Name>
              <Key>${ISV_FLAG}_flexpanelap</Key>
              <ParentId>vXXb0qB9sk</ParentId>
            </FlexPanelAp>
            <FlexPanelAp>
              <Overflow>visible</Overflow>
              <Id>yxMKcnLit0mqVCpc3R</Id>
              <Height>260px</Height>
              <Index>1</Index>
              <Name>Flex容器</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>10px</Top>
                      <Bottom>10px</Bottom>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>${ISV_FLAG}_flexpanelap1</Key>
              <ParentId>vXXb0qB9sk</ParentId>
            </FlexPanelAp>
            <BillListAp>
              <Id>0A6EF738OFNU1JwUGa</Id>
              <Name>单据列表</Name>
              <PageRow>5</PageRow>
              <Key>${ISV_FLAG}_billlistap</Key>
              <EntityId>2+63VW+9PECA</EntityId>
              <ParentId>yxMKcnLit0mqVCpc3R</ParentId>
              <DefaultView>8sqS6Rabzy</DefaultView>
              <RefLayout/>
              <DefValue/>
              <BizBasedata>false</BizBasedata>
              <RefProps>[]</RefProps>
            </BillListAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>1858613615515424768</ModifierId>
      <EntityId>3WM2KQCQAU=G</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1707025914277</Version>
      <ParentId>62b02ccc00005fac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_calpaypush</Number>
      <BizappId>5=7BV7DH2KPH</BizappId>
      <IsvSign></IsvSign>
      <Id>3WM2KQCQAU=G</Id>
      <InheritPath>62b02ccc00005fac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1707025914354</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>3WM2KQCQAU=G</Id>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>62b02ccc00005fac</ParentId>
          <BizappId>5=7BV7DH2KPH</BizappId>
          <Name>数据校验提醒</Name>
          <InheritPath>62b02ccc00005fac</InheritPath>
          <Items>
            <MainEntity action="edit" oid="62b02ccc000060ac">
              <Template action="reset"/>
              <dbRoute>swc</dbRoute>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Name>关闭</Name>
                  <OperationType>close</OperationType>
                  <Id>3WMB0SI1/NEV</Id>
                  <SuccessMsg/>
                  <Key>close</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>催办</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3WMB3ZD7U1W=</Id>
                  <SuccessMsg/>
                  <Key>push</Key>
                </Operation>
              </Operations>
              <Id>3WM2KQCQAU=G</Id>
              <Key>${ISV_FLAG}_calpaypush</Key>
              <Name>数据校验提醒</Name>
            </MainEntity>
            <TextAreaField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>VQzRF1A2fQ3DAbNcVG</Id>
              <Key>${ISV_FLAG}_checktext</Key>
              <DefValue>本期内存在XX张提报单处理非审批通过的状态，非审批通过的数据不能用于薪资核算，请跟进数据处理进度:</DefValue>
              <Name>提报单状态校验</Name>
            </TextAreaField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1707025914354</Version>
      <ParentId>62b02ccc00005fac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_calpaypush</Number>
      <BizappId>5=7BV7DH2KPH</BizappId>
      <Id>3WM2KQCQAU=G</Id>
      <InheritPath>62b02ccc00005fac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1707025914277</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>00LPWNZVFAYW</BizunitId>
</DeployMetadata>
