<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>02GD+L1MBO31</MasterId>
  <BizappId>5=7BV7DH2KPH</BizappId>
  <Id>3UY=IIZ3I6/2</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>2</DevType>
      <ModifyDate>1760428638947</ModifyDate>
      <DataXml>
        <FormMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3UY=IIZ3I6/2</Id>
          <Key>${ISV_FLAG}_hsas_calpayrollt_ext</Key>
          <EntityId>3UY=IIZ3I6/2</EntityId>
          <ParentId>02GD+L1MBO31</ParentId>
          <MasterId>02GD+L1MBO31</MasterId>
          <BizappId>5=7BV7DH2KPH</BizappId>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,/YI6302K2/A7,02GD+L1MBO31</InheritPath>
          <Items>
            <BasedataFormAp action="edit" oid="1942c188000064ac">
              <Plugins>
                <Plugin action="edit" oid="kd.swc.hsas.formplugin.web.guide.CalPayrollTaskNewEdit">
                  <RowKey>8</RowKey>
                </Plugin>
              </Plugins>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3UY=IIZ3I6/2</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>3UY=IIZ3I6/2</Id>
              <JsPlugins>
                <Plugin>
                  <FPK>KqY9vMQm</FPK>
                  <ClassName>3UY=IIZ3I6/2_KqY9vMQm</ClassName>
                  <SourceNumber>${ISV_FLAG}_hsas_calpayrollt_ext</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>薪资核算任务</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hsas_calpayrollt_ext</Key>
              <MobMeta>
                <FormMetadata>
                  <Id>3UY=IIZ3I6/2</Id>
                  <Key>${ISV_FLAG}_hsas_calpayrollt_ext_mob</Key>
                  <EntityId>3UY=IIZ3I6/2</EntityId>
                  <Items>
                    <MobileBillFormAp action="edit" oid="cc7e360600000aac">
                      <Id>3UY=IIZ3I6/2</Id>
                      <JsPlugins>
                        <Plugin>
                          <FPK>RhKNnE4c</FPK>
                          <ClassName>3UY=IIZ3I6/2_mob_RhKNnE4c</ClassName>
                          <SourceNumber>${ISV_FLAG}_hsas_calpayrollt_ext_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>薪资核算任务</SourceName>
                        </Plugin>
                      </JsPlugins>
                      <Key>${ISV_FLAG}_hsas_calpayrollt_ext_mob</Key>
                    </MobileBillFormAp>
                    <FieldAp action="edit" oid="sM9Z0Db4lT">
                      <ParentId>3UY=IIZ3I6/2</ParentId>
                    </FieldAp>
                    <FieldAp action="edit" oid="xw0UMhndz7">
                      <ParentId>3UY=IIZ3I6/2</ParentId>
                    </FieldAp>
                    <MToolbarAp action="edit" oid="aHlGN1l22N">
                      <ParentId>3UY=IIZ3I6/2</ParentId>
                    </MToolbarAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <DevType>2</DevType>
                  <Isv>tdkw</Isv>
                  <Items>
                    <FormAp action="edit" oid="b5994054000024ac">
                      <Plugins>
                        <Plugin action="edit" oid="kd.bos.form.plugin.nameversion.BaseDataNameVersionListPlugin">
                          <RowKey>2</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.HRPermCommonList">
                          <RowKey>3</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.hr.hbp.formplugin.web.template.HRHiesButtonSwitchPlugin">
                          <RowKey>6</RowKey>
                        </Plugin>
                        <Plugin action="edit" oid="kd.swc.hsas.formplugin.web.guide.CalPayrollTaskList">
                          <RowKey>7</RowKey>
                        </Plugin>
                        <Plugin>
                          <FPK/>
                          <ClassName>${ISV_FLAG}.af73s.swc.hsasext.plugin.form.HsasCalpayRolltListPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                          <Description>数据校验插件</Description>
                          <RowKey>17</RowKey>
                        </Plugin>
                      </Plugins>
                    </FormAp>
                    <ListCardViewAp action="edit" oid="cardview">
                      <Index>1</Index>
                    </ListCardViewAp>
                    <QingViewAp action="edit" oid="qingview">
                      <Index>2</Index>
                    </QingViewAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp>
                      <Invisible>true</Invisible>
                      <Id>ayWXykKs2X</Id>
                      <Name>ERP2.0数据处理</Name>
                      <OperationKey>obtainperformance</OperationKey>
                      <Key>${ISV_FLAG}_obtainperformance</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="FUMD89PFCB">
                      <Index>1</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="Nz0S5vT9cK">
                      <Index>2</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ms32Hsufcq">
                      <Index>3</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="BTjy6Ie3Bc">
                      <Index>4</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A3zkgmttgA">
                      <Index>5</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ZbxZG1QjJh">
                      <Index>6</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="NVARV5u7I4">
                      <Index>7</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="bbJqwqUoJK">
                      <Index>8</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="pOjxr6qe2c">
                      <Index>9</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="LKyEhuDz51">
                      <Visible>lookup,default</Visible>
                      <Index>10</Index>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="25P+0ZYNR+YW">
                          <Visible/>
                          <Index>1</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="25P+0ZYNR/M4">
                          <Index>2</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="27+KI0D1+SU4">
                          <Index>3</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="27+KI0D1+PFV">
                          <Index>4</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="28L56++S9Z2I">
                          <Index>5</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="28L56++S9VQ8">
                          <Index>6</Index>
                        </DropdownItem>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="7Bwa79329E">
                      <Index>11</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="8g4tZZ5RQC">
                      <Index>12</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="ouEq7kPfS2">
                      <Index>13</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>olx0RA6kX6</Id>
                      <Index>14</Index>
                      <Name>数据校验</Name>
                      <OperationKey>datacheckbtn</OperationKey>
                      <Key>${ISV_FLAG}_datacheck</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="v71lQcKgcH">
                      <Index>15</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0gAY5TLeX3">
                      <Index>16</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="UlRxLeBKL1">
                      <Index>17</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>v1jm8Qxu8i</Id>
                      <Index>18</Index>
                      <Name>生成审批单</Name>
                      <OperationKey>createapprove</OperationKey>
                      <Key>${ISV_FLAG}_baritemap</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>PI3XBXRMHE</Id>
                      <Index>19</Index>
                      <Name>借款推送</Name>
                      <OperationKey>donothing_loan_push</OperationKey>
                      <Key>${ISV_FLAG}_loan_push_operation</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>3UY=IIZ3I6/2</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>3UY=IIZ3I6/2</EntityId>
                    </BillListAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4GUZI=FEP6OS</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>26</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_loan_push</ListFieldId>
                      <Name>借款推送状态</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4GUZI86/C33C</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>27</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_loan_push_explain</ListFieldId>
                      <Name>借款推送说明</Name>
                    </ListColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BasedataFormAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Id>A2OWyj0sCfjcVIw1KG</Id>
              <FieldId>A2OWyj0sCfjcVIw1KG</FieldId>
              <Index>17</Index>
              <Name>入账状态</Name>
              <Key>${ISV_FLAG}_combofield</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>lF0x5jmtsvmjgEGsy1</Id>
              <FieldId>lF0x5jmtsvmjgEGsy1</FieldId>
              <Index>18</Index>
              <Name>借款推送状态</Name>
              <Key>${ISV_FLAG}_loan_push</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>6j6yyol1eaFPS4jlJx</Id>
              <FieldId>6j6yyol1eaFPS4jlJx</FieldId>
              <Index>19</Index>
              <Name>借款推送说明</Name>
              <Key>${ISV_FLAG}_loan_push_explain</Key>
              <ParentId>I8M9X0FOPr</ParentId>
            </FieldAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2239268597346075648</ModifierId>
      <EntityId>3UY=IIZ3I6/2</EntityId>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1760428638947</Version>
      <ParentId>02GD+L1MBO31</ParentId>
      <MasterId>02GD+L1MBO31</MasterId>
      <Number>${ISV_FLAG}_hsas_calpayrollt_ext</Number>
      <BizappId>5=7BV7DH2KPH</BizappId>
      <IsvSign>WacVwWkdowZAXIzUyGY5iDyTq87xYmHRKavTL2Rh2XJberxT9gMZTgMrAQWu/F16JnBfmn7usSR5vS3/FRVZsq3g+YaQOFoueCFtW/Ao3CK9PN3udkrytqSqK/PhlHJt+r3a8lYK+OiE4UB4mwcVFmSCYRi8dyJyLFYjkFxyNWk=</IsvSign>
      <Id>3UY=IIZ3I6/2</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,/YI6302K2/A7,02GD+L1MBO31</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>2</DevType>
      <ModifyDate>1760428639297</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <DevType>2</DevType>
          <Isv>tdkw</Isv>
          <Id>3UY=IIZ3I6/2</Id>
          <ParentId>02GD+L1MBO31</ParentId>
          <MasterId>02GD+L1MBO31</MasterId>
          <BizappId>5=7BV7DH2KPH</BizappId>
          <InheritPath>1942c188000065ac,2+QE4JA9QV27,/YI6302K2/A7,02GD+L1MBO31</InheritPath>
          <Items>
            <BaseEntity action="edit" oid="1942c188000066ac">
              <PermissionItems>
                <PermissionItem>
                  <ItemId>4CHV=CJ8FB=F</ItemId>
                  <Index>27</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>4E9LART8S4+B</ItemId>
                  <Index>28</Index>
                </PermissionItem>
              </PermissionItems>
              <Id>3UY=IIZ3I6/2</Id>
              <PermissionDimension>
                <PermissionDimension>
                  <Id>Pk59AgOj</Id>
                </PermissionDimension>
              </PermissionDimension>
              <PermissionControl>
                <PermissionControl>
                  <Id>8Cz3UUbV</Id>
                </PermissionControl>
              </PermissionControl>
              <Operations>
                <Operation>
                  <ConfirmMsg/>
                  <Name>数据校验</Name>
                  <OperationType>donothing</OperationType>
                  <Id>3WMTHG/AN93H</Id>
                  <SuccessMsg/>
                  <Key>datacheckbtn</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>4E9LART8S4+B</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>4E9LART8S4+B</PermissionItemId>
                  <Parameter>
                    <DoNothingParameter>
                      <CanNoData>true</CanNoData>
                    </DoNothingParameter>
                  </Parameter>
                  <Name>ERP2.0数据处理</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4C432LVHRH7A</Id>
                  <SuccessMsg/>
                  <Key>obtainperformance</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>4CHV=CJ8FB=F</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>4CHV=CJ8FB=F</PermissionItemId>
                  <Parameter>
                    <DoNothingParameter>
                      <CanNoData>true</CanNoData>
                    </DoNothingParameter>
                  </Parameter>
                  <Name>取消绩效</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4C4TM+CIALFC</Id>
                  <SuccessMsg/>
                  <Key>cancelperformance</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg>是否进行借款推送</ConfirmMsg>
                  <Name>借款推送</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4GS9F06BJBO2</Id>
                  <SuccessMsg/>
                  <Key>donothing_loan_push</Key>
                </Operation>
              </Operations>
              <Key>${ISV_FLAG}_hsas_calpayrollt_ext</Key>
            </BaseEntity>
            <BasedataField action="edit" oid="A1iu2hFUyT">
              <RefProps>
                <RefProp>
                  <Name>${ISV_FLAG}_sencetype</Name>
                </RefProp>
              </RefProps>
            </BasedataField>
            <ComboField>
              <FieldName>fk_tdkw_combofield</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>A2OWyj0sCfjcVIw1KG</Id>
              <Key>${ISV_FLAG}_combofield</Key>
              <DefValue>0</DefValue>
              <Name>入账状态</Name>
              <Items>
                <ComboItem>
                  <Caption>已入账</Caption>
                  <Value>1</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>未入账</Caption>
                  <Value>0</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <ComboField>
              <FieldName>fk_tdkw_loan_push</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>lF0x5jmtsvmjgEGsy1</Id>
              <Key>${ISV_FLAG}_loan_push</Key>
              <Name>借款推送状态</Name>
              <Items>
                <ComboItem>
                  <Caption>推送成功</Caption>
                  <Value>A</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>推送失败</Caption>
                  <Value>B</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>6j6yyol1eaFPS4jlJx</Id>
              <Name>借款推送说明</Name>
              <MaxLength>2000</MaxLength>
              <FieldName>fk_tdkw_loan_push_explain</FieldName>
              <Key>${ISV_FLAG}_loan_push_explain</Key>
            </TextField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BaseFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1760428639297</Version>
      <ParentId>02GD+L1MBO31</ParentId>
      <MasterId>02GD+L1MBO31</MasterId>
      <Number>${ISV_FLAG}_hsas_calpayrollt_ext</Number>
      <BizappId>5=7BV7DH2KPH</BizappId>
      <Id>3UY=IIZ3I6/2</Id>
      <InheritPath>1942c188000065ac,2+QE4JA9QV27,/YI6302K2/A7,02GD+L1MBO31</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1760428638947</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>00LPWNZVFAYW</BizunitId>
</DeployMetadata>
