<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>02GD+L1MBO31</MasterId>
  <Id>3UY=IIZ3I6/2</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hsas_calpayrollt_ext</Number>
      <PkId>5=NJB=0Y3/YS</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>薪资核算任务</Name>
      <Id>3UY=IIZ3I6/2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hsas_calpayrollt_ext</Number>
      <PkId>5=NJB=OK/0AE</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>薪资核算任务</Name>
      <Id>3UY=IIZ3I6/2</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1760428638947</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
