<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VPRP6K=E4H+</MasterId>
  <Id>4VPRP6K=E4H+</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_payment</Number>
      <PkId>5GLA9UW8Q4R5</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金发放</Name>
      <Id>4VPRP6K=E4H+</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_payment</Number>
      <PkId>5GLA9V/25KI0</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金发放</Name>
      <Id>4VPRP6K=E4H+</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767165976476</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
