<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4U6YFW5349R8</MasterId>
  <Id>4U6YFW5349R8</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_approval_flow</Number>
      <PkId>5GL6WIM5QY/I</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>核定审批</Name>
      <Id>4U6YFW5349R8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_approval_flow</Number>
      <PkId>5GL6WIRRE+U2</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>核定审批</Name>
      <Id>4U6YFW5349R8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767163173895</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
