<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VQ3T2N2+6=8</MasterId>
  <Id>4VQ3T2N2+6=8</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_dis_detail</Number>
      <PkId>5GL7HKZCNU2P</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金分配</Name>
      <Id>4VQ3T2N2+6=8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_dis_detail</Number>
      <PkId>5GL7HL3SZMMW</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金分配</Name>
      <Id>4VQ3T2N2+6=8</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767163567501</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
