<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VCYDWHROM4M</MasterId>
  <Id>4VCYDWHROM4M</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_distribute_sum</Number>
      <PkId>5GL=HPJNVQ/8</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>分配汇总</Name>
      <Id>4VCYDWHROM4M</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_distribute_sum</Number>
      <PkId>5GL=HPPWXP5D</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>分配汇总</Name>
      <Id>4VCYDWHROM4M</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767165483471</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
