<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VQTPA7H=51I</MasterId>
  <Id>4VQTPA7H=51I</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_sum_approval</Number>
      <PkId>5GL=QO+HA0OX</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>汇总审批</Name>
      <Id>4VQTPA7H=51I</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_sum_approval</Number>
      <PkId>5GL=QO3AZSZC</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>汇总审批</Name>
      <Id>4VQTPA7H=51I</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767165630061</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
