<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4TKI3BKT4AW0</MasterId>
  <Id>4TKI3BKT4AW0</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_plan</Number>
      <PkId>5GLFSGON114Q</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金计划</Name>
      <Id>4TKI3BKT4AW0</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_plan</Number>
      <PkId>5GLFSGYDWTMC</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金计划</Name>
      <Id>4TKI3BKT4AW0</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767169487756</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
