<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4TI10H0AS06T</MasterId>
  <Id>4TI10H0AS06T</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bonus_plan_approval</Number>
      <PkId>5GL4SGE/JPL=</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>计划审批</Name>
      <Id>4TI10H0AS06T</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bonus_plan_approval</Number>
      <PkId>5GL4SGIYMJJO</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>计划审批</Name>
      <Id>4TI10H0AS06T</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767161831551</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
