<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4WBQX+EFT6IX</MasterId>
  <Id>4WBQX+EFT6IX</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bouns_record</Number>
      <PkId>5GLBBV001IO9</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>发放记录</Name>
      <Id>4WBQX+EFT6IX</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bouns_record</Number>
      <PkId>5GLBBV5E9FL7</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>发放记录</Name>
      <Id>4WBQX+EFT6IX</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767166663638</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
