<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VWZ/SIVXIR9</MasterId>
  <Id>4VWZ/SIVXIR9</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bouns_end_approval</Number>
      <PkId>5GLB0/J31K59</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金终止</Name>
      <Id>4VWZ/SIVXIR9</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bouns_end_approval</Number>
      <PkId>5GLB0/PT0=SD</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金终止</Name>
      <Id>4VWZ/SIVXIR9</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767166453700</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
