<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>500=BXV2FIII</MasterId>
  <BizappId>4/2KFOT28OWS</BizappId>
  <Id>500=BXV2FIII</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1767166871688</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>500=BXV2FIII</Id>
          <Key>${ISV_FLAG}_bouns_import</Key>
          <EntityId>500=BXV2FIII</EntityId>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>00305e8b000006ac</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <IsvSign/>
          <Name>发放记录导入</Name>
          <InheritPath>00305e8b000006ac</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <Plugins>
                <Plugin action="edit" oid="kd.bos.form.plugin.TemplateBillEdit">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                </Plugin>
                <Plugin action="edit" oid="kd.bos.form.plugin.CodeRulePlugin">
                  <FPK/>
                  <BizAppId/>
                  <Description/>
                  <RowKey>1</RowKey>
                </Plugin>
                <Plugin>
                  <FPK/>
                  <ClassName>${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bouns_import.BounsImportBillPlugin</ClassName>
                  <Enabled>true</Enabled>
                  <BizAppId/>
                  <Description>导入</Description>
                  <RowKey>2</RowKey>
                </Plugin>
              </Plugins>
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>KHet3TDH</FPK>
                          <ClassName>500=BXV2FIII_moblist_KHet3TDH</ClassName>
                          <SourceNumber>${ISV_FLAG}_bouns_import_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>发放记录导入</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <CardListColumnAp action="edit" oid="b1fbc6f800000cac">
                      <FieldForeColor>#212121</FieldForeColor>
                      <Height action="setnull"/>
                      <FieldFontSize>16</FieldFontSize>
                      <Shrink>0</Shrink>
                      <ForeColor>#212121</ForeColor>
                      <ParentId>500=BXY1IX4Z</ParentId>
                      <AutoTextWrap>true</AutoTextWrap>
                      <ShowTitle>false</ShowTitle>
                      <Width action="setnull"/>
                      <FontSize>16</FontSize>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Bottom>5px</Bottom>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                    </CardListColumnAp>
                    <CardListColumnAp>
                      <FieldForeColor>#999999</FieldForeColor>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>500=BXY1GTOY</Id>
                      <Key>cardlistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <FieldFontSize>14</FieldFontSize>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <ForeColor>#999999</ForeColor>
                      <ParentId>500=BXY1IX4Z</ParentId>
                      <ListFieldId>billstatus</ListFieldId>
                      <ShowTitle>false</ShowTitle>
                      <Name>单据状态</Name>
                      <FontSize>14</FontSize>
                    </CardListColumnAp>
                    <CardListColumnAp>
                      <FieldForeColor>#999999</FieldForeColor>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>500=BXY55ABG</Id>
                      <Key>cardlistcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <FieldFontSize>14</FieldFontSize>
                      <Shrink>0</Shrink>
                      <Index>2</Index>
                      <ForeColor>#999999</ForeColor>
                      <ParentId>500=BXY1IX4Z</ParentId>
                      <ListFieldId>creator.name</ListFieldId>
                      <ShowTitle>false</ShowTitle>
                      <Name>创建人.姓名</Name>
                      <FontSize>14</FontSize>
                    </CardListColumnAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>500=BXV2FIII</EntityId>
                    </BillListAp>
                    <CardFlexPanelAp>
                      <Id>500=BXY1IX4Z</Id>
                      <AlignItems>stretch</AlignItems>
                      <JustifyContent>flex-start</JustifyContent>
                      <Name>卡片布局容器</Name>
                      <Style>
                        <Style>
                          <Border>
                            <Border>
                              <Bottom>1px_solid_#e5e5e5</Bottom>
                            </Border>
                          </Border>
                          <Padding>
                            <Padding>
                              <Top>11px</Top>
                              <Bottom>13px</Bottom>
                              <Right>12</Right>
                            </Padding>
                          </Padding>
                        </Style>
                      </Style>
                      <Key>cardflexpanelap</Key>
                      <Direction>column</Direction>
                      <ParentId>b1fbc6f800000bac</ParentId>
                      <Wrap>false</Wrap>
                    </CardFlexPanelAp>
                    <CardRowPanelAp action="edit" oid="b1fbc6f800000bac">
                      <Height action="setnull"/>
                      <AlignItems>stretch</AlignItems>
                      <Shrink>0</Shrink>
                      <JustifyContent>flex-start</JustifyContent>
                      <BackColor>#ffffff</BackColor>
                      <Style>
                        <Style>
                          <Border>
                            <Border>
                              <Top>0px_solid_#e5e5e5</Top>
                              <Left>0px_solid_#e5e5e5</Left>
                              <Bottom>0px_solid_#e5e5e5</Bottom>
                              <Right>0px_solid_#e5e5e5</Right>
                            </Border>
                          </Border>
                          <Padding>
                            <Padding>
                              <Left>12px</Left>
                            </Padding>
                          </Padding>
                        </Style>
                      </Style>
                      <Direction>column</Direction>
                      <Wrap>false</Wrap>
                    </CardRowPanelAp>
                    <MobSortPanelAp action="edit" oid="mobsortpanel">
                      <Name>排序项1</Name>
                    </MobSortPanelAp>
                    <MobFilterPanelAp action="edit" oid="mobfilterpanel">
                      <Index>1</Index>
                      <Name>过滤项1</Name>
                    </MobFilterPanelAp>
                    <MobFilterPanelAp>
                      <Id>500=BXXZVDHE</Id>
                      <Key>mobfilterpanelap1</Key>
                      <Index>2</Index>
                      <ParentId>mobfiltersort</ParentId>
                      <Name>过滤项2</Name>
                    </MobFilterPanelAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>500=BXV2FIII</Id>
              <BackColor>#E2E7EF</BackColor>
              <Name>发放记录导入</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>QnN8J2Zm</FPK>
                  <ClassName>500=BXV2FIII_QnN8J2Zm</ClassName>
                  <SourceNumber>${ISV_FLAG}_bouns_import</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>发放记录导入</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_bouns_import</Key>
              <MobMeta>
                <FormMetadata>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>8MpS7n4Q</FPK>
                          <ClassName>500=BXV2FIII_mob_8MpS7n4Q</ClassName>
                          <SourceNumber>${ISV_FLAG}_bouns_import_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>发放记录导入</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileBillFormAp>
                    <LayoutFlexAp>
                      <Id>500=BXXW8+=X</Id>
                      <Grow>0</Grow>
                      <Shrink>0</Shrink>
                      <Name>字段布局容器</Name>
                      <Key>layoutflexap</Key>
                      <ParentId>00305e8b000006ac</ParentId>
                    </LayoutFlexAp>
                    <MToolbarAp action="edit" oid="PbiHIUwCY6">
                      <Grow>0</Grow>
                      <Shrink>0</Shrink>
                      <TextStyle>0</TextStyle>
                    </MToolbarAp>
                    <LayoutFlexAp>
                      <Id>500=BXXW=1RY</Id>
                      <Grow>0</Grow>
                      <Shrink>0</Shrink>
                      <Index>1</Index>
                      <Name>字段布局容器</Name>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Top>10px</Top>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <Key>layoutflexap1</Key>
                      <ParentId>00305e8b000006ac</ParentId>
                    </LayoutFlexAp>
                    <FieldAp action="edit" oid="l0yky0Xm63">
                      <MobFieldPattern>1</MobFieldPattern>
                      <ParentId>500=BXXW8+=X</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Id>500=BXXW8+=Y</Id>
                      <FieldId>6q69iznvHX</FieldId>
                      <Index>1</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>单据状态</Name>
                      <Key>billstatus</Key>
                      <ParentId>500=BXXW8+=X</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Id>500=BXXW=1RZ</Id>
                      <FieldId>GnxpBjqGJ5</FieldId>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>审核人</Name>
                      <Key>auditor</Key>
                      <ParentId>500=BXXW=1RY</ParentId>
                    </FieldAp>
                    <FieldAp>
                      <Id>500=BXXW8+=Z</Id>
                      <FieldId>mGJPp5Qux7</FieldId>
                      <Index>1</Index>
                      <MobFieldPattern>1</MobFieldPattern>
                      <Name>创建人</Name>
                      <Key>creator</Key>
                      <ParentId>500=BXXW=1RY</ParentId>
                    </FieldAp>
                    <MBarItemAp action="edit" oid="5HPUfXVVek">
                      <Radius>4px</Radius>
                      <ForeColor>#212121</ForeColor>
                      <BackColor>#ffffff</BackColor>
                      <FontSize>14</FontSize>
                      <Style>
                        <Style>
                          <Border>
                            <Border>
                              <Top>0.5px_solid_#cccccc</Top>
                              <Left>0.5px_solid_#cccccc</Left>
                              <Bottom>0.5px_solid_#cccccc</Bottom>
                              <Right>0.5px_solid_#cccccc</Right>
                            </Border>
                          </Border>
                          <Margin>
                            <Margin>
                              <Left>6px</Left>
                              <Right>6px</Right>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                    </MBarItemAp>
                    <MBarItemAp>
                      <Id>500=BXXW=1S+</Id>
                      <Radius>4px</Radius>
                      <Index>1</Index>
                      <Name>提交</Name>
                      <FontSize>14</FontSize>
                      <Style>
                        <Style>
                          <Margin>
                            <Margin>
                              <Left>6px</Left>
                              <Right>6px</Right>
                            </Margin>
                          </Margin>
                        </Style>
                      </Style>
                      <OperationKey>submit</OperationKey>
                      <Key>bar_submit</Key>
                      <ParentId>PbiHIUwCY6</ParentId>
                    </MBarItemAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
                  <Name>发放记录导入</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <Name>发放记录导入</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>nGXymuGX</FPK>
                          <ClassName>500=BXV2FIII_list_nGXymuGX</ClassName>
                          <SourceNumber>${ISV_FLAG}_bouns_import_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>发放记录导入</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <FilterGridViewAp action="edit" oid="filtergridview">
                      <NewFilter>true</NewFilter>
                    </FilterGridViewAp>
                    <BarItemAp action="edit" oid="Zo8wOnyDY9">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="OvgxI5gWL2">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="B1FhKuPfdO">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="Kjzu8gL1hf">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0orqfYwYh3">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="zjVqWIBz78">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>EZg1ljHudf</Id>
                      <Index>6</Index>
                      <Name>新增</Name>
                      <OperationKey>new</OperationKey>
                      <Key>${ISV_FLAG}_baritemap</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A1rAK3E1tN">
                      <Index>7</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="L5KjoFATBJ">
                      <Index>8</Index>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>500=BXV2FIII</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>500=BXV2FIII</EntityId>
                    </BillListAp>
                    <DateListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>500CC/VHP7FM</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <DataType>datetime</DataType>
                      <Index>3</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createtime</ListFieldId>
                      <Name>创建时间</Name>
                    </DateListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>500CAKMZL4=K</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.number</ListFieldId>
                      <Name>创建人.工号</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <ColumnOrderAndFilter>1</ColumnOrderAndFilter>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>500CALKSJN0O</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>creator.name</ListFieldId>
                      <Name>创建人.姓名</Name>
                    </ListColumnAp>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
            <AdvConSummaryPanelAp>
              <Id>500=BXX7V1ZA</Id>
              <Name>高级面板摘要容器</Name>
              <Key>advconsummarypanelap</Key>
              <ParentId>500=BXX49R7U</ParentId>
            </AdvConSummaryPanelAp>
            <AdvConToolbarAp>
              <Id>500=BXX7X5EB</Id>
              <Index>1</Index>
              <Name>高级面板工具栏</Name>
              <Key>advcontoolbarap</Key>
              <ParentId>500=BXX49R7U</ParentId>
            </AdvConToolbarAp>
            <AdvConChildPanelAp>
              <Id>500=BXX7V1ZB</Id>
              <AlignItems>stretch</AlignItems>
              <Index>2</Index>
              <Name>高级面板子容器</Name>
              <Key>advconchildcanelap</Key>
              <Direction>column</Direction>
              <ParentId>500=BXX49R7U</ParentId>
              <Wrap>false</Wrap>
            </AdvConChildPanelAp>
            <EntryAp>
              <EntryId>500=BXXHSE+W</EntryId>
              <ShowSeq>true</ShowSeq>
              <Id>500=BXXHSE+W</Id>
              <Name>单据体</Name>
              <ShowSelChexkbox>true</ShowSelChexkbox>
              <PageType/>
              <Key>entryentity</Key>
              <ParentId>500=BXX7V1ZB</ParentId>
            </EntryAp>
            <AdvConBarItemAp>
              <Id>500=BXXAGH4U</Id>
              <Name>删行</Name>
              <OperationKey>deleteentry</OperationKey>
              <Key>tb_del</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>500=BXX7X5EB</ParentId>
            </AdvConBarItemAp>
            <AdvConBarItemAp>
              <Id>7iqiVpoDJb</Id>
              <Index>1</Index>
              <Name>导入</Name>
              <OperationKey>importentry</OperationKey>
              <Key>${ISV_FLAG}_importentry</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>500=BXX7X5EB</ParentId>
            </AdvConBarItemAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>X05VQ6Pz2q1gRNxMv6</Id>
              <FieldId>X05VQ6Pz2q1gRNxMv6</FieldId>
              <Key>${ISV_FLAG}_check_number</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>核定单号</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>p4yi4U31hWiozN4wkD</Id>
              <FieldId>p4yi4U31hWiozN4wkD</FieldId>
              <Index>1</Index>
              <Key>${ISV_FLAG}_payment_company</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放公司</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>5y3Ie195VHM4Q73FNb</Id>
              <FieldId>5y3Ie195VHM4Q73FNb</FieldId>
              <Index>2</Index>
              <Key>${ISV_FLAG}_salary_ccount_group</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>薪资核算组</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>h9rmkzFqhV8xnWmOmI</Id>
              <FieldId>h9rmkzFqhV8xnWmOmI</FieldId>
              <Index>3</Index>
              <Key>${ISV_FLAG}_pay_period</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放期间</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>6bi6s1Aj6y</Id>
              <FieldId>6bi6s1Aj6y</FieldId>
              <Index>4</Index>
              <Key>${ISV_FLAG}_person</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>姓名</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Id>0JUWa1QiTd</Id>
              <FieldId>0JUWa1QiTd</FieldId>
              <Index>5</Index>
              <Key>${ISV_FLAG}_person_number</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>工号</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>cCOXdkzHrf</Id>
              <FieldId>cCOXdkzHrf</FieldId>
              <Index>6</Index>
              <Key>${ISV_FLAG}_amount</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>分配总额</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,edit,new</Lock>
              <Id>j7S0iU1og9</Id>
              <FieldId>j7S0iU1og9</FieldId>
              <Index>7</Index>
              <Key>${ISV_FLAG}_current_amount</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>本次兑现金额</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>and7ManfjD</Id>
              <FieldId>and7ManfjD</FieldId>
              <Index>8</Index>
              <Key>${ISV_FLAG}_pay_way</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放方式</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>0MnvX5HA4G</Id>
              <FieldId>0MnvX5HA4G</FieldId>
              <Index>9</Index>
              <Key>${ISV_FLAG}_offset_remark</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>抵扣说明</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>tAgiHcfyHRi0p8HhAz</Id>
              <FieldId>tAgiHcfyHRi0p8HhAz</FieldId>
              <Index>10</Index>
              <Key>${ISV_FLAG}_bonus_payment_id</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放人员id</Name>
            </EntryFieldAp>
            <EntryFieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>vRWgrhA9iB3ffIYNuy</Id>
              <FieldId>vRWgrhA9iB3ffIYNuy</FieldId>
              <Index>11</Index>
              <Key>${ISV_FLAG}_bouns_record_number</Key>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放记录单号</Name>
            </EntryFieldAp>
            <BarItemAp action="edit" oid="kIVBPRmNap">
              <DropdownItems>
                <DropdownItem action="remove" oid="T2J/OT5SWU1"/>
              </DropdownItems>
            </BarItemAp>
            <BarItemAp action="edit" oid="52qm5tM3D3">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="rll2vYoF7P">
              <DropdownItems>
                <DropdownItem action="remove" oid="TKVTORJ=POA"/>
              </DropdownItems>
            </BarItemAp>
            <BarItemAp action="edit" oid="EhYF8uWHHu">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="Owaosp9pGa">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="h3UcTwsBYy">
              <Invisible>true</Invisible>
            </BarItemAp>
            <FlexPanelAp action="edit" oid="sb5ReliwR1">
              <BackColor/>
              <Style>
                <Style>
                  <Border>
                    <Border>
                      <Top>10px_solid_#E2E7EF</Top>
                      <Left>10px_solid_#E2E7EF</Left>
                      <Bottom>10px_solid_#E2E7EF</Bottom>
                      <Right>10px_solid_#E2E7EF</Right>
                    </Border>
                  </Border>
                </Style>
              </Style>
            </FlexPanelAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Lock>submit,audit,new,edit</Lock>
              <Id>s3EWH3N2KoxUcYyiiP</Id>
              <FieldId>s3EWH3N2KoxUcYyiiP</FieldId>
              <Index>3</Index>
              <Name>币种</Name>
              <Key>${ISV_FLAG}_currency</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp action="edit" oid="GnxpBjqGJ5">
              <Invisible>true</Invisible>
              <Index>4</Index>
            </FieldAp>
            <FieldsetPanelAp action="edit" oid="mqK0FWAH2I">
              <BackColor>#ffffff</BackColor>
            </FieldsetPanelAp>
            <FieldsetPanelAp action="edit" oid="xTQZ9d8tHa">
              <Invisible>true</Invisible>
              <Hidden action="reset"/>
            </FieldsetPanelAp>
            <AdvConAp>
              <Collapsible>true</Collapsible>
              <Id>500=BXX49R7U</Id>
              <Grow>0</Grow>
              <Shrink>0</Shrink>
              <Index>2</Index>
              <BackColor>#ffffff</BackColor>
              <Name>分录</Name>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>10px</Top>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
              <Key>advconap</Key>
              <ParentId>sb5ReliwR1</ParentId>
            </AdvConAp>
            <AttachmentPanelAp action="edit" oid="rrz4n5821A">
              <Invisible>true</Invisible>
              <Index>3</Index>
              <BackColor>#ffffff</BackColor>
              <Style>
                <Style>
                  <Margin>
                    <Margin>
                      <Top>10px</Top>
                    </Margin>
                  </Margin>
                </Style>
              </Style>
            </AttachmentPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359873934389675008</ModifierId>
      <EntityId>500=BXV2FIII</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767166871688</Version>
      <ParentId>00305e8b000006ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_bouns_import</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <IsvSign></IsvSign>
      <Id>500=BXV2FIII</Id>
      <InheritPath>00305e8b000006ac</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1767166871742</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>500=BXV2FIII</Id>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>00305e8b000006ac</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <IsvSign/>
          <Name>发放记录导入</Name>
          <InheritPath>00305e8b000006ac</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <Template action="reset"/>
              <dbRoute>swc</dbRoute>
              <TableName>tk_tdkw_bouns_import</TableName>
              <Operations>
                <Operation action="edit" oid="c91d5125000035ac">
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_bouns_import.operation.BounsImportOperation</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>生成发放记录</Description>
                    </Plugin>
                  </Plugins>
                  <Parameter>
                    <AuditParameter>
                      <CommentFieldId>X05VQ6Pz2q1gRNxMv6</CommentFieldId>
                    </AuditParameter>
                  </Parameter>
                </Operation>
                <Operation>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>500=BXXHSE+W</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>新增分录</Name>
                  <OperationType>newentry</OperationType>
                  <Id>500=BXXP+4XW</Id>
                  <Key>newentry</Key>
                </Operation>
                <Operation>
                  <Parameter>
                    <EntryOpParameter>
                      <EntryId>500=BXXHSE+W</EntryId>
                    </EntryOpParameter>
                  </Parameter>
                  <Name>删除分录</Name>
                  <OperationType>deleteentry</OperationType>
                  <Id>500=BXXSNNKE</Id>
                  <Key>deleteentry</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Parameter>
                    <CustOperationParameter>
                      <Parameter>{"firePlugin":false}</Parameter>
                    </CustOperationParameter>
                  </Parameter>
                  <Name>单据体导入</Name>
                  <OperationType>importentry</OperationType>
                  <Id>500A5==NJPC6</Id>
                  <SuccessMsg/>
                  <Key>importentry</Key>
                </Operation>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <Id>500=BXV2FIII</Id>
              <Key>${ISV_FLAG}_bouns_import</Key>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
              <Name>发放记录导入</Name>
            </BillEntity>
            <EntryEntity>
              <DefaultRows>0</DefaultRows>
              <TableName>tk_tdkw_bouns_import_entr</TableName>
              <Id>500=BXXHSE+W</Id>
              <Key>entryentity</Key>
              <Name>单据体</Name>
            </EntryEntity>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>X05VQ6Pz2q1gRNxMv6</Id>
              <Name>核定单号</Name>
              <MaxLength>100</MaxLength>
              <FieldName>fk_tdkw_check_number</FieldName>
              <Key>${ISV_FLAG}_check_number</Key>
              <MustInput>true</MustInput>
              <ParentId>500=BXXHSE+W</ParentId>
            </TextField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>6bi6s1Aj6y</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>姓名</Name>
              <FieldName>fk_tdkw_person</FieldName>
              <Key>${ISV_FLAG}_person</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <ParentId>500=BXXHSE+W</ParentId>
              <BaseEntityId>/IR5TB9YFR5S</BaseEntityId>
            </BasedataField>
            <BasedataPropField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>0JUWa1QiTd</Id>
              <Key>${ISV_FLAG}_person_number</Key>
              <RefDisplayProp>number</RefDisplayProp>
              <ParentId>500=BXXHSE+W</ParentId>
              <RefBaseFieldId>6bi6s1Aj6y</RefBaseFieldId>
              <Name>工号</Name>
            </BasedataPropField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>cCOXdkzHrf</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>分配总额</Name>
              <FieldName>fk_tdkw_amount</FieldName>
              <CurrencyFieldId>s3EWH3N2KoxUcYyiiP</CurrencyFieldId>
              <AmountPrecisionType>1</AmountPrecisionType>
              <Key>${ISV_FLAG}_amount</Key>
              <MustInput>true</MustInput>
              <ParentId>500=BXXHSE+W</ParentId>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>j7S0iU1og9</Id>
              <DefValue>0</DefValue>
              <Name>本次兑现金额</Name>
              <FieldName>fk_tdkw_current_amount</FieldName>
              <EmptyText/>
              <CurrencyFieldId>s3EWH3N2KoxUcYyiiP</CurrencyFieldId>
              <AmountPrecisionType>1</AmountPrecisionType>
              <Key>${ISV_FLAG}_current_amount</Key>
              <MustInput>true</MustInput>
              <DataScope/>
              <ParentId>500=BXXHSE+W</ParentId>
            </AmountField>
            <ComboField>
              <FieldName>fk_tdkw_pay_way</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>and7ManfjD</Id>
              <Key>${ISV_FLAG}_pay_way</Key>
              <MustInput>true</MustInput>
              <DefValue>A</DefValue>
              <ParentId>500=BXXHSE+W</ParentId>
              <Name>发放方式</Name>
              <Items>
                <ComboItem>
                  <Caption>工资发放</Caption>
                  <Value>A</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>抵扣发放</Caption>
                  <Value>B</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>0MnvX5HA4G</Id>
              <DefValue>工资发放</DefValue>
              <Name>抵扣说明</Name>
              <FieldName>fk_tdkw_offset_remark</FieldName>
              <EmptyText/>
              <Key>${ISV_FLAG}_offset_remark</Key>
              <MustInput>true</MustInput>
              <ParentId>500=BXXHSE+W</ParentId>
            </TextField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>5y3Ie195VHM4Q73FNb</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>薪资核算组</Name>
              <FieldName>fk_tdkw_salary_ccount_gro</FieldName>
              <Key>${ISV_FLAG}_salary_ccount_group</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <ParentId>500=BXXHSE+W</ParentId>
              <BaseEntityId>00LQ4ZZP8A1Q</BaseEntityId>
            </BasedataField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>h9rmkzFqhV8xnWmOmI</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>发放期间</Name>
              <FieldName>fk_tdkw_pay_period</FieldName>
              <Key>${ISV_FLAG}_pay_period</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <ParentId>500=BXXHSE+W</ParentId>
              <BaseEntityId>2AQGAMP7LSM0</BaseEntityId>
            </BasedataField>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>tAgiHcfyHRi0p8HhAz</Id>
              <DefValue>0</DefValue>
              <Name>发放人员id</Name>
              <FieldName>fk_tdkw_bigintfield</FieldName>
              <Key>${ISV_FLAG}_bonus_payment_id</Key>
              <MustInput>true</MustInput>
              <ParentId>500=BXXHSE+W</ParentId>
            </BigIntField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>vRWgrhA9iB3ffIYNuy</Id>
              <Name>发放记录单号</Name>
              <MaxLength>100</MaxLength>
              <FieldName>fk_tdkw_bouns_record_numb</FieldName>
              <Key>${ISV_FLAG}_bouns_record_number</Key>
              <ParentId>500=BXXHSE+W</ParentId>
            </TextField>
            <CurrencyField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>s3EWH3N2KoxUcYyiiP</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>币种</Name>
              <FieldName>fk_tdkw_currency</FieldName>
              <RefProps>
                <RefProp>
                  <Name>amtprecision</Name>
                </RefProp>
                <RefProp>
                  <Name>priceprecision</Name>
                </RefProp>
                <RefProp>
                  <Name>sign</Name>
                </RefProp>
                <RefProp>
                  <Name>isshowsign</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_currency</Key>
              <MustInput>true</MustInput>
              <DefValueDesign>
                <DefValueDesign>
                  <FuncParameter>{"number":"CNY","name":"人民币","id":"1"}</FuncParameter>
                  <FuncType>getBasedata</FuncType>
                </DefValueDesign>
              </DefValueDesign>
            </CurrencyField>
            <HRAdminOrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>p4yi4U31hWiozN4wkD</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>发放公司</Name>
              <returnType>boid</returnType>
              <FieldName>fk_tdkw_payment_company</FieldName>
              <showStyle>1</showStyle>
              <queryDate>0</queryDate>
              <RefProps>
                <RefProp>
                  <Name>adminorgtype.id</Name>
                </RefProp>
                <RefProp>
                  <Name>org.id</Name>
                </RefProp>
                <RefProp>
                  <Name>org.number</Name>
                </RefProp>
                <RefProp>
                  <Name>org.name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_payment_company</Key>
              <adminClassify>1010</adminClassify>
              <MustInput>true</MustInput>
              <ParentId>500=BXXHSE+W</ParentId>
              <BaseEntityId>550K+6V39ZBW</BaseEntityId>
            </HRAdminOrgField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767166871742</Version>
      <ParentId>00305e8b000006ac</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_bouns_import</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <Id>500=BXV2FIII</Id>
      <InheritPath>00305e8b000006ac</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1767166871688</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>41/MG8C96JK/</BizunitId>
</DeployMetadata>
