<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4VTK84X/7QXP</MasterId>
  <Id>4VTK84X/7QXP</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_bouns_agent_approve</Number>
      <PkId>5GLCPZ21KR/4</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金代发</Name>
      <Id>4VTK84X/7QXP</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_bouns_agent_approve</Number>
      <PkId>5GLCPZ6TM222</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金代发</Name>
      <Id>4VTK84X/7QXP</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767167532379</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
