<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4X19+ACC58JL</MasterId>
  <Id>4X19+ACC58JL</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_department_funds</Number>
      <PkId>5GL4EYPHEWA3</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>部门经费</Name>
      <Id>4X19+ACC58JL</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_department_funds</Number>
      <PkId>5GL4EYU17D/0</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>部门经费</Name>
      <Id>4X19+ACC58JL</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1767161610192</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
