<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4X19+ACC58JL</MasterId>
  <BizappId>4/2KFOT28OWS</BizappId>
  <Id>4X19+ACC58JL</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1767161610192</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>4X19+ACC58JL</Id>
          <Key>${ISV_FLAG}_department_funds</Key>
          <EntityId>4X19+ACC58JL</EntityId>
          <ParentId>0AXRWIGCJ+ID</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <IsvSign/>
          <Name>部门经费</Name>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID</InheritPath>
          <Items>
            <BillFormAp action="edit" oid="00305e8b000005ac">
              <MobListMeta>
                <FormMetadata>
                  <Items>
                    <MobileListFormAp action="edit" oid="b1fbc6f8000008ac">
                      <JsPlugins>
                        <Plugin>
                          <FPK>CeYzDS8F</FPK>
                          <ClassName>4X19+ACC58JL_moblist_CeYzDS8F</ClassName>
                          <SourceNumber>${ISV_FLAG}_department_funds_moblist</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>部门经费</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </MobileListFormAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>4X19+ACC58JL</EntityId>
                    </BillListAp>
                  </Items>
                </FormMetadata>
              </MobListMeta>
              <Id>4X19+ACC58JL</Id>
              <EnableExtendProperty action="reset"/>
              <Name>部门经费</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>MhL1fhsQ</FPK>
                  <ClassName>4X19+ACC58JL_MhL1fhsQ</ClassName>
                  <SourceNumber>${ISV_FLAG}_department_funds</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>部门经费</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_department_funds</Key>
              <MobMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <Id>4X19+ACC58JL</Id>
                  <Key>${ISV_FLAG}_department_funds_mob</Key>
                  <EntityId>4X19+ACC58JL</EntityId>
                  <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
                  <SrcBizObjId/>
                  <Items>
                    <MobileBillFormAp action="edit" oid="c11cd0e8000008ac">
                      <Id>4X19+ACC58JL</Id>
                      <JsPlugins>
                        <Plugin>
                          <FPK>ql1RJZyn</FPK>
                          <ClassName>4X19+ACC58JL_mob_ql1RJZyn</ClassName>
                          <SourceNumber>${ISV_FLAG}_department_funds_mob</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>部门经费</SourceName>
                        </Plugin>
                      </JsPlugins>
                      <Key>${ISV_FLAG}_department_funds_mob</Key>
                    </MobileBillFormAp>
                    <FieldAp action="edit" oid="l0yky0Xm63">
                      <ParentId>4X19+ACC58JL</ParentId>
                    </FieldAp>
                    <MToolbarAp action="edit" oid="PbiHIUwCY6">
                      <ParentId>4X19+ACC58JL</ParentId>
                    </MToolbarAp>
                  </Items>
                </FormMetadata>
              </MobMeta>
              <ListMeta>
                <FormMetadata>
                  <Isv>tdkw</Isv>
                  <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
                  <Name>部门经费</Name>
                  <Items>
                    <FormAp action="edit" oid="b5994054000008ac">
                      <Plugins>
                        <Plugin>
                          <FPK/>
                          <ClassName>${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_department_funds.DepartmentFundsListPlugin</ClassName>
                          <Enabled>true</Enabled>
                          <BizAppId/>
                          <Description>部门经费列表相关插件</Description>
                          <RowKey>3</RowKey>
                        </Plugin>
                      </Plugins>
                      <Name>部门经费</Name>
                      <JsPlugins>
                        <Plugin>
                          <FPK>45sHeTLC</FPK>
                          <ClassName>4X19+ACC58JL_list_45sHeTLC</ClassName>
                          <SourceNumber>${ISV_FLAG}_department_funds_list</SourceNumber>
                          <Enabled>true</Enabled>
                          <SourceName>部门经费</SourceName>
                        </Plugin>
                      </JsPlugins>
                    </FormAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NBN//H=SB</Id>
                      <Key>${ISV_FLAG}_listcolumnap</Key>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>billno</ListFieldId>
                      <Name>编号</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NETAM37X+</Id>
                      <Key>${ISV_FLAG}_listcolumnap2</Key>
                      <Order>NotOrder</Order>
                      <Index>1</Index>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>org.name</ListFieldId>
                      <Name>奖金管理组织</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NFJR7558J</Id>
                      <Key>${ISV_FLAG}_listcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Index>2</Index>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>${ISV_FLAG}_keep_company.name</ListFieldId>
                      <Name>公司</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NG=FBSS5A</Id>
                      <Key>${ISV_FLAG}_listcolumnap3</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>${ISV_FLAG}_admin_org_keep.name</ListFieldId>
                      <Name>部门</Name>
                    </ListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NGXR0ZCZ1</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <DataType>date</DataType>
                      <Index>4</Index>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>${ISV_FLAG}_belong_period</ListFieldId>
                      <DisplayFormatString>yyyy-MM</DisplayFormatString>
                      <Name>归属周期</Name>
                    </DateListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1NHQT6FYWN</Id>
                      <Key>${ISV_FLAG}_listcolumnap4</Key>
                      <Order>NotOrder</Order>
                      <Index>5</Index>
                      <ParentId>4X1N=WGTWL=4</ParentId>
                      <ListFieldId>${ISV_FLAG}_undertake_org.name</ListFieldId>
                      <Name>承担组织</Name>
                    </ListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1O58ORUTHM</Id>
                      <Order>NotOrder</Order>
                      <DataType>amount</DataType>
                      <ZeroShow>true</ZeroShow>
                      <Name>部门经费总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap</Key>
                      <ParentId>4X1NJ7+D1RVC</ParentId>
                      <ListFieldId>${ISV_FLAG}_dept_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1O5I+ED2R3</Id>
                      <Order>NotOrder</Order>
                      <DataType>amount</DataType>
                      <Index>1</Index>
                      <ZeroShow>true</ZeroShow>
                      <Name>已用总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap1</Key>
                      <ParentId>4X1NJ7+D1RVC</ParentId>
                      <ListFieldId>${ISV_FLAG}_used_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1OL3C=+YA+</Id>
                      <Order>NotOrder</Order>
                      <DataType>amount</DataType>
                      <Index>2</Index>
                      <ZeroShow>true</ZeroShow>
                      <Name>剩余可用总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap2</Key>
                      <ParentId>4X1NJ7+D1RVC</ParentId>
                      <ListFieldId>${ISV_FLAG}_surplus_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1OOZRX/N=H</Id>
                      <Order>NotOrder</Order>
                      <DataType>amount</DataType>
                      <ZeroShow>true</ZeroShow>
                      <Name>财务已用金额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap5</Key>
                      <ParentId>4X1OMW6RGBM6</ParentId>
                      <ListFieldId>${ISV_FLAG}_finance_use_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1OPQ5CLKRD</Id>
                      <Order>NotOrder</Order>
                      <DataType>amount</DataType>
                      <Index>1</Index>
                      <ZeroShow>true</ZeroShow>
                      <Name>财务未用总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap6</Key>
                      <ParentId>4X1OMW6RGBM6</ParentId>
                      <ListFieldId>${ISV_FLAG}_finance_unuse_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1OUXZZAVPZ</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap</Key>
                      <Order>NotOrder</Order>
                      <ParentId>4X1OS+FERZDV</ParentId>
                      <ListFieldId>${ISV_FLAG}_source_bill_type</ListFieldId>
                      <Name>来源类型</Name>
                    </ComboListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1OVF8M6V4S</Id>
                      <Key>${ISV_FLAG}_listcolumnap6</Key>
                      <Order>NotOrder</Order>
                      <Index>1</Index>
                      <ParentId>4X1OS+FERZDV</ParentId>
                      <ListFieldId>${ISV_FLAG}_bonus_item.name</ListFieldId>
                      <Name>薪资科目</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1OW4N2GV+Z</Id>
                      <Key>${ISV_FLAG}_listcolumnap7</Key>
                      <Order>NotOrder</Order>
                      <Index>2</Index>
                      <ParentId>4X1OS+FERZDV</ParentId>
                      <ListFieldId>${ISV_FLAG}_source_billno</ListFieldId>
                      <Name>来源单号</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4XP8RQT0L5BV</Id>
                      <Key>${ISV_FLAG}_listcolumnap5</Key>
                      <Order>NotOrder</Order>
                      <Index>3</Index>
                      <ParentId>4X1OS+FERZDV</ParentId>
                      <ListFieldId>${ISV_FLAG}_dept_person.person.name</ListFieldId>
                      <Name>来源单处理人</Name>
                    </ListColumnAp>
                    <ListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4X1P0JCSVMHF</Id>
                      <Key>${ISV_FLAG}_listcolumnap8</Key>
                      <Order>NotOrder</Order>
                      <Index>4</Index>
                      <ParentId>4X1OS+FERZDV</ParentId>
                      <ListFieldId>${ISV_FLAG}_remark_dept</ListFieldId>
                      <Name>备注</Name>
                    </ListColumnAp>
                    <BarItemAp action="edit" oid="Zo8wOnyDY9">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="OvgxI5gWL2">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="B1FhKuPfdO">
                      <Invisible>true</Invisible>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="gxRNFn79VB">
                      <Invisible>true</Invisible>
                      <Index>3</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="Kjzu8gL1hf">
                      <Invisible>true</Invisible>
                      <Index>4</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="N7i5jyh55R">
                      <Invisible>true</Invisible>
                      <Index>5</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="0orqfYwYh3">
                      <Invisible>true</Invisible>
                      <Index>6</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="zjVqWIBz78">
                      <Invisible>true</Invisible>
                      <Index>7</Index>
                      <Name>更新已用金额</Name>
                      <DropdownItems>
                        <DropdownItem action="edit" oid="/VN+UJIQ3ZYN">
                          <Index>1</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="/VN+UJIQ4F3I">
                          <Index>2</Index>
                        </DropdownItem>
                        <DropdownItem action="edit" oid="/VN+UJIQ3ZYM">
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>3</Index>
                        </DropdownItem>
                        <DropdownItem action="remove" oid="/VN+UJIQ3ZYL"/>
                        <DropdownItem action="remove" oid="/VN+UJIQ4F3J"/>
                        <DropdownItem action="remove" oid="0H1SAJMK4VW0"/>
                        <DropdownItem action="remove" oid="1U=SYGKEBG6F"/>
                        <DropdownItem action="remove" oid="36NQJQP9LP/E"/>
                        <DropdownItem action="remove" oid="36NQJQP9ML/R"/>
                        <DropdownItem action="remove" oid="36NQJQP9LP/F"/>
                        <DropdownItem action="remove" oid="36NQJQP9ML/S"/>
                        <DropdownItem action="remove" oid="36NQJQP9LP/G"/>
                        <DropdownItem action="remove" oid="36NQJQP9ML/T"/>
                      </DropdownItems>
                    </BarItemAp>
                    <BarItemAp>
                      <Invisible>true</Invisible>
                      <Id>cYT8m57c9Y</Id>
                      <Index>8</Index>
                      <Name>提交财务</Name>
                      <DropdownItems>
                        <DropdownItem>
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>1</Index>
                          <Title>取回</Title>
                          <OperationKey>donothing_get_back</OperationKey>
                          <SubTitle/>
                          <Background/>
                          <IsSwitch>true</IsSwitch>
                          <Lock>,,</Lock>
                          <Id>4X1MXY5NNXQW</Id>
                          <Key>${ISV_FLAG}_donothing_get_back</Key>
                        </DropdownItem>
                        <DropdownItem>
                          <Visible>,init,new,edit,view,submit,audit,</Visible>
                          <Index>2</Index>
                          <Title>查看详情</Title>
                          <OperationKey>donothing_check_detail</OperationKey>
                          <SubTitle/>
                          <Background/>
                          <IsSwitch>true</IsSwitch>
                          <Lock>,,</Lock>
                          <Id>4X1MXY5NLUZ3</Id>
                          <Key>${ISV_FLAG}_donothing_check_detail</Key>
                        </DropdownItem>
                      </DropdownItems>
                      <OperationKey>donothing_sub_finance</OperationKey>
                      <Key>${ISV_FLAG}_donothing_sub_financ</Key>
                      <CtlTips>
                        <Tips>
                          <Title/>
                          <Type>text</Type>
                          <Content>【提交财务】将剩余可用金额提交至财务系统 【取回】将财务未用金额取回可供再分配</Content>
                          <TriggerType>hover</TriggerType>
                        </Tips>
                      </CtlTips>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="2zOlG2tiuq">
                      <Invisible>true</Invisible>
                      <Index>9</Index>
                    </BarItemAp>
                    <BarItemAp>
                      <Invisible>true</Invisible>
                      <Id>q2MJvViUg9</Id>
                      <Index>10</Index>
                      <Name>再分配</Name>
                      <OperationKey>donothing_redistribut</OperationKey>
                      <Key>${ISV_FLAG}_donothing_redistribu</Key>
                      <CtlTips>
                        <Tips>
                          <Title/>
                          <Type>text</Type>
                          <Content>生成分配单，将剩余可用金额分配到人员/组织</Content>
                          <TriggerType>hover</TriggerType>
                        </Tips>
                      </CtlTips>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp>
                      <Id>BNZauAngqS</Id>
                      <Index>11</Index>
                      <Name>导出台账</Name>
                      <OperationKey>exportlistbyselectfields</OperationKey>
                      <Key>${ISV_FLAG}_exportlistbyselectfi</Key>
                      <OperationStyle>0</OperationStyle>
                      <ParentId>_toolbar_</ParentId>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="A1rAK3E1tN">
                      <Index>12</Index>
                    </BarItemAp>
                    <BarItemAp action="edit" oid="L5KjoFATBJ">
                      <Invisible>true</Invisible>
                      <Index>13</Index>
                    </BarItemAp>
                    <FilterContainerAp action="edit" oid="_FilterContainer_">
                      <EntityId>4X19+ACC58JL</EntityId>
                    </FilterContainerAp>
                    <BillListAp action="edit" oid="_BillList_">
                      <EntityId>4X19+ACC58JL</EntityId>
                    </BillListAp>
                    <CommonFilterColumnAp action="edit" oid="8664eb74000088ac">
                      <Index action="reset"/>
                      <Name>奖金管理组织</Name>
                    </CommonFilterColumnAp>
                    <CommonBaseDataFilterColumnAp>
                      <Type>text</Type>
                      <Id>4X1P6F71BF7V</Id>
                      <Index>1</Index>
                      <Name>行政组织</Name>
                      <FieldName>${ISV_FLAG}_keep_company.name</FieldName>
                      <Key>${ISV_FLAG}_commonbasedatafilter</Key>
                      <ParentId>filtergridview</ParentId>
                      <BaseEntityId>4S6B8I6U+EBN</BaseEntityId>
                    </CommonBaseDataFilterColumnAp>
                    <CommonDateFilterColumnAp>
                      <Type>date</Type>
                      <Multi>false</Multi>
                      <Id>4X1P76WZYEPK</Id>
                      <Index>2</Index>
                      <Name>归属周期</Name>
                      <FieldName>${ISV_FLAG}_belong_period</FieldName>
                      <Key>${ISV_FLAG}_commondatefiltercolu</Key>
                      <Custom>true</Custom>
                      <ParentId>filtergridview</ParentId>
                    </CommonDateFilterColumnAp>
                    <CommonFilterColumnAp>
                      <Type>enum</Type>
                      <Id>4XRTLNVAFG5E</Id>
                      <Index>3</Index>
                      <DefValue>0</DefValue>
                      <Name>可用金额为0</Name>
                      <FieldName>${ISV_FLAG}_is_zero</FieldName>
                      <Key>${ISV_FLAG}_commonfiltercolumnap</Key>
                      <ComboItems>
                        <ComboItem>
                          <Caption>否</Caption>
                          <Value>0</Value>
                        </ComboItem>
                        <ComboItem>
                          <Caption>是</Caption>
                          <Value>1</Value>
                          <Seq>1</Seq>
                        </ComboItem>
                      </ComboItems>
                      <ParentId>filtergridview</ParentId>
                    </CommonFilterColumnAp>
                    <ListColumnGroupAp>
                      <Id>4X1N=WGTWL=4</Id>
                      <Key>${ISV_FLAG}_listcolumngroupap</Key>
                      <Index>1</Index>
                      <ParentId>gridview</ParentId>
                      <Name>基础信息</Name>
                    </ListColumnGroupAp>
                    <ListColumnGroupAp>
                      <Id>4X1NJ7+D1RVC</Id>
                      <Key>${ISV_FLAG}_listcolumngroupap1</Key>
                      <Index>2</Index>
                      <ParentId>gridview</ParentId>
                      <Name>部门经费使用概览</Name>
                    </ListColumnGroupAp>
                    <DecimalListColumnAp>
                      <Id>4X1OM47N3PXM</Id>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <DataType>amount</DataType>
                      <Index>3</Index>
                      <ZeroShow>true</ZeroShow>
                      <Name>再分配总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap3</Key>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_redistribut_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <DecimalListColumnAp>
                      <Id>4X1OMCKYNB=4</Id>
                      <Order>NotOrder</Order>
                      <Hyperlink>true</Hyperlink>
                      <DataType>amount</DataType>
                      <Index>4</Index>
                      <ZeroShow>true</ZeroShow>
                      <Name>提交财务总额</Name>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Key>${ISV_FLAG}_decimallistcolumnap4</Key>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_sub_finance_amount</ListFieldId>
                    </DecimalListColumnAp>
                    <ListColumnGroupAp>
                      <Id>4X1OMW6RGBM6</Id>
                      <Key>${ISV_FLAG}_listcolumngroupap2</Key>
                      <Index>5</Index>
                      <ParentId>gridview</ParentId>
                      <Name>财务使用情况</Name>
                    </ListColumnGroupAp>
                    <ListColumnGroupAp>
                      <Id>4X1OS+FERZDV</Id>
                      <Key>${ISV_FLAG}_listcolumngroupap3</Key>
                      <Index>6</Index>
                      <ParentId>gridview</ParentId>
                      <Name>来源单信息</Name>
                    </ListColumnGroupAp>
                    <ComboListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4XRTNAL8HP1R</Id>
                      <Key>${ISV_FLAG}_combolistcolumnap1</Key>
                      <Order>NotOrder</Order>
                      <Visible/>
                      <Index>7</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>${ISV_FLAG}_is_zero</ListFieldId>
                      <Name>可用金额为0</Name>
                    </ComboListColumnAp>
                    <DateListColumnAp>
                      <SeqColumnType>NotSeq</SeqColumnType>
                      <Id>4XRTOPJ9MZB9</Id>
                      <Key>${ISV_FLAG}_datelistcolumnap1</Key>
                      <Order>DESC</Order>
                      <DataType>datetime</DataType>
                      <Index>8</Index>
                      <ParentId>gridview</ParentId>
                      <ListFieldId>createtime</ListFieldId>
                      <Name>创建时间</Name>
                    </DateListColumnAp>
                    <SchemeFilterColumnAp>
                      <Id>4X1P76XTK4RY</Id>
                      <Index>2</Index>
                      <Name>归属期间</Name>
                      <FieldName>${ISV_FLAG}_belong_period</FieldName>
                      <Key>${ISV_FLAG}_schemefiltercolumnap</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0H1I8AARU0S4">
                      <Index>3</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0c354733000029ac">
                      <Index>4</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0H1I8BKZ+S0P">
                      <Index>5</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="3c48f498000004ac">
                      <Index>6</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="3c48f498000005ac">
                      <Index>7</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0c35473300002aac">
                      <Index>8</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="3c48f498000007ac">
                      <Index>9</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="3c48f498000008ac">
                      <Index>10</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0c354733000089ac">
                      <Index>11</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0c35473300008aac">
                      <Index>12</Index>
                    </SchemeFilterColumnAp>
                    <SchemeFilterColumnAp action="edit" oid="0c35473300008bac">
                      <Index>13</Index>
                    </SchemeFilterColumnAp>
                    <SchemeBaseDataFilterColumnAp>
                      <Id>4X1P6F7B7O44</Id>
                      <Index>14</Index>
                      <Name>公司.行政组织名称</Name>
                      <FieldName>${ISV_FLAG}_keep_company.name</FieldName>
                      <Key>${ISV_FLAG}_schemebasedatafilter</Key>
                      <ParentId>schemefilterview</ParentId>
                      <BaseEntityId>4S6B8I6U+EBN</BaseEntityId>
                    </SchemeBaseDataFilterColumnAp>
                    <SchemeComboFilterColumnAp>
                      <Id>4XRTLNVAHJMF</Id>
                      <Index>15</Index>
                      <Name>剩余可用总额是否为0</Name>
                      <FieldName>${ISV_FLAG}_is_zero</FieldName>
                      <Key>${ISV_FLAG}_schemecombofiltercol</Key>
                      <ParentId>schemefilterview</ParentId>
                    </SchemeComboFilterColumnAp>
                    <CommonDateFilterColumnAp action="remove" oid="3c48f498000000ac"/>
                    <CommonFilterColumnAp action="remove" oid="2KZ74NQVZKB4"/>
                    <ListColumnAp action="remove" oid="b5994054000011ac"/>
                    <ListColumnAp action="remove" oid="0H+2R=669++S"/>
                    <ComboListColumnAp action="remove" oid="2KZ74DSI0BPV"/>
                  </Items>
                </FormMetadata>
              </ListMeta>
            </BillFormAp>
            <BarItemAp action="edit" oid="kIVBPRmNap">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="KTGVz6Bi1k">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="LTouS4Ri1Q">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="52qm5tM3D3">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="lgThqDlzuX">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="rll2vYoF7P">
              <Invisible>true</Invisible>
              <Name>查看流程图</Name>
              <OperationKey>viewflowchart</OperationKey>
            </BarItemAp>
            <BarItemAp action="edit" oid="EhYF8uWHHu">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="CRG5EDlZ21">
              <Invisible>true</Invisible>
            </BarItemAp>
            <BarItemAp action="edit" oid="Owaosp9pGa">
              <Invisible>true</Invisible>
              <Index>8</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="h3UcTwsBYy">
              <Invisible>true</Invisible>
              <Index>9</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="x2SE69SwmS">
              <Invisible>true</Invisible>
              <Index>10</Index>
            </BarItemAp>
            <BarItemAp>
              <Id>UOkg2usXAH</Id>
              <Index>11</Index>
              <Name>刷新</Name>
              <OperationKey>refresh</OperationKey>
              <Key>${ISV_FLAG}_baritemap</Key>
              <OperationStyle>0</OperationStyle>
              <ParentId>KEFmJcZ1zW</ParentId>
            </BarItemAp>
            <BarItemAp action="edit" oid="2upoJDmCuR">
              <Invisible>true</Invisible>
              <Index>12</Index>
            </BarItemAp>
            <BarItemAp action="edit" oid="D82caHpEvG">
              <Index>13</Index>
            </BarItemAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>W7Ppp3pRCm</Id>
              <FieldId>W7Ppp3pRCm</FieldId>
              <Name>任职编码</Name>
              <Key>${ISV_FLAG}_dept_person</Key>
              <ParentId>Wti7dOWILJ</ParentId>
              <QuickAddNew>false</QuickAddNew>
            </FieldAp>
            <FieldAp>
              <Id>5brFpQD9iT</Id>
              <FieldId>5brFpQD9iT</FieldId>
              <Index>1</Index>
              <Name>姓名</Name>
              <Key>${ISV_FLAG}_creater_name</Key>
              <ParentId>Wti7dOWILJ</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>ZfXTxiz54E</Id>
              <FieldId>ZfXTxiz54E</FieldId>
              <Index>2</Index>
              <Name>工号</Name>
              <Key>${ISV_FLAG}_creater_number</Key>
              <ParentId>Wti7dOWILJ</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>submit,audit,new,edit</Lock>
              <Id>Klbo6RAnV2jbd9S1hT</Id>
              <FieldId>Klbo6RAnV2jbd9S1hT</FieldId>
              <Index>3</Index>
              <Name>创建人所在公司</Name>
              <Key>${ISV_FLAG}_attribut_company</Key>
              <ParentId>Wti7dOWILJ</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>r2DaikzhVecy5YS2M6</Id>
              <FieldId>r2DaikzhVecy5YS2M6</FieldId>
              <Index>4</Index>
              <Name>创建人所在部门</Name>
              <Key>${ISV_FLAG}_attribut_dept</Key>
              <ParentId>Wti7dOWILJ</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>TpWXfRO1SL</Id>
              <FieldId>TpWXfRO1SL</FieldId>
              <Index>5</Index>
              <Name>创建人所在岗位</Name>
              <Key>${ISV_FLAG}_attribut_post</Key>
              <ParentId>Wti7dOWILJ</ParentId>
              <QuickAddNew>false</QuickAddNew>
            </FieldAp>
            <FieldAp action="edit" oid="MwLyMGIJQa">
              <Index action="reset"/>
              <Name>奖金管理组织</Name>
            </FieldAp>
            <FieldAp action="edit" oid="bdJvQ9RWla">
              <Lock>submit,audit,new,edit</Lock>
              <Index>1</Index>
            </FieldAp>
            <FieldAp action="edit" oid="6q69iznvHX">
              <Index>2</Index>
            </FieldAp>
            <FieldAp action="edit" oid="GnxpBjqGJ5">
              <Invisible>true</Invisible>
            </FieldAp>
            <FieldAp action="edit" oid="mGJPp5Qux7">
              <Invisible>true</Invisible>
              <Index>4</Index>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>htZE45PDoUEaoXO1QP</Id>
              <FieldId>htZE45PDoUEaoXO1QP</FieldId>
              <Index>5</Index>
              <Name>公司</Name>
              <Key>${ISV_FLAG}_keep_company</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>KT0Aoi4zFq</Id>
              <FieldId>KT0Aoi4zFq</FieldId>
              <Index>6</Index>
              <Name>部门</Name>
              <Key>${ISV_FLAG}_admin_org_keep</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>JRf8pgEbZM</Id>
              <FieldId>JRf8pgEbZM</FieldId>
              <Index>7</Index>
              <Name>承担组织</Name>
              <Key>${ISV_FLAG}_undertake_org</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>UGcN5u0TSU</Id>
              <FieldId>UGcN5u0TSU</FieldId>
              <AdvFormatString>yyyy-MM</AdvFormatString>
              <Index>8</Index>
              <Name>归属周期</Name>
              <Key>${ISV_FLAG}_belong_period</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <FireUpdEvt>true</FireUpdEvt>
              <Lock>new,edit,submit,audit</Lock>
              <Id>lbfThW3UXo</Id>
              <FieldId>lbfThW3UXo</FieldId>
              <Index>9</Index>
              <Name>奖金项目</Name>
              <Key>${ISV_FLAG}_bonus_item</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>RskTy740sr</Id>
              <FieldId>RskTy740sr</FieldId>
              <Index>10</Index>
              <Name>币种</Name>
              <Key>${ISV_FLAG}_currency</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>uyXvkWNo70</Id>
              <FieldId>uyXvkWNo70</FieldId>
              <Index>11</Index>
              <Name>部门经费总额</Name>
              <Key>${ISV_FLAG}_dept_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>S7HdyXQqry</Id>
              <FieldId>S7HdyXQqry</FieldId>
              <Index>12</Index>
              <Name>剩余可用总额</Name>
              <Key>${ISV_FLAG}_surplus_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Id>vXBwUOA8wzW16Sv4ug</Id>
              <FieldId>vXBwUOA8wzW16Sv4ug</FieldId>
              <Index>13</Index>
              <Name>剩余可用总额是否为0</Name>
              <Key>${ISV_FLAG}_is_zero</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>bsHti3Xs8I</Id>
              <FieldId>bsHti3Xs8I</FieldId>
              <Index>14</Index>
              <Name>已用总额</Name>
              <Key>${ISV_FLAG}_used_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>1EAh5RtVU6</Id>
              <FieldId>1EAh5RtVU6</FieldId>
              <Index>15</Index>
              <Name>再分配总额</Name>
              <Key>${ISV_FLAG}_redistribut_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>AFbBrVSIqF</Id>
              <FieldId>AFbBrVSIqF</FieldId>
              <Index>16</Index>
              <Name>提交财务总额</Name>
              <Key>${ISV_FLAG}_sub_finance_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>v6aAbPUAkE</Id>
              <FieldId>v6aAbPUAkE</FieldId>
              <Index>17</Index>
              <Name>财务已用金额</Name>
              <Key>${ISV_FLAG}_finance_use_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>kViKf6Ykes</Id>
              <FieldId>kViKf6Ykes</FieldId>
              <Index>18</Index>
              <Name>财务未用总额</Name>
              <Key>${ISV_FLAG}_finance_unuse_amount</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Lock>new,edit,submit,audit</Lock>
              <Id>Xr5RuqX5pr</Id>
              <FieldId>Xr5RuqX5pr</FieldId>
              <Index>19</Index>
              <Name>数据来源</Name>
              <Key>${ISV_FLAG}_sourceid</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>jK5Sxh266C</Id>
              <FieldId>jK5Sxh266C</FieldId>
              <Index>20</Index>
              <Name>来源类型</Name>
              <Key>${ISV_FLAG}_source_bill_type</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Invisible>true</Invisible>
              <Lock>new,edit,submit,audit</Lock>
              <Id>qWzojkxyI0</Id>
              <FieldId>qWzojkxyI0</FieldId>
              <Index>21</Index>
              <Name>核定单id</Name>
              <Key>${ISV_FLAG}_check_id</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>Y3VK6HJdph</Id>
              <FieldId>Y3VK6HJdph</FieldId>
              <Index>22</Index>
              <Name>来源单号</Name>
              <Key>${ISV_FLAG}_source_billno</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <FieldAp>
              <Lock>new,edit,submit,audit</Lock>
              <Id>9wDlTS4at3Nrgb22Sm</Id>
              <FieldId>9wDlTS4at3Nrgb22Sm</FieldId>
              <Index>23</Index>
              <Name>备注</Name>
              <Key>${ISV_FLAG}_remark_dept</Key>
              <ParentId>mqK0FWAH2I</ParentId>
            </FieldAp>
            <AttachmentPanelAp action="edit" oid="rrz4n5821A">
              <Invisible>true</Invisible>
            </AttachmentPanelAp>
            <FieldsetPanelAp>
              <Collapsible>true</Collapsible>
              <Overflow>visible</Overflow>
              <Id>Wti7dOWILJ</Id>
              <Grow>0</Grow>
              <Index>3</Index>
              <BackColor>@container-bg-color</BackColor>
              <Name>来源单据处理人信息</Name>
              <Key>${ISV_FLAG}_cr_creator</Key>
              <ContainerType>FieldsetPanelAp</ContainerType>
              <ParentId>sb5ReliwR1</ParentId>
            </FieldsetPanelAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359873934389675008</ModifierId>
      <EntityId>4X19+ACC58JL</EntityId>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767161610192</Version>
      <ParentId>0AXRWIGCJ+ID</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_department_funds</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <IsvSign></IsvSign>
      <Id>4X19+ACC58JL</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1767161610259</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>4X19+ACC58JL</Id>
          <ParentId>0AXRWIGCJ+ID</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <IsvSign/>
          <Name>部门经费</Name>
          <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID</InheritPath>
          <Items>
            <BillEntity action="edit" oid="00305e8b000007ac">
              <PermissionDimension>
                <PermissionDimension>
                  <DataAssistDimension/>
                  <DataAssistDimensionField/>
                  <Id>nlmzjGsM</Id>
                </PermissionDimension>
              </PermissionDimension>
              <Template action="reset"/>
              <PermissionControl>
                <PermissionControl>
                  <Id>NwvrjBHh</Id>
                </PermissionControl>
              </PermissionControl>
              <TableName>tk_tdkw_department_funds</TableName>
              <PermissionItems>
                <PermissionItem action="edit" oid="47156aff000000ac">
                  <Index>7</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9e000000ac">
                  <Index>12</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="80513207000000ac">
                  <Index>8</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="804f6478000000ac">
                  <Index>6</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4715a0df000000ac">
                  <Index>1</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9f000003ae">
                  <Index>11</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9f000004ae">
                  <Index>2</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="0A3CBG6XWQC5">
                  <Index>9</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="47165e8e000000ac">
                  <Index>5</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="47162f66000000ac">
                  <Index>13</Index>
                </PermissionItem>
                <PermissionItem action="edit" oid="4730fc9f000002ae">
                  <Index>10</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>54+F=OCB+LW2</ItemId>
                  <Index>14</Index>
                </PermissionItem>
                <PermissionItem>
                  <ItemId>54+FCVE/P+XH</ItemId>
                  <Index>15</Index>
                </PermissionItem>
              </PermissionItems>
              <Operations>
                <Operation action="edit" oid="VZHY/XMF7XK">
                  <Parameter>
                    <ImportParameter>
                      <Plugins>[{"FPK":"","Type":0,"Description":"导入，更新分配总额，提交财务总额","RowKey":0,"ClassName":"${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_department_funds.DepartmentFundsImportPlugin","DisplayName":"","Enabled":true,"BizAppId":"","Inherit":false}]</Plugins>
                    </ImportParameter>
                  </Parameter>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>54+F=OCB+LW2</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_department_funds.operation.DepartmentFundsOperationPlugin</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>生成部门经费财务交互单</Description>
                    </Plugin>
                  </Plugins>
                  <ConfirmMsg/>
                  <PermissionItemId>54+F=OCB+LW2</PermissionItemId>
                  <Name>提交财务</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4X1MHONTPVAJ</Id>
                  <SuccessMsg/>
                  <Key>donothing_sub_finance</Key>
                </Operation>
                <Operation>
                  <Plugins>
                    <Plugin>
                      <FPK/>
                      <ClassName>${ISV_FLAG}.swc.hsbm.biz.swc.plugin.form.${ISV_FLAG}_department_funds.operation.DepartmentFundsOperationPlugin</ClassName>
                      <Enabled>true</Enabled>
                      <BizAppId/>
                      <Description>部门经费生成部门经费财务交互单</Description>
                    </Plugin>
                  </Plugins>
                  <ConfirmMsg/>
                  <Name>取回</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4X1MLXR8SB6A</Id>
                  <SuccessMsg/>
                  <Key>donothing_get_back</Key>
                </Operation>
                <Operation>
                  <ConfirmMsg/>
                  <Name>查看详情</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4X1MWM3E/8A4</Id>
                  <SuccessMsg/>
                  <Key>donothing_check_detail</Key>
                </Operation>
                <Operation>
                  <PermissionItem>
                    <PermissionItem>
                      <ItemId>54+FCVE/P+XH</ItemId>
                      <Index>0</Index>
                    </PermissionItem>
                  </PermissionItem>
                  <ConfirmMsg/>
                  <PermissionItemId>54+FCVE/P+XH</PermissionItemId>
                  <Name>再分配</Name>
                  <OperationType>donothing</OperationType>
                  <Id>4X4R690QH=48</Id>
                  <SuccessMsg/>
                  <Key>donothing_redistribut</Key>
                </Operation>
                <Operation action="remove" oid="c91d5125000035ac"/>
                <Operation action="remove" oid="c91d5125000036ac"/>
              </Operations>
              <BusinessControl>
                <BusinessControl>
                  <BOTP>true</BOTP>
                  <CodeNumber>true</CodeNumber>
                  <WorkFlow>false</WorkFlow>
                </BusinessControl>
              </BusinessControl>
              <Id>4X19+ACC58JL</Id>
              <Key>${ISV_FLAG}_department_funds</Key>
              <DefaultPageSetting>{"mblist":"","pclist":"","pcbill":"","mbbill":""}</DefaultPageSetting>
              <Name>部门经费</Name>
            </BillEntity>
            <BillNoField action="edit" oid="bdJvQ9RWla">
              <MaxLength>200</MaxLength>
            </BillNoField>
            <OrgField action="edit" oid="MwLyMGIJQa">
              <Name>奖金管理组织</Name>
              <OrgFuncs>28</OrgFuncs>
            </OrgField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>htZE45PDoUEaoXO1QP</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>公司</Name>
              <FieldName>fk_tdkw_keep_company</FieldName>
              <Key>${ISV_FLAG}_keep_company</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>4S6B8I6U+EBN</BaseEntityId>
            </BasedataField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>KT0Aoi4zFq</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>部门</Name>
              <FieldName>fk_tdkw_admin_org_keep</FieldName>
              <RefProps>
                <RefProp>
                  <Name>org.id</Name>
                </RefProp>
                <RefProp>
                  <Name>orgtype.id</Name>
                </RefProp>
                <RefProp>
                  <Name>orgtype.number</Name>
                </RefProp>
                <RefProp>
                  <Name>orgtype.name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_admin_org_keep</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>4S6B8I6U+EBN</BaseEntityId>
            </BasedataField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>JRf8pgEbZM</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>承担组织</Name>
              <FieldName>fk_tdkw_undertake_org</FieldName>
              <Key>${ISV_FLAG}_undertake_org</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>4S6B8I6U+EBN</BaseEntityId>
            </BasedataField>
            <DateField>
              <Features>
                <Features>
                  <Copyable>false</Copyable>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <RegionType>1</RegionType>
              <Id>UGcN5u0TSU</Id>
              <Name>归属周期</Name>
              <FieldName>fk_tdkw_belong_period</FieldName>
              <Key>${ISV_FLAG}_belong_period</Key>
              <MustInput>true</MustInput>
            </DateField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>uyXvkWNo70</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>部门经费总额</Name>
              <FieldName>fk_tdkw_dept_amount</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_dept_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <CurrencyField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>RskTy740sr</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>币种</Name>
              <FieldName>fk_tdkw_currency</FieldName>
              <RefProps>
                <RefProp>
                  <Name>amtprecision</Name>
                </RefProp>
                <RefProp>
                  <Name>priceprecision</Name>
                </RefProp>
                <RefProp>
                  <Name>sign</Name>
                </RefProp>
                <RefProp>
                  <Name>isshowsign</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_currency</Key>
              <DefValueDesign>
                <DefValueDesign>
                  <FuncParameter>{"number":"CNY","name":"人民币","id":"1"}</FuncParameter>
                  <FuncType>getBasedata</FuncType>
                </DefValueDesign>
              </DefValueDesign>
            </CurrencyField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>S7HdyXQqry</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>剩余可用总额</Name>
              <FieldName>fk_tdkw_surplus_amount</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_surplus_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>bsHti3Xs8I</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>已用总额</Name>
              <FieldName>fk_tdkw_used_amount</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_used_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>1EAh5RtVU6</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>再分配总额</Name>
              <FieldName>fk_tdkw_redistribut_amoun</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_redistribut_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>AFbBrVSIqF</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>提交财务总额</Name>
              <FieldName>fk_tdkw_sub_finance_amoun</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_sub_finance_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>v6aAbPUAkE</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>财务已用金额</Name>
              <FieldName>fk_tdkw_finance_use_amoun</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_finance_use_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <AmountField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>kViKf6Ykes</Id>
              <DefValue>0</DefValue>
              <ZeroShow>true</ZeroShow>
              <Name>财务未用总额</Name>
              <FieldName>fk_tdkw_finance_unuse_amo</FieldName>
              <CurrencyFieldId>RskTy740sr</CurrencyFieldId>
              <Key>${ISV_FLAG}_finance_unuse_amount</Key>
              <MustInput>true</MustInput>
              <EnableNull>true</EnableNull>
            </AmountField>
            <ComboField>
              <FieldName>fk_tdkw_source_bill_type</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>jK5Sxh266C</Id>
              <Key>${ISV_FLAG}_source_bill_type</Key>
              <MustInput>true</MustInput>
              <Name>来源类型</Name>
              <Items>
                <ComboItem>
                  <Caption>核定单</Caption>
                  <Value>A</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>分配汇总单</Caption>
                  <Value>B</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Xr5RuqX5pr</Id>
              <DefValue>0</DefValue>
              <Name>数据来源</Name>
              <FieldName>fk_tdkw_sourceid</FieldName>
              <Key>${ISV_FLAG}_sourceid</Key>
              <MustInput>true</MustInput>
            </BigIntField>
            <TextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Y3VK6HJdph</Id>
              <Name>来源单号</Name>
              <FieldName>fk_tdkw_source_billno</FieldName>
              <Key>${ISV_FLAG}_source_billno</Key>
              <MustInput>true</MustInput>
            </TextField>
            <BigIntField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>qWzojkxyI0</Id>
              <DefValue>0</DefValue>
              <Name>核定单id</Name>
              <FieldName>fk_tdkw_check_id</FieldName>
              <Key>${ISV_FLAG}_check_id</Key>
              <MustInput>true</MustInput>
            </BigIntField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>lbfThW3UXo</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>奖金项目</Name>
              <FieldName>fk_tdkw_bonus_item</FieldName>
              <RefProps>
                <RefProp>
                  <Name>${ISV_FLAG}_business_item.id</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_business_item.number</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_business_item.name</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_bonus_type.name</Name>
                </RefProp>
                <RefProp>
                  <Name>${ISV_FLAG}_bonus_type.number</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_bonus_item</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>4/53ZK5ANWPG</BaseEntityId>
            </BasedataField>
            <LargeTextField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>9wDlTS4at3Nrgb22Sm</Id>
              <Name>备注</Name>
              <FieldName>fk_tdkw_remark_dept</FieldName>
              <Key>${ISV_FLAG}_remark_dept</Key>
            </LargeTextField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>W7Ppp3pRCm</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>任职编码</Name>
              <FieldName>fk_tdkw_dept_person</FieldName>
              <RefProps>
                <RefProp>
                  <Name>employee.empnumber</Name>
                </RefProp>
                <RefProp>
                  <Name>employee.name</Name>
                </RefProp>
              </RefProps>
              <Key>${ISV_FLAG}_dept_person</Key>
              <MustInput>true</MustInput>
              <RefLayout/>
              <BaseEntityId>15D680ZV7YNR</BaseEntityId>
            </BasedataField>
            <BasedataPropField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>5brFpQD9iT</Id>
              <Key>${ISV_FLAG}_creater_name</Key>
              <RefDisplayProp>employee.name</RefDisplayProp>
              <RefBaseFieldId>W7Ppp3pRCm</RefBaseFieldId>
              <Name>姓名</Name>
            </BasedataPropField>
            <BasedataPropField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>ZfXTxiz54E</Id>
              <Key>${ISV_FLAG}_creater_number</Key>
              <RefDisplayProp>employee.empnumber</RefDisplayProp>
              <RefBaseFieldId>W7Ppp3pRCm</RefBaseFieldId>
              <Name>工号</Name>
            </BasedataPropField>
            <BasedataField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>TpWXfRO1SL</Id>
              <LableHyperlink>false</LableHyperlink>
              <DefValue/>
              <Name>创建人所在岗位</Name>
              <FieldName>fk_tdkw_attribut_post</FieldName>
              <Key>${ISV_FLAG}_attribut_post</Key>
              <RefLayout/>
              <BaseEntityId>/IJP/IQGX57W</BaseEntityId>
            </BasedataField>
            <ComboField>
              <FieldName>fk_tdkw_is_zero</FieldName>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>vXBwUOA8wzW16Sv4ug</Id>
              <Key>${ISV_FLAG}_is_zero</Key>
              <MustInput>true</MustInput>
              <DefValue>0</DefValue>
              <Name>剩余可用总额是否为0</Name>
              <Items>
                <ComboItem>
                  <Caption>否</Caption>
                  <Value>0</Value>
                </ComboItem>
                <ComboItem>
                  <Caption>是</Caption>
                  <Value>1</Value>
                  <Seq>1</Seq>
                </ComboItem>
              </Items>
            </ComboField>
            <HRAdminOrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>Klbo6RAnV2jbd9S1hT</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>创建人所在公司</Name>
              <returnType>boid</returnType>
              <FieldName>fk_tdkw_attribut_company</FieldName>
              <showStyle>1</showStyle>
              <queryDate>0</queryDate>
              <Key>${ISV_FLAG}_attribut_company</Key>
              <adminClassify>1010</adminClassify>
              <BaseEntityId>550K+6V39ZBW</BaseEntityId>
            </HRAdminOrgField>
            <HRAdminOrgField>
              <Features>
                <Features>
                  <Ver>1</Ver>
                </Features>
              </Features>
              <Id>r2DaikzhVecy5YS2M6</Id>
              <LableHyperlink>false</LableHyperlink>
              <Name>创建人所在部门</Name>
              <returnType>boid</returnType>
              <FieldName>fk_tdkw_attribut_dept</FieldName>
              <showStyle>1</showStyle>
              <queryDate>0</queryDate>
              <Key>${ISV_FLAG}_attribut_dept</Key>
              <adminClassify>1010</adminClassify>
              <BaseEntityId>550K+6V39ZBW</BaseEntityId>
            </HRAdminOrgField>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>BillFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1767161610259</Version>
      <ParentId>0AXRWIGCJ+ID</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_department_funds</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <Id>4X19+ACC58JL</Id>
      <InheritPath>00305e8b000006ac,ab7efc31000010ac,0H+/G119RC+2,0AXRWIGCJ+ID</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1767161610192</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4/2KLTZQ4S9Q</BizunitId>
</DeployMetadata>
