<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>4WJA/Z=X6ZAB</MasterId>
  <Id>4WJA/Z=X6ZAB</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_dist_reject</Number>
      <PkId>5F+RGSTQOU/7</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金分配反审核</Name>
      <Id>4WJA/Z=X6ZAB</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_dist_reject</Number>
      <PkId>5F+RGSX+NF76</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金分配反审核</Name>
      <Id>4WJA/Z=X6ZAB</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765609364025</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
