<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <MasterId>5F54GN4X353=</MasterId>
  <Id>5F54GN4X353=</Id>
  <DesignMetas>
    <DesignFormMetaL>
      <Number>${ISV_FLAG}_hsbmhome</Number>
      <PkId>5F6+U0PCHX56</PkId>
      <DataXml>
        <FormMetadata/>
      </DataXml>
      <Name>奖金管理首页</Name>
      <Id>5F54GN4X353=</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignFormMetaL>
    <DesignEntityMetaL>
      <Number>${ISV_FLAG}_hsbmhome</Number>
      <PkId>5F6+U0S8XRFU</PkId>
      <DataXml>
        <EntityMetadata/>
      </DataXml>
      <Name>奖金管理首页</Name>
      <Id>5F54GN4X353=</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignEntityMetaL>
  </DesignMetas>
  <Version>1765789499442</Version>
  <BOSVersion>1.0</BOSVersion>
</DeployMetadata>
