<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <MasterId>4/2KFOT28OWS</MasterId>
  <Id>4/2KFOT28OWS</Id>
  <DesignMetas>
    <DesignAppMetaL>
      <PkId>5FF91A1Z4TQF</PkId>
      <DataXml>
        <AppMetadata/>
      </DataXml>
      <Name>奖金管理</Name>
      <Description>这是一个新的应用</Description>
      <Id>4/2KFOT28OWS</Id>
      <LocaleId>zh_CN</LocaleId>
    </DesignAppMetaL>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
