<?xml version="1.0" encoding="UTF-8"?>

<DeployAppMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>4/2KFOT28OWS</MasterId>
  <Id>4/2KFOT28OWS</Id>
  <DesignMetas>
    <DesignAppMeta>
      <DevType>0</DevType>
      <AppVersion>1.5.0</AppVersion>
      <Modifier>2359873934389675008</Modifier>
      <DataXml>
        <AppMetadata>
          <DevType>0</DevType>
          <AppFunctionPackets>
            <AppFunctionPacketElement>
              <Number>MainPage</Number>
              <Name>首页</Name>
              <Description/>
              <Id>4/2KFOU349/E</Id>
              <Leaf>0</Leaf>
              <ParentId/>
              <Seq>1</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>basic_data</Number>
              <Name>基础资料</Name>
              <Description/>
              <Id>4/2KLTZQ4S9Q</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>2</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>bonus_distribution_details</Number>
              <Name>奖金分配</Name>
              <Description/>
              <Id>407BSU7LBW5D</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>5</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>bonus_approval_sheet</Number>
              <Name>奖金核定</Name>
              <Description/>
              <Id>408+D1JKN71J</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>4</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>bonus_grant</Number>
              <Name>奖金发放</Name>
              <Description/>
              <Id>41/MG8C96JK/</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>7</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>bonus_dis_appr_sum</Number>
              <Name>分配汇总</Name>
              <Description/>
              <Id>417+DIDJJQ5E</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>6</Seq>
            </AppFunctionPacketElement>
            <AppFunctionPacketElement>
              <Number>bonus_plan</Number>
              <Name>奖金计划</Name>
              <Description/>
              <Id>417+GLXFDV98</Id>
              <Leaf>false</Leaf>
              <ParentId/>
              <Seq>3</Seq>
            </AppFunctionPacketElement>
          </AppFunctionPackets>
          <AppMenus>
            <AppMenuElement>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>f43ed94d1d</Number>
              <FormName/>
              <Parameter>{"isShowTitle":"true"}</Parameter>
              <Id>1914473937643778048</Id>
              <Seq>1</Seq>
              <FormId/>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj4_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-cebianlantubiao1beifen</VectorImage>
              <Name>基础资料</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>分配汇总明细列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>48370b42cc</Number>
              <FormName>分配汇总</FormName>
              <FormNumber>${ISV_FLAG}_bonus_distribute_sum</FormNumber>
              <Parameter>{"caption":{"zh_CN":"分配汇总明细列表"}}</Parameter>
              <Id>1916610233925415936</Id>
              <Seq>1</Seq>
              <FormId>4VCYDWHROM4M</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1916609978148368384</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao3</VectorImage>
              <Name>分配汇总明细</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>奖金项目列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>6363087d27</Number>
              <FormName>奖金项目</FormName>
              <FormNumber>${ISV_FLAG}_bonus_items</FormNumber>
              <Parameter>{"caption":{"zh_CN":"奖金项目列表"}}</Parameter>
              <Id>1916611986272071680</Id>
              <Seq>2</Seq>
              <FormId>4/53ZK5ANWPG</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj2_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1914473937643778048</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao4</VectorImage>
              <Name>奖金项目</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>汇总审批列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>86add4b9c6</Number>
              <FormName>汇总审批</FormName>
              <FormNumber>${ISV_FLAG}_bonus_sum_approval</FormNumber>
              <Parameter>{"caption":{"zh_CN":"汇总审批列表"}}</Parameter>
              <Id>1919516769609895936</Id>
              <Seq>2</Seq>
              <FormId>4VQTPA7H=51I</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj2_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1916609978148368384</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao4</VectorImage>
              <Name>汇总审批</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>奖金计划列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>dbfc96bfa5</Number>
              <FormName>奖金计划</FormName>
              <FormNumber>${ISV_FLAG}_bonus_plan</FormNumber>
              <Parameter>{"caption":{"zh_CN":"奖金计划列表"}}</Parameter>
              <Id>1931155000541585408</Id>
              <Seq>2</Seq>
              <FormId>4TKI3BKT4AW0</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj2_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao4</VectorImage>
              <Name>奖金计划</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>奖金类型列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>787cc10fba</Number>
              <FormName>奖金类型</FormName>
              <FormNumber>${ISV_FLAG}_bonus_types</FormNumber>
              <Parameter>{"caption":{"zh_CN":"奖金类型列表"}}</Parameter>
              <Id>1916612102143913984</Id>
              <Seq>3</Seq>
              <FormId>4/53K50FSFQ/</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj4_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>1914473937643778048</ParentId>
              <VectorImage>kdfont kdfont-cebianlantubiao1beifen</VectorImage>
              <Name>奖金类型</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>奖金核定列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>eec0b0788f</Number>
              <FormName>奖金核定详情</FormName>
              <FormNumber>${ISV_FLAG}_bonus_approval_2nd</FormNumber>
              <Parameter>{"caption":{"zh_CN":"奖金核定列表"}}</Parameter>
              <Id>1924718194778447872</Id>
              <Seq>3</Seq>
              <FormId>4TKKL91TA6R/</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj4_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-cebianlantubiao1beifen</VectorImage>
              <Name>奖金核定</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>奖金分配列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>cb15f972db</Number>
              <FormName>奖金分配</FormName>
              <FormNumber>${ISV_FLAG}_bonus_dis_detail</FormNumber>
              <Parameter>{"caption":{"zh_CN":"奖金分配列表"}}</Parameter>
              <Id>1925426780513004544</Id>
              <Seq>4</Seq>
              <FormId>4VQ3T2N2+6=8</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj3_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao5</VectorImage>
              <Name>奖金分配</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>6943babc63</Number>
              <FormName/>
              <Parameter>{"isShowTitle":"true","isApprove":"true"}</Parameter>
              <Id>1916609978148368384</Id>
              <Seq>5</Seq>
              <FormId/>
              <IconShortcut>/icons/pc/application/tysj5_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-cebianlantubiao6beifen</VectorImage>
              <Name>分配汇总</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>发放管理列表</Caption>
              <Description/>
              <OpenType>MainNewTabPage</OpenType>
              <Number>b9eb6c3bb7</Number>
              <FormName>奖金发放</FormName>
              <FormNumber>${ISV_FLAG}_bonus_payment</FormNumber>
              <Parameter>{"caption":{"zh_CN":"发放管理列表"}}</Parameter>
              <Id>1929623285012672512</Id>
              <Seq>6</Seq>
              <FormId>4VPRP6K=E4H+</FormId>
              <ParameterType>ListShowParameter</ParameterType>
              <IconShortcut>/icons/pc/application/tysj3_48_48.png</IconShortcut>
              <Visible>true</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-tongyongtubiao5</VectorImage>
              <Name>发放管理</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
            <AppMenuElement>
              <Caption>帮助中心</Caption>
              <Description>帮助中心</Description>
              <FormName>应用入门中心</FormName>
              <FormNumber>bas_appstarted</FormNumber>
              <Parameter>{"caption":{"zh_CN":"帮助中心"}}</Parameter>
              <Id>4/4XXPW=L12#hpce</Id>
              <Seq>32766</Seq>
              <FormId>/WXHVRP15OWF</FormId>
              <IconShortcut>/icons/pc/entrance/helpcentre.png</IconShortcut>
              <Visible>0</Visible>
              <ParentId>4/2KFOT28OWS</ParentId>
              <VectorImage>kdfont kdfont-tishixinxi_l</VectorImage>
              <Name>帮助中心</Name>
              <MenuType>page</MenuType>
            </AppMenuElement>
          </AppMenus>
          <Isv>tdkw</Isv>
          <Number>${ISV_FLAG}_hsbm</Number>
          <Id>4/2KFOT28OWS</Id>
          <BizCloudID>/U+QDTL900//</BizCloudID>
          <ParentId/>
          <MasterId/>
          <AppElement>
            <AppElement>
              <MainFormNumber>${ISV_FLAG}_hsbmhome</MainFormNumber>
              <Description>这是一个新的应用</Description>
              <DbRoute>swc</DbRoute>
              <OpenType>0</OpenType>
              <AllUserApp>0</AllUserApp>
              <Number>${ISV_FLAG}_hsbm</Number>
              <Id>4/2KFOT28OWS</Id>
              <Seq>93</Seq>
              <MainFormType>0</MainFormType>
              <DependencyID/>
              <Image>icons/pc/application/gongyingxietong_48_48.png</Image>
              <OrgFunc/>
              <Visible>1</Visible>
              <Dependency/>
              <HelpURL/>
              <Label/>
              <MainFormName>奖金管理首页</MainFormName>
              <Version>1.5.0</Version>
              <BackImage/>
              <HomeURL/>
              <MainFormID>5F54GN4X353=</MainFormID>
              <Name>奖金管理</Name>
              <SimpleNumber/>
              <UserType>,1,</UserType>
              <DeployStatus>2</DeployStatus>
            </AppElement>
          </AppElement>
          <InheritPath/>
        </AppMetadata>
      </DataXml>
      <Description></Description>
      <DbRoute>swc</DbRoute>
      <Isv>tdkw</Isv>
      <OpenType>0</OpenType>
      <AllUserApp>0</AllUserApp>
      <Number>${ISV_FLAG}_hsbm</Number>
      <IndustryId>0</IndustryId>
      <Id>4/2KFOT28OWS</Id>
      <Seq>93</Seq>
      <CreateDate>1711361335950</CreateDate>
      <MainFormType>0</MainFormType>
      <BizCloudID>/U+QDTL900//</BizCloudID>
      <DependencyID></DependencyID>
      <Image>icons/pc/application/gongyingxietong_48_48.png</Image>
      <OrgFunc></OrgFunc>
      <Visible>1</Visible>
      <ModifyDate>1766044854724</ModifyDate>
      <Dependency></Dependency>
      <HelpURL></HelpURL>
      <Label></Label>
      <ModelType>AppModel</ModelType>
      <MainFormName>奖金管理首页</MainFormName>
      <ParentId></ParentId>
      <BackImage></BackImage>
      <HomeURL></HomeURL>
      <MasterId></MasterId>
      <Creater>1844233975803936768</Creater>
      <MainFormID>5F54GN4X353=</MainFormID>
      <SimpleNumber></SimpleNumber>
      <InheritPath></InheritPath>
      <RefAppId></RefAppId>
      <UserType>,1,</UserType>
      <DeployStatus>2</DeployStatus>
    </DesignAppMeta>
  </DesignMetas>
  <BOSVersion>1.0</BOSVersion>
</DeployAppMetadata>
