<?xml version="1.0" encoding="UTF-8"?>

<DeployMetadata>
  <Multilanguage>false</Multilanguage>
  <MasterId>5F54GN4X353=</MasterId>
  <BizappId>4/2KFOT28OWS</BizappId>
  <Id>5F54GN4X353=</Id>
  <DesignMetas>
    <DesignFormMeta>
      <DevType>0</DevType>
      <ModifyDate>1765789499442</ModifyDate>
      <DataXml>
        <FormMetadata>
          <Isv>tdkw</Isv>
          <Id>5F54GN4X353=</Id>
          <Key>${ISV_FLAG}_hsbmhome</Key>
          <EntityId>5F54GN4X353=</EntityId>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>/8T+06O/GOEH</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <Name>奖金管理首页</Name>
          <InheritPath>/8T+06O/GOEH</InheritPath>
          <Items>
            <FormAp action="edit" oid="/8T+06O/H6M6">
              <Id>5F54GN4X353=</Id>
              <Name>奖金管理首页</Name>
              <JsPlugins>
                <Plugin>
                  <FPK>LvyeFsVB</FPK>
                  <ClassName>5F54GN4X353=_LvyeFsVB</ClassName>
                  <SourceNumber>${ISV_FLAG}_hsbmhome</SourceNumber>
                  <Enabled>true</Enabled>
                  <SourceName>奖金管理首页</SourceName>
                </Plugin>
              </JsPlugins>
              <Key>${ISV_FLAG}_hsbmhome</Key>
            </FormAp>
          </Items>
        </FormMetadata>
      </DataXml>
      <ModifierId>2359873934389675008</ModifierId>
      <EntityId>5F54GN4X353=</EntityId>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765789499442</Version>
      <ParentId>/8T+06O/GOEH</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hsbmhome</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <IsvSign></IsvSign>
      <Id>5F54GN4X353=</Id>
      <InheritPath>/8T+06O/GOEH</InheritPath>
    </DesignFormMeta>
    <DesignEntityMeta>
      <DevType>0</DevType>
      <ModifyDate>1765789499480</ModifyDate>
      <DataXml>
        <EntityMetadata>
          <Isv>tdkw</Isv>
          <Id>5F54GN4X353=</Id>
          <EnableGlobalExtLimits>true</EnableGlobalExtLimits>
          <ParentId>/8T+06O/GOEH</ParentId>
          <BizappId>4/2KFOT28OWS</BizappId>
          <Name>奖金管理首页</Name>
          <InheritPath>/8T+06O/GOEH</InheritPath>
          <Items>
            <MainEntity action="edit" oid="/8T+06O6R0/7">
              <Template action="reset"/>
              <dbRoute>swc</dbRoute>
              <Id>5F54GN4X353=</Id>
              <Key>${ISV_FLAG}_hsbmhome</Key>
              <Name>奖金管理首页</Name>
            </MainEntity>
          </Items>
        </EntityMetadata>
      </DataXml>
      <ModelType>DynamicFormModel</ModelType>
      <Isv>tdkw</Isv>
      <Version>1765789499480</Version>
      <ParentId>/8T+06O/GOEH</ParentId>
      <MasterId></MasterId>
      <Number>${ISV_FLAG}_hsbmhome</Number>
      <BizappId>4/2KFOT28OWS</BizappId>
      <Id>5F54GN4X353=</Id>
      <InheritPath>/8T+06O/GOEH</InheritPath>
    </DesignEntityMeta>
  </DesignMetas>
  <Version>1765789499442</Version>
  <BOSVersion>1.0</BOSVersion>
  <BizunitId>4/2KFOU349/E</BizunitId>
</DeployMetadata>
